<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta charset='utf-8'>
    <!-- Facebook sharing information tags -->
    <meta property='og:title' content='*|MC:SUBJECT|*' />

    <title>{{_accountInfo.TradingName}}</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Email-Notificacao-EpocaCosmeticos-V2.psd) -->
<table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td colspan="3"><a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_01.jpg" width="550" height="139" alt="" style="display:block; border:0;"></a></td>
    </tr>
    <tr>
        <td width="36"></td>
        
        <td width="479" valign="top">
            <!-- conteudo -->
            
          <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                Olá <strong style=" color:#c6168d; font-weight:normal;">{{recipientName}}</strong>
          </h3>
            
            <!-- box cinza -->
            <span style="display:block; padding:20px; background:#f1f1f1; font-family:Verdana, Geneva, sans-serif;">
            
                <h4 style=" display:block; font-size:15px; line-height:22px; color:#323232; margin:0; font-weight:normal;">{{senderName}} (<a href="{{productLink}}" target="_blank" style="color:#c6168d; font-weight:normal;">{{senderMail}}</a>) sugeriu a lista <a href="{{productLink}}" target="_blank" style="color:#c6168d; font-weight:normal;">{{listName}}</a>  para você.</h4>
    
                <p style="font-size:13px; color:#696969; line-height:20px; display:block; margin:10px 0;">{{text}}</p>
            </span>
            <!-- box cinza -->
            
            <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Por favor, não responda este email, pois ele foi gerado automaticamente.<br />
Dúvidas? Entre em contato com a nossa 
 <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>
 
 <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
Equipe Época Cosméticos Perfumaria
</p>
            <!-- /conteudo -->
        </td>
        
      <td width="35"> </td>
    </tr>
    <tr>
        <td colspan="3">
            <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
    </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>