#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<span style="display:none;" class="product-data-id">$id</span>

<a class="productImage" title="$escapedName" href="$uri">
    $product.GetImageTag(155, 155)
</a>
<!--<div class="discount">$product.DiscountHightLight $product.HightLight</div>-->
<div class="discount">$product.DiscountHightLight $product.HightLight</div>

<p class="brand">$product.BrandLink</p>
<h3><a title="$escapedName" href="$uri">$product.Name</a></h3>

<p class="descriptionShort" style="display:none;">
    $product.DescriptionShort 
</p>

#if ($product.IsInStock)
    <p class="price">
    	<a title="$escapedName" href="$uri">
			#if ($product.hasBestPrice)
				<span class="oldPrice">$product.ListPrice</span>
			#end
			<span class="newPrice"><span>por </span><em>$product.BestPrice</em></span>
			<em class="installment">
				#if ($product.NumbersOfInstallment > 1)
					${product.NumbersOfInstallment}X de $product.InstallmentValue
				#else
					à vista
				#end
			</em>
		</a>
	</p>
#else
	<p class="outOfStock">Produto Esgotado</p> 
#end

<span id="rating-produto-$id" class="rating-produto avaliacao$evaluationRate">$evaluationRate</span>
<a href="$uri" class="comprar">COMPRAR</a>