#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)

<a class="productImage" title="$escapedName" href="$uri">$product.GetImageTag(85, 85)</a>

<h3><a title="$escapedName" href="$uri">$product.Name</a></h3>

#if ($product.IsInStock)
    <p class="price">
    	<a title="$escapedName" href="$uri">
			#if ($product.hasBestPrice)
				<span class="oldPrice">$product.ListPrice</span>
			#end
			<span class="newPrice"><span>por </span><em>$product.BestPrice</em></span>
			<em class="installment">
				#if ($product.NumbersOfInstallment > 1)
					${product.NumbersOfInstallment}X de $product.InstallmentValue
				#else
					à vista
				#end
			</em>
		</a>
	</p>
#else
	<p class="outOfStock">Produto Esgotado</p> 
#end

<a href="$uri" class="comprar">COMPRAR</a>