<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta charset='utf-8'>
        <meta property='og:title' content='*|MC:SUBJECT|*' />

        <title>{{_accountInfo.TradingName}}</title>
    </head>
    <body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
    <center>
        <table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='font-size:14px; font-family:Arial, Helvetica, sans-serif;'>
            <tr>
                <td align='center' valign='top'>
                    <table border='0' cellpadding='0' cellspacing='0' width='700'>
                        <tr>
                            <td align='center' valign='top'>
                                <table border='0' cellpadding='0' cellspacing='0' width='700'>
                                    <tr>
                                        <td style='width:100%; border-bottom:solid 1px #c1c1c1;'>
                                            <img src="http://www.epocacosmeticos.com.br/arquivos/email_not_01.jpg" alt="" /> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign='top'>
                                            <br />
                                            <table border='0' cellspacing='0' width='100%' style='border-top:solid 1px #c1c1c1;'>
                                        
                                                <tr>
                                                    <td valign='top' style='font-size: 13px;'>
                                                        <br />
                                                        <p>Olá, <strong>{{to.0.name}}</strong>.</p>
                                                        <p>Precisamos da sua confirmação para liberar a página que você está tentando acessar.</p>
                                                        <p>Retorne à página e digite o código:</p>
                                                        <p style='background: #d9edf7; border: 1px solid #bce8f1; color: #3a87ad;padding:10px;text-align:center;font-size:42px;margin: 0 160px;'><strong>{{aditionalData.accessKey}}</strong></p>
                                                       
                                                        <br />
                                                        <p>
                                                            <strong>Este é um procedimento 100% seguro.</strong>
                                                        </p>
                                                        <br />
                                                    </td>
                                                </tr>

                                            </table>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align='center' valign='top'>
                                <table border='0' cellspacing='0' width='700' style='border-top: 3px solid #F2F2F2'>
                                    <tr>
                                        <td valign='top' style='font-size: 13px;'>
                                           
<img style="margin-top:20px" src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" alt="" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br />
                </td>
            </tr>
        </table>
    </center>
</body>
</html>