/*
Theme Name:         Revival WordPress Theme
Theme URI:          http://revival.themeous.com/
Description:        Revival is a responsive magazine/blog WordPress theme.
Version:            1.1
Author:             Themeous
Author URI:         http://themeous.com/
License: According to the license purchased from Envato
License URI: http://themeforest.net/licenses
Tags: featured-images, post-formats, theme-options, translation-ready, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, light, gray, white, custom-colors, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments


USE THIS STYLE SHEET EXCLUSIVELY FOR THIS WORDPRESS THEME

Copyright 2013-2014 - Themeous.com
*/

@import url("css/styles.min.css");
@import url("http://www.epocacosmeticos.com.br/arquivos/style_epoca.css");
ul li{list-style:none!important;}
.menu100 .menu h2{margin:0px!important;}
.menu100 .menu h2.item_menu a.princ{height:36px!important; font-size: 12px!important; padding:13px 16px 0!important;}
.menu100 .menu h2.dif.m_marcas a.princ{height:25px!important; margin-top:4px!important;}
*, *:after, *:before{box-sizing:none!important;}
.cont_marcas_fix .header_marcas_fix a.vertodas{width:78px!important; height: 63px!important;}
.top100 .top .search input[type="button"]{top:0px!important;}
.cont_footer{height:auto!important;}
.cont_footer .footer_baixo .footer_baixo_baixo{height:65px!important;}
.cont_footer .footer_baixo .footer_baixo_baixo .endereco{margin-top:-2px!important;}
.cont_footer .footer_baixo .footer_baixo_baixo ul.power li.vtex{display:inline!important; float:left!important; margin:0 0 0 -15px!important;}
.cont_footer .footer_baixo .footer_baixo_baixo ul.power li.profite{display:inline!important; float:left!important; margin:0 0 0 10px!important;}
.cont_footer .footer_baixo .footer_baixo_baixo ul.power{margin-right:50px!important; width:165px!important;}
.top100 .top a.carrinho{height:35px!important;}
.rw-ui-star.rw-size-medium.rw-style-flat_yellow .rw-ui-stars li{background-image:url("http://blog.epocacosmeticos.com.br/wp-content/themes/revival/img/flat_yellow.m.png") !important}
.logoPost {float: none; margin: 1rem auto; display: block; width:200px;}
.pagination-centered{text-align: center!important; font-size: 12px!important;}
.rw-ui-info-inner-container, .rw-ui-info{border-color: #CCC!important; color:#CCC!important;}
.rw-ui-star.rw-size-small.rw-style-oxygen .rw-ui-stars li{background-image: url(http://blog.epocacosmeticos.com.br/wp-content/themes/revival/img/heart.s.png)!important;}
.votos{font-size:12px; color:#ccc;}

.dark article.post, .dark article.post .entry-date { background-color: #000000; }



