<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta charset='utf-8'>
    <!-- Facebook sharing information tags -->
	<meta property='og:title' content='*|MC:SUBJECT|*' />

	<title>{{_accountInfo.TradingName}}</title>
</head>
<body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
	
	<!-- HEADER -->
	<vtex:template id="header" />
	<!-- /HEADER -->

	<!-- Content -->
	<div id="content">
		<center>
			<table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='font-size:14px;'>
				<tr>
					<td align='center' valign='top'>
						<table border='0' cellpadding='0' cellspacing='0' width='700'>
							<tr>
								<td align='center' valign='top'>
									<!-- // Begin Template Body \\ -->
									<table border='0' cellpadding='0' cellspacing='0' width='700'>
										<tr>
											<td style='width:100%; border-bottom:solid 1px #c1c1c1;'>
												<a href='http://{{_accountInfo.HostName}}.com.br' target='_blank' style='border:none;'>
													<img src='http://licensemanager.vtex.com.br/api/site/pub/accounts/{{_accountInfo.Id}}/logos/show' border='0' alt='{{_accountInfo.TradingName}}' style='border:none;' />
												</a>
											</td>
										</tr>
										<tr>
											<td>
	                                            <p>
	                                                <strong>Nome:</strong></br>{{firstName}}                                     
	                                            </p>
	                                            <p>
	                                            	<strong>Email:</strong></br>
	                                            	{{email}}
	                                            </p>	                                            
	                                            <p>
	                                                <strong>Telefone:</strong></br>
	                                                {{phone}}      
	                                            </p>
	                                            <p>
		                                            <strong>Mensagem:</strong></br>
		                                            {{text}}
												</p>
											</td>
										</tr>
									</table>
									<!-- // End Template Body \\ -->
								</td>
							</tr>
						</table>
						<br />
					</td>
				</tr>
			</table>
		</center>
	</div>
	<!-- end Content -->

	<!-- footer -->
    <vtex:template id="footer" />
    <!-- end footer -->
    
</body>
</html>