<div id="footer">
    <ul class="selos">
        <li class="certising"></li>
        <li class="siteblindado"></li>
        <li class="ra1000"></li>
        <li class="agipec"></li>
        <li class="ebit"></li>
    </ul>
    
    <ul class="bandeiras">
        <li class="visa"></li>
        <li class="mastercard"></li>
        <li class="amex"></li>
        <li class="diners"></li>
        <li class="boleto"></li>
        <li class="bradesco"></li>
    </ul>
</div>