<h4>Como comprar</h4>

<p>Comprar na Época Cosméticos Perfumaria é muito simples, rápido e seguro.</p>

<p><strong>1 - Pesquisando</strong><br />
Se você procura um item específico, digite as quatro primeiras letras do nome do produto no campo pesquisa e clique em: OK.<br />
Se pretende apenas navegar pelo site para conhecer as novidades e ofertas da nossa loja virtual, opte pelas guias localizadas no lado esquerdo da tela, clicando nas sessões desejadas.</p>


<p><strong>2 - Selecionando um ou mais itens</strong><br />
Clique sobre o item desejado para obter mais informações. Ao decidir pela compra, selecione a quantidade desejada e clique em: COLOCAR NA SACOLA. Para continuar comprando, clique em: ESCOLHER OUTROS PRODUTOS e repita o procedimento anterior.</p>


<p><strong>3 - Fechando o pedido</strong><br />
Digite o seu CEP. Caso não saiba, clique em: NÃO SEI O MEU CEP. Você será direcionado para a página dos Correios, onde obterá o seu CEP a partir da digitação do endereço.<br />
Volte para a página anterior, digite o seu CEP e clique em: CÁLCULO DO FRETE. O valor total do pedido aparecerá automaticamente no canto direito da tela. Clique em: FECHAR PEDIDO.<br />
Escolha a forma de pagamento, digite seu e-mail e CEP nos campos pedidos e marque a opção para pessoa física ou jurídica. Clique em: CONTINUAR.
Confira o seu pedido e marque a opção de frete.</p>


<p><strong>4 - Fazendo o cadastro</strong><br />
Confira o valor total do seu pedido e preencha totalmente os campos solicitados. Esse procedimento será pedido uma única vez, não sendo necessário preencher o formulário novamente na próxima compra.</p>


<p><strong>5 - Confirmando o seu pedido</strong><br />
Clique em: FINALIZAR MEU PEDIDO. Você receberá uma confirmação de sua compra com todos os dados necessários para o acompanhamento do seu pedido. Anote o número fornecido pelo sistema para eventuais esclarecimentos.</p>


<p><strong>6 - Identificando-se como cliente</strong><br />
Cadastre e anote sua senha pessoal para que os dados relativos a sua identificação sejam automaticamente reconhecidos na sua próxima compra, evitando assim o preenchimento de um novo cadastro.</p>


<p>Pronto! Seu cadastro foi efetivado e sua compra foi realizada com sucesso. Seja bem-vindo e aproveite para desfrutar de todas as vantagens de ser um cliente preferencial da Épocacosméticos.com</p>
