<h4>Privacidade e Segurança</h4>

<p>A Época Cosméticos Perfumaria garante o seu direito à privacidade, através das seguintes medidas:</p>

<p>Seus dados cadastrais são armazenados de forma sigilosa, apenas para evitar que precisem ser digitados novamente em uma próxima compra, ou, caso você autorize, para garantir o relacionamento cliente-empresa, através de e-mails informativos ou qualquer outra forma de interação.</p>

<p>As páginas visitadas serão memorizadas com o intuito de direcionar melhor o nosso atendimento, garantindo a melhoria dos nossos serviços.</p>

<p>A Época Cosméticos Perfumaria se compromete a não divulgar o seu cadastro a terceiros.</p>

<p>Os dados do seu cartão de crédito não serão armazenados, em nenhuma hipótese, após o término do processo de compra.</p>

<p>Política anti-spam: no final de cada email marketing existe a opção de "descadastro", onde o cliente deixará de receber nossas promoções em até 48h úteis.</p>

<p>Esperamos que essas informações possam lhe dar a tranqüilidade necessária para realizar as suas compras com comodidade. Em caso de dúvidas, por favor, entre em contato conosco através do telefone (21) 3202-7555, pela Central de Atendimento ou escreva para Rua Francisco Sá, 23/907 - Copacabana - Rio de Janeiro. Boas compras!</p>