<h4>Formas de Pagamento</h4>

<p><strong>Boleto Bancário</strong><br />
Ao optar pelo Boleto Bancário, o cliente poderá imprimir o boleto e realizar o pagamento na agência mais próxima, ou pela internet. A liberação do pedido ocorrerá após a confirmação do pagamento, em até dois dias úteis para pagamentos em dinheiro e cinco dias úteis para pagamentos em cheque. Essa forma de pagamento não oferece parcelamento. Válida para todo o Brasil.</p>


<p><strong>Bradesco Transferência entre Contas</strong><br />
O cliente que possui conta no Bradesco pode optar pela Transferência Eletrônica Bradesco.<br />
Ao finalizar sua compra, será aberta automaticamente uma pop-up em ambiente seguro do Bradesco, onde ele informará os dados de sua agência e conta, bem como sua senha eletrônica. Essa forma de pagamento não oferece parcelamento. Válida para todo o Brasil.</p>


<p><strong>Pagamento Fácil Bradesco</strong><br />
Os clientes do Banco Bradesco podem fazer o pagamento de suas compras com débito direto na conta corrente. As compras através do Pagamento Fácil Bradesco não oferecem parcelamento. Toda a operação de pagamento é feita em ambiente totalmente seguro do Bradesco.</p>


<p><strong>Cartão de Crédito</strong><br />
Aceitamos os seguintes cartões de crédito: Mastercard, Diners, Visa e American Express.<br />
Nosso sistema de cobrança por cartão de crédito é 100% seguro. Os números são criptografados e não ficam armazenados em nosso banco de dados, sendo enviados diretamente para a administradora do cartão de crédito. O cliente poderá fazer o pagamento à vista, ou em até 06 vezes sem juros, com parcela mínima de R$ 10,00.</p>