<h4>Mais dúvuidas</h4>

<!-- <ul class="duvidas">
  <li><a href="#1">1- O que é Epocacosmeticos.com.br?</a></li>
  <li><a href="#2">2- Qual a origem dos produtos?</a></li>
  <li><a href="#3">3- Os produtos têm garantia?</a></li>
  <li><a href="#4">4- Quais são as formas de pagamento?</a></li>
  <li><a href="#5">5- Posso parcelar minhas compras?</a></li>
  <li><a href="#6">6- Qual o valor do frete?</a></li>
  <li><a href="#7">7- Qual o prazo de entrega?</a></li>
  <li><a href="#8">8- Posso receber ou enviar os produtos embalados para presente?</a></li>
  <li><a href="#9">9- Posso trocar ou devolver um produto?</a></li>
  <li><a href="#10">10- Terei que preencher o cadastro sempre que fizer uma compra?</a></li>
  <li><a href="#11">11- Tenho outras dúvidas. Como posso esclarecê-las?</a></li>
</ul>  -->



<div class="cont_perg">
	<h6 id="1">1 - O que é Epocacosmeticos.com.br?</h6>
	<p>Epocacosmeticos.com.br é a loja virtual da Época Cosméticos, uma empresa que tem mais de 15 anos de experiência na comercialização das melhores marcas de cosméticos, perfumes e maquiagens - além de produtos para os cabelos - de todo o mundo. Contamos com a credibilidade dos melhores profissionais em dermatologia e estamos presentes nos principais editoriais de beleza e saúde do Brasil. Oferecemos a maior variedade de produtos e as melhores formas de pagamento do mercado, para que você possa resolver suas compras em um só lugar, agora com muito mais comodidade e tranqüilidade.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="2">2 - Qual a origem dos produtos?</h6>
	<p>Todos os produtos deste site são provenientes de fornecedores idôneos e autorizados para comercializá-los. Os produtos importados possuem selo de garantia dos distribuidores, o que reforça a sua qualidade e procedência. </p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="3">3 - Os produtos têm garantia?</h6>
	<p>Todos os produtos comercializados neste site têm garantia de 90 dias a contar da data do seu recebimento. Além disso, você pode contar com a nossa central de atendimento ao cliente para sanar qualquer dúvida ou solicitar orientações quanto à utilização e conservação dos mesmos.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="4">4 - Quais são as formas de pagamento?</h6>
	  <p><strong>Boleto Bancário</strong><br>
	  Ao optar pelo Boleto Bancário, o cliente poderá imprimir o boleto e realizar o pagamento na agência mais próxima, ou pela internet. A liberação do pedido ocorrerá após a confirmação do pagamento, em até 1 dia útil para pagamentos em dinheiro e cinco dias úteis para pagamentos em cheque. Essa forma de pagamento não oferece parcelamento. Válida para todo o Brasil.</p>
	  
	  <p><strong>Bradesco Transferência entre Contas</strong><br>
	  
	  O cliente que possui conta no Bradesco pode optar pela Transferência Eletrônica Bradesco. Ao finalizar sua compra, será aberta automaticamente uma pop-up em ambiente seguro do Bradesco, onde ele informará os dados de sua agência e conta, bem como sua senha eletrônica. Essa forma de pagamento não oferece parcelamento. Válida para todo o Brasil.</p>
	  
	  <p><strong>Pagamento Fácil Bradesco </strong><br>
	  Os clientes do Banco Bradesco podem fazer o pagamento de suas compras com débito direto na conta corrente. As compras através do Pagamento Fácil Bradesco não oferecem parcelamento. Toda a operação de pagamento é feita em ambiente totalmente seguro do Bradesco.</p>
	  
	  
	  <p><strong>Cartão de Crédito</strong><br>
	  Aceitamos os seguintes cartões de crédito: Mastercard, Diners, Visa e American Express. Nosso sistema de cobrança por cartão de crédito é 100% seguro. Os números são criptografados e não ficam armazenados em nosso banco de dados, sendo enviados diretamente para a administradora do cartão de crédito. O cliente poderá fazer o pagamento à vista, ou em até 06 vezes sem juros, com parcela mínima de R$ 10,00.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>



<div class="cont_perg">
	<h6 id="5">5 - Posso parcelar minhas compras?</h6>
	<p> Sim. As compras em cartão de crédito poderão ser parceladas em até 06 vezes, sem juros, com parcela mínima de R$ 10,00. </p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="6">6 - Qual o valor do frete?</h6>
	<p>O cálculo do frete varia de acordo com a sua região. O valor do frete é calculado automaticamente pelo nosso sistema, no fechamento de sua compra. Você também pode calcular o valor do frete informando o seu CEP, ao adicionar um produto à sua sacola de compras.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="7">7 - Qual o prazo de entrega?</h6>
	<p>A entrega dos produtos é feita por uma transportadora especializada, de segunda-feira a sábado, no horário entre 9:00 e 19:00 h.</p>

	<p>O prazo de entrega começa a ser contado a partir da aprovação e liberação do pedido pelo nosso sistema. Ele pode variar de 5 a&nbsp;7 dias úteis, dependendo da localidade.</p>

	<p>Os pedidos realizados a partir das 17:00h serão processados no próximo dia útil. Em caso de dúvidas, por favor, tenha em mãos o número fornecido pelo sistema no momento do fechamento do seu pedido e entre em contato com a nossa central de atendimento pelo tel: (21) 3202-7555 ou pelo site.sac@epocacosmeticos.com.br</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="8">8 - Posso receber ou enviar os produtos em embalagens para presente?</h6>
	<p>Sim. Para receber ou enviar produtos embalados para presente, você deve fazer essa opção no momento do fechamento do pedido. Eles serão entregues no endereço escolhido por você, no momento do fechamento da compra.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="9">9 - Posso trocar ou devolver um produto?</h6>
	<p>Sim. A sua satisfação é o nosso principal objetivo.</p>
	
	<p>A Época Cosméticos Perfumaria&nbsp;se responsabiliza pela idoneidade de seus fornecedores e pela qualidade, segurança, durabilidade e confiabilidade dos produtos oferecidos neste site.</p>

	<p>Entretanto, se você não ficou satisfeito com algum produto e decidiu trocá-lo por outro ou devolvê-lo, terá um prazo de 7 dias corridos, a contar da data de entrega, para entrar em contato com a nossa central de atendimento, que lhe informará sobre os procedimentos de troca ou devolução <a href="mailto:site.sac@epocacosmeticos.com.br">site.sac@epocacosmeticos.com.br</a>. No caso de reclamações referentes ao desempenho do produto, o mesmo será encaminhado ao fornecedor, que viabilizará a sua substituição de acordo com as regras e condições estabelecidas por ele, no prazo de até 30 dias.</p>

	<p>Para que a troca ou devolução seja efetuada, é necessário que o produto esteja intacto e sua embalagem inviolada.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="10">10 - Terei que preencher o cadastro sempre que fizer uma compra?</h6>
	<p>Não. O cadastro é um instrumento de personalização do cliente, realizado uma única vez, desde que você anote a sua senha para utilizá-la nos próximos acessos. Através dele, arquivaremos apenas os dados necessários para entregar corretamente o seu produto.</p>

	<p>Além disso, e caso você autorize, o cadastramento possibilitará o envio de correspondências relativas ao entrosamento cliente-empresa, como informações de ofertas, lançamentos e eventos especiais, permitindo também o acesso aos nossos editoriais exclusivos de saúde e beleza.</p>

	<p>Para se tornar um cliente preferencial, você não precisa efetuar compras. Basta acessar a área de cadastro e digitar corretamente os seus dados, criando uma senha, que deverá ser anotada, permitindo futuros acessos de maneira simples, rápida e totalmente segura. Não se esqueça de atualizar os seus dados sempre que houver alguma modificação.</p>

	<p>Os dados relacionados ao seu cartão de crédito serão pedidos somente no momento do fechamento da compra. Esses dados são criptografados e enviados para a operadora do cartão de crédito, não havendo a possibilidade de ser armazenados em nenhuma hipótese.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


<div class="cont_perg">
	<h6 id="11">11 - Tenho outras dúvidas. Como posso esclarecê-las?</h6>
	<p>Se você tem outras perguntas que não foram respondidas aqui, por favor, entre em contato conosco por e-mail site.sac@epocacosmeticos.com.br ou pelo tel: (21) 3202-7555.</p>

	<p>Estamos sempre prontos a atendê-lo.</p>

	<a href="#" class="voltar_top">Voltar ao topo</a>
</div>


	

