<h4>SAC das marcas</h4>

<p>Informamos abaixo os números de atendimento ao cliente das nossas principais marcas.</p>
<p>Consideramos importante disponibilizar esse canal, caso você deseje, por qualquer motivo, falar diretamente com a sua marca preferida.</p>
<p>Porém, entendemos que é de nossa responsabilidade intermediar qualquer comunicação entre nossos clientes e fornecedores, no caso de reclamações ou insatisfações relativas aos produtos adquiridos neste site.</p>
<p>Fique, portanto à vontade para escolher o seu canal predileto.</p>

<p>Se preferir que resolvamos qualquer assunto relacionado aos produtos adquiridos nesse site, clique aqui</p>
<p>Se preferir falar diretamente com as marcas, ligue para os telefones abaixo.</p>



<div class="marcas_sac">
	<p><strong>Excellence - 0800 163 434</strong></p>
	<img src="/arquivos/marcas_excellence.jpg" alt="" />
</div>


<div class="marcas_sac">
	<p><strong>Frajo - 0800 773 3450</strong></p>
	<img src="/arquivos/marcas_frajo.jpg" alt="" />
</div>

<div class="marcas_sac">
	<p><strong>L'Oréal - 0800 701 6992</strong></p>
	<img src="/arquivos/marcas_loreal.jpg" alt="" />
</div>

<div class="marcas_sac">
	<p><strong>LVMH - 0800 170 506</strong></p>
	<img src="/arquivos/marcas_lvmh.jpg" alt="" />
</div>

<div class="marcas_sac">
	<p><strong>Puig - (21) 3094-6588</strong></p>
	<img src="/arquivos/marcas_puig.jpg" alt="" />
</div>

<div class="marcas_sac">
	<p><strong>Passion - 0800 550 203</strong></p>
	<img src="/arquivos/marcas_passion.jpg" alt="" />
</div>

<div class="marcas_sac">
	<p><strong>Royal Opera - 0800 970 9877</strong></p>
	<img src="/arquivos/marcas_royal.jpg" alt="" />
</div>


<div class="marcas_sac">
	<p><strong>RR - 0800 772 5500</strong></p>
	<img src="/arquivos/marcas_rr.jpg" alt="" />
</div>


<div class="marcas_sac">
	<p><strong>Weitnauer - 0800 645 3144</strong></p>
	<img src="/arquivos/marcas_weitnauer.jpg" alt="" />
</div>

<div class="marcas_sac">
	<p><strong>Tabatinga - 0800 970 9877</strong></p>
	<img src="/arquivos/marcas_tabatinga.jpg" alt="" />
</div>

<div class="marcas_sac">
	<p><strong>Vizcaya - 0800 849 2292</strong></p>
	<img src="/arquivos/marcas_vizcaya.jpg" alt="" />
</div>
