<h4>Troca e Devolução</h4>

<p>A sua satisfação é o nosso principal objetivo.</p>

<p>A Época Cosméticos Perfumaria se responsabiliza pela idoneidade de seus fornecedores e pela qualidade, segurança, durabilidade e confiabilidade dos produtos oferecidos neste site. Entretanto, se você não ficou satisfeito com algum produto e decidiu trocá-lo por outro ou devolvê-lo, terá um prazo de 7 dias corridos, a contar da data de entrega. Clique aqui para entrar em contato com a nossa Central de Atendimento ou pelo telefone (21) 3202-7555 que lhe será informado sobre os procedimentos de troca ou devolução.</p>

<p>No caso de reclamações referentes ao desempenho do produto, o mesmo será encaminhado ao fornecedor, que viabilizará a sua substituição de acordo com as regras e condições estabelecidas por ele, no prazo de até 30 dias.</p>

<p>Para que a troca ou devolução seja efetuada, é necessário que o produto esteja intacto e sua embalagem inviolada.</p>