@import url(http://fonts.googleapis.com/css?family=Armata);

body {
    margin: 0;
    padding: 0;
}
form {
    width: 270px;
    /*float: left;*/
    margin: 0 auto;
    position: relative;
}
input.nome, input.email {
    width: 228px;
    height: 24px;
    border: 1px solid #c6c6c6;
    padding-left: 10px;
    font-size: 11px;
    color: #464646;
    margin-bottom: 35px;
    float: left;
}

input.enviaum {
    float: left;
    width: 24px;
    height: 24px;
    background: url("../images/btn-ok-optin.png");
    background-position: 1px 2px;
    background-color: #000000;
    border: none;
    font-size: 0;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
input.enviaum:hover {
    background-color: #cb1f93;
}
input.emaildois {
    border: 1px solid #c0c0c0;
    width: 235px;
    height: 23px;
    padding: 0 15px 0 38px;
    font-size: 11px;
    color: #8d8d8d;
    line-height: 20px;
    background: url("../images/btn-ok-optin.png") no-repeat 6px -60px;
    display: block!important;
    margin: 0!important;
}
input.enviadois {
    width: 24px;
    height: 24px;
    background: url("../images/btn-ok-optin.png");
    background-position: 1px -33px;
    border: none;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
}


span.error, .sucessoum {
    font-family: 'Armata', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #cb1f93;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}
a.erroVoltar {
    background: #000;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    text-align: center;
    width: 100px;
    font-family: 'Armata', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}
span.errodois, .sucessodois {
    font-family: 'Armata', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 3px;
}
.erroVoltardois {
    text-decoration: none;
    color: #cb1f93;
}