<html>
<head>
<title>Email-Notificacao-EpocaCosmeticos-V2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Email-Notificacao-EpocaCosmeticos-V2.psd) -->
<table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td colspan="3"><img src="http://www.epocacosmeticos.com.br/arquivos/headermail.jpg" width="550" height="139" alt="" style="display:block; border:0;"></td>
    </tr>
    <tr>
        <td width="36"></td>

        <td width="479" valign="top">
            <!-- conteudo -->



            <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                Olá <strong style=" color:#c6168d; font-weight:normal;">{{clientProfileData.firstName}}</strong>
          </h3>


            <p style="font-family:Verdana, Geneva, sans-serif; color:#6c6c6c; line-height:24px; font-size:13px;">Obrigada por comprar na Época Cosméticos!<br>
Seu pedido foi aprovado com sucesso.

<h2 style="font-family:Verdana, Geneva, sans-serif; color:#434343; font-size:16px; font-weight:normal; margin-bottom:20px; display:block;">Nº do pedido: {{orderId}}</h2>

            <!-- box cinza -->
            <span style="display:block; padding:10px; background:#f1f1f1; font-family:Verdana, Geneva, sans-serif;">


            <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px;" scope="col">Forma de pagamento</div>

            <div  style="font-size:14px; color:#666;">
                {{#each paymentData.transactions}}
                    {{#each payments}}
                        <strong  style="font-size:13px; color:#696969; font-weight:normal; line-height:20px; text-transform:uppercase">{{paymentSystemName}}</strong>
                        {{#if lastDigits}}
                            final {{lastDigits}}
                        {{/if}}
                        <br /><span style="color:#c6168d; font-weight:normal; font-size:12px">R$ {{formatCurrency value}} </span>
                        {{#eq installments 1}}
                            (à vista)
                        {{else}}
                            (em {{installments}}x)
                        {{/eq}}
                        <br />
                    {{/each}}
                {{/each}}

            </div>

            <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:5px; margin-top:30px;" scope="col">Prazo de entrega
            </div>
                 <span style="font-size:13px; color:#c6168d; font-weight:normal; line-height:20px; margin-top:10px; text-transform:uppercase">
                    {{#each shippingData.logisticsInfo.0.slas}}
                        {{replace shippingEstimate 'bd' ' dias'}}
                    {{/each}} úteis
                 </span>


          <div style=" display:block; margin-top:20px; padding-top:20px; border-top:1px solid #d0d0d0;">
            <div>
                <strong style="font-size:13px; color:#666; font-weight:normal;">Pedido nº <span style="font-size:18px;display:inline-block; color:#666; font-weight:bold;">{{orderId}}</span></strong>
            </div>
            <br />

          </div>


          <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
            <strong style="vertical-align:top;font-size:16px;color:#BBB;">&#10003;</strong>
            <div style="display:inline-block;line-height:16px;font-size:10px;color:#BBB;padding-left:3px;width:100px;">
                <strong style="font-size:14px;">PEDIDO REALIZADO</strong>
            </div>
        </div>

        <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
            <strong style="vertical-align:top;font-size:16px;color:#51BC00;">&#10003;</strong>
            <div style="display:inline-block;line-height:16px;font-size:10px;color:#51BC00;padding-left:3px;width:120px;">
                <strong style="font-size:14px;">PAGAMENTO CONFIRMADO</strong>
            </div>
        </div>

        <div class="status" style="vertical-align:top;vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
            <strong style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;">&#9658;</strong>
            <div style="display:inline-block;line-height:16px;font-size:10px;padding-left:3px;color:#BBB;width:90px;">
                <strong style="font-size:14px;">PEDIDO ENVIADO</strong>
            </div>
        </div>


{{#each items}}
<table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px; font-family:Verdana, Geneva, sans-serif;">

    <tbody>
        <tr>
            <td style="padding-left:10px; padding-bottom:10px; padding-top:10px; border-bottom:1px solid #d0d0d0;">
                <span  style="font-size:12px; color:#c6168d;">{{quantity}} X {{name}}</span><br>

                <table cellpadding="10" align="left" style="padding-top:5px;">
                    <tbody>
                        <tr>
                            <td  style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#666;">
                                <!--Entrega em até <strong>
                                    <span style="display:inline-block;">
                                        {{#each ../shippingData.logisticsInfo}}
    {{#eq itemId ../id}}
        {{#each slas}}
            {{#eq ../selectedSla id}}
                {{replace shippingEstimate 'd' ' dias'}}
            {{/eq}}
        {{/each}}
    {{/eq}}
{{/each}}
                                </span>
                                </strong><br> -->
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table cellpadding="5" align="right" style="padding-top:5px;">
                    <tbody><tr>
                        <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                            <span>R$ {{formatCurrency price}}</span><br>
                        </td>
                        <td style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                            <strong style="font-size:15px;"> por R$ {{multiplyCurrency quantity sellingPrice}}</strong><br>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>


{{#each bundleItems}}
{{#if name}}
<table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
    <tbody>
        <tr>
            <td style="padding-left:10px;">

                <table cellpadding="10" align="left" style="padding-top:5px;">
                    <tbody>
                        <tr>
                            <td  style="padding-left:0; font-size:12px; color:#666; padding-bottom:0;padding-top:0;">
                                <span>{{name}}</span><br>
                                </strong><br>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table cellpadding="5" align="right" style="padding-top:5px;">
                    <tbody><tr>
                        <td  style="padding-left:0;padding-bottom:0;padding-top:0; font-size:14px;">
                            <span>R$ {{formatCurrency price}}</span><br>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>
{{/if}}
{{/each}}
{{/each}}





          </span>
            <!-- box cinza -->

            <table cellspacing="0" cellpadding="4" border="0" width="100%">
    <tr>
        <td>

            <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; margin-top:10px;">
                <tbody>
                    {{#each totals}}
                        {{#if value}}
                        <tr>
                            <td valign="top" align="right"  style="color:#7F7F7F; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                {{#eq id "Items"}}Itens{{/eq}}
                                {{#eq id "Shipping"}}Entrega{{/eq}}
                                {{#eq id "Discounts"}}Descontos{{/eq}}
                            </td>
                            <td valign="top" align="right" style="color:#666; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                R$ {{formatCurrency value}}
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
            <table align="left" class="table-button">
                <tbody>
                    <tr>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>


            <!-- /conteudo -->
        </td>

      <td width="35"> </td>
    </tr>
    <tr>
    <td></td>
    <td><h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">
    <strong>IMPORTANTE:</strong>
    <p style="font-size: 11px;">- Todos os pedidos estão sujeitos à confirmação de disponibilidade de estoque e à liberação do crédito. Se o estoque do produto não tiver disponível para entrega, você será comunicado por telefone ou email por nossa Central de Atendimento.</p>

    <p style="font-size: 11px;">- Para sua segurança, realizamos análise interna das informações de seu pedido através da validação de dados cadastrais. Esse processo é independente da aprovação do seu pagamento pela instituição financeira. Caso necessário você será contatado, por isso, é importante que seus dados estejam sempre completos e atualizados.</p>
    <p style="font-size: 11px;">- O prazo de entrega é calculado a partir da data da confirmação do pagamento. Os prazos para confirmação de pagamento são: cartão em até 01 (um) dia útil, boleto bancário e transferência online em até 03 (três) dias úteis. Você receberá um email com a confirmação do seu pedido após sua compra.</p>

    <p style="font-size: 11px;">Para seu controle, guarde esse email até a entrega das mercadorias.</p>

     <p style="font-size: 11px;">Para acompanhar seu pedido, <a href="http://www.epocacosmeticos.com.br/centralatendimento/account/orders" target="_blank" style="color:#c6168d;" >clique aqui</a> ou acesse <a href="http://www.epocacosmeticos.com.br" target="_blank" style="color:#c6168d;" >www.epocacosmeticos.com.br</a> e clique em "Meus Pedidos".</p>


            <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Por favor, não responda este email, pois ele foi gerado automaticamente.<br />
Dúvidas? Entre em contato com a nossa
 <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>


 <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
Equipe Época Cosméticos Perfumaria
</p></td>
    <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
            <td></td>
    </tr>
    <tr>
        <td colspan="3">
            </td>
    </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>