<html>
<head>
<title>Email-Notificacao-EpocaCosmeticos-V2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Email-Notificacao-EpocaCosmeticos-V2.psd) -->
<table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td colspan="3"><img src="http://www.epocacosmeticos.com.br/arquivos/headermail.jpg" width="550" height="139" alt="" style="display:block; border:0;"></td>
    </tr>
    <tr>
        <td width="36"></td>

        <td width="479" valign="top">
            <!-- conteudo -->



            <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                Olá <strong style=" color:#c6168d; font-weight:normal;">{{orders.0.clientProfileData.firstName}}</strong>,
            </h3>



            <!-- box cinza -->
            <table style="display:block; background:#f1f1f1; font-family:Verdana, Geneva, sans-serif;" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
        <span style="display:block; padding:10px; background:#f1f1f1; font-family:Verdana, Geneva, sans-serif;">

            <!-- FORMA DE PAGAMENTO -->
            <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px;" scope="col">Forma de pagamento</div>

            <strong style="font-size:13px; color:#696969; font-weight:normal; line-height:20px; text-transform:uppercase"> {{#each orders.0.paymentData.transactions.0.payments}}


                    {{paymentSystemName}}


                {{#if lastDigits}}
                    - final {{lastDigits}}
                {{/if}}
            </strong>
                <br />

                <span  style="color:#c6168d; font-weight:normal; font-size:11px">R$ {{formatCurrency value}}
                    {{#if installments}}
                        (em {{installments}}x)
                    {{else}}
                        (à vista)
                    {{/if}}



            {{#eq paymentSystemName 'Boleto Bancário'}}
            </span>
                <span>

                <br />

                <a style="background: #00BB00; color: #fff; display:block; width:150px;  text-decoration: none;padding:4px 8px; background:#C6168D; text-align:center;margin-top:5px;" href="{{replace url '{Installment}' installments}}" class="button">
                    <span style="font-size:14px;"><span>Imprimir boleto</span></span>
                </a>

                </span>

            {{/eq}}
            {{/each}}

            <!-- FINAL FORMA DE PAGAMENTO -->

<div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px; margin-top:30px;" scope="col"> Endereço de entrega
    </div>
    <strong style="font-size:13px; color:#696969; font-weight:normal; line-height:20px; text-transform:uppercase">{{orders.0.shippingData.address.receiverName}}</strong><br />
    <span  style="color:#c6168d; font-weight:normal; font-size:11px">{{orders.0.shippingData.address.street}} - {{orders.0.shippingData.address.number}} - {{orders.0.shippingData.address.complement}} -{{orders.0.shippingData.address.neighborhood}}<br />
    {{orders.0.shippingData.address.city}} - {{orders.0.shippingData.address.state}}<br />
    {{orders.0.shippingData.address.postalCode}}<br />
    {{orders.0.sellers.name}}
    </span>
    <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:5px; margin-top:30px;" scope="col">Prazo de entrega
    </div>
         <span style="font-size:13px; color:#c6168d; font-weight:normal; line-height:20px; margin-top:10px; text-transform:uppercase">
            {{#each orders.0.shippingData.logisticsInfo.0.slas}}
                {{replace shippingEstimate 'bd' ' dias'}}
            {{/each}} úteis
         </span>


    <!-- FINAL DO ENDERECO -->

    <!-- INICIO INFO PEDIDO -->
    <div style=" display:block; margin-top:20px; padding-top:20px; border-top:1px solid #d0d0d0;">

{{#each orders}}                                                                                            <!-- numedo do pedido -->
    <div>
        <strong style="font-size:13px; color:#666; font-weight:normal;">Pedido nº <span style="font-size:18px;display:inline-block; color:#666; font-weight:bold;">{{orderId}}</span></strong>
    </div>

    <span  style="display:block; margin-top:0; padding-top:20px; font-size:12px; color:#666; line-height:20px; font-weight:bold; margin-bottom:10px;">Tipo de entrega: <strong>{{shippingData.logisticsInfo.0.selectedSla}}</strong></span>
    <!-- numedo do pedido -->
    <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
    <strong style="vertical-align:top;font-size:16px;color:#51BC00;">&#10003;</strong>
    <div style="display:inline-block;line-height:16px;font-size:10px;color:#51BC00;padding-left:3px;width:100px;">
        <strong style="font-size:14px;">PEDIDO REALIZADO</strong>
    </div>
</div>
    <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
    <strong style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;">&#9658;</strong>
    <div style="display:inline-block;line-height:16px;font-size:10px;color:#BBB;padding-left:3px;width:120px;">
        <strong style="font-size:14px;"> PAGAMENTO CONFIRMADO</strong>
    </div>
</div>
    <div class="status" style="vertical-align:top;vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
    <strong style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;">&#9658;</strong>
    <div style="display:inline-block;line-height:16px;font-size:10px;padding-left:3px;color:#BBB;width:90px;">
        <strong style="font-size:14px;"> PEDIDO ENVIADO</strong>
    </div>
</div>


<!-- TABELA DE PRODUTOS -->
<div>
{{#each items}}
    <table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
        <tbody>
            <tr>
                <td style="padding-left:10px; padding-bottom:10px; padding-top:10px; border-bottom:1px solid #d0d0d0;">
                    <span style="font-size:12px; color:#c6168d;">{{quantity}} X {{name}}</span><br>
                    <table cellpadding="10" align="left" style="padding-top:5px;">
                        <tbody>
                            <tr>
                                <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#666;"><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="5" align="right" style="padding-top:5px;">
                        <tbody><tr>
                            <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                            <span>R$ {{formatCurrency price}}</span><br>
                            </td>
                            <td style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                                <strong style="font-size:15px;"> por R$ {{multiplyCurrency quantity sellingPrice}}</strong><br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    {{#each bundleItems}}
        {{#if name}}
            <table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
                <tbody>
                    <tr>
                        <td style="padding-left:10px;">
                            <table cellpadding="10" align="left" style="padding-top:5px;">
                                <tbody>
                                    <tr>
                                        <td style="padding-left:0;padding-bottom:0;padding-top:0;">
                                            <span>{{name}}</span><br>
                                            </strong><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table cellpadding="5" align="right" style="padding-top:5px;">
                                <tbody><tr>
                                    <td style="padding-left:0;padding-bottom:0;padding-top:0;">
                                        <span>R$ {{formatCurrency price}}</span><br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        {{/if}}
    {{/each}}
{{/each}}
</div>

<!-- FIM TABELA DE PRODUTOS -->
    {{/each}}


</div>                                                                                    <!-- FINAL INFO PEDIDO -->

            </span>
    </td>
  </tr>
</table>

            <!-- box cinza -->
<table cellspacing="0" cellpadding="4" border="0" width="100%">
    <tr>
        <td>

            <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; margin-top:10px;">
                <tbody>
                    {{#each orders.0.totals}}
                            {{#if value}}
                    <tr>
                        <td valign="top" align="right" style="color:#7F7F7F; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                            {{#eq id "Items"}}Itens{{/eq}}
                            {{#eq id "Shipping"}}Entrega{{/eq}}
                            {{#eq id "Discounts"}}Descontos{{/eq}}

                          </td>
                        <td valign="top" align="right" style="color:#666; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                            R$ {{formatCurrency value}}
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
            <table align="left" class="table-button">
                <tbody>
                    <tr>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

</table>


            <!-- /conteudo -->
        </td>

      <td width="35"> </td>
    </tr>
    <tr>
        <td></td>
        <td>
        <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">
    <strong>IMPORTANTE:</strong>
    <p style="font-size: 11px;">- Todos os pedidos estão sujeitos à confirmação de disponibilidade de estoque e à liberação do crédito. Se o estoque do produto não tiver disponível para entrega, você será comunicado por telefone ou email por nossa Central de Atendimento.</p>

    <p style="font-size: 11px;">- Para sua segurança, realizamos análise interna das informações de seu pedido através da validação de dados cadastrais. Esse processo é independente da aprovação do seu pagamento pela instituição financeira. Caso necessário você será contatado, por isso, é importante que seus dados estejam sempre completos e atualizados.</p>
    <p style="font-size: 11px;">- O prazo de entrega é calculado a partir da data da confirmação do pagamento. Os prazos para confirmação de pagamento são: cartão em até 01 (um) dia útil, boleto bancário e transferência online em até 03 (três) dias úteis. Você receberá um email com a confirmação do seu pedido após sua compra.</p>

    <p style="font-size: 11px;">Para seu controle, guarde esse email até a entrega das mercadorias.</p>

     <p style="font-size: 11px;">Para acompanhar seu pedido, <a href="http://www.epocacosmeticos.com.br/centralatendimento/account/orders" target="_blank" style="color:#c6168d;" >clique aqui</a> ou acesse <a href="http://www.epocacosmeticos.com.br" target="_blank" style="color:#c6168d;" >www.epocacosmeticos.com.br</a> e clique em "Meus Pedidos".</p>


            <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:11px; margin:20px 0; font-weight:normal;">Por favor, não responda este email, pois ele foi gerado automaticamente.<br />
Dúvidas? Entre em contato com a nossa
 <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>


 <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
Equipe Época Cosméticos Perfumaria
</p>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
            <td></td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>