<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta charset='utf-8'>
        <!-- Facebook sharing information tags -->
        <meta property='og:title' content='*|MC:SUBJECT|*' />

        <title>{{_accountInfo.TradingName}}</title>
    </head>
    <body class='tipo-{{listTypeId}}' leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
    <center>
        <table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='font-size:14px; font-family:Arial, Helvetica, sans-serif;'>
            <tr>
                <td align='center' valign='top'>
                    <table border='0' cellpadding='0' cellspacing='0' width='700'>
                        <tr>
                            <td align='center' valign='top'>
                                <!-- // Begin Template Body \\ -->
                                <table border='0' cellpadding='0' cellspacing='0' width='700'>
                                    <tr>
                                        <td style='width:100%; border-bottom:solid 1px #c1c1c1;'>
                                             <img src="http://www.epocacosmeticos.com.br/arquivos/email_not_01.jpg" alt="" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Olá, {{recipientName}} !</p>
                                            <p>{{senderName}} ( <a href='mailto:{{senderMail}}'>{{senderMail}}</a> ) sugeriu a lista <strong><a href='{{listUrl}}' target='_blank'>{{listName}}</a></strong> para você.<p>
                                                <br />
                                            <p>{{text}}</p>

                                         <img style="margin-top:20px" src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" alt="" />

                                        </td>
                                    </tr>
                                </table>
                                <!-- // End Template Body \\ -->
                            </td>
                        </tr>
                    </table>
                    <br />
                </td>
            </tr>
        </table>
    </center>
</body>
</html>