/* CSS LIGHTBOX SMART */
.bg-boxsmart {
    position: fixed;
    width: 100%; height: 100%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70); /* Transparencia no IE 8 ou anterior */
    z-index: 9999999;
    left: 0;
    top: 0;
    display: none;
}
.boxsmart {
    position:fixed;
    left:0;
    top:0;
    /*width:440px;*/
    /*height:200px;*/
    display:none;
    z-index:99999999;
    padding:20px;
    background-color:#ffffff;
    padding:10px;
}
.fechar-boxsmart {
    background-image: url("/arquivos/fechar-boxsamart.jpg");
    cursor: pointer;
    font-size: 0;
    height: 38px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 38px;
    }
