.produto .cont_princ_prod .dir .name_brand .brands a{background-repeat: no-repeat; text-indent: -99999px; overflow: hidden; color: #000; display: block; width: 180px; height: 70px;}

.marca4711 a{ background-image:url("/arquivos/4711_produto.jpg"); }

.Ada-Tina a{ background-image:url("/arquivos/Ada-Tina_produto.jpg"); }

.Agatha-Ruiz-De-La-Prada a{ background-image:url("/arquivos/Agatha-Ruiz-De-La-Prada_produto.jpg"); }  

.Agua-Brava a{ background-image:url("/arquivos/Agua-Brava_produto.jpg"); }

.Alta-Moda a{ background-image:url("/arquivos/Alta-Moda_produto.jpg"); }                 

.Amazonia-Viva a{ background-image:url("/arquivos/Amazonia-Viva_produto.jpg"); }

.Ana-Hickmann1 a,
.Ana-Hickmann a{ background-image:url("/arquivos/Ana-Hickmann_produto.jpg"); }

.Animale a{ background-image:url("/arquivos/animale_produto.jpg"); }

.Antonio-Banderas a{ background-image:url("/arquivos/AntonioBanderas_produto.jpg"); }           

.Arcancil a{ background-image:url("/arquivos/Arcancil_produto.jpg"); }

.Argan-Oil a{ background-image:url("/arquivos/Argan-Oil_produto.jpg"); }                 

.Arnaud a{ background-image:url("/arquivos/Arnaud_produto.jpg"); }

.Arno-Sorel a{ background-image:url("/arquivos/Arno-Sorel_produto.jpg"); }                

.Artdeco a{ background-image:url("/arquivos/Artdeco_produto.jpg"); }

.Australian-Gold a{ background-image:url("/arquivos/Australian-Gold_produto.jpg"); } 

.Avene a{ background-image:url("/arquivos/Avene_produto.jpg"); }

.Axis a{ background-image:url("/arquivos/Axis_produto.jpg"); }

.Azzaro a{ background-image:url("/arquivos/Azzaro_produto.jpg"); }

.Bain-De-Terre a{ background-image:url("/arquivos/Bain-De-Terre_produto.jpg"); }             

.Baldessarini a{ background-image:url("/arquivos/Baldessarini_produto.jpg"); }

.Basicare a{ background-image:url("/arquivos/Basicare_produto.jpg"); }                  

.Baylis-E-Harding a{ background-image:url("/arquivos/Baylis-E-Harding_produto.jpg"); }

.Bebe a{ background-image:url("/arquivos/Bebe_produto.jpg"); }

.Belliz a{ background-image:url("/arquivos/Belliz_produto.jpg"); }

.Betty-Boop a{ background-image:url("/arquivos/Betty-Boop_produto.jpg"); }                

.Beyonce a{ background-image:url("/arquivos/Beyonce_produto.jpg"); }

.Bio-Oil a{ background-image:url("/arquivos/BioOil_produto.jpg"); }                    

.Biotherm a{ background-image:url("/arquivos/Biotherm_produto.jpg"); }

.Black-Onix a{ background-image:url("/arquivos/Black-Onix_produto.jpg"); }                

.Blumarine a{ background-image:url("/arquivos/Blumarine_produto.jpg"); }

.Bourjois a{ background-image:url("/arquivos/Bourjois_produto.jpg"); }                  

.britney-spears a{ background-image:url("/arquivos/Britney-Spears_produto.jpg"); }

.Burberry a{ background-image:url("/arquivos/Burberry_produto.jpg"); }

.Bvlgari a{ background-image:url("/arquivos/Bulgary_produto.jpg"); }                   

.Cacharel a{ background-image:url("/arquivos/Cacharrel_produto.jpg"); }                 

.Cadiveu a{ background-image:url("/arquivos/Cadiveu_produto.jpg"); }

.Cafe-Cafe a{ background-image:url("/arquivos/Caf‚_produto.jpg"); }

.Calvin-Klein a{ background-image:url("/arquivos/Calvin-Klein_produto.jpg"); }

.Carita a{ background-image:url("/arquivos/Carita_produto.jpg"); }                    

.Carolina-Herrera a{ background-image:url("/arquivos/Carolina-Herreira_produto.jpg"); }

.Caron a{ background-image:url("/arquivos/Caron_produto.jpg"); }                     

.Cartier a{ background-image:url("/arquivos/Cartier_produto.jpg"); }

.Celazome a{ background-image:url("/arquivos/Celazome_produto.jpg"); }                  

.Charis a{ background-image:url("/arquivos/Charis_produto.jpg"); }

.CHI a{ background-image:url("/arquivos/chi_produto.jpg"); }  

.Chloe a{ background-image:url("/arquivos/Chloe_produto.jpg"); }                     

.Christina-Aguilera a{ background-image:url("/arquivos/Christina-Aguilera_produto.jpg"); }

.Christine-Darvin a{ background-image:url("/arquivos/Christine-Darvin_produto.jpg"); }          

.Christopher-Dark a{ background-image:url("/arquivos/Christopher-Dark_produto.jpg"); }

.Clarins a{ background-image:url("/arquivos/Clarins_produto.jpg"); }                   

.Clinique a{ background-image:url("/arquivos/Clinique_produto.jpg"); }

.Control-System a{ background-image:url("/arquivos/Control-System_produto.jpg"); }

.Cuba-Paris a{ background-image:url("/arquivos/Cuba-Paris_produto.jpg"); }

.David-Beckham a{ background-image:url("/arquivos/David-Beckham_produto.jpg"); }             

.Davidoff a{ background-image:url("/arquivos/Davidoff_produto.jpg"); }

.Dermaphyto a{ background-image:url("/arquivos/Dermaphyto_produto.jpg"); }                

.Dermatus a{ background-image:url("/arquivos/Dermatus_produto.jpg"); }

.Diesel a{ background-image:url("/arquivos/Diesel_produto.jpg"); }                    

.Dior a{ background-image:url("/arquivos/Dior_produto.jpg"); }

.Dkny a{ background-image:url("/arquivos/Dkny_produto.jpg");}

.Dolce---Gabbana a{ background-image:url("/arquivos/Dolce-&-Gabbana_produto.jpg"); }           

.Dsquared a{ background-image:url("/arquivos/Dsquared_produto.jpg"); }

.Ducati a{ background-image:url("/arquivos/Ducati_produto.jpg"); }                    

.Ducray a{ background-image:url("/arquivos/Ducray_produto.jpg"); }

.Duo a{ background-image:url("/arquivos/Duo_produto.jpg"); }

.Ecologie a{ background-image:url("/arquivos/Ecologie_produto.jpg"); }

.Ecrinal a{ background-image:url("/arquivos/Ecrinal_produto.jpg"); }                   

.Ecru a{ background-image:url("/arquivos/Ecru_produto.jpg"); }

.Ed-Hardy a{ background-image:url("/arquivos/Ed-Hardy_produto.jpg"); }                  

.Elie-Saab a{ background-image:url("/arquivos/Elie-Saab_produto.jpg"); }

.Elite a{ background-image:url("/arquivos/Elite_produto.jpg"); }                     

.Elizabeth-Arden a{ background-image:url("/arquivos/Elizabeth-Arden_produto.jpg"); }

.Endocare a{ background-image:url("/arquivos/Endocare_produto.jpg"); }                  

.Ermenegildo-Zegna a{ background-image:url("/arquivos/Ermenegildo-Zegna_produto.jpg"); }

.Escada a{ background-image:url("/arquivos/escada_produto.jpg"); }                    

.Esprit-De-Versailles a{ background-image:url("/arquivos/Esprit-De-Versailles_produto.jpg"); }

.Est a{ background-image:url("/arquivos/est_produto.jpg"); }

.Estelle-Ewen a{ background-image:url("/arquivos/Estelle-Ewen_produto.jpg"); }              

.Euroluxe a{ background-image:url("/arquivos/Euroluxe_produto.jpg"); }
                
.Everlast a{ background-image:url("everlast_produto.jpg"); }

.Exposis a{ background-image:url("exposis_produto.jpg"); }                   

.Farmoquimica a{ background-image:url("farmoquimica_produto.jpg");}

.Fendi a{ background-image:url("fendi_produto.jpg"); }

.Ferrari a{ background-image:url("ferrari_produto.jpg"); }                   

.Fiorentino a{ background-image:url("fiorentina_produto.jpg"); }

.First-Kiss a{ background-image:url("first-kiss_produto.jpg"); }                

.Forum a{ background-image:url("forum_produto.jpg"); }

.Freedom a { background-image:url("freedom_produto.jpg"); }

.fqm a{ background-image:url("fqm_produto.jpg"); }                       

.Fresh-N-Soft a{ background-image:url("fresh_produto.jpg"); }

.Futura-Biotech a{ background-image:url("futura_produto.jpg"); }                    

.Gabriela-Sabatini a{ background-image:url("gabriela-sabatini_produto.jpg"); }

.Gap a{ background-image:url("gap_produto.jpg"); }

.Gare a{ background-image:url("/arquivos/gare_produto.jpg"); }

.Georges-Mezotti a{ background-image:url("/arquivos/georges-mezotti_produto.jpg"); }           

.Gilles-Cantuel a{ background-image:url("/arquivos/gilles-cantuel_produto.jpg"); }

.Gillette a{ background-image:url("/arquivos/gillette_produto.jpg"); }                  

.Giorgio-Armani a{ background-image:url("/arquivos/giorgio-armani_produto.jpg"); }

.Givenchy a{ background-image:url("/arquivos/givenchy_produto.jpg"); }                  

.Glamglow a{ background-image:url("/arquivos/glamglow_produto.jpg"); }

.Gres a{ background-image:url("/arquivos/Gres.jpg");}

.Guards-Polo-Club a{ background-image:url("/arquivos/guards-polo-club_produto.jpg"); }          

.Gucci a{ background-image:url("/arquivos/gucci_produto.jpg"); }

.Guerlain a{ background-image:url("/arquivos/guerlain_produto.jpg"); }                  

.Guess a{ background-image:url("/arquivos/guess_produto.jpg"); }

.Guy-Laroche a{ background-image:url("/arquivos/guy-laroche_produto.jpg"); }  

/**/
.Hollywood-Fashion-Secrets a{background-image:url("/arquivos/Hollywood-Fashion-Secrets_produto.jpg")}

.Hugo-Boss a{background-image:url("/arquivos/Hugo-Boss_produto.jpg")}

.I-Color a{background-image:url("/arquivos/I-Color_produto.jpg")}

.Image a{background-image:url("/arquivos/Image_produto.jpg")}

.Inneov a{background-image:url("/arquivos/Inneov_produto.jpg")}

.Issey-Miyake a{background-image:url("/arquivos/Issey-Miyake_produto.jpg")}

.J--F--Lazartigue a{background-image:url("/arquivos/J--F--Lazartigue_produto.jpg")}

.Jacadi a{background-image:url("/arquivos/Jacadi_produto.jpg")}

.Jacomo a{background-image:url("/arquivos/Jacomo_produto.jpg")}

.Jacques-Bogart a{background-image:url("/arquivos/Jacques-Bogart_produto.jpg")}

.Jaguar a{background-image:url("/arquivos/Jaguar_produto.jpg")}

.James-Bond a{background-image:url("/arquivos/James-Bond_produto.jpg")}

.Jasmyne a{background-image:url("/arquivos/Jasmyne_produto.jpg")}

.Jean-Paul-Gaultier a{background-image:url("/arquivos/Jean-Paul-Gaultier_produto.jpg")}

.Jeanne-Arthes a{background-image:url("/arquivos/Jeanne-Arthes_produto.jpg")}

.Jennifer-Lopez a{background-image:url("/arquivos/Jennifer-Lopez_produto.jpg")}

.Jimmy-Choo a{background-image:url("/arquivos/Jimmy-Choo_produto.jpg")}

.John-Frieda a{background-image:url("/arquivos/John-Frieda_produto.jpg")}

.John-Varvatos a{background-image:url("/arquivos/John-Varvatos_produto.jpg")}

.Joico a{background-image:url("/arquivos/Joico_produto.jpg")}

.Joli-Joli a{background-image:url("/arquivos/Joli-Joli_produto.jpg")}

.Joop- a{background-image:url("/arquivos/Joop-_produto.jpg")}

.Juicy-Couture a{background-image:url("/arquivos/Juicy-Couture_produto.jpg")}

.Juliana-Paes a{background-image:url("/arquivos/Juliana-Paes_produto.jpg")}

/**/

.Just-4-Princess a{background-image:url("/arquivos/Just-4-Princess_produto.jpg")}

.Justin-Bieber a{ background-image:url("/arquivos/Justin-Bieber_produto.jpg"); }             

.Kaloo a{ background-image:url("/arquivos/Kaloo_produto.jpg"); }                     

.Karen-Low a{ background-image:url("/arquivos/Karen-Low_produto.jpg"); }

.Kenzo a{ background-image:url("/arquivos/Kenzo_produto.jpg"); }                     

.Kerasys a{ background-image:url("/arquivos/Kerasys_produto.jpg"); }

.Keune a{ background-image:url("/arquivos/Keune_produto.jpg"); }                     

.Klass-Vough a{ background-image:url("/arquivos/Klass-Vough_produto.jpg"); }

.Kokeshi a{ background-image:url("/arquivos/Kokeshi_produto.jpg"); }                   

.Koleston a{ background-image:url("/arquivos/Koleston_produto.jpg"); }

.K-Pro a{ background-image:url("/arquivos/K-Pro_produto.jpg"); }

.L-Anza a{ background-image:url("/arquivos/L-Anza_produto.jpg"); }                    

.La-Perla a{ background-image:url("/arquivos/La-Perla_produto.jpg"); }

.La-Prairie a{ background-image:url("/arquivos/La-Prairie_produto.jpg"); }                

.La-Roche-Posay a{ background-image:url("/arquivos/La-Roche-Posay_produto.jpg"); }            

.Lacoste a{ background-image:url("/arquivos/LACOSTE_produto.jpg"); }

.Lady-Gaga a{ background-image:url("/arquivos/LADY-GAGA_produto.jpg"); }                 

.Lalique a{ background-image:url("/arquivos/LALIQUE_produto.jpg"); }

.Lancome a{ background-image:url("/arquivos/LANCOME_produto.jpg"); }                   

.Lansinoh a{ background-image:url("/arquivos/LANSINOH_produto.jpg"); }

.Lanvin a{ background-image:url("/arquivos/LANVIN_produto.jpg"); }  

.Latika a{ background-image:url("/arquivos/LATIKA_produto.jpg"); }                    

.Lee-Stafford a{ background-image:url("/arquivos/LEESTAFFORD_produto.jpg"); }               

.Leonor-Greyl a{ background-image:url("/arquivos/LEONOR-GREYL_produto.jpg"); }              

.Linn-Young a{ background-image:url("/arquivos/LINN-YOUNG_produto.jpg"); }

.Lolita-Lempicka a{ background-image:url("/arquivos/LOLITA-LEMPICKA_produto.jpg"); }

.Luisance a{ background-image:url("/arquivos/LUISANCE_produto.jpg"); }

.Lunetterie a{ background-image:url("/arquivos/LUNETTERIE_produto.jpg"); }

.Macadamia a{ background-image:url("/arquivos/MACADAMIA_produto.jpg"); }

.Madame-Milly a{ background-image:url("/arquivos/MADAME-MILLY_produto.jpg"); }

.Malizia a{ background-image:url("/arquivos/MALIZIA_produto.jpg"); }

.Mandarina-Duck a{ background-image:url("/arquivos/MANDARIANA-DUCK_produto.jpg"); }

/**/


.Markwins a{background-image: url("/arquivos/Markwins_produto.jpg")};

.Mauboussin a{background-image: url("/arquivos/Mauboussin_produto.jpg")};

.Mavala a{background-image: url("/arquivos/Mavala_produto.jpg")};

.Mediterrani a{background-image: url("/arquivos/Mediterrani_produto.jpg")};

.Melora a{background-image: url("/arquivos/Melora_produto.jpg")};

.Mene---Moy a{background-image: url("/arquivos/Mene---Moy_produto.jpg")};

.Mercedes-Benz a{background-image: url("/arquivos/Mercedes-Benz_produto.jpg")};

.Michael-Kors a{background-image: url("/arquivos/Michael-Kors_produto.jpg")};

.Molyneux a{background-image: url("/arquivos/Molyneux_produto.jpg")};

.Montblanc a{background-image: url("/arquivos/Montblanc_produto.jpg")};

.Moschino a{background-image: url("/arquivos/Moschino_produto.jpg")};

.Narciso-Rodriguez a{background-image: url("/arquivos/Narciso-Rodriguez_produto.jpg")};

.Natupele a{background-image: url("/arquivos/Natupele_produto.jpg")};

.Nazareno-Gabrielli a{background-image: url("/arquivos/Nazareno-Gabrielli_produto.jpg")};

.NBA a{background-image: url("/arquivos/NBA_produto.jpg")};

.Neostrata a{background-image: url("/arquivos/Neostrata_produto.jpg")};

.Nesti-Dante a{background-image: url("/arquivos/Nesti-Dante_produto.jpg")};

.New-York-Streets a{background-image: url("/arquivos/New-York-Streets_produto.jpg")};

.Nick---Vick a{background-image: url("/arquivos/Nick---Vick _produto.jpg")};

.Nina-Ricci a{background-image: url("/arquivos/Nina-Ricci_produto.jpg")};

.Nppe a{background-image: url("/arquivos/Nppe_produto.jpg")};

.Nu-Parfums a{background-image: url("/arquivos/Nu-Parfums_produto.jpg")};

.Nutrilatina a{background-image: url("/arquivos/Nutrilatina_produto.jpg")};

.O-P-I a{background-image: url("/arquivos/O-P-I_produto.jpg")};

.Oilily a{background-image: url("/arquivos/Oilily_produto.jpg")};

.Omerta a{background-image: url("/arquivos/Omerta_produto.jpg")};

.Oral-B a{background-image: url("/arquivos/Oral-B_produto.jpg")};

.Organix a{background-image: url("/arquivos/Organix_produto.jpg")};

.Orofluido a{background-image: url("/arquivos/Orofluido_produto.jpg")};

.Paco-Rabanne a{background-image: url("/arquivos/Paco-Rabanne_produto.jpg")};

.Palmers a{background-image: url("/arquivos/Palmers_produto.jpg")};

.Pantene a{background-image: url("/arquivos/Pantene_produto.jpg")};

/**/

.Parfums-Pergolese-Paris a{ background-image:url("/arquivos/parfums-gres_produto.jpg"); }

/**/

.Paris-Club a{background-image:url("/arquivos/Paris-Club_produto.jpg"); }

.Paris-Elysees a{background-image:url("/arquivos/Paris-Elysees_produto.jpg"); }

.Paul-Mitchell a{background-image:url("/arquivos/Paul-Mitchell_produto.jpg"); }

.Perfumania a{background-image:url("/arquivos/Perfumania_produto.jpg"); }

.Perry-Ellis a{background-image:url("/arquivos/Perry-Ellis_produto.jpg"); }

.Police a{background-image:url("/arquivos/Police_produto.jpg"); }

.Prada a{background-image:url("/arquivos/Prada_produto.jpg"); }

.Puma a{background-image:url("/arquivos/Puma_produto.jpg"); }

.Purederm a{background-image:url("/arquivos/Purederm _produto.jpg"); }

.Quorum a{background-image:url("/arquivos/Quorum_produto.jpg"); }

.Ralph-Lauren a{background-image:url("/arquivos/Ralph-Lauren_produto.jpg"); }

.Real-Time a{background-image:url("/arquivos/Real-Time_produto.jpg"); }

.Revlon a{background-image:url("/arquivos/Revlon_produto.jpg"); }

.Rihanna a{background-image:url("/arquivos/Rihanna_produto.jpg"); }

.Rio a{background-image:url("/arquivos/Rio_produto.jpg"); }

.Roberto-Cavalli a{background-image:url("/arquivos/Roberto-Cavalli_produto.jpg"); }

.Roc a{background-image:url("/arquivos/Roc_produto.jpg"); }

.S-T--Dupont a{background-image:url("/arquivos/S-T--Dupont_produto.jpg"); }

.Sally-Hansen a{background-image:url("/arquivos/Sally-Hansen_produto.jpg"); }

.Salvador-Dali a{background-image:url("/arquivos/Salvador-Dali_produto.jpg"); }

.Salvatore-Ferragamo a{background-image:url("/arquivos/Salvatore-Ferragamo_produto.jpg"); }

.Sarah-Jessica-Parker a{background-image:url("/arquivos/Sarah-Jessica-Parker_produto.jpg"); }

.Senscience a{background-image:url("/arquivos/Senscience_produto.jpg"); }

.Sex-And-The-City a{background-image:url("/arquivos/Sex-And-The-City_produto.jpg"); }

.Shakira a{background-image:url("/arquivos/Shakira_produto.jpg"); }

.Shirley-May a{background-image:url("/arquivos/Shirley-May_produto.jpg"); }

.Shiseido a{background-image:url("/arquivos/Shiseido_produto.jpg"); }

.Sisley a{background-image:url("/arquivos/Sisley_produto.jpg"); }

.Skin-Renu a{background-image:url("/arquivos/Skin-Renu_produto.jpg"); }

.Skinceuticals a{background-image:url("/arquivos/Skinceuticals_produto.jpg"); }

.Sol-De-Janeiro a{background-image:url("/arquivos/Sol-De-Janeiro_produto.jpg"); }

.Strivectin a{background-image:url("/arquivos/Strivectin_produto.jpg"); }

.SVR a{background-image:url("/arquivos/SVR_produto.jpg"); }

.Swarovski a{background-image:url("/arquivos/Swarovski_produto.jpg"); }

.Talika a{background-image:url("/arquivos/Talika_produto.jpg"); }

.Taylor-Swift a{background-image:url("/arquivos/Taylor-Swift_produto.jpg"); }

.Ted-Lapidus a{background-image:url("/arquivos/Ted-Lapidus_produto.jpg"); }

.That-Girl a{background-image:url("/arquivos/That-Girl_produto.jpg"); }

.Thierry-Mugler a{background-image:url("/arquivos/Thierry-Mugler_produto.jpg"); }

.Tigi a{background-image:url("/arquivos/Tigi_produto.jpg"); }

.Tommy-Hilfiger a{background-image:url("/arquivos/Tommy-Hilfiger_produto.jpg"); }

.Toppik a{background-image:url("/arquivos/Toppik_produto.jpg"); }

.Tweezerman a{background-image:url("/arquivos/Tweezerman_produto.jpg"); }

.Ulric-De-Varens a{background-image:url("/arquivos/Ulric-De-Varens_produto.jpg"); }

.Uv-Line a{background-image:url("/arquivos/Uv-Line_produto.jpg"); }

.Valentino a{background-image:url("/arquivos/Valentino_produto.jpg"); }

.Van-Cleef---Arpels a{background-image:url("/arquivos/Van-Cleef---Arpels_produto.jpg"); }

.Versace a{background-image:url("/arquivos/Versace_produto.jpg"); }

.Via-Paris a{background-image:url("/arquivos/Via-Paris_produto.jpg"); }

.Vichy a{background-image:url("/arquivos/Vichy_produto.jpg"); }

.Victorinox a{background-image:url("/arquivos/Victorinox_produto.jpg"); }

.Viktor---Rolf a{background-image:url("/arquivos/Viktor---Rolf_produto.jpg"); }

.Vivian-Gray a{background-image:url("/arquivos/Vivian-Gray_produto.jpg"); }

.Yardley a{background-image:url("/arquivos/Yardley_produto.jpg"); }

.Yenzah a{background-image:url("/arquivos/Yenzah_produto.jpg"); }

.Yves-De-Sistelle-Parfums a{background-image:url("/arquivos/Yves-De-Sistelle-Parfums_produto.jpg"); }

.Yves-Saint-Laurent a{background-image:url("/arquivos/Yves-Saint-Laurent_produto.jpg"); }

.Zippo a{background-image:url("/arquivos/Zippo_produto.jpg"); }

.Marc-Ecko a{background-image:url("/arquivos/marc-ecko_produto.jpg"); }

.Pacha-Ibiza a{background-image:url("/arquivos/pacha-ibiza_produto.jpg"); }


.Clairol-Professionals a{background-image:url("/arquivos/clairol_produto.jpg"); }
/*1*/
