
.cont h2, .cont h3 {
    font-family: 'Armata', sans-serif;
    color: #84878b;
    font-weight: lighter;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.rosa {
    color: #e53e91!important;
    font-family: 'Armata', sans-serif;
}

.cont100 p {
    font-size: 14px;
    color: #8e9094;
    font-family: 'Armata', sans-serif;
    /*text-align: center;*/
    margin: 15px 0 30px;
}

.cont100 .p-nova-busca{
    text-align: center;
}

.vitrine ul li p{
    font-size: 14px;
    color: #8e9094;
    font-family: 'Armata', sans-serif;
    margin: 15px 0 0;
}

.busca legend, .busca label,.busca select {
    display: none;
}

.busca input[type="text"] {
    width: 360px;
    padding: 5px;
    font-family: 'Armata', sans-serif;
}

.barra-busca {
    width: 372px;
    margin: 20px auto 60px;
    position: relative;
}
.busca input[type="button"] {
    background: url("/arquivos/sprite_epoca.png") no-repeat scroll 4px 5px transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 24px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    text-indent: -9999px;
    text-transform: capitalize;
    top: 4px;
    width: 28px;
}

ul.columns li.colmap h3 {
    text-align: left;
    font-weight: bold;
}

.ui-autocomplete {
    width: 352px!important;
}

.carrega-produtos {
    margin: 10px 0 50px 0;
    display: inline-block;
}

.seta-detalhe {
    background: url('/arquivos/seta-busca-nao-encontrada.png') no-repeat 0 0 transparent;
    width: 65px;
    height: 25px;
    position: absolute;
    left: -70px;
    top: 0;
}
.carrega-produtos {
    margin: 10px 0 50px 0;
    display: inline-block;
    width: 905px;
    height: 430px;
    position: relative;
    overflow: hidden;
    padding: 0 30px;
}

.carrega-produtos p{
    text-align: left;
}

.prod-sem-localstorage p{
    text-align: left;
}

.jcarousel-clip.jcarousel-clip-horizontal {
    overflow: hidden;
    height: 430px;
}

.vitrine ul {
    height: 420px;
}
.vitrine ul li {
    margin: 0 22px 0 0;
    height: 410px;
}

.vitrine ul li a.comprar {
    display: block;
    width: 86px;
    height: 21px;
    text-indent: -999px;
    overflow: hidden;
    background: url(/arquivos/sprite_epoca.png) no-repeat 0 -398px;
    position: relative;
    /* bottom: 0; */
    left: 50%;
    margin-left: -42px;
    opacity: 0;
    margin-top: 35px;
    filter: alpha(opacity=0);
}

.jcarousel-container .jcarousel-prev, .jcarousel-container .jcarousel-next {
    background: url("/arquivos/sprite_epoca.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 100px;
    position: absolute;
    top: 100px;
    width: 20px;
    z-index: 9;
}

.jcarousel-container .jcarousel-next {
    background-position: -22px -176px;
    right: -30px;
}

.jcarousel-container .jcarousel-prev {
    background-position: 1px -176px;
    left: -30px;
}

.busca-nao-encontrada, .carrega-produtos, .prod-sem-localstorage{
    display: none;
}
