@charset "utf-8";

*{ margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; -webkit-font-smoothing:antialiased;}
a { text-decoration: none; outline: none; transition: all .5s ease-out; -webkit-transition: all .5s ease-out; -moz-transition: all .5s ease-out; -o-transition: all .5s ease-out;}
a img{ border:0;}
li{ list-style: none;}

fieldset{ border:0; }

.clear{ clear: both;}

#ajaxBusy{ background: url(/arquivos/loading.gif) no-repeat center center #000; position: fixed; bottom: 0; right: 20px; width: 35px; height: 40px; text-indent: -9999px; overflow: hidden;}


label:hover .link-delete{ display: none!important;}


/*HEADER*/
#header{background-color: #000; height: 110px; margin-top: -20px;}
#header .center{width: 955px; height: 110px; margin: 0 auto;}
#header .center h1.logo{ width: 170px; height: 47px; float: left; margin-top: 30px;}
#header .center h1.logo a{ display: block; width: 170px; height: 47px;}
#header .center .box-desconto-e-frete{float: right; margin-top: 43px;}

/*FOOTER*/
#footer{width: 955px; border-top: 5px solid #000; margin: 0 auto; margin-top: 40px;}
#footer ul.selos{
    float: left;
    margin-top: 10px;
}
#footer ul.selos li{
    margin-top: 10px;
    background-image: url('/arquivos/sprite-botoes-checkout.png');
    background-repeat: no-repeat;
    float: left;
    width: 69px;
    height: 71px;
    margin-right: 10px;
}
#footer ul.selos li.digi{
    background-position: 0px -56px;
    width: 80px;
}
#footer ul.selos li.siteblindado{
    background-position: -104px -56px;
    width: 120px;
}
#footer ul.selos li.ra1000{
    background-position: -245px -56px;
    width: 100px;
}
#footer ul.selos li.agipec{
    background-position: -352px -56px;
}
#footer ul.selos li.ebit{
    background-position: -438px -53px;
}

#footer ul.bandeiras{
    float: right;
    margin-top: 25px;
}
#footer ul.bandeiras li{
    margin-top: 10px;
    background-image: url('/arquivos/sprite-botoes-checkout.png');
    background-repeat: no-repeat;
    float: left;
    width: 45px;
    height: 45px;
    margin-left: 5px;
}
#footer ul.bandeiras li.visa{
    background-position: 0px 0px;
}
#footer ul.bandeiras li.mastercard{
    background-position: -52px 0px;
}
#footer ul.bandeiras li.amex{
    background-position: -104px 0px;
}
#footer ul.bandeiras li.diners{
    background-position: -155px 0px;
}
#footer ul.bandeiras li.boleto{
    background-position: -205px 0px;
}
#footer ul.bandeiras li.bradesco{
    background-position: -256px 0px;
    display: none;
}


#footer div.vtex{
    background: none repeat scroll 0 0 #000000;
    float: left;
    margin-top: 10px;
    padding: 10px 20px;
    width: 915px;
}
#footer div.vtex div{
    background: url("/arquivos/sprite_epoca.png") no-repeat scroll 0 -151px rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 24px;
    margin-right: 10px;
    margin-top: 4px;
    overflow: hidden;
    text-indent: -99999px;
    width: 68px;
}


/*BOTÃ•ES*/
a#cart-to-orderform,
a#cart-to-orderform-disabled,
a#cart-choose-more-products,
button#cart-shipping-calculate,
button#cart-coupon-add,
button#btn-client-pre-email,
button#go-to-shipping,
a#orderform-minicart-to-cart,
.pull-right .box-step p.btn-submit-wrapper button.submit,
button#payment-data-submit,
a#print-bank-invoice,
a#order-print-bank-invoice-mini,
a#order-continue-shopping,
a#cart-choose-products{
    opacity: 0.80;
    -moz-opacity: 0.80;
    filter: alpha(opacity=80);
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    background-image: url('/arquivos/sprite-botoes-checkout.png')!important;
    border: none;
    border-radius: 0;
    text-indent: -999999px;
    background-repeat: no-repeat;
    padding: 0;
}
a#cart-to-orderform:hover,
a#cart-to-orderform-disabled:hover,
a#cart-choose-more-products:hover,
button#cart-shipping-calculate:hover,
button#cart-coupon-add:hover,
button#btn-client-pre-email:hover,
button#go-to-shipping:hover,
a#orderform-minicart-to-cart:hover,
.pull-right .box-step p.btn-submit-wrapper button.submit:hover,
button#payment-data-submit:hover,
a#print-bank-invoice:hover,
a#order-print-bank-invoice-mini:hover,
a#order-continue-shopping:hover,
a#cart-choose-products:hover{
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
a#cart-choose-products{
    background-position: -755px -71px;
    height: 34px;
    text-indent: -999999px;
    width: 206px;	
}
a#cart-to-orderform,
a#cart-to-orderform-disabled{
    width: 171px;
    height: 36px;
    margin-top: 22px;
    background-position: -175px -164px;
    float: right;
}
button#payment-data-submit{
    background-position: -438px -127px;
    float: right;
    height: 38px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 223px;
}
a#cart-choose-more-products{
    width: 171px;
    height: 36px;
    background-position: 0px -164px;
    display: block;
    float: left;
    margin-top: 22px;
    margin-right: 5px;
}
button#cart-shipping-calculate{
    width: 65px;
    height: 23px;
    background-position: 0px -137px;
}
button#cart-coupon-add{
    width: 65px;
    height: 23px;
    background-position: -70px -137px;
}
button#btn-client-pre-email,
button#go-to-shipping,
.pull-right .box-step p.btn-submit-wrapper button.submit{
    width: 115px;
    height: 33px;
    background-position: -175px -127px;
}
a#orderform-minicart-to-cart{
    background-position: -352px -178px;
    display: block;
    height: 22px;
    text-indent: -999999px;
    width: 171px;
    margin-top: 5px;
}
a#print-bank-invoice{
    background-position: -755px -129px;
    display: block;
    height: 34px;
    text-indent: -999999px;
    width: 206px;
}
a#order-print-bank-invoice-mini{
    background-position: -755px -106px;
    height: 22px;
    text-indent: -999999px;
    width: 133px;
}
a#order-continue-shopping{
    background-position: -755px -164px;
    display: block;
    height: 36px;
    text-indent: -999999px;
    width: 236px;
}

h1.hide,
h1.title{font-family: 'Armata',sans-serif; font-size: 20px; color: #848484; text-transform: lowercase; border-bottom: 1px solid #b2b2b2;background-image: url('/arquivos/site-blindado.jpg'); background-position: right; background-repeat: no-repeat;}
div.totalizers,
div.cart{border: 0;}
.checkout-container.row-fluid.cart-active{border-bottom: 1px solid #e6e6e6;}
.accordion-toggle span{text-transform: uppercase;}
.payment-security,
.steps-view,
.payment-group-item,
.step,
.accordion-group,
.payment-confirmation-wrap,
input#cart-coupon,
.alert,
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{border-radius: 0;}

.table.cart-items tbody tr.product-item{ height: 115px;}
.table.cart-items thead tr{border: 1px solid #ececec;}
.table.cart-items thead tr th{text-transform: uppercase; color: #272727; font-size: 12px;}
.table.cart-items td.product-price span.best-price a.discount{display: none!important;}
.table.cart-items .product-name a{color: #272727;}

.client-pre-email input{height: 37px;}
.mini-cart .cart-fixed h2{width: 182px; height: 23px; background-image: url('/arquivos/sprite-botoes-checkout.png')!important; background-position: -315px 0; text-indent: -9999999px;}
a#use-one-more-card{width: 215px;height:20px;background-image: url('/arquivos/sprite-botoes-checkout.png')!important; background-position: -530px -175px; text-indent: -9999999px; display: block;}
input#summary-postal-code,
input#cart-coupon{height: 11px}
.payment-group-list-btn a span.payment-group-item-text{width: 145px; height: 20px; text-indent: -9999999px; background-image: url('/arquivos/sprite-botoes-checkout.png')!important;}
.payment-group-list-btn a#payment-group-creditCardPaymentGroup span.payment-group-item-text{background-position: -510px -52px; margin-top: 5px;}
.payment-group-list-btn a#payment-group-bankInvoicePaymentGroup span.payment-group-item-text{background-position: -510px -90px;}
.payment-group-list-btn a.payment-group-item.active{margin-left: 5px;}
.payment-group-list-btn a.payment-group-item{height: 40px;}
div.brand span.brand-name{color: #575757; font-size: 10px;}
.step{border: 1px solid #e5e5e5;}
.accordion-toggle .link-box-edit{right: -5px;}
.accordion-toggle{font-size: 12px; color: #575757;font-weight: bold;}
.accordion-toggle-active{font-size: 14px; color: #575757;font-weight: bold;}
.alert-success{background-color: #f2dede;color: #d63737;border: 0;}
.alert-success h4{color: #d63737;}
.ordergroup{margin-top: 0px;}
.myorders-list .page-header{background-color: #e9ffc3;border: 0;}
.myorders-list .page-header h2{line-height: none;margin-left: 20px;}
.myorders-list .page-header h2 span{font-family: 'Armata',sans-serif; font-size: 14px;color: #4e724e;text-transform: uppercase;font-weight: bold;letter-spacing: -1px;}
.body-order-placed .order-details .row-fluid.top-row{background-color: #c5e3ff; margin-bottom: 20px;}
.body-order-placed .order-details .row-fluid.top-row div.span9{float: left;margin-left: 20px;}
.body-order-placed .order-details .row-fluid.top-row div.span9 h3{font-family: 'Armata',sans-serif; font-size: 14px;color: #0a4c8b;text-transform: uppercase;font-weight: bold;letter-spacing: -1px;}
.body-order-placed .order-details .row-fluid.top-row div.span9 p{font-size: 10px;}
.body-order-placed .order-info{border:1px solid #e5e5e5; padding: 10px;}
.body-order-placed hr{border: 0;}
.body-order-placed .page-header{padding: 0;margin-bottom: 10px;border: 0;}

.full-cart .totalizers tfoot td,
.full-cart .totalizers tfoot .monetary,
.mini-cart .table tfoot td,
.body-order-placed .order-info .general-info tfoot td.info,
.body-order-placed .order-info .general-info tfoot td.monetary{color: #c6168d;text-transform: uppercase;font-weight: bold;}

.body-cart .add-service{ background: #d145a4!important; color: #fff!important; border:none!important; text-shadow:none!important; border-radius: 0!important;}
.body-cart tr.item-service td{ background: url(/arquivos/line_embalagem_carrinho.png) repeat-x 0 8px; padding-top: 18px; }
.body-cart tr.item-service td.bundle-item-name{ background: url(/arquivos/seta_embalagem_carrinho.png) repeat-x 0 0 #dedede;}

.body-cart #cart-print,
.seller.muted{ display: none!important;}

.login .vtexIdUI-header{height: 20px; width: 300px;}

.body-order-form #footer{position: relative; margin-top: 50px;}
.body-order-form #footer .contrato_venda{display: block!important; position: absolute; top: -40px; right: 10px;}

fieldset.coupon-fieldset > div{
    display: block!important;
}
p.coupon-data{
    display: none!important;
}

.body-order-placed .orderplaced-error-loading + a{display: none;}

.step .select label {
    background-image: url("/arquivos/select_parcelamento.jpg");
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    height: 30px;
    width: 289px;
}

.box-installment p.select.required .input-large,
.card-installments select {
    border: 1px solid #cbcbcb;
    border-top: 0;
    width: 289px!important;
}