meta.foundation-version {
    font-family: "/5.2.2/"; }

meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0em; }

meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em; }

meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em; }

meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em; }

meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em; }

meta.foundation-data-attribute-namespace {
    font-family: false; }

html, body {
    height: 100%; }

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html,
body {
    font-size: 100%; }

body {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default; }

a:hover {
    cursor: pointer; }

img {
    max-width: 100%;
    height: auto; }

img {
    -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important; }

.left {
    float: left !important; }

.right {
    float: right !important; }

.clearfix {
    *zoom: 1; }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
.clearfix:after {
    clear: both; }

.hide {
    display: none; }

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

img {
    display: inline-block;
    vertical-align: middle; }

textarea {
    height: auto;
    min-height: 50px; }

select {
    width: 100%; }

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    *zoom: 1; }
.row:before, .row:after {
    content: " ";
    display: table; }
.row:after {
    clear: both; }
.row.collapse > .column,
.row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
.row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
.row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
.row .row:before, .row .row:after {
    content: " ";
    display: table; }
.row .row:after {
    clear: both; }
.row .row.collapse {
    width: auto;
    margin: 0;
    max-width: none;
    *zoom: 1; }
.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table; }
.row .row.collapse:after {
    clear: both; }

.column,
.columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left; }

@media only screen {
    .small-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .small-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .small-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .small-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .small-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .small-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .small-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .small-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .small-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .small-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .small-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .small-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .small-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .small-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .small-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .small-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .small-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .small-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .small-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .small-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .small-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .small-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .small-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .small-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .small-1 {
        width: 8.33333%; }

    .small-2 {
        width: 16.66667%; }

    .small-3 {
        width: 25%; }

    .small-4 {
        width: 33.33333%; }

    .small-5 {
        width: 41.66667%; }

    .small-6 {
        width: 50%; }

    .small-7 {
        width: 58.33333%; }

    .small-8 {
        width: 66.66667%; }

    .small-9 {
        width: 75%; }

    .small-10 {
        width: 83.33333%; }

    .small-11 {
        width: 91.66667%; }

    .small-12 {
        width: 100%; }

    [class*="column"] + [class*="column"]:last-child {
        float: right; }

    [class*="column"] + [class*="column"].end {
        float: left; }

    .small-offset-0 {
        margin-left: 0% !important; }

    .small-offset-1 {
        margin-left: 8.33333% !important; }

    .small-offset-2 {
        margin-left: 16.66667% !important; }

    .small-offset-3 {
        margin-left: 25% !important; }

    .small-offset-4 {
        margin-left: 33.33333% !important; }

    .small-offset-5 {
        margin-left: 41.66667% !important; }

    .small-offset-6 {
        margin-left: 50% !important; }

    .small-offset-7 {
        margin-left: 58.33333% !important; }

    .small-offset-8 {
        margin-left: 66.66667% !important; }

    .small-offset-9 {
        margin-left: 75% !important; }

    .small-offset-10 {
        margin-left: 83.33333% !important; }

    .small-offset-11 {
        margin-left: 91.66667% !important; }

    .small-reset-order,
    .small-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.small-centered,
    .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.small-uncentered,
    .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important; }

    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right; } }
@media only screen and (min-width: 40.063em) {
    .medium-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .medium-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .medium-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .medium-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .medium-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .medium-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .medium-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .medium-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .medium-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .medium-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .medium-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .medium-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .medium-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .medium-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .medium-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .medium-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .medium-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .medium-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .medium-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .medium-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .medium-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .medium-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .medium-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .medium-1 {
        width: 8.33333%; }

    .medium-2 {
        width: 16.66667%; }

    .medium-3 {
        width: 25%; }

    .medium-4 {
        width: 33.33333%; }

    .medium-5 {
        width: 41.66667%; }

    .medium-6 {
        width: 50%; }

    .medium-7 {
        width: 58.33333%; }

    .medium-8 {
        width: 66.66667%; }

    .medium-9 {
        width: 75%; }

    .medium-10 {
        width: 83.33333%; }

    .medium-11 {
        width: 91.66667%; }

    .medium-12 {
        width: 100%; }

    [class*="column"] + [class*="column"]:last-child {
        float: right; }

    [class*="column"] + [class*="column"].end {
        float: left; }

    .medium-offset-0 {
        margin-left: 0% !important; }

    .medium-offset-1 {
        margin-left: 8.33333% !important; }

    .medium-offset-2 {
        margin-left: 16.66667% !important; }

    .medium-offset-3 {
        margin-left: 25% !important; }

    .medium-offset-4 {
        margin-left: 33.33333% !important; }

    .medium-offset-5 {
        margin-left: 41.66667% !important; }

    .medium-offset-6 {
        margin-left: 50% !important; }

    .medium-offset-7 {
        margin-left: 58.33333% !important; }

    .medium-offset-8 {
        margin-left: 66.66667% !important; }

    .medium-offset-9 {
        margin-left: 75% !important; }

    .medium-offset-10 {
        margin-left: 83.33333% !important; }

    .medium-offset-11 {
        margin-left: 91.66667% !important; }

    .medium-reset-order,
    .medium-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none; }

    .column.medium-uncentered,
    .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important; }

    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right; }

    .push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; } }
@media only screen and (min-width: 64.063em) {
    .large-push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .large-pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .large-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .large-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .large-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .large-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .large-push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .large-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .large-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .large-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .large-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .large-push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .large-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .large-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .large-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .large-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .large-push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .large-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .large-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .large-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .large-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; }

    .column,
    .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left; }

    .large-1 {
        width: 8.33333%; }

    .large-2 {
        width: 16.66667%; }

    .large-3 {
        width: 25%; }

    .large-4 {
        width: 33.33333%; }

    .large-5 {
        width: 41.66667%; }

    .large-6 {
        width: 50%; }

    .large-7 {
        width: 58.33333%; }

    .large-8 {
        width: 66.66667%; }

    .large-9 {
        width: 75%; }

    .large-10 {
        width: 83.33333%; }

    .large-11 {
        width: 91.66667%; }

    .large-12 {
        width: 100%; }

    [class*="column"] + [class*="column"]:last-child {
        float: right; }

    [class*="column"] + [class*="column"].end {
        float: left; }

    .large-offset-0 {
        margin-left: 0% !important; }

    .large-offset-1 {
        margin-left: 8.33333% !important; }

    .large-offset-2 {
        margin-left: 16.66667% !important; }

    .large-offset-3 {
        margin-left: 25% !important; }

    .large-offset-4 {
        margin-left: 33.33333% !important; }

    .large-offset-5 {
        margin-left: 41.66667% !important; }

    .large-offset-6 {
        margin-left: 50% !important; }

    .large-offset-7 {
        margin-left: 58.33333% !important; }

    .large-offset-8 {
        margin-left: 66.66667% !important; }

    .large-offset-9 {
        margin-left: 75% !important; }

    .large-offset-10 {
        margin-left: 83.33333% !important; }

    .large-offset-11 {
        margin-left: 91.66667% !important; }

    .large-reset-order,
    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left; }

    .column.large-centered,
    .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important; }

    .column.large-uncentered,
    .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important; }

    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right; }

    .push-0 {
        position: relative;
        left: 0%;
        right: auto; }

    .pull-0 {
        position: relative;
        right: 0%;
        left: auto; }

    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto; }

    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto; }

    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto; }

    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto; }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto; }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto; }

    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto; }

    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto; }

    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto; }

    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto; }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto; }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto; }

    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto; }

    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto; }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto; }

    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto; }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto; }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto; }

    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto; }

    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto; }

    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto; }

    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto; } }
button, .button {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #36afcf;
    border-color: #288ea9;
    color: white;
    transition: background-color 300ms ease-out; }
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #288ea9; }
button:hover, button:focus, .button:hover, .button:focus {
    color: white; }
button.secondary, .button.secondary {
    background-color: #00b232;
    border-color: #008e28;
    color: white; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: #008e28; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    color: white; }
button.success, .button.success {
    background-color: #f2f2f2;
    border-color: #c2c2c2;
    color: #333333; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: #c2c2c2; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    color: #333333; }
button.alert, .button.alert {
    background-color: #ff0002;
    border-color: #cc0002;
    color: white; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    background-color: #cc0002; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    color: white; }
button.large, .button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem; }
button.small, .button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem; }
button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem; }
button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
button.radius, .button.radius {
    border-radius: 3px; }
button.round, .button.round {
    border-radius: 1000px; }
button.disabled, button[disabled], .button.disabled, .button[disabled] {
    background-color: #36afcf;
    border-color: #288ea9;
    color: white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color: #288ea9; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    color: white; }
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background-color: #36afcf; }
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
    background-color: #00b232;
    border-color: #008e28;
    color: white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #008e28; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    color: white; }
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #00b232; }
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
    background-color: #f2f2f2;
    border-color: #c2c2c2;
    color: #333333;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    background-color: #c2c2c2; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    color: #333333; }
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
    background-color: #f2f2f2; }
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
    background-color: #ff0002;
    border-color: #cc0002;
    color: white;
    cursor: default;
    opacity: 0.7;
    box-shadow: none; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    background-color: #cc0002; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    color: white; }
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
    background-color: #ff0002; }

@media only screen and (min-width: 40.063em) {
    button, .button {
        display: inline-block; } }
meta.foundation-mq-topbar {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em; }

/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid {
    width: 100%; }
.contain-to-grid .top-bar {
    margin-bottom: 0; }

.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99; }
.fixed.expanded:not(.top-bar) {
    overflow-y: auto;
    height: auto;
    width: 100%;
    max-height: 100%; }
.fixed.expanded:not(.top-bar) .title-area {
    position: fixed;
    width: 100%;
    z-index: 99; }
.fixed.expanded:not(.top-bar) .top-bar-section {
    z-index: 98;
    margin-top: 45px;
}
.top-bar {
    overflow: hidden;
    height: 47px;
    line-height: 45px;
    position: relative;
    margin-bottom: 0; }
.top-bar ul {
    margin-bottom: 0;
    list-style: none; }
.top-bar .row {
    max-width: none; }
.top-bar form,
.top-bar input {
    margin-bottom: 0; }
.top-bar input {
    height: auto;
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: 0.75rem; }
.top-bar .button, .top-bar button {
    padding-top: .45rem;
    padding-bottom: .35rem;
    margin-bottom: 0;
    font-size: 0.75rem; }
.top-bar .title-area {
    position: relative;
    padding: 0;
    margin: 0; }
.top-bar .name {
    margin: 0;
    height: 45px;
    line-height: 45px;
}
.top-bar .name h1 {
    margin: 0; }
.top-bar .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0; }
.top-bar .toggle-topbar a {
    color: white;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 0 15px;
    height: 45px;
    line-height: 45px; }
.top-bar .toggle-topbar.menu-icon {
    right: 15px;
    padding-left: 40px; }
.top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    padding: 0;
    padding-right: 25px;
    color: white;
    position: relative; }
.top-bar.expanded {
    height: auto;
    background: transparent; }
.top-bar.expanded .toggle-topbar a {
    color: #888888; }
.top-bar.expanded .toggle-topbar a::after {
    box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888; }

.top-bar-section {
    left: 0;
    position: relative;
    width: auto;
    transition: left 300ms ease-out; }
.top-bar-section ul {
    width: 100%;
    height: auto;
    display: block;
    font-size: 16px;
    margin: 0; }
.top-bar-section .divider,
.top-bar-section [role="separator"] {
    border-top: solid 1px #1a1a1a;
    clear: both;
    height: 1px;
    width: 100%; }
.top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: white;
    padding: 4px 0;
    padding-left: 0;
    font-size: 1.125em;
    font-weight: normal;
    text-transform: uppercase; }
.top-bar-section ul li > a.button {
    font-size: 1em;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #36afcf;
    border-color: #288ea9;
    color: white; }
.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
    background-color: #288ea9; }
.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
    color: white; }
.top-bar-section ul li > a.button.secondary {
    background-color: #00b232;
    border-color: #008e28;
    color: white; }
.top-bar-section ul li > a.button.secondary:hover, .top-bar-section ul li > a.button.secondary:focus {
    background-color: #008e28; }
.top-bar-section ul li > a.button.secondary:hover, .top-bar-section ul li > a.button.secondary:focus {
    color: white; }
.top-bar-section ul li > a.button.success {
    background-color: #f2f2f2;
    border-color: #c2c2c2;
    color: #333333; }
.top-bar-section ul li > a.button.success:hover, .top-bar-section ul li > a.button.success:focus {
    background-color: #c2c2c2; }
.top-bar-section ul li > a.button.success:hover, .top-bar-section ul li > a.button.success:focus {
    color: #333333; }
.top-bar-section ul li > a.button.alert {
    background-color: #ff0002;
    border-color: #cc0002;
    color: white; }
.top-bar-section ul li > a.button.alert:hover, .top-bar-section ul li > a.button.alert:focus {
    background-color: #cc0002; }
.top-bar-section ul li > a.button.alert:hover, .top-bar-section ul li > a.button.alert:focus {
    color: white; }
.top-bar-section ul li > button {
    font-size: 0.8125rem;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #36afcf;
    border-color: #288ea9;
    color: white; }
.top-bar-section ul li > button:hover, .top-bar-section ul li > button:focus {
    background-color: #288ea9; }
.top-bar-section ul li > button:hover, .top-bar-section ul li > button:focus {
    color: white; }
.top-bar-section ul li > button.secondary {
    background-color: #00b232;
    border-color: #008e28;
    color: white; }
.top-bar-section ul li > button.secondary:hover, .top-bar-section ul li > button.secondary:focus {
    background-color: #008e28; }
.top-bar-section ul li > button.secondary:hover, .top-bar-section ul li > button.secondary:focus {
    color: white; }
.top-bar-section ul li > button.success {
    background-color: #f2f2f2;
    border-color: #c2c2c2;
    color: #333333; }
.top-bar-section ul li > button.success:hover, .top-bar-section ul li > button.success:focus {
    background-color: #c2c2c2; }
.top-bar-section ul li > button.success:hover, .top-bar-section ul li > button.success:focus {
    color: #333333; }
.top-bar-section ul li > button.alert {
    background-color: #ff0002;
    border-color: #cc0002;
    color: white; }
.top-bar-section ul li > button.alert:hover, .top-bar-section ul li > button.alert:focus {
    background-color: #cc0002; }
.top-bar-section ul li > button.alert:hover, .top-bar-section ul li > button.alert:focus {
    color: white; }
.top-bar-section ul li:hover:not(.has-form) > a {
    color: white; }
.top-bar-section ul li.active > a {
    color: white; }
.top-bar-section ul li.active > a:hover {
    color: white; }
.top-bar-section .has-form {
    padding: 15px; }
.top-bar-section .has-dropdown {
    position: relative; }
.top-bar-section .has-dropdown > a:after {
    content: "\e83e";
    display: block;
    font-family: 'fontello', serif;
    margin-right: 15px;
    position: absolute;
    top: 0;
    right: 0; }
.top-bar-section .has-dropdown.moved {
    position: static; }
.top-bar-section .has-dropdown.moved > .dropdown {
    display: block;
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important;
    width: 100%; }
.top-bar-section .has-dropdown.moved > a:after {
    display: none; }
.top-bar-section .dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99;
    display: block;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
.top-bar-section .dropdown li {
    width: 100%;
    height: auto; }
.top-bar-section .dropdown li a {
    font-weight: normal;
    padding: 0 15px; }
.top-bar-section .dropdown li a.parent-link {
    font-weight: normal; }
.top-bar-section .dropdown li.title h5 {
    margin-bottom: 0; }
.top-bar-section .dropdown li.title h5 a {
    color: white;
    display: block; }
.top-bar-section .dropdown li.has-form {
    padding: 8px 15px; }
.top-bar-section .dropdown li .button, .top-bar-section .dropdown li button {
    top: auto; }
.top-bar-section .dropdown label {
    padding: 8px 15px 2px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #777777;
    font-weight: bold;
    font-size: 0.625rem; }

.js-generated {
    display: block; }

@media only screen and (min-width: 64.063em) {
    .top-bar {
        background: #333333;
        *zoom: 1;
        overflow: visible; }
    .top-bar:before, .top-bar:after {
        content: " ";
        display: table; }
    .top-bar:after {
        clear: both; }
    .top-bar .toggle-topbar {
        display: none; }
    .top-bar .title-area {
        float: left; }
    .top-bar .name h1 a {
        width: auto; }
    .top-bar input,
    .top-bar .button,
    .top-bar button {
        font-size: 0.875rem;
        position: relative;
        top: 7px; }
    .top-bar.expanded {
        background: #333333; }

    .contain-to-grid .top-bar {
        max-width: 62.5em;
        margin: 0 auto;
        margin-bottom: 0; }

    .top-bar-section {
        transition: none 0 0;
        left: 0 !important; }
    .top-bar-section ul {
        width: auto;
        height: auto !important;
        display: inline; }
    .top-bar-section ul li {
        float: left; }
    .top-bar-section ul li .js-generated {
        display: none; }
    .top-bar-section li.hover > a:not(.button) {
        background: #272727;
        color: white; }
    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0 15px;
        line-height: 45px; }
    .top-bar-section li:not(.has-form) a:not(.button):hover { }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
        padding: 0 15px;
        line-height: 45px; }
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {  }
    .top-bar-section .has-dropdown > a {
        padding-right: 35px !important; }
    .top-bar-section .has-dropdown > a:after {
        content: "\e842";
        font-family: 'fontello';
        display: block;
        width: 0;
        font-size: 12px;
        height: 0;
        border: none;
        top:0;
        margin-right: 25px;
        margin-top: 0;
         }
    .top-bar-section .has-dropdown.moved {
        position: relative; }
    .top-bar-section .has-dropdown.moved > .dropdown {
        display: block;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px); }
    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        position: absolute !important; }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
        border: none;
        content: "\e83e";
        font-family: 'fontello';
        top: 16px;
        margin-top: -1px;
        right: 0;
        margin-right: 15px;
        line-height: 1.2; }
    .top-bar-section .dropdown {
        left: 0;
        top: auto;
        background: transparent;
        min-width: 100%; }
    .top-bar-section .dropdown li a {
        color: white;
        line-height: 1;
        white-space: nowrap;
        padding: 12px 15px; }
    .top-bar-section .dropdown li:not(.has-form) a:not(.button) {
        font-size: 0.875em;
        color: white; }
    .top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
        color: white; }
    .top-bar-section .dropdown li label {
        white-space: nowrap; }
    .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0; }
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
        border-bottom: none;
        border-top: none;
        border-right: solid 1px #4e4e4e;
        clear: none;
        height: 45px;
        width: 0; }
    .top-bar-section .has-form {
        background: #333333;
        padding: 0 15px;
        height: 45px; }
    .top-bar-section .right li .dropdown {
        left: auto;
        right: 0; }
    .top-bar-section .right li .dropdown li .dropdown {
        right: 100%; }
    .top-bar-section .left li .dropdown {
        right: auto;
        left: 0; }
    .top-bar-section .left li .dropdown li .dropdown {
        left: 100%; }

    .no-js .top-bar-section ul li:hover > a {
        color: white; }
    .no-js .top-bar-section ul li:active > a {
        background: #36afcf;
        color: white; }
    .no-js .top-bar-section .has-dropdown:hover > .dropdown {
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        position: absolute !important; } }
.inline-list {
    margin: 0 auto 1.0625rem auto;
    margin-left: -1.375rem;
    margin-right: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
.inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.125em;
    display: block; }
.inline-list > li > * {
    display: block; }

.tabs {
    *zoom: 1;
    margin-bottom: 0 !important; }
.tabs:before, .tabs:after {
    content: " ";
    display: table; }
.tabs:after {
    clear: both; }
.tabs dd {
    position: relative;
    margin-bottom: 0 !important;
    float: left; }
.tabs dd > a {
    display: block;
    background: #efefef;
    color: #222222;
    padding: 1rem 2rem;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem; }
.tabs dd > a:hover {
    background: #e1e1e1; }
.tabs dd.active a {
    background: white; }
.tabs.radius dd:first-child a {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
.tabs.radius dd:last-child a {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
.tabs.vertical dd {
    position: inherit;
    float: none;
    display: block;
    top: auto; }

.tabs-content {
    *zoom: 1;
    margin-bottom: 1.5rem;
    width: 100%; }
.tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
.tabs-content:after {
    clear: both; }
.tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375em 0;
    width: 100%; }
.tabs-content > .content.active {
    display: block;
    float: none; }
.tabs-content > .content.contained {
    padding: 0.9375em; }
.tabs-content.vertical {
    display: block; }
.tabs-content.vertical > .content {
    padding: 0 0.9375em; }

@media only screen and (min-width: 40.063em) {
    .tabs.vertical {
        width: 20%;
        float: left;
        margin-bottom: 1.25rem; }

    .tabs-content.vertical {
        width: 80%;
        float: left;
        margin-left: -1px; } }
.no-js .tabs-content > .content {
    display: block;
    float: none; }
.off-canvas-wrap {
    -webkit-backface-visibility: hidden;
    position: relative;
    width: 100%;
    overflow-x: hidden; }
.off-canvas-wrap.move-right, .off-canvas-wrap.move-left {
    height: 100%; }

.inner-wrap {
    -webkit-backface-visibility: hidden;
    position: relative;
    width: 100%;
    *zoom: 1;
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -ms-transition: -ms-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease; }
.inner-wrap:before, .inner-wrap:after {
    content: " ";
    display: table; }
.inner-wrap:after {
    clear: both; }

.tab-bar {
    -webkit-backface-visibility: hidden;
    background: #fff;
    color: #222;
    height: 2.8125em;
    line-height: 2.8125em;
    position: relative; }
.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6 {
    color: #222;
    font-weight: bold;
    line-height: 2.8125em;
    margin: 0; }
.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4 {
    font-size: 1.719em; }

.left-small {
    width: 2.8125em;
    height: 2.8125em;
    position: absolute;
    top: 0;
    border-right: solid 1px #1a1a1a;
    left: 0; }

.right-small {
    width: 2.8125em;
    height: 2.8125em;
    position: absolute;
    top: 0;
    border-left: solid 1px #1a1a1a;
    right: 0; }

.tab-bar-section {
    padding: 0 0.625em;
    position: absolute;
    text-align: center;
    height: 2.8125em;
    top: 0; }
@media only screen and (min-width: 48em) {
    .tab-bar-section {
        text-align: left; } }
.tab-bar-section.left {
    left: 0;
    right: 2.8125em; }
.tab-bar-section.right {
    left: 2.8125em;
    right: 0; }
.tab-bar-section.middle {
    left: 2.8125em;
    right: 2.8125em; }

.tab-bar .menu-icon {
    text-indent: 2.1875em;
    width: 2.8125em;
    height: 2.8125em;
    display: block;
    line-height: 2.0625em;
    padding: 0;
    color: #222;
    position: relative; }
.tab-bar .menu-icon span {
    position: absolute;
    display: block;
    height: 0;
    width: 1em;
    top: 1.719em;
    left: 0.90625em;
    -webkit-box-shadow: 1px 0px 1px 1px #222, 1px 7px 1px 1px #222, 1px 14px 1px 1px #222;
    box-shadow: 0 0px 0 1px #222, 0 7px 0 1px #222, 0 14px 0 1px #222; }
.tab-bar .menu-icon:hover span {
    -webkit-box-shadow: 1px 0px 1px 1px #b3b3b3, 1px 7px 1px 1px #b3b3b3, 1px 14px 1px 1px #b3b3b3;
    box-shadow: 0 0px 0 1px #b3b3b3, 0 7px 0 1px #b3b3b3, 0 14px 0 1px #b3b3b3; }

.left-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    width: 22em;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    background: #fff;
    z-index: 1001;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0; }
.left-off-canvas-menu * {
    -webkit-backface-visibility: hidden; }

.right-off-canvas-menu {
    -webkit-backface-visibility: hidden;
    width: 22em;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    background: #fff;
    z-index: 1001;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    right: 0; }
.right-off-canvas-menu * {
    -webkit-backface-visibility: hidden; }

ul.off-canvas-list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
ul.off-canvas-list li label {
    padding: 0.3em 1.719em;
    color: #999999;
    text-transform: uppercase;
    font-weight: bold;
    background: #404040;
    border-top: 1px solid #5e5e5e;
    border-bottom: none;
    margin: 0; }
ul.off-canvas-list li a {
    display: block;
    padding: 0.657em 0;
    color: rgba(255, 255, 255, 0.7);
    transition: background 300ms ease; }
.move-right > .inner-wrap {
    -webkit-transform: translate3d(22em, 0, 0);
    -moz-transform: translate3d(22em, 0, 0);
    -ms-transform: translate3d(22em, 0, 0);
    -o-transform: translate3d(22em, 0, 0);
    transform: translate3d(22em, 0, 0); }
.move-right .exit-off-canvas {
    -webkit-backface-visibility: hidden;
    transition: background 300ms ease;
    cursor: pointer;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
@media only screen and (min-width: 48em) {
    .move-right .exit-off-canvas:hover {
        background: rgba(255, 255, 255, 0.05); } }

.move-left > .inner-wrap {
    -webkit-transform: translate3d(-22em, 0, 0);
    -moz-transform: translate3d(-22em, 0, 0);
    -ms-transform: translate3d(-22em, 0, 0);
    -o-transform: translate3d(-22em, 0, 0);
    transform: translate3d(-22em, 0, 0); }
.move-left .exit-off-canvas {
    -webkit-backface-visibility: hidden;
    transition: background 300ms ease;
    cursor: pointer;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
@media only screen and (min-width: 48em) {
    .move-left .exit-off-canvas:hover {
        background: rgba(255, 255, 255, 0.05); } }

.csstransforms.no-csstransforms3d .left-off-canvas-menu {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
.csstransforms.no-csstransforms3d .right-off-canvas-menu {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
.csstransforms.no-csstransforms3d .move-left > .inner-wrap {
    -webkit-transform: translate(-22em, 0);
    -moz-transform: translate(-22em, 0);
    -ms-transform: translate(-22em, 0);
    -o-transform: translate(-22em, 0);
    transform: translate(-22em, 0); }
.csstransforms.no-csstransforms3d .move-right > .inner-wrap {
    -webkit-transform: translate(22em, 0);
    -moz-transform: translate(22em, 0);
    -ms-transform: translate(22em, 0);
    -o-transform: translate(22em, 0);
    transform: translate(22em, 0); }

.no-csstransforms .left-off-canvas-menu {
    left: -22em; }
.no-csstransforms .right-off-canvas-menu {
    right: -22em; }
.no-csstransforms .move-left > .inner-wrap {
    right: 22em; }
.no-csstransforms .move-right > .inner-wrap {
    left: 22em; }
table {
    background: white;
    margin-bottom: 1.25rem;
    border: solid 1px #dddddd; }
table thead,
table tfoot {
    background: whitesmoke; }
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #222222;
    text-align: left; }
table tr th,
table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222; }
table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9; }
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
    display: table-cell;
    line-height: 1.125rem; }

.flex-video {
    position: relative;
    padding-top: 1.5625rem;
    padding-bottom: 67.5%;
    height: 0;
    overflow: hidden; }
.flex-video.widescreen {
    padding-bottom: 56.34%; }
.flex-video.vimeo {
    padding-top: 0; }
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* small displays */
@media only screen {
    .show-for-small-only, .show-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up {
        display: inherit !important; }

    .hide-for-small-only, .hide-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up {
        display: none !important; }

    table.show-for-small-only, table.show-for-small-up, table.show-for-small, table.show-for-small-down, table.hide-for-medium-only, table.hide-for-medium-up, table.hide-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up {
        display: table; }

    thead.show-for-small-only, thead.show-for-small-up, thead.show-for-small, thead.show-for-small-down, thead.hide-for-medium-only, thead.hide-for-medium-up, thead.hide-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up {
        display: table-header-group !important; }

    tbody.show-for-small-only, tbody.show-for-small-up, tbody.show-for-small, tbody.show-for-small-down, tbody.hide-for-medium-only, tbody.hide-for-medium-up, tbody.hide-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up {
        display: table-row-group !important; }

    tr.show-for-small-only, tr.show-for-small-up, tr.show-for-small, tr.show-for-small-down, tr.hide-for-medium-only, tr.hide-for-medium-up, tr.hide-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up {
        display: table-row !important; }

    th.show-for-small-only, td.show-for-small-only, th.show-for-small-up, td.show-for-small-up, th.show-for-small, td.show-for-small, th.show-for-small-down, td.show-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.hide-for-medium-up, td.hide-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up {
        display: table-cell !important; } }
/* medium displays */
@media only screen and (min-width: 40.063em) {
    .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up {
        display: inherit !important; }

    .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up {
        display: none !important; }

    table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.show-for-medium-only, table.show-for-medium-up, table.show-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up {
        display: table; }

    thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.show-for-medium-only, thead.show-for-medium-up, thead.show-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up {
        display: table-header-group !important; }

    tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.show-for-medium-only, tbody.show-for-medium-up, tbody.show-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up {
        display: table-row-group !important; }

    tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.show-for-medium-only, tr.show-for-medium-up, tr.show-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up {
        display: table-row !important; }

    th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.show-for-medium-only, td.show-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.show-for-medium, td.show-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up {
        display: table-cell !important; } }
/* large displays */
@media only screen and (min-width: 64.063em) {
    .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up {
        display: inherit !important; }

    .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up {
        display: none !important; }

    table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.show-for-large-only, table.show-for-large-up, table.show-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up {
        display: table; }

    thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.show-for-large-only, thead.show-for-large-up, thead.show-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up {
        display: table-header-group !important; }

    tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.show-for-large-only, tbody.show-for-large-up, tbody.show-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up {
        display: table-row-group !important; }

    tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.show-for-large-only, tr.show-for-large-up, tr.show-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up {
        display: table-row !important; }

    th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.show-for-large-only, td.show-for-large-only, th.show-for-large-up, td.show-for-large-up, th.show-for-large, td.show-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up {
        display: table-cell !important; } }
/* xlarge displays */
@media only screen and (min-width: 90.063em) {
    .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up {
        display: inherit !important; }

    .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up {
        display: none !important; }

    table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.show-for-xlarge-only, table.show-for-xlarge-up, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up {
        display: table; }

    thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.show-for-xlarge-only, thead.show-for-xlarge-up, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up {
        display: table-header-group !important; }

    tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.show-for-xlarge-only, tbody.show-for-xlarge-up, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up {
        display: table-row-group !important; }

    tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.show-for-xlarge-only, tr.show-for-xlarge-up, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up {
        display: table-row !important; }

    th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.show-for-xlarge-only, td.show-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up {
        display: table-cell !important; } }
/* xxlarge displays */
@media only screen and (min-width: 120.063em) {
    .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .hide-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up {
        display: inherit !important; }

    .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .show-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up {
        display: none !important; }

    table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xxlarge-only, table.show-for-xxlarge-up {
        display: table; }

    thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xxlarge-only, thead.show-for-xxlarge-up {
        display: table-header-group !important; }

    tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xxlarge-only, tbody.show-for-xxlarge-up {
        display: table-row-group !important; }

    tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xxlarge-only, tr.show-for-xxlarge-up {
        display: table-row !important; }

    th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.show-for-xxlarge-only, td.show-for-xxlarge-only, th.show-for-xxlarge-up, td.show-for-xxlarge-up {
        display: table-cell !important; } }
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
    display: inherit !important; }

.hide-for-landscape,
.show-for-portrait {
    display: none !important; }

/* Specific visibility for tables */
table.hide-for-landscape, table.show-for-portrait {
    display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
    display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
    display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
    display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
    display: table-cell !important; }

@media only screen and (orientation: landscape) {
    .show-for-landscape,
    .hide-for-portrait {
        display: inherit !important; }

    .hide-for-landscape,
    .show-for-portrait {
        display: none !important; }

    /* Specific visibility for tables */
    table.show-for-landscape, table.hide-for-portrait {
        display: table; }

    thead.show-for-landscape, thead.hide-for-portrait {
        display: table-header-group !important; }

    tbody.show-for-landscape, tbody.hide-for-portrait {
        display: table-row-group !important; }

    tr.show-for-landscape, tr.hide-for-portrait {
        display: table-row !important; }

    td.show-for-landscape, td.hide-for-portrait,
    th.show-for-landscape,
    th.hide-for-portrait {
        display: table-cell !important; } }
@media only screen and (orientation: portrait) {
    .show-for-portrait,
    .hide-for-landscape {
        display: inherit !important; }

    .hide-for-portrait,
    .show-for-landscape {
        display: none !important; }

    /* Specific visibility for tables */
    table.show-for-portrait, table.hide-for-landscape {
        display: table; }

    thead.show-for-portrait, thead.hide-for-landscape {
        display: table-header-group !important; }

    tbody.show-for-portrait, tbody.hide-for-landscape {
        display: table-row-group !important; }

    tr.show-for-portrait, tr.hide-for-landscape {
        display: table-row !important; }

    td.show-for-portrait, td.hide-for-landscape,
    th.show-for-portrait,
    th.hide-for-landscape {
        display: table-cell !important; } }
/* Touch-enabled device targeting */
.show-for-touch {
    display: none !important; }

.hide-for-touch {
    display: inherit !important; }

.touch .show-for-touch {
    display: inherit !important; }

.touch .hide-for-touch {
    display: none !important; }

/* Specific visibility for tables */
table.hide-for-touch {
    display: table; }

.touch table.show-for-touch {
    display: table; }

thead.hide-for-touch {
    display: table-header-group !important; }

.touch thead.show-for-touch {
    display: table-header-group !important; }

tbody.hide-for-touch {
    display: table-row-group !important; }

.touch tbody.show-for-touch {
    display: table-row-group !important; }

tr.hide-for-touch {
    display: table-row !important; }

.touch tr.show-for-touch {
    display: table-row !important; }

td.hide-for-touch {
    display: table-cell !important; }

.touch td.show-for-touch {
    display: table-cell !important; }

th.hide-for-touch {
    display: table-cell !important; }

.touch th.show-for-touch {
    display: table-cell !important; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}