h1, h2, h3, h4, h6, .grid-item .entry-title,.progress_bar .rating_label ,.widget .tabs dd > a {
    text-transform: none !important;
}
#footer-top .text-logo h4 {
    font-size: 0.657em;
}
.text-logo h4, .slide-row .is-hover h2 {
    font-size: 0.875em;
}
h6, h2.section-title, .widget .tabs dd > a  {
    font-size: 0.938em;
}
.ticker-title h6 {
    padding-top: 1.125em;
}
@media only screen and (min-width: 48em) {
    .large-slide .is-hover h2, .slide-row .large-slide .is-hover h2 {
        font-size: 1.375em;
    }
    .slide-row .is-hover h2  {
        font-size: 1em;
    }
}