.dropdown-wrapper, .widget_calendar thead>tr>th, .entry-header .total-score, .post-image, .color, .masonry .color .icon-single, .nav > li > .sub-menu, .grid-item .item-icon, .colorful, table#wp-calendar td#today, .owl-theme .owl-dots .owl-dot.active span, .fn:hover, .colorful .top-bar-section .dropdown li a, .colorful .entry-date, .sidebar-icon, .postfix, .postfix:hover, .postfix:focus, .author-meta .fn, .no-image, .about-author.colorful {
    background-color:#e54e4f;
}
a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .widget ul li a:hover, .filter:hover, .blog-grid .format a:hover, h2.section-title.color a:hover, .text-bg h3 a:hover, ul#recentcomments li a.url:hover, p.title-text a:hover, .dark table#wp-calendar td a:hover, .side-nav li a:hover, .rating-bg .total-score, ul.newsticker a i, #footer-bottom ul li a:hover, .tabs dd.active a, .dark .tabs dd.active a, .page-numbers li.current a, .page-numbers li.current a:hover, .page-numbers li.current a:focus, .page-numbers li span:hover a,.page-numbers li span a:focus, .page-numbers li span.current, .entry-date a:hover, .dark .tagcloud a:hover, .star-rating span, a:hover, a:focus, .grid-item h2 a:hover, .dark p.title-text a:hover, .dark table#wp-calendar td a, .dark a.gray-link:hover, .dark h4.entry-title a:hover, ul.off-canvas-list li a:hover, .dark ul.off-canvas-list li ul li a:hover, .comment .comment-date a:hover, input#submit:hover, input#submit:focus, .wpcf7-submit:hover, .wpcf7-submit:focus, .button:hover, .button:focus, .white .tagcloud a:hover {
    color:#e54e4f;
}
blockquote, table#wp-calendar thead, .progress_bar .rating_single_bar .rating_bar,  .tagcloud a:hover, input#submit:hover, input#submit:focus, .wpcf7-submit:hover, .wpcf7-submit:focus, .button:hover, .button:focus, .postfix:focus, .postfix:hover {
    border-color: #e54e4f;
}
.top-bar-section ul li.has-dropdown .first.dropdown:before {
    border-color: transparent transparent #e54e4f transparent;
}