@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?83276599');
  src: url('../font/fontello.eot?83276599#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?83276599') format('woff'),
       url('../font/fontello.ttf?83276599') format('truetype'),
       url('../font/fontello.svg?83276599#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?83276599#fontello') format('svg');
  }
}
*/
 
 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.i-wordpress:before { content: '\e800'; } /* '' */
.i-vkontakte:before { content: '\e801'; } /* '' */
.i-vimeo:before { content: '\e802'; } /* '' */
.i-tumblr:before { content: '\e803'; } /* '' */
.i-twitter:before { content: '\e804'; } /* '' */
.i-stumbleupon:before { content: '\e805'; } /* '' */
.i-skype:before { content: '\e806'; } /* '' */
.i-reddit:before { content: '\e807'; } /* '' */
.i-pinterest:before { content: '\e808'; } /* '' */
.i-picasa:before { content: '\e809'; } /* '' */
.i-linkedin:before { content: '\e80a'; } /* '' */
.i-instagram:before { content: '\e80b'; } /* '' */
.i-googleplus:before { content: '\e80c'; } /* '' */
.i-github:before { content: '\e80d'; } /* '' */
.i-facebook:before { content: '\e80e'; } /* '' */
.i-flickr:before { content: '\e80f'; } /* '' */
.i-dribbble:before { content: '\e810'; } /* '' */
.i-delicious:before { content: '\e811'; } /* '' */
.i-search:before { content: '\e812'; } /* '' */
.i-mail:before { content: '\e813'; } /* '' */
.i-heart:before { content: '\e814'; } /* '' */
.i-heart-empty:before { content: '\e815'; } /* '' */
.i-video-alt:before { content: '\e816'; } /* '' */
.i-picture:before { content: '\e817'; } /* '' */
.i-camera:before { content: '\e818'; } /* '' */
.i-edit-alt:before { content: '\e819'; } /* '' */
.i-comment:before { content: '\e81a'; } /* '' */
.i-comment-alt:before { content: '\e81b'; } /* '' */
.i-paypal:before { content: '\e81c'; } /* '' */
.i-mastercard:before { content: '\e81d'; } /* '' */
.i-export:before { content: '\e81e'; } /* '' */
.i-pencil:before { content: '\e81f'; } /* '' */
.i-location:before { content: '\e820'; } /* '' */
.i-path:before { content: '\e821'; } /* '' */
.i-blogger:before { content: '\e822'; } /* '' */
.i-clock:before { content: '\e823'; } /* '' */
.i-volume:before { content: '\e824'; } /* '' */
.i-rss:before { content: '\e825'; } /* '' */
.i-cogs:before { content: '\e826'; } /* '' */
.i-cog:before { content: '\e827'; } /* '' */
.i-tags:before { content: '\e828'; } /* '' */
.i-tag:before { content: '\e829'; } /* '' */
.i-folder-close:before { content: '\e82a'; } /* '' */
.i-folder-open:before { content: '\e82b'; } /* '' */
.i-music:before { content: '\e82c'; } /* '' */
.i-quote:before { content: '\e82d'; } /* '' */
.i-visa:before { content: '\e82e'; } /* '' */
.i-youtube:before { content: '\e82f'; } /* '' */
.i-github-1:before { content: '\e830'; } /* '' */
.i-behance:before { content: '\e831'; } /* '' */
.i-glass:before { content: '\e832'; } /* '' */
.i-link:before { content: '\e833'; } /* '' */
.i-star:before { content: '\e834'; } /* '' */
.i-star-empty:before { content: '\e835'; } /* '' */
.i-attach:before { content: '\e836'; } /* '' */
.i-basket:before { content: '\e837'; } /* '' */
.i-basket-circled:before { content: '\e838'; } /* '' */
.i-info-circled:before { content: '\e839'; } /* '' */
.i-note:before { content: '\e83a'; } /* '' */
.i-align-justify:before { content: '\e83b'; } /* '' */
.i-barcode:before { content: '\e83c'; } /* '' */
.i-share:before { content: '\e83d'; } /* '' */
.i-right-open-mini:before { content: '\e83e'; } /* '' */
.i-left-open-mini:before { content: '\e83f'; } /* '' */
.i-right-open-big:before { content: '\e840'; } /* '' */
.i-left-open-big:before { content: '\e841'; } /* '' */
.i-down-open-big:before { content: '\e842'; } /* '' */
.i-up-open-big:before { content: '\e843'; } /* '' */
.i-discover:before { content: '\e844'; } /* '' */
.i-mail-circled:before { content: '\e845'; } /* '' */
.i-amex:before { content: '\e846'; } /* '' */
.i-win8:before { content: '\e847'; } /* '' */
.i-video:before { content: '\e848'; } /* '' */
.i-videocam:before { content: '\e849'; } /* '' */
.i-th-large:before { content: '\e84a'; } /* '' */
.i-th-list:before { content: '\e84b'; } /* '' */
.i-th:before { content: '\e84c'; } /* '' */
.i-view-mode:before { content: '\e84d'; } /* '' */
.i-ok:before { content: '\e84e'; } /* '' */
.i-home:before { content: '\e84f'; } /* '' */
.i-plus-circled:before { content: '\e850'; } /* '' */
.i-flag:before { content: '\e851'; } /* '' */
.i-bookmark-empty:before { content: '\e852'; } /* '' */
.i-minus-circled:before { content: '\e853'; } /* '' */
.i-bookmark:before { content: '\e854'; } /* '' */
.i-eye:before { content: '\e855'; } /* '' */
.i-bell:before { content: '\e856'; } /* '' */
.i-food:before { content: '\e857'; } /* '' */
.i-lightbulb:before { content: '\e858'; } /* '' */
.i-headphones:before { content: '\e859'; } /* '' */
.i-right-hand:before { content: '\e85a'; } /* '' */
.i-left-hand:before { content: '\e85b'; } /* '' */
.i-down-hand:before { content: '\e85c'; } /* '' */
.i-up-circled:before { content: '\e85d'; } /* '' */
.i-right-circled:before { content: '\e85e'; } /* '' */
.i-left-circled:before { content: '\e85f'; } /* '' */
.i-down-circled:before { content: '\e860'; } /* '' */
.i-up-hand:before { content: '\e861'; } /* '' */
.i-globe:before { content: '\e862'; } /* '' */
.i-cloud:before { content: '\e863'; } /* '' */
.i-signal:before { content: '\e864'; } /* '' */
.i-book:before { content: '\e865'; } /* '' */
.i-adjust:before { content: '\e866'; } /* '' */
.i-tint:before { content: '\e867'; } /* '' */
.i-glasses:before { content: '\e868'; } /* '' */
.i-address-book:before { content: '\e869'; } /* '' */
.i-smiley:before { content: '\e86a'; } /* '' */
.i-gauge:before { content: '\e86b'; } /* '' */
.i-filter:before { content: '\e86c'; } /* '' */
.i-tasks:before { content: '\e86d'; } /* '' */
.i-check-empty:before { content: '\e86e'; } /* '' */
.i-gift:before { content: '\e86f'; } /* '' */
.i-fire:before { content: '\e870'; } /* '' */
.i-magnet:before { content: '\e871'; } /* '' */
.i-chart:before { content: '\e872'; } /* '' */
.i-credit-card:before { content: '\e873'; } /* '' */
.i-megaphone:before { content: '\e874'; } /* '' */
.i-clipboard:before { content: '\e875'; } /* '' */
.i-hdd:before { content: '\e876'; } /* '' */
.i-briefcase:before { content: '\e877'; } /* '' */
.i-road:before { content: '\e878'; } /* '' */
.i-qrcode:before { content: '\e879'; } /* '' */
.i-off:before { content: '\e87a'; } /* '' */
.i-braille:before { content: '\e87b'; } /* '' */
.i-align-left:before { content: '\e87c'; } /* '' */
.i-flight:before { content: '\e87d'; } /* '' */
.i-arrows-cw:before { content: '\e87e'; } /* '' */
.i-shuffle:before { content: '\e87f'; } /* '' */
.i-record:before { content: '\e880'; } /* '' */
.i-pause:before { content: '\e881'; } /* '' */
.i-stop:before { content: '\e882'; } /* '' */
.i-adult:before { content: '\e883'; } /* '' */
.i-female:before { content: '\e884'; } /* '' */
.i-male:before { content: '\e885'; } /* '' */
.i-child:before { content: '\e886'; } /* '' */
.i-picture-1:before { content: '\e887'; } /* '' */
.i-link-1:before { content: '\e888'; } /* '' */
.i-code:before { content: '\e889'; } /* '' */
.i-feather:before { content: '\e88a'; } /* '' */
.i-pencil-1:before { content: '\e88b'; } /* '' */
.i-palette:before { content: '\e88c'; } /* '' */
.i-mobile:before { content: '\e88d'; } /* '' */
.i-monitor:before { content: '\e88e'; } /* '' */
.i-signal-1:before { content: '\e88f'; } /* '' */
.i-trophy:before { content: '\e890'; } /* '' */
.i-calendar-1:before { content: '\e891'; } /* '' */
.i-map:before { content: '\e892'; } /* '' */
.i-address:before { content: '\e893'; } /* '' */
.i-flag-1:before { content: '\e894'; } /* '' */
.i-flashlight:before { content: '\e895'; } /* '' */
.i-suitcase:before { content: '\e896'; } /* '' */
.i-briefcase-1:before { content: '\e897'; } /* '' */
.i-mouse:before { content: '\e898'; } /* '' */
.i-lifebuoy:before { content: '\e899'; } /* '' */
.i-moon:before { content: '\e89a'; } /* '' */
.i-flash:before { content: '\e89b'; } /* '' */
.i-paper-plane:before { content: '\e89c'; } /* '' */
.i-magnet-1:before { content: '\e89d'; } /* '' */
.i-brush:before { content: '\e89e'; } /* '' */
.i-chart-pie:before { content: '\e89f'; } /* '' */
.i-target:before { content: '\e8a0'; } /* '' */
.i-newspaper:before { content: '\e8a1'; } /* '' */
.i-book-open:before { content: '\e8a2'; } /* '' */
.i-coffee:before { content: '\e8a3'; } /* '' */
.i-beer:before { content: '\e8a4'; } /* '' */
.i-user-md:before { content: '\e8a5'; } /* '' */
.i-stethoscope:before { content: '\e8a6'; } /* '' */
.i-ambulance:before { content: '\e8a7'; } /* '' */
.i-medkit:before { content: '\e8a8'; } /* '' */
.i-h-sigh:before { content: '\e8a9'; } /* '' */
.i-gauge-1:before { content: '\e8aa'; } /* '' */
.i-hammer:before { content: '\e8ab'; } /* '' */
.i-sitemap:before { content: '\e8ac'; } /* '' */
.i-puzzle:before { content: '\e8ad'; } /* '' */
.i-apple:before { content: '\e8ae'; } /* '' */
.i-android:before { content: '\e8af'; } /* '' */
.i-lemon:before { content: '\e8b0'; } /* '' */
.i-key:before { content: '\e8b1'; } /* '' */
.i-moon-1:before { content: '\e8b2'; } /* '' */
.i-umbrella:before { content: '\e8b3'; } /* '' */
.i-soundcloud:before { content: '\e8b4'; } /* '' */
.i-upload-cloud:before { content: '\e8b5'; } /* '' */
.i-download-alt:before { content: '\e8b6'; } /* '' */
.i-download:before { content: '\e8b7'; } /* '' */
.i-guidedog:before { content: '\e8b8'; } /* '' */
.i-doc-text:before { content: '\e8b9'; } /* '' */
.i-doc-inv:before { content: '\e8ba'; } /* '' */
.i-doc-text-inv:before { content: '\e8bb'; } /* '' */
.i-doc:before { content: '\e8bc'; } /* '' */
.i-beaker:before { content: '\e8bd'; } /* '' */
.i-beaker-1:before { content: '\e8be'; } /* '' */
.i-emo-happy:before { content: '\e8bf'; } /* '' */
.i-emo-wink:before { content: '\e8c0'; } /* '' */
.i-emo-wink2:before { content: '\e8c1'; } /* '' */
.i-emo-unhappy:before { content: '\e8c2'; } /* '' */
.i-emo-devil:before { content: '\e8c3'; } /* '' */
.i-emo-coffee:before { content: '\e8c4'; } /* '' */
.i-mic:before { content: '\e8c5'; } /* '' */
.i-leaf:before { content: '\e8c6'; } /* '' */
.i-inbox:before { content: '\e8c7'; } /* '' */
.i-emo-sunglasses:before { content: '\e8c8'; } /* '' */
.i-emo-displeased:before { content: '\e8c9'; } /* '' */
.i-emo-beer:before { content: '\e8ca'; } /* '' */
.i-menu:before { content: '\e8cb'; } /* '' */
.i-emo-thumbsup:before { content: '\e8cc'; } /* '' */
.i-emo-surprised:before { content: '\e8cd'; } /* '' */
.i-emo-tongue:before { content: '\e8ce'; } /* '' */
.i-emo-grin:before { content: '\e8cf'; } /* '' */
.i-emo-saint:before { content: '\e8d0'; } /* '' */
.i-emo-squint:before { content: '\e8d2'; } /* '' */
.i-emo-laugh:before { content: '\e8d3'; } /* '' */