/** MEDIA QUERIES **/

/*Isotope Grid*/

@media only screen and (min-width : 30.0625em) {

    .container-3cols .grid-sizer, .container-3cols .isotope-item, .container-2cols .grid-sizer, .container-2cols .isotope-item, .container-4cols .grid-sizer, .container-4cols .isotope-item {
        width:49.9%;
    }

    .container-5cols .isotope-item.w3 {
        width: 100%;
    }
    .container-3cols .isotope-item.w2, .container-4cols .isotope-item.w2, .container-5cols .isotope-item.w2, .container-6cols .isotope-item.w2, .container-2cols .isotope-item.w2 {
        width: 100%;
    }
}

@media only screen and (min-width : 64.063em) {

    .container-2cols .grid-sizer, .container-2cols .isotope-item {
        width: 49.9%;
    }
    .container-3cols .grid-sizer, .container-3cols .isotope-item, .container-4cols .grid-sizer, .container-4cols .isotope-item, .container-5cols .grid-sizer  {
        width:33.333%;
    }
    .container-3cols .isotope-item.w2, .container-4cols .isotope-item.w2, .container-2cols .isotope-item.w2 {
        width: 66%;
    }
}

@media only screen and (min-width: 80em) {

    .container-4cols .grid-sizer, .container-4cols .isotope-item, .narrow .container-4cols.masonry .grid-sizer, .narrow .container-4cols.masonry .isotope-item  {
        width:25%;
    }
    .container-2cols .grid-sizer, .container-2cols .isotope-item, .narrow .container-4cols.masonry .grid-sizer, .narrow .container-4cols.masonry .isotope-item, .container-4cols .isotope-item.w2 {
        width:49.9%;
    }
    .container-3cols .grid-sizer, .container-3cols .isotope-item {
        width:33.33%;
    }
    .container-3cols .isotope-item.w2 {
        width: 66%;
    }
    .container-2cols .isotope-item.w2, .main-left .container-3cols.portfolio-grid .isotope-item.w2, .narrow .container-3cols.portfolio-grid .isotope-item.w2, .narrow .container-4cols.masonry .isotope-item.w2 {
        width:100%;
    }
    .container-5cols .grid-sizer, .container-5cols .isotope-item {
        width:20%;
    }
}

/* Medium and Large Screens */

@media only screen and (min-width: 48em) {

    /* Transitions */
    a, .social-item .icon, input#submit, .wpcf7-submit, .postfix, #mini-search input,  input[type="text"], input[type="password"], input[type="email"],input[type="search"],input[type="tel"],input[type="url"], textarea, .widget ul li a, .tagcloud a, .top-bar-section .dropdown li a, .item-icon, .owl-theme .owl-controls, .owl-theme .owl-controls .owl-nav div, .fn {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .comment-reply-link, .comment-edit-link {
        width: auto;
        display: inline-block;
        text-align: center;
        margin: 0 0 0 0.938em;
    }

    .is-hover .inner {
        padding: 1.517em 1.719em;
    }
    .is-hover h2 {
        font-size: 1.063em;
        letter-spacing: 1px;
    }
    h1.entry-title, h1.page-title {
        margin: 0;
        font-size: 2.618em;
    }

}

@media only screen and (min-width: 64.063em) {

    #wrapper {
        margin: 0 76px 0 auto;
        -webkit-box-shadow: 0px 8px 8px 0px rgba(50, 50, 50, 0.18);
        -moz-box-shadow:    0px 8px 8px 0px rgba(50, 50, 50, 0.18);
        box-shadow:         0px 8px 8px 0px rgba(50, 50, 50, 0.18);
    }
    #social-container {
        padding: 1.125em 76px 1em 0;
    }
    #primary {
        padding: 3.5em 33px 4.9em 0;
    }
    .top-bar-section .has-dropdown > a:after {
        margin-top: 0
    }
    .top-bar-section ul {
        padding: 0;
    }
    .header-logo {
        padding: 4.236em 1.82em;
    }
    .top-bar-section ul li.has-dropdown .first.dropdown:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        top:-13px;
        border: inset 7px;
        margin-right: 12px;
        right: 0;
        opacity: 0.94;
    }
    .top-bar-section ul li.has-dropdown:hover > .dropdown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .top-bar-section ul li > a {
        padding: 12px 0 12px 0;
        padding-left: 15px;
    }
    .blog-grid .media-holder {
        margin: 0;
    }
    .admin-bar .contain-to-grid.sticky {
        top: 32px;
    }
    .admin-bar .contain-to-grid.fixed {
        top: 32px;
    }
    .blog-grid .large-6.columns:first-child {
        padding-right: 0.8595em;
    }
    .blog-grid .large-6.columns:last-child {
        padding-left: 0.8595em;
    }
    h1.entry-title, h1.page-title {
        font-size: 4.236em;
        line-height: 1.125;
    }
    .entry-header .category-title {
        font-size: 1.618em;
    }
    .entry-content {
        padding: 0;
    }
    .page .entry-content {
        margin-left: 0;
    }
    .sidebar .entry-content {
        margin: 0;
        padding: 1.618em 0 0 0;
    }
    .sidebar .single-bottom {
        margin: 0 0 4.236em 0;
    }
    .keynote {
        margin-right: 0;
        text-align: right;
    }
    .additional {
        padding: 0 0 0 1.82em;
        text-align: right;
    }
    .author-img img {
        float: left;
    }
    #footer-bottom ul li a {
        line-height: 59px;
        padding: 0 0 0 0.618em;
    }
    #footer-bottom .text-line {
        text-align: left;
    }
    #comments {
        padding: 2.945em 0;
    }
    #footer-bottom ul {
        width: auto;
    }
    #footer-bottom ul li {
        float: left;
        text-align: right;
    }
}
@media only screen and (min-width: 80em) {

    #primary {
        padding: 4.9em 33px 4.9em 0;
    }
    .carousel .is-hover h2 {
        font-size: 1.3125em;
    }
    .widget h6 {
        font-size: 1.125em;
    }
    .progress_bar .rating_label {
        padding: 1.517em 4.501em 0 0;
    }
    span.rating-criteria-score {
        left: 4.501em;
    }
    .progress_bar .rating_single_bar {
        margin: 0 4.501em;
    }
    .grid-item .post p {
        font-size: 0.875em;
    }
    .post.format-quote .entry-content blockquote, .post.format-quote .entry-content blockquote p, .post.format-status {
        font-size: 1.125em;
    }
    .flickr a img{
        width: 62px;
    }
}
@media only screen and (min-width: 90.063em) {
    body {
        font-size: 125%;
    }
    .slideshow {
        max-height: 539px;
    }
    .top-bar-section ul li > a {
        font-size: 1.25em;
    }
    .top-bar-section .dropdown li > a {
        font-size: 1.125em;
    }
}

/* Retina */

@media (-webkit-min-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(min--moz-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {

    .nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
        background-image: url(../img/nivo/loading@2x.gif);
        background-size: 32px 32px;
    }
    .nivo-lightbox-theme-default .nivo-lightbox-prev {
        background-image: url(../img/nivo/prev@2x.png);
        background-size: 48px 48px;
    }
    .nivo-lightbox-theme-default .nivo-lightbox-next {
        background-image: url(../img/nivo/next@2x.png);
        background-size: 48px 48px;
    }
    .nivo-lightbox-theme-default .nivo-lightbox-close {
        background-image: url(../img/nivo/close@2x.png);
        background-size: 16px 16px;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        top: -46px !important; /*Fixed strange admin bar behavior for mobile devices*/
    }
}