/**************
    01. GENERAL
    02. BACKGROUND
    03. HEADER
    04. MENUS
    05. SEARCH
    06. SOCIAL
    07. SLIDER
    08. LAYOUTS
    09. COMMENTS
    10. REVIEW SYSTEM
    11. MEDIA
    12. WIDGETS
    13. MISCELLANEOUS
    14. PAGINATION
    15. HOT NEWS
    16. PLUGINS
***************/

@charset "UTF-8";

/** 01. GENERAL **/

html {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    font-size: medium;
    line-height:1.618;
    background: #fff;
    min-height: 100%;
}
p {
    font-size: 1em;
    line-height: 1.618;
    margin-top: 0;
    margin-bottom: 1.618em;
    font-weight: 400;
}
a {
    text-decoration:none;
    line-height:inherit;
}
strong {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.875em 0;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase;
}
h1 {
    margin: 0.657em 0;
}
code, kbd, pre, samp {
    font-size: 1em;
    color: maroon;
    font-weight: 400;
}
h1 {
    font-size: 2.618em;
}
h2 {
    font-size: 1.82em;
}
h3 {
    font-size: 1.618em;
}
h4 {
    font-size: 1.25em;
    font-weight: bold;
}
h5 {
    font-size: 1.125em;
}
h6 {
    font-size: 1em;
    letter-spacing: 1px;
}
blockquote {
    margin: 0;
    padding-left: 1.618em;
    margin-left: -4px;
    border-left: 4px solid;
}
hr {
    border: solid #e5e5e5;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}
iframe {
    border:none;
}

/* Modified Foundation Form Styles */
input[type="text"],
input[type="search"],
input[type="url"],
input[type="email"],
textarea {
    -webkit-appearance: none;
    background-color: white;
    font-family: inherit;
    border-width: 1px;
    border-style: solid;
    display: block;
    font-size: 0.875em;
    margin: 0 0 1em 0;
    padding: 0.5em 0.875em;
    height: 2.25em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #fff;
    outline: none;
    padding: 0.5em 0.875em;
}
#wrapper {
    padding: 0;
    clear: both;
    margin: 0 auto;
}
#content {
    overflow: hidden;
}
/** 02. BACKGROUND **/

.gray, .isotope-item .gray .entry-date {
    background-color: #f7f7f7;
}
.sticky, .white .sticky .entry-date {
    background-color: #e7e8ed;
}
.white, .white .entry-date, .colorful.white {
    background-color: #fff;
}
.white .post, .isotope-item .white .date-meta, .post-section.white .date-meta, .white .divider-small, .dark  input[type="text"], #footer-top {
    border-color: #e5e5e5;
}
.gray .post, .isotope-item .gray .date-meta, .gray input[type="text"], .gray input[type="search"], .gray textarea, .white input[type="text"], .white input[type="email"], .white input[type="search"], .white textarea  {
    border-color: #ddd;
}
.newsticker.white .owl-controls .owl-nav div, .white .comments-quote, .white .comments-meta-all a {
    color: #ddd;
}
body, .white h1 a, .white h2 a, .white h3 a, .white h4 a, .white h5 a, .white h6 a, .white .social-item a, .newsticker.white .owl-controls .owl-nav div, .white .widget h6, .white .widget h2 a, .white .page-numbers li, .white .page-numbers li a, .white .entry-date a, .white .comments-meta-author, .white .text-logo h2 a:hover, .white .widget a, .colorful.white .top-bar-section ul li > a, .colorful .entry-date span  {
    color: #404040;
}
.newsticker.white .owl-controls .owl-nav div, .gray input#submit, .gray .wpcf7-submit, .gray .button, .white input#submit, .white .wpcf7-submit, .white .button {
    border-color: #010101;
}
.colorful.dark .top-bar-section .dropdown li a:hover {
    background-color: rgba(34, 34, 34, 0.9);
}
.dark .entry-date i, .dark .top-bar-section .has-dropdown > a:after, .dark .footer, .dark .text-logo h4, .alert-box.secondary, .dark .textwidget, .dark a.gray-link{
    color: #787878;
    color: rgba(255,255,255,0.5);
}
.white .entry-date, .gray .excerpt-text, .gray .social-item a, .white .entry-date a:hover, .white .comments-meta-all a:hover, .newsticker.white .owl-controls .owl-nav div:hover, .white .widget, .white .widget .entry-date,  #comments.gray label {
    color: #787878;
}
.white .comments-meta {
    color: #999;
}
#primary.colorful.dark, .header-logo.dark {
    background: transparent;
}
#primary.colorful.dark.top-bar.expanded .name {
    border-bottom: 1px solid rgba(255,255,255,0.24);
}
.post-section.dark, .post-section.gray, .post-section.colorful {
    border: 0;
}
.dark .tagcloud a, #footer-bottom {
    border-color:#404040;
    border-color:rgba(255,255,255,0.35);
}
.dark .postfix:hover, .postfix:focus {
    background:#404040;
    background:rgba(255,255,255,0.35);
  }
.dark .top-bar-section ul li > a, .dark, .dark .widget ul li a, .dark .tagcloud a, .dark table#wp-calendar td, .dark ul.off-canvas-list li ul li ul li a, .dark .widget .tabs dd > a, .dark h4.entry-title a, .dark .text-logo h2 a:hover, .colorful .section-header .sub-title, .colorful a.gray-link, .colorful a:hover, .colorful p.title-text a:hover, .colorful ul.newsticker a:hover, .colorful h4.entry-title a:hover, .colorful h2.entry-title a:hover,.dark p.title-text a, .colorful .entry-date, .colorful .entry-date a, .colorful .excerpt-text, .colorful .page-numbers li a:hover {
    color: #fff;
    color: rgba(255,255,255,0.88);
}
.dark .widget h6, .dark table#wp-calendar caption, .dark h4.entry-title a, .dark ul.off-canvas-list li ul li a, .dark .footer ul li a, .dark .entry-date, .dark .entry-date a,  .dark .excerpt-text {
    color: #ccc;
    color: rgba(255,255,255,0.7);
}
.white a.gray-link{
    color: #ccc;
}
.dark .widget ul li, .dark .list-item, .dark .large-block {
    border-color:#787878;
    border-color: rgba(255,255,255,0.6);
}
.newsticker.white .owl-controls .owl-nav div:hover,  .isotope-item .white .post.sticky .date-meta {
    border-color:#787878;
}
.dark .media-holder img, .dark .media-holder .flex-video, .dark .media-holder .soundcloud, .dark .flickr a img, .dark hr,.dark ul.off-canvas-list li a, .dark .section-header {
    border-color: #666;
    border-color: rgba(0,0,0,0.48);
}
.dark h1 a, .dark ul.off-canvas-list li a, .dark table#wp-calendar td#today, .dark #wp-calendar #prev a, .dark #wp-calendar #next a, .colorful, .colorful a, .colorful p.title-text a, .colorful .section-header.linked h2.section-title a, .colorful .sub-title, .colorful h4.entry-title a, .colorful .newsticker .news-item a, .colorful .grid-item .excerpt-text p, .colorful .entry-date a:hover, .colorful .entry-date i, .colorful h1.archive-title, .colorful.about-author p, .colorful .star-rating span, .postfix, .postfix:hover, .postfix:focus, .colorful .page-numbers li span.current, .colorful .page-numbers li.current a:hover, .colorful .page-numbers li.current a:focus, .colorful .page-numbers li span:hover a, .colorful .page-numbers li span a:focus, .colorful .post.format-status .excerpt-text, .dark h1 a, .dark h2 a, .dark h3 a, .dark .comments-meta-author, .dark .top-bar-section .has-dropdown > .dropdown a:after, .dark .text-logo h1 a:hover, .colorful h1 a, .colorful h2 a, .colorful h3 a, .colorful h4 a, .colorfule h5 a, .colorful h6 a, .dark .page-numbers li, .dark .page-numbers li a,  .colorful .page-numbers li, .colorful .page-numbers li a, .colorful.about-author strong  {
    color: #fff;
}

/** 03. HEADER **/
#header {
    padding: 0;
    width: inherit;
    position: relative;
}
.logo {
    padding: 0;
}
.logo img {
    max-width:100%;
    max-height:100%;
    margin: 0 auto;
    display: block;
    padding: 0 0.75em 0 1.82em;
}
.text-logo {
    display: block;
}
.text-logo h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
    text-align: center;
    font-size:3em;
}
.top-bar .name h1 a {
    font-weight: 400;
}
/* *centered nav* .top-bar {
    text-align:center;
}
.top-bar-section {
    display: inline-block;
}
.dropdown {
    text-align: left;
}
*/
.text-logo h2 {
    line-height: 1;
    font-weight: 400;
    margin: 1em 0 0 -4px;
    font-size: 2.618em;
    text-align: left;
}

.text-logo h4 {
    color: #787878;
    font-size: 0.75em;
    line-height: 1.618;
    padding: 0.618em  0;
    margin:  0;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.horizontal-panel {
    padding: 1.82em;
}
.header-logo {
     position: relative;
     padding: 2.945em 1.82em 1.82em 1.82em;
 }
/** 04. MENUS **/

/*Primary Menu*/
#primary {
    clear: both;
    position: relative;
    width: 100%;
    padding: 0;
}
.top-bar .toggle-topbar.menu-icon a {
    padding-right: 50px;
}
.sidebar-icon {
   position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    height: 48px;
    width: 48px;
    display: block;
}
.expanded {
    z-index: 100;
}
.sidebar-icon a, .sidebar-icon a:hover {
    color: #fff;
    height: 48px;
    width: 48px;
    line-height: 48px;
    padding: 0;
    text-align: center;
    position: absolute;
}
.off-canvas-menu .alert-box.secondary {
    padding-top: 2.625em;
}
ul.off-canvas-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.off-canvas-list {
    padding: 2.625em 2.454em;
}

/* Main Menu */
.top-bar-section ul li > a {
    font-weight: 400;
}
.top-bar-section ul li > a i {
    font-size: 0.75em;
    margin-right: 8px;
    position: relative;
    top: -1px;
}
.top-bar-section ul li > a [class^="i-"]:before, .top-bar-section ul li > a [class*=" i-"]:before {
    margin-left: 0;
    margin-right: 0;
}
.top-bar-section ul li.has-dropdown .dropdown {
    display:block;
}
.top-bar-section .dropdown li a {
    font-weight: 400;
}
.top-bar-section .dropdown li.title h5 a {
    padding: 1em 12px;
}
.top-bar-section .dropdown li a:hover {
    opacity: 1;
}
.top-bar-section .dropdown {
    padding: 0 0 12px 0;
}

.top-bar-section ul {
    padding: 0 0 0 1.125em;
}
/* Footer Menu */

#footer-bottom {
    padding: 0 1.82em;
    border-top-style: solid;
    border-top-width: 1px;
}
#footer-bottom ul {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
#footer-bottom ul li {
    list-style: none;
    display: block;
    float: none;
    text-align: center;
}
#footer-bottom ul li a {
    display: block;
    padding: 0.618em;
    font-size: 0.75em;
    text-transform: uppercase;
}

#footer-bottom .text-line {
    font-size: 0.657em;
    letter-spacing: 1px;
    text-align: center;
    line-height: 59px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Category Filter */

.filter {
    margin: 0;
    padding:10px 0;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    background: #404040;
}
.filter dl {
    margin:0;
}
.filter dd,.filter dt {
    display: block;
    padding-bottom: 10px;
}
.filter dd {
    margin-left: 0;
}

.filter dd a {
    padding:3px 15px;
    color:#e5e5e5;

}
.sub-nav dt a.selected,.sub-nav dd a.selected, .sub-nav dd a.selected:hover {
    cursor:default;
    color:#fff;
}

/** 05. SEARCH & FORMS **/

/* Top Search */

#mini-search{
    height:63px;
    margin-top: -10%;
    display: none;
}
#mini-search input{
    height:63px;
    outline:none;
    -webkit-appearance:none;
    z-index:2;
    padding:0.5em 0.875em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border-color: #787878;
    color: #fff;
    font-size: 1em;
}
#mini-search input:hover,#mini-search input:focus{
    width:100%;
}
#mini-search input:focus{
    background: #212121;
    background: rgba(51,51,51,0.7);
}
#mini-search .info {
    color: #ccc;
    font-weight: 400;
}
/* Form Styles */

.prefix, .postfix {
    height: 2.25em;
    line-height: 2.25em;
}

input#submit, .wpcf7-submit, .button {
    cursor: pointer;
    font-family: inherit;
    line-height: 1;
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.875em 1em;
    border-width: 2px;
    border-style: solid;
    background: transparent;
    font-size: 0.875em;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}
input#submit:after, .wpcf7-submit:after, .button:after,.postfix:after {
    content: '';
    margin: 8px;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.postfix {
    border: 0;
    cursor: pointer;
    font-family: inherit;
    line-height: 1;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.43em 1.5em;
    font-size: 0.875em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='url']:focus, textarea:focus {
    border-color: #ccc;
}
a.button:hover, a.button:focus {
    color: #fff !important;
}

/** 06. SOCIAL **/

#social-container {
    padding: 1.125em 1.82em 1em 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.social-item, .search-icon {
    display: block;
    float: left;
}
.social-item .icon {
    text-align: center;
    padding: 0;
}
.social-item .icon a {
    margin: 0 0 0 1.125em;
}
.social-item .icon a {
    font-size: 1.125em;
    text-align: center;
}

.social-item .icon.rss a:hover {
    color: #FD9118;
}

.social-item .icon.skype a:hover {
    color: #00A4E5;
}

.social-item .icon.mail a:hover {
    color: #DC4228;
}

.social-item .icon.facebook a:hover {
    color: #3b5998;
}

.social-item .icon.twitter a:hover {
    color: #60E2E6;
}

.social-item .icon.vkontakte a:hover {
    color: #517297;
}

.social-item .icon.instagram a:hover {
    color: #96604b;
}
.social-item .icon.pinterest a:hover {
    color: #C71C24;
}

.social-item .icon.youtube a:hover {
    color: #cc181e;
}

.social-item .icon.linkedin a:hover {
    color: #007BB6;
}

.social-item .icon.github a:hover {
    color: #000;
}

.social-item .icon.gplus a:hover  {
    color: #e34429;
}
#share ul {
    text-align: center;
    margin: 1.618em auto 1.82em auto;
    width: 192px;
}
.sidebar #share ul {
    margin: 1.125em auto 1.82em auto;
}
#share ul.wide {
    width: 240px;
}
#share ul li {
    float: left;
    width: 48px;
    height: 48px;
    margin: 0;
}

#share ul li a {
    color: #999;
    display: block;
    padding: 0.695em 0.875em;
    width: 48px;
    height: 48px;
}
#share ul li.twitter a:hover  {
    color: #60E2E6;
}
#share ul li.facebook a:hover  {
    color: #3b5998;
}
#share ul li.pinterest a:hover  {
    color: #C71C24;
}
#share ul li.vkontakte a:hover {
    color: #517297;
}
#share ul li.gplus a:hover {
    color: #e34429;
}
/*Scroll Top*/

.scroll-button {
    position: fixed;
    bottom: 12px;
    right: 13px;
    width: 48px;
    height: 48px;
    display: block;
    z-index: 100;
}
.scroll-button a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}
.scroll-button a:hover {
    color: #fff;
}

/** 08. LAYOUTS **/

/* Grid */

.isotope {
    clear: both;
}
.isotope.masonry {
    border-right: 1.82em solid transparent;
    margin: 0 0 1.82em 0;
}

.isotope-item {
    width: 100%;
    float:left;
    z-index: 2;
    position:relative;
}
.isotope-item .gray .post {
    border-width: 1px;
    border-style: solid;
}
.isotope-item .post {
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope-item {
    overflow: hidden;
    text-align: left;
    cursor: default;
    padding: 0 0 0 0;
}

.isotope-item {
    padding: 0 0 0 1.82em;
    margin-top: 1.82em;
}

/* disable CSS transitions for containers with infinite scrolling*/

.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.text-holder {
    padding: 1.618em 1.618em 0 1.618em;
}
.text-holder .excerpt-text {
    margin-top: 0.618em;
}
/*Titles*/

h1.entry-title, h1.page-title {
    margin: 0;
    font-size: 1.82em;
    line-height: 1.375;
    padding: 2px 0;
    text-align: center;
    display: inline-block;
}
h1.archive-title {
    font-size: 1.125em;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 1.82em;
    margin: 0;
    letter-spacing: 1px;
    color: #404040;
}
h1.archive-title span {
    font-weight: 400;
}
h2.entry-title {
    margin: 0;
    font-size: 1.25em;
    line-height: 1.375;
}
.single h2.entry-title {
    font-size: 1.82em;
}
h1.entry-title span, h2.entry-title span {
    color: #787878;
}
h4.entry-title {
    line-height: 1.618;
    padding: 0 0 0.695em 0;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

/* Formats */

.post.format-status .tweet {
    padding: 1.618em;
}
.post.format-status .entry-header .category-title, .post.format-aside .entry-header .category-title, .post.format-quote .entry-header .category-title {
    margin-bottom: 1.82em;
}
.blog-grid .post.format-status .tweet {
    padding: 0 1.618em;
}
.post.format-status .additional {
    padding: 0 1.618em;
}
.post.format-status .entry-content {
    padding-top: 1.618em;
}
.post.format-quote .entry-header, .post.format-aside .entry-header, .post.format-status .entry-header {
    margin-bottom: 0;
}
.post.format-quote .divider-small {
    border: 0;
}
.isotope-item .post.format-quote .divider-small {
    padding-bottom: 1.618em;
}
.post.format-status .entry-content:first-letter {
    line-height: inherit;
    margin: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
}
.post.format-status .tweet iframe.twitter-tweet {
    margin: 0 auto !important;
    display: block;
}
.post.format-gallery .entry-content {
    margin-right: 2.618em;
}
.post.format-quote .entry-content, .post.format-status .entry-content {
    margin: 0;
}
.post.format-quote blockquote {
    padding: 0;
}
.post.format-gallery .sidebar .entry-content {
   margin: 0;
}
.post.format-quote .entry-content blockquote, .post.format-quote .entry-content blockquote p {
    color: #212121;
    font-size: 1em;
    font-style: italic;
    text-align: left;
    border: 0;
}
.single .post.format-quote .entry-content p {
    text-align: right;
    font-weight: 400;
}
.single .post.format-quote .entry-content blockquote p {
    text-align: left;
}
.single .post.format-quote .entry-content {
    color: #787878;
    font-size: 1.5em;
    text-align: right;
    font-style: italic;
}

/* Magazine */

.excerpt-text {
    margin: 0;
    font-size: 0.875em;
    line-height: 1.618;
    padding: 0;
    display: block;
    overflow: hidden;
}
.excerpt-text p {
    margin: 0;
    padding: 0 0 1em 0;
    font-size: 1em;
}

/* Blog & Single Page Styles */

.blog-grid {
    margin: 1.82em;
}
.blog-grid .entry-date {
    padding: 0;
    font-size: 0.875em;
}
.blog-grid .entry-title {
    font-size: 1.618em;
    line-height: 1.5;
    color: #787878;
    font-weight: 500;
    margin: 0 0 0.875em 0;
}
.blog-grid .post {
    padding: 2.618em 1.82em;
    font-weight: 400;
    margin-bottom: 2px;
}
.blog-grid blockquote {
    border: 0;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.25em;
    font-style: italic;
}
.blog-grid .post.format-quote {
    padding-top: 2.618em;
}
.blog-grid .post.format-status {
    width: 100%;
}
.single .post.format-status .tweet {
    background: #00acee;
    color: #fff;
}
.isotope-item .post.format-status .tweet {
    height: 220px;
}
/*
.post.format-status .tweet {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
*/
.blog-grid .post.format-status .colorful {
    background: transparent;
}
.blog-grid .post.format-status p {
    font-size: 1.125em;
}
.blog-grid .post.format-status .media-holder {
    margin-bottom: 1.125em;
}
.blog-grid .post.format-status {
    padding-bottom: 0.695em;
}
.blog-grid .post.format-status .entry-date, .blog-grid .post.format-status .entry-date a {
    color: #fff;
}
.blog-grid .post.format-status .entry-date {
    color: rgba(255,255,255,0.7);
}
.single-page .entry-wrapper h1.entry-title {
    text-align: center;
    padding: 0;
    display: inherit;
}
.single-page .entry-wrapper h2.entry-title {
    padding: 0.406em 0 0 0;
    text-align: center;
}
.entry-content {
    margin-left: 2.618em;
    margin-right: 2.618em;
    padding: 1.618em 0 0 0;
}
.sidebar .entry-content {
    margin-right: 1.82em;
    margin-left: 1.82em;
}
.entry-content p {
    font-weight: 400;
}
.entry-content::first-letter {
    text-transform: uppercase;
    font-size: 4.236em;
    font-weight: 400;
    margin-right: 0.266em;
    float: left;
    line-height: 1;
    margin-top: 0.063em;

}
.entry-content ul li, .entry-content ol li {
    padding: 0;
    font-weight: 400;
}
.entry-content dl dt {
    font-weight: bold;
}
.entry-content dl dd {
    color: #787878;
    padding: 0.5em 0;
}
.entry-content a img {
    border: 0;
}
.entry-content.page-top {
    margin-bottom: 1.875em;
}
.top-navigation {
    margin-bottom: 1.82em;
}
.top-navigation .left,  .top-navigation .right{
    padding: 1.25em 1.82em;
    font-size: 0.85em;
}
.top-navigation a {
    color: #787878;
    padding: 1px;
}
.top-navigation a i {
    font-size: 1.25em;
}
.keynote {
    font-size: 1.25em;
    margin-left: 1.82em;
    margin-right: 1.82em;
    font-weight: 400;
    text-align: center;
}
.sidebar .keynote {
    text-align: center;
    margin-top: 1.618em;
}
.keynote p {
    margin-bottom: 0.5625em;
}
.sidebar .keynote p {
    margin-bottom: 0;
}
.aside-meta {
    font-size: 0.875em;
    padding: 0.43em 0 1.618em 0;
    margin: 0;
    line-height: 1.618;
    font-weight: 400;
    text-align: right;
}
.sidebar .aside-meta {
    padding: 0 0 1.618em 0;
}
.aside-meta i {
    color: #787878;
}
.aside-meta li {
    margin: 1em 0 1em 1.618em;
    list-style: none;
    line-height: 1;
}
.sidebar .aside-meta li {
    float: left;
    margin: 1em 1.618em 1em 0;
}
.additional {
    font-size: 0.875em;
    margin: 4.26em 0 0 0;
    padding: 0 1.82em;
    text-align: center;
}
.additional p {
    margin-bottom: 0.618em;
}
.post.has-post-thumbnail .additional, .post.format-gallery .additional, .post.format-video .additional, .post.format-audio .additional {
    margin: 1.618em 0;
}
.sidebar .additional {
    text-align: center;
    margin: 1em 0;
}
.post.has-post-thumbnail .sidebar .additional {
    margin: 1.618em 0 0 0;
}
.additional a, .aside-meta a {
    color: #787878;
}
.aside-meta p {
    line-height: 2;
}
.entry-content a {
   text-decoration: underline;
}
.single-bottom {
    clear: both;
    overflow: hidden;
    margin: 0 0 4.236em 2.618em;
}
.sidebar .single-bottom {
    margin: 0 0 4.236em 1.82em;
}
.entry-header {
    margin: 1.82em 1.82em 0 1.82em;
    overflow: hidden;
}
.sidebar .entry-header {
   margin-bottom: 0;
}
.page .entry-header {
    margin: 4.765em 0 3.5em 0;
}
.page .sidebar .entry-content {
    padding-top: 0;
}
.entry-header .category-title {
    text-align: center;
    font-size: 1em;
    margin: -0.102em 0 2.945em 0;
}
.entry-header .total-score {
    font-size: 1em;
    color: #fff;
    padding: 5px;
    margin-left: 1em;
}

/** 09. COMMENTS **/

#comments {
    padding: 2.945em 1.82em;
}
#comments h3 {
    font-size: 1.618em;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.5625em;
    letter-spacing: 1px;
}
#comments label {
    font-size: 0.875em;
}
.logged-in-as {
    font-size: 0.875em;
    text-align: right;
}
.comment-author img {
    margin: 18px 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 1px;
    border: 2px solid #fff;
}
.comment {
    display: inline;
    font-size: 14px;
    text-align: left;
    margin: 1em 0;
    color: #787878;
    width: 75%;
}
.comment p {
    margin-bottom: 1em;
}
.comment cite {
    font-style: normal;
}
.comment a {
    color: #414141;
}
.author-meta {
    display: block;
    margin-bottom: 16px;
    color: #787878;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.comment-reply-link, .comment-edit-link {
    font-style: italic;
    font-size: 0.875em;
    border: 1px solid #e5e5e5;
    padding: 1px 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0.875em 0 0.875em 0;
}
.author-meta .comment-date, .author-meta .fn {
    font-size: 13px;
    padding: 3px;
    display: inline;
}
.author-meta .fn {
    margin-right: 0.657em;
}
.author-meta .date a, .fn a, .fn {
    font-weight: 400;
}
.comment .comment-date a {
    color: #787878;
}

.fn a, .fn, .fn a:hover {
    color: #fff;
}
.fn:hover {
    background: #212121;
}
.bypostauthor p {
    color: #000;
}
.comment {
    padding-left: 18px;
    padding-top: 4px;
}
#respond {
    text-align: left;
    margin: 0 0 1.82em 0;
}
.comment-form-author, .comment-form-email, .comment-form-url {
    width:33.28333%;
    float: left;
}
.comment-form-author, .comment-form-email {
    padding-right: 0.5em;
}
.form-submit {
    margin: 2.618em 0 0 0;
}
.comment-notes, .form-allowed-tags {
    font-style: italic;
    font-size: 0.875em;
    text-align: right;
    color: #999;
    margin-bottom: 1em;
}
ol.commentlist, ol.commentlist li { list-style:none; margin:0 0 1em; padding:0; text-indent:0;
}

/** 10. REVIEW SYSTEM **/

.star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
    width: 5.4em;
    background:none !important;
    text-indent:0 !important;
    font-family: 'fontello';
}

.side-score .star-rating {
    float: none;
    margin-bottom: 0.618em;
}
.small-block .side-score .star-rating {
    float: none;
    margin-bottom: 0.382em;
}
.star-rating:before {
    content: "\e834\e834\e834\e834\e834";
    color: #e0dadf;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
.star-rating span:before {
    content: "\e834\e834\e834\e834\e834";
    top: 0;
    position: absolute;
    left: 0;
}
.total-score {
    padding: 0;
    margin: 0;
    white-space:nowrap;
}
.rating-panel {
    padding: 1em 0 0 0;
    position: relative;
    border-top: 1px solid #e5e5e5;
}
.total-summary {
    padding: 0;
}
.rating-criteria {
    clear: both;
    margin-bottom: 1.618em;
    overflow: hidden;
}
.rating-criteria-score {
    float: left;
    width: 30%;
    display: block;
}
.summary {
    padding: 0 1.618em 1.618em 1.618em;
    font-weight: 400;
    float: right;
    width: 70%;
    display: block;
}
.rating-criteria .star-rating {
    float: left;
}
.rating_label {
    font-style: normal;
    padding: 1.618em 1.618em 0 0;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8125em;
    text-align: left;
    color: #404040;
}

.rating-bg {
    font-weight: 400;
    display: block;
    width: 100%;
    line-height: 1.618;
    text-align: left;
    position: relative;
    padding: 0 0 0.875em 0;
}
.rating-bg .star-rating {
    font-size: 1.82em;
}
.rating-bg h3 {
    display: inline;
    font-size: 1.618em;
    font-weight: 700;
}
.rating-bg .total-score {
    font-size: 2.454em;
}

/* 11. MEDIA */

.isotope-item .media-holder, .post-image, .post-text-bg, .carousel .media-holder, .carousel-small .media-holder {
    margin: 0;
}
.media-holder img, .post-image img {
    width: 100%;
}
.media-holder a img {
    border: 0;
}
.media-holder {
    line-height: 0;
}
.media-holder {
    margin-bottom: 1.125em;
}
.page.has-post-thumbnail .media-holder {
    margin: 0 0 2em 0;
}
.widget .media-holder {
    margin-bottom: 1em;
}
.portfolio .media-holder, .single .entry-wrapper .portfolio .media-holder {
    padding: 0;
    border: 0;
    margin: 0;
}
.single .media-column .media-holder {
   margin: 0.5em 0;
}
.small-block .media-holder {
    margin: 0 0.875em 0 0;
    float: left;
}
.small-block .media-holder img {
    width: 50px;
}
.small-block.simple .media-holder img, .recent-widget .media-holder img, .mini .small-block .media-holder img {
    width: 64px;
}
.entry-content .flex-video.widescreen {
    margin: 1.618em 0 1.618em 0;
}
.flex-video.brightcove, .entry-content .flex-video.widescreen {
    padding-top: 0;
}
.soundcloud iframe, .entry-content iframe {
    width: 100%;
}
.single .soundcloud iframe, .blog-grid .soundcloud iframe {
    min-height: 270px;
}

/* CSS3 Hover Effects */

.media-holder.has-hover, .media-holder.overlay {
    position: relative;
}
.media-holder.has-hover .is-hover {
    border: 18px solid transparent;

}
.media-holder.has-hover .is-hover .inner {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(.12,.63,.36,.94);
    -moz-transition: all 0.3s cubic-bezier(.12,.63,.36,.94);
    -o-transition: all 0.3s cubic-bezier(.12,.63,.36,.94);
    transition: all 0.3s cubic-bezier(.12,.63,.36,.94);
}
.media-holder.has-hover .is-hover .inner.no-bg {
    background: transparent;
}
.carousel .media-holder.overlay.has-hover .is-hover .inner {
    height: auto;
    color: #fff;
    width: auto;
    top: 68%;
    background: transparent;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.carousel-small .media-holder.overlay.has-hover .is-hover .inner {
    height: auto;
    color: #fff;
    width: auto;
    top: 58%;
    background: transparent;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.carousel .media-holder.overlay.has-hover .is-hover h2 a, .carousel .media-holder.overlay.has-hover .is-hover h5 a, .carousel-small .media-holder.overlay.has-hover .is-hover h2 a, .carousel-small .media-holder.overlay.has-hover .is-hover h5 a {
    color: #fff;
    -webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.carousel .media-holder.overlay.has-hover .is-hover h2 a:hover, .carousel .media-holder.overlay.has-hover .is-hover h5 a:hover, .carousel-small .media-holder.overlay.has-hover .is-hover h2 a:hover, .carousel-small .media-holder.overlay.has-hover .is-hover h5 a:hover {
    color: rgba(255,255,255,0.85);
}
.media-holder.has-hover:hover .is-hover .inner {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.media-holder.overlay .is-hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    width: 100%;
    height: inherit;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.618em;
}
.media-holder .is-hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.media-holder.has-hover:hover .is-hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.media-holder.overlay.has-hover .is-hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.format-gallery .is-hover .inner {
    height: 100%;
}
.is-hover p.title-text {
    font-size: 1em;
    padding-bottom: 0;
    letter-spacing: 1px;
    font-weight: 500;
}

.is-hover h2 {
    font-size: 1.618em;
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.is-hover h5 {
    font-size: 0.875em;
    text-transform: none;
    margin: 0;
    padding: 0.125em 0 0 0;
    font-weight: 400;
    letter-spacing: normal;
}
.is-hover .icon {
    display: block;
    font-size: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -30px;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 3;
    -webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.24);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,0.24);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.24);
}
.is-hover .no-bg .icon, .is-hover .no-bg .icon a {
    color: #fff;
}
a.overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
/* Attachments */

.type-attachment {
    margin: 1.618em 1.618em 3.971em 1.618em;
}
.entry-attachment {
    background: #fff;
    padding: 1.618em 0 0 0;
}
.entry-description {
    font-size: 0.875em;
    margin-top: 1.618em;
    margin-bottom: 3.971em;
    border-bottom: 1px solid #e5e5e5;
}
#image-navigation {
    margin: 1.875em 0;
}
#image-navigation a {
    color: #fff;
}
#image-navigation a:hover {
    color: #f2f2f2;
}
.previous-image {
    float: left;
    background: #3C3C3D;
    padding: 1.25em;
    display: block;
    margin-right: 1.25em;
    z-index: 5000;
}
.next-image {
    float: right;
    background: #3C3C3D;
    padding: 1.25em;
    display: block;
    margin-left: 1.25em;
    z-index: 5000;
}
.entry-content .entry-attachment img {
    margin: 0;
}
.image-attachment .entry-meta {
    margin:1.618em 0;
    font-size: 0.875em;
}

/* WordPress Galleries & Images */

.gallery {
    margin: 1.618em 0;
}
.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33.3333%;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
}
.gallery dl, .gallery dt {
    margin: 0;
}
.gallery br+br {
    display: none;
}
img.alignright {
    float: right;
    margin: 0 0 0.5em 1.618em;
}
img.alignleft {
    float: left;
    margin: 0.382em 1.618em 0.657em 0;
}
img.alignnone {
    margin: 0.382em 0 0.657em 0;
}
img.aligncenter {
    display: block;
    margin: 0.657em auto;
}
.alignright {
    float: right;
    margin: 0.382em 0 0 1.618em;
}
.alignleft {
    float: left;
    margin: 0.382em 1.618em 0 0;
}
.aligncenter {
    display: block;
}
.entry-caption {
    padding: 1.618em 0 0 0;
}
.wp-caption {
    text-align: center;
    font-weight: 400;
    max-width: 100%;
}
.wp-caption.alignright img {
    max-width: 100%;
}
.wp-caption img {
    padding: 0;
    width: 100%;
}
.widget .wp-caption img {
    width: auto;
}
.wp-caption-text {
    line-height: 1.618;
    font-size: 0.75em;
    font-weight: 400;
    color: #aaa;
    font-style: normal !important;
    letter-spacing: normal !important;
    margin: 1.618em 0;
    text-align: right;
    padding: 0;

}
 .wp-caption-text.gallery-caption{
    line-height: 1.618;
    font-size: 0.75em;
    font-weight: 400;
    color: #aaa;
    font-style: normal;
    letter-spacing: normal;
    margin: 1em 0;
    text-align: right;
    padding: 0;

}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}

/** 12. WIDGETS **/

/* General Widget Styles */

.large-block {
    margin: 0;
}
.large-block img {
    width: 100%;
}
p.title-text {
    margin: -6px 0 0 0;
    line-height: 1.618;
    font-size: 1em;
    font-weight: 400;
}
p.title-text a {
    color: #404040;
}
.large-block p.title-text{
    padding: 0.125em 0 0.406em 0;
}
.list-item {
    display: inline-block;
    width: 100%;
    padding: 0 0 0.875em 0;
    margin-bottom: 0.875em;
}
.list-item .entry-date {
    padding-bottom: 0;
    padding-top: 0.406em;
}
.widget .section-container img.featured-thumb, .widget .section-container img.large-thumb {
    margin-bottom: 0.625em;
}

.widget.featured-widget, .widget.featured-widget-excerpt {
    border-bottom: 0;
    padding-bottom: 0;
}
.featured-widget .entry-date, .featured-widget-excerpt .entry-date {
    padding: 0.567em 0 1.618em 0;
    overflow: hidden;
}
.widget.featured-widget .panel, .widget.featured-widget-excerpt .panel{
    padding-bottom: 0.202em !important;
}
.widget-title {
    margin: 0;
    padding: 0 0 1.618em 0;
    display: block;
}
.widget h6 {
    margin: 3px 0 0 0;
    padding: 0;
}
.widget .large-block, .featured-widget .large-block p.title-text {
    padding: 0;
}
.widget.recent-widget {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget.recent-widget .entry-date {
    padding: 0.382em 0 0 0;
    font-size: 14px;
}
.widget.widget_search .widget-title {
    border-bottom: 0;
}
.widget.widget_search input[type="text"] {
    height: 44px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}
.widget.widget_search .postfix {
    height: 44px;
    border: 0;
    margin: 0;
    font-size: 0.75em;
}
.widget.widget_search .widget-title {
    margin-bottom: 0;
}
.widget .tabs {
    margin-top: 0;
}
.widget .tabs dd {
    margin: 0;
}
.widget .tabs dd > a {
    display: block;
    background: transparent;
    color: #212121;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 1.618em 0 0;
    font-size: 1.125em;
}
.widget .tabs dd > a:hover {
    color: #787878;
}
.widget .tabs-content > .content {
    padding: 1.618em 0 0 0;
}
.widget .tabs-content {
    margin-bottom: 0;
}
.widget.qr-widget p {
    line-height: 1.618;
    font-size: 0.75em;
    color: #787878;
}
.widget ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
.widget ul li {
    margin: -3px 0 0.618em 0;
    padding: 0 0 0.43em 0;
    font-size: 1em;
    list-style: none;
    color: #aaa;
}
.widget ul li ul {
    margin: 6px 0 0 0;
    padding: 0;
    text-transform: none !important;
    list-style-type: square;
    list-style-position: inside;
}
.widget ul li ul li  {
    border: 0;
    margin: 0;
    font-size: 14px;
}
.widget ul li ul li ul {
    margin: 6px 0 0 1em;
    text-transform: none !important;
    list-style-position: inside;
    background: none;
}
.widget ul li ul li ul li {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.widget ul li a {
    padding: 0;
    font-weight: 400;
}
.widget ul li.active a {
    font-weight: 400;
}

/* Tag Cloud */

.tagcloud {
    margin: 0 0 1em 0;
}
.tagcloud a{
    margin: 0 10px 10px 0;
    padding: 4px;
    display:inline-block;
    line-height: 1;
    color: #404040;
    border-style: solid;
    border-width: 1px;
}
/* WP Recent comments */

ul#recentcomments li {
    display: block;
    margin-bottom: 1em;
    color: #787878;
    font-weight: 400;
}
ul#recentcomments li a {
    display: inline-block !important;
    font-size: 1em;
    font-style: normal;
}
ul#recentcomments li a.url {
    font-size: 1em;
    color: #787878;
}

/* Flickr Plugin */

.wpfw_flickr_widget {
    clear: both;
    overflow: hidden;
}
.flickr {
    margin-top: 0.125em;
}
.flickr a{
    margin-bottom:1.125em;
    margin-right:1.125em;
    line-height:1;
    float:left;
}
.flickr a:last-of-type {
    margin-right: 0;
}
.flickr a img{
    line-height:0;
    width: 50px;
    border: 0;
}

/* Text Widget */

.textwidget {
    font-size: 0.875em;
    line-height: 1.618;
    margin: 0;
}
/* WP Calendar */
#calendar_wrap table {
    border: 0;
}
#calendar_wrap table thead tr th,
#calendar_wrap table thead tr td,
#calendar_wrap table tfoot tr th,
#calendar_wrap table tfoot tr td {
    padding: 0.657em;
    font-size: 0.75em;
    font-weight: bold;
}
#calendar_wrap table tr th, #calendar_wrap table tr td {
    padding: 0.657em;
    font-size: 0.75em;
}
table#wp-calendar {
    border-spacing: 1px;
}
table#wp-calendar caption {
    padding: 0 0 0.125em 0;
    text-align: left;
    font-style: italic;
    font-size: 1em;
    font-weight: 400;
}
#wp-calendar #prev a, #wp-calendar #next a  {
    font-weight: 400;
    color: #000;
}
table#wp-calendar {
    width: 100%;
}
table#wp-calendar thead {
    border: 1px solid;
}
.widget_calendar thead>tr>th {
    color: #fff;
}
table#wp-calendar th {
    border: 0;
}
table#wp-calendar td#today {
    color: #fff;
}
table#wp-calendar td {
    color: #4d4d4d;
}
table#wp-calendar td, table#wp-calendar th {
    text-align: center;
}

/* RSS Widget */

.widget_rss ul li {
    text-transform: none !important;
    padding: 0.5em 0;
}
.widget_rss ul li a {
    font-style: normal;
    line-height: 1.5;
}
.rssSummary {
    font-size: 0.8572em;
    line-height: 1.618;
    color: #787878;
    font-weight: 400;
}
.rss-date {
    font-size: 0.8572em;
    color: #aaa;
    margin: 0.375em 0 1em 0;
    display: block;
    font-style: normal;
}
.widget_rss cite {
    text-align: right;
    display: block;
    font-style: italic;
    font-size: 0.875em;
    margin: 0.625em 0;
    color: #787878;
}

/* Sidebar Widgets */

#sidebar {
    z-index: 10;
    line-height: 1.618;
    padding-bottom: 1.618em;
}
.category #sidebar {
    margin-top: 1.82em;
}
#content {
    clear: both;
}
#sidebar .panel {
    padding: 1.82em 1.82em 0 1.82em;
}
#side-panel {
    padding-top: 1.82em;
    padding-bottom: 1.82em;
}
#side-panel .panel {
    padding: 1.82em 1.82em 0 1.82em;
}
/*#sidebar .widget_text .panel, #sidebar .widget_calendar .panel, #sidebar .widget.widget_search .panel{
    border: 0;
    padding: 0;
}*/
#sidebar .widget_text .panel img, #sidebar .widget_text .panel img, #sidebar .widget_text .panel iframe, #sidebar .widget_text .panel .textwidget div {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#sidebar .widget_text .panel img.wp-smiley {
    display: inline-block;
    margin: auto;
    width: auto;
}
#sidebar hr {
    border-color: #e5e5e5;
}
/* Footer Widgets */

#footer-top {
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;

}
#footer-top .panel {
    padding: 1.618em 1.82em 0.618em 1.82em;
}
#footer-top .logo {
    float: left;
    margin: 0;
    padding: 0;
}
#footer-top .text-logo {
    margin: 0;
    padding: 0;
}
#footer-top .text-logo h4 {
    text-align: left;
    font-size: 0.618em;
    padding-left: 0.125em;
}
#footer-top .widget {
    clear: both;
}
#footer-top .flex-video {
    margin: 0 0 0.406em 0;
}

/* 13. MISCELLANEOUS */

#post-0 {
    margin: 1.82em 0;
    padding: 1.82em 0;
}
#post-0 .entry-header {
    margin-bottom: 2.945em;
}
#post-0 .entry-content {
    width: 70%;
}
.cat-description {
    font-size: 0.875em;
    padding: 2.5em;
    display: block;
    font-weight: 200;
}
.cat-description p {
    margin: 0;
    padding: 0;
}
.entry-date {
    font-weight: 400;
    font-size: 0.875em;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.618;
    text-transform: lowercase;
    text-align: center;
    padding: 0 1em;
}
.entry-author {
    text-transform: capitalize;
}
.isotope-item .entry-date {
    font-weight: 400;
    font-size: 0.875em;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.618;
    z-index: 1;
    left: 0;
    top: -1.125em;
    text-transform: lowercase;
    position: relative;
    text-align: center;
    padding: 0 1em;
}
.isotope-item .date-meta {
    position: relative;
    top: 0;
    left: 0;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 2.945em 0 0 0;
    padding: 0 1em 0 1.82em;
    text-align: center;
}
.entry-date i {
    font-size: 0.75em;
}
.entry-date span {
    padding-right: 0.657em;
    font-weight: 400;
}
.discuss {
    margin: 1.618em 0 1.125em 0;
}
.comments-meta {
    clear: both;
    padding: 0 1.618em;
    margin-bottom: 1.125em;
    overflow: hidden;
    font-weight: 400;
}
.comments-meta-all {
    text-align: center;
    font-size: 1em;
}
.comments-meta-comment {
    font-size: 0.75em;
    line-height: 1.618;
}
.comments-meta-avatar {
    float: left;
    margin-right: 1em;
    margin-top: 0.266em;
    width: 38px;
}
.divider {
    clear: both;
    margin-top: 1.82em;
}
.divider-small {
    margin-top: 0.625em;
    clear: both;
    border-top-width: 1px;
    border-top-style: solid;
}
.sidebar .divider-small {
    margin: 2.618em 0 0 0;
}
.divider-medium {
    margin-bottom: 2.945em;
    clear: both;
}
.more i,.more-large i {
    font-size: 0.75em;
}
.format-link .gray-link {
    font-size: 0.75em;
}
.left.quote {
    margin-right: 1.125em;
}
.about-author {
    display: block;
}
.colorful.about-author strong {
    font-weight: 500;
}
.about-author h1.archive-title {
    text-align: left;
    padding: 1.82em 0;
}
.about-author p {
    font-size: 0.875em;
    font-weight: 400;
}
.author-img img {
    display: block;
    margin: 1.618em auto;
}
.simplemap {
    margin-bottom: 1.618em;
}
#wrapper .sticky {
    position:static;
}
#form_elements, #list_types, #paragraph, #headings, #tables, #misc {
    font-size: 2em;
}

/** 14. PAGINATION **/

#page-nav {
    clear: both;
}
.pagination-centered {
    text-align: left;
    padding-top: 0.43em;
    width: 100%;
    clear: both;
    margin-bottom: 1px;
}
ul.page-numbers {
    margin: 1.25em 0.618em;
    display: inline-block;
    font-weight: 400;
    padding: 0;
}
.page-numbers li {
    display: block;
    float: left;
    font-size: 1.618em;
    line-height: 1.5;
}
.page-numbers li a {
    display: block;
    text-align: center;
    margin-right: 0.382em;
    padding: 0 0.382em;
}
.page-numbers li a.next.page-numbers, .page-numbers li a.prev.page-numbers{
    padding: 0.28em 0 0 0;
    text-align: center;
    border: 0;
    font-size: 0.75em;
}
.page-numbers li span.dots{
    padding: 0 0.657em 0 0.618em;
    text-align: center;
    border: 0;
}
.page-numbers li:hover a,
.page-numbers li a:focus {
    padding: 0 0.382em;
}
.page-numbers li.unavailable a {
    cursor: default;
    color: #787878;
    padding: 0 0.382em;
}
.page-numbers li.unavailable:hover a, .page-numbers li.unavailable a:focus {
    background: transparent;
}
.page-numbers li.current a {
    cursor: default;
    font-weight: 400;
    padding: 0.618em 0.382em;
}
.page-numbers li span.current {
    padding: 0 0.55em;
    margin-right: 0.382em;
    text-align: center;
    cursor: default;
    display: block;
    font-weight: 400;
    border: 1px solid #fff;
}

/** 15. HOT NEWS **/

#news {
    margin-top: 1em;
    margin-left: 1.82em;
}
.newsticker {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}
.newsticker .news-item {
    float: left;
    margin: 0 1.82em;
    padding: 0.266em 0 0 74px;
    font-size: 0.9375em;
}
.newsticker .news-item a {
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.newsticker .entry-date {
    margin: 0 0 0 1.125em;
    padding: 0;
    font-size: 1em;
    position: static;
}

/** 16. PLUGINS **/

/*
 * Nivo Lightbox v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivo-lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.nivo-lightbox-wrap  {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}
.nivo-lightbox-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.nivo-lightbox-title-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    text-align: center;
}
.nivo-lightbox-nav { display: none; }
.nivo-lightbox-prev {
    position: absolute;
    top: 50%;
    left: 0;
}
.nivo-lightbox-next {
    position: absolute;
    top: 50%;
    right: 0;
}
.nivo-lightbox-close {
    position: absolute;
    top: 2%;
    right: 2%;
}

.nivo-lightbox-image { text-align: center; }
.nivo-lightbox-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}
.nivo-lightbox-content iframe {
    width: 100%;
    height: 100%;
    max-height: 448px;
}
.nivo-lightbox-ajax {
    max-height: 100%;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
    display: table-cell;
    vertical-align: middle;
}

.nivo-lightbox-effect-fade,
.nivo-lightbox-effect-fadeScale,
.nivo-lightbox-effect-slideLeft,
.nivo-lightbox-effect-slideRight,
.nivo-lightbox-effect-slideUp,
.nivo-lightbox-effect-slideDown,
.nivo-lightbox-effect-fall {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateZ(300px);
    -moz-transform: translateZ(300px);
    -ms-transform: translateZ(300px);
    transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.nivo-lightbox-title {
    font: 0.875em;
    line-height: 1.618;
    font-style: normal;
    font-weight: normal;
    background: #000;
    color: #fff;
    padding: 7px 15px;
    border-radius: 30px;
}
/*
 * Nivo Lightbox Default Theme v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivo-lightbox-theme-default.nivo-lightbox-overlay {
    background: #000;
    background: rgba(0,0,0,0.7);
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { background: url(img/nivo/loading.gif) no-repeat 50% 50%; }

.nivo-lightbox-theme-default .nivo-lightbox-nav {
    top: 10%;
    width: 8%;
    height: 80%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}
.nivo-lightbox-theme-default .nivo-lightbox-prev {
    background-image: url(img/nivo/prev.png);
    border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next {
    background-image: url(img/nivo/next.png);
    border-radius: 3px 0 0 3px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
    display: block;
    background: url(img/nivo/close.png) no-repeat 5px 5px;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    padding: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap { bottom: -7%; }

.nivo-lightbox-theme-default .nivo-lightbox-image img {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax,
.nivo-lightbox-theme-default .nivo-lightbox-inline {
    background: transparent;
    padding: 40px;
}

/* Nivo Lightbox Custom Theme */

.nivo-lightbox-theme-custom.nivo-lightbox-overlay {
    background: #000;
    background: rgba(0,0,0,0.7);
}
.nivo-lightbox-theme-custom .nivo-lightbox-wrap {
    max-width: 760px;
    margin: 0 auto;
}
.nivo-lightbox-theme-custom .nivo-lightbox-content.nivo-lightbox-loading { background: url(img/nivo/loading.gif) no-repeat 50% 50%; }

.nivo-lightbox-theme-custom .nivo-lightbox-nav {
    top: 10%;
    width: 8%;
    height: 80%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.nivo-lightbox-theme-custom .nivo-lightbox-nav:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}
.nivo-lightbox-theme-custom .nivo-lightbox-prev {
    background-image: url(img/nivo/prev.png);
    border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-custom .nivo-lightbox-next {
    background-image: url(img/nivo/next.png);
    border-radius: 3px 0 0 3px;
}
.nivo-lightbox-theme-custom .nivo-lightbox-close {
    display: block;
    background: url(img/nivo/close.png) no-repeat 5px 5px;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    padding: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.nivo-lightbox-theme-custom .nivo-lightbox-close:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

.nivo-lightbox-theme-custom .nivo-lightbox-image img {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.nivo-lightbox-theme-custom .nivo-lightbox-ajax,
.nivo-lightbox-theme-custom .nivo-lightbox-inline {
    background: transparent;
    padding: 40px;
}

/*
 * 	Core Owl Carousel CSS File
 *	v2.0.0
 */

/* clearfix */
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel{
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index:1;
}


.owl-carousel .owl-stage{
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage-outer{
    position:relative;
    overflow: hidden;
    /* temporary fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage-outer.owl-height{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-video-wrapper{
    position: relative;
    height: 100%;
    background: #000;
}
.owl-controls .owl-nav div,
.owl-controls .owl-dot{
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-video-play-icon{
    position:absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url('img/owl-video-play.png') no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition-property: scale;
    transition-duration: 100ms;
    transition-timing-function: ease;
}
.owl-carousel .owl-video-play-icon:hover{
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon{
    display: none;
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease;
}
.owl-carousel .owl-video-frame{
    position: relative;
    z-index: 1;
}
.owl-loaded{
    display: block;
}
.owl-loading{
    opacity: 0;
    display: block;
}
.owl-hidden{
    opacity:0;
}
.owl-carousel .owl-refresh .owl-item{
    display: none;
}
.owl-carousel .owl-item{
    position:relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* If mouseDrag:false then you are able to select text */
.owl-carousel.owl-text-select-on .owl-item{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.owl-carousel .owl-item img.owl-lazy{
    opacity: 0;
}
.owl-carousel .owl-item img{
    opacity: 1;
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease;
}
/* to do */
.owl-carousel .owl-stage.backfacefix .owl-item{
    -webkit-backface-visibility: hidden;
}
.owl-rtl{
    direction: rtl;
}
.owl-rtl .owl-item {
    float:right;
}
/* No Js */
.no-js .owl-carousel{
    display: block;
}
/* animate */

.owl-animated-in{
    z-index: 0
}
.owl-animated-out{
    z-index: 1
}

/* Modified Owl theme */

.owl-theme .owl-controls {
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #f0f0f0;
}
.owl-controls .owl-nav,
.owl-controls .owl-dot{
    cursor: pointer;
    cursor: hand;

}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-nav div{
    color: #FFF;
    display: block;
    margin-top: -68px;
    font-size: 47px;
    width: 68px;
    height: 68px;
    cursor: pointer;
    position: absolute;
    top: 55%;
    text-align: center;
    line-height: 0;
    text-decoration: none;
    z-index: 10;
    -webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.24);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,0.24);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.24);
}
.text-slider .owl-controls .owl-nav div {
    top: 40%;
}
.no-date.text-slider .owl-controls .owl-nav div {
    top: 44%;
}
.newsticker .owl-controls .owl-nav div {
    font-size: 21px;
    width: 32px;
    height: 32px;
    margin-top: 0;
    top: 0;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    border-width: 1px;
    border-style: solid;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls .owl-nav div:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    text-decoration: none;
}
.owl-theme .owl-controls .owl-next {
    right: -48px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    padding-left: 0.658em;
}
.owl-theme .owl-controls .owl-prev {
    left: -48px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    padding-right: 0.658em;
}
.owl-theme .owl-controls .owl-prev:after {
    content: '\e841';
    font-family: 'fontello', serif;
    width: 68px;
    height: 68px;
    line-height: 68px;
    display: block;
    position: absolute;
    padding-right: 2px;
    top: 0;
    left: 0;
    text-align: center;
}

.owl-theme .owl-controls .owl-next:after {
    content: '\e840';
    font-family: 'fontello', serif;
    width: 68px;
    height: 68px;
    line-height: 68px;
    display: block;
    position: absolute;
    padding-left: 2px;
    top: 0;
    left: 0;
    text-align: center;
}
.newsticker .owl-controls .owl-next, .newsticker .owl-carousel:hover .owl-controls .owl-next {
    left: 48px;
    right: auto !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.newsticker .owl-controls .owl-prev, .newsticker .owl-carousel:hover .owl-controls .owl-prev {
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.newsticker.owl-theme .owl-controls .owl-prev:after {
    content: '\e83f';
    font-family: 'fontello', serif;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    position: absolute;
    padding-right: 3px;
    top: 0;
    left: 0;
    text-align: center;
}
.newsticker.owl-theme .owl-controls .owl-next:after {
    content: '\e83e';
    font-family: 'fontello', serif;
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;
    position: absolute;
    padding-right: 3px;
    top: 0;
    left: 0;
    text-align: center;
}

.owl-carousel:hover .owl-controls .owl-next{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    right: 0;
}
.owl-carousel:hover .owl-controls .owl-prev {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    left: 0;
}
.owl-theme .owl-controls .owl-nav div:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
/* Styling dots*/
.owl-theme .owl-dots .owl-dot{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-dots .owl-dot span{
    -webkit-backface-visibility: visible;
    display: block;
    width:48px;
    height: 9px;
    margin: 0 0 0 1px;
    background: #444;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
/*.owl-theme .owl-dots .owl-dot:hover span,*/
.owl-theme .owl-dots .owl-dot.active span{
}
.carousel-item .media-holder {
}
.carousel-text a {
    color: #010101;
}
.carousel-text h2 {
    font-size: 1.125em;
}