/*ACF*/

#acf_acf_page-general, #acf_acf_posts-general {
    background: #dcf7f3;
    padding: 1.125em;
}
#acf_acf_review-system {
    background: #fffee4;
    padding: 1.125em;
}
#acf-top_gallery {
    background: #e9ffe1;
    padding: 1.125em;
}

#acf-criteria, #acf-total_score, #acf-total_score_header, #acf-total_score_summary {
    margin-left: 3em;
}
#acf-criteria {
    border: 1px solid #ccc;
    padding: 1.125em;
    background: #fff;
}
input#acf-field-total_score {
    max-width: 50px;
}

    /* Desabilitando atualizações */
   form.upgrade{display:none!important}