<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta charset='utf-8'>
    <!-- Facebook sharing information tags -->
    <meta property='og:title' content='*|MC:SUBJECT|*' />

    <title>{{_accountInfo.TradingName}}</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Email-Notificacao-EpocaCosmeticos-V2.psd) -->
<table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td colspan="3"><img src="http://papodebeleza.com.br/hd/headermail.jpg" width="550" height="139" alt="" style="display:block; border:0;"></td>
    </tr>
    <tr>
        <td width="36"></td>
        
        <td width="479" valign="top">
            <!-- conteudo -->
            <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                Olá <strong style=" color:#c6168d; font-weight:normal;">{{to.0.name}}</strong>
          </h3>
          
          <p style="font-family:Verdana, Geneva, sans-serif; color:#6c6c6c; line-height:24px; font-size:13px;">Precisamos da sua confirmação para liberar a página que você está tentando acessar.<br />
<br />
Retorne à página e digite o código:</p>

<p style=' font-family:Verdana, Geneva, sans-serif; background: #fff; border:1px solid #e0e0e0; color: #3a87ad; padding:10px; text-align:center; font-size:34px; color:#c6168d;'><strong>{{aditionalData.accessKey}}</strong></p>

<p style="font-size: 13px; font-family:Verdana, Geneva, sans-serif; color:#595959; ">Este é um procedimento 100% seguro.</p>



<h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:18px; font-size:13px; margin:20px 0; font-weight:normal;">
    
    </h5>

<h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">Em caso de dúvias entre em contato com a <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>

<p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
Equipe Época Cosméticos Perfumaria
</p>
            
            
                       
           
            <!-- /conteudo -->
        </td>
        
      <td width="35"> </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
            <td></td>
    </tr>
    <tr>
        <td colspan="3"></td>
    </tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>