<div class="desc">
	<div class="logo"><img src="/arquivos/4711_marcas.jpg" alt="" /></div>
	<p>Em 1792, o jovem casal Muelhens ganhou de um padre um valioso presente de casamento, uma fórmula secreta para a produção de uma água milagrosa. Em 1794 o comandante das tropas de Napoleão ordenou que todas as casas da cidade de Colônia na Alemanha fossem numeradas em seqüência. A casa dos Muelhens recebeu o número 4711, que deu origem à marca.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>