<div class="desc">
	<div class="logo"><img src="/arquivos/Ada-Tina_marcas.jpg" alt="" /></div>
	<p>Nascida na pitoresca Toscana, ADA TINA é a marca de produtos que respeitam e se integram perfeitamente à pele. Este respeito somado à sua habilidade em preparar combinações perfeitamente harmônicas e delicadas, inspiraram a criação da mais avançada linha de dermocosméticos destinados à prescrição médica.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>