<div class="desc">
	<div class="logo"><img src="/arquivos/Agatha-Ruiz-De-La-Prada_marcas.jpg" alt="" /></div>
	<p>Agatha Ruiz de La Prada iniciou sua carreira na moda em 1980 e desde então tem mantido seu estilo presente no movimento da moda internacional. Suas produções refletem o humor, amor e otimismo que ela atinge através do extraordinário uso de cores e formas, como base para o mundo que ela criou.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>