<div class="desc">
	<div class="logo"><img src="/arquivos/Agua-Brava_marcas.jpg" alt="" /></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut est at urna luctus mattis. Nam lacinia vestibulum leo eget ornare. Sed dui dolor, vehicula eget ullamcorper quis, consectetur in ante. Duis eget felis orci. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>