<div class="desc">
	<div class="logo"><img src="/arquivos/Amazonia-Viva_marcas.jpg" alt="" /></div>
	<p>Amazônia Viva, linha de cosméticos botânica, é um mergulho na Amazônia. Ela nasce após uma pesquisa profunda dos ingredientes ativos botânicos presentes na rica biodiversidade da Floresta Amazônica aliada ao conhecimento cosmético científico e tecnológico de ponta.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>