<div class="desc">
	<div class="logo"><img src="/arquivos/Ana-Hickmann_marcas.jpg" alt="" /></div>
	<p>Ana Hickmann foi eleita pela GQ italiana uma das dez mulheres mais lindas do mundo. Desfilou para grifes como Empório Armani, Prada e Kenzo. Fez editoriais de moda para as principais revistas internacionais. Hoje, sua marca desponta como o maior fenômeno brasileiro com 10 produtos licenciados. Sua imagem traz credibilidade e confiança aos produtos que levam seu nome.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>