<div class="desc">
	<div class="logo"><img src="/arquivos/animale_marcas.jpg" alt="" /></div>
	<p>Animale retrata homens e mulheres de instintos felinos e sensuais, que refletem através do seu aroma todo o seu magnetismo e sedução. São pessoas marcantes, misteriosas e cativantes, que marcam a sua presença em qualquer lugar e a qualquer hora, prezando acima de tudo, a sua liberdade. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>