<div class="desc">
	<div class="logo"><img src="/arquivos/AntonioBanderas_marcas.jpg" alt="" /></div>
	<p>Se hoje em dia há um ator espanhol que transpassou as fronteiras do seu próprio país, esse é Antonio Banderas, que conquistou o público mundial através de seus trabalhos e depois com as fragrâncias. Suas fragrâncias refletem ao homem maduro, que sabe como ninguém dar segurança e seduzir.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>