<div class="desc">
	<div class="logo"><img src="/arquivos/Arcancil_marcas.jpg" alt="" /></div>
	<p>Arcancil Paris foi fundada em 03 de abril de 1935 em um pequeno escritório de poucos metros quadrados em Paris graças à criatividade de um farmacêutico e de um colorista: os irmãos Havlick. A dupla se deparou com um sucesso fenomenal desde suas primeiras criações, especialmente máscaras para cílios e delineadores.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>