<div class="desc">
	<div class="logo"><img src="/arquivos/Argan-Oil_marcas.jpg" alt="" /></div>
	<p>A árvore de argan cresce somente no Marrocos e é conhecida como "árvore da vida" por trazer diversos benefícios à nossa saúde. O óleo de argan, também conhecido como o ouro marroquino, é extraído de suas amêndoas e de seus frutos secos e é muito utilizado por ser rico em ácidos graxos como ômega 6 e 9 e vitamina E.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>