<div class="desc">
	<div class="logo"><img src="/arquivos/Arnaud_marcas.jpg" alt="" /></div>
	<p>Institut Arnaud nasceu em 1945 quando o Dr. Arnaud, francês e dermatologista entusiasta, foi cercado por químicos que desenvolveram cuidados para os salões de beleza profissionais de Paris. Em 1995, a marca foi comprada por Antoine et Hervé em Madrid, que deu continuidade ao legado do Dr. Arnaud, de acordo com os seus valores, e com um conceito claro: proporcionar ao público em geral o mesmo cuidado profissional dos Institutos com preços muito acessíveis.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>