<div class="desc">
	<div class="logo"><img src="/arquivos/Arnaud_marcas.jpg" alt="" /></div>
	<p>A marca, fundada em 1935, traz uma fascinante história no segmento de make up, tendo permanecido fiel aos seus valores: oferecer às mulheres de todas as idades uma maquiagem produzida nos melhores laboratórios franceses e da Europa, sempre na vanguarda das últimas inovações e tendências em cores e texturas. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>