<div class="desc">
	<div class="logo"><img src="/arquivos/Arnaud_marcas.jpg" alt="" /></div>
	<p>Considerada uma das líderes no mercado mundial de bronzeadores e protetores solares, a Australian Gold elabora seus produtos a partir da exclusiva fórmula Biosine Complex. Desenvolvida pelo The Australian Gold Institute, essa combinação de vitamina E, panthenol, aloe vera e extratos herbais australianos previne o envelhecimento e o ressecamento da pele, garantindo assim um bronzeado seguro e prolongado.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>