<div class="desc">
	<div class="logo"><img src="/arquivos/Avene_marcas.jpg" alt="" /></div>
	<p>A história da marca Eau Thermale Avène começa em 1736, na França. Conta a lenda que um cavalo com uma grave doença de pele foi conduzido até uma nascente de água, alcançando a cura. Assim foram descobertas, e depois comprovadas cientificamente, as propriedades calmantes e antiinflamatórias da Água Termal de Avène. Em 1990 o grupo Pierre Fabre desenvolve os produtos para tratamento de todos os tipos de pele, até as mais sensíveis.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>