<div class="desc">
	<div class="logo"><img src="/arquivos/Azzaro_marcas.jpg" alt="" /></div>
	<p>Loris Azzaro considerava inadmissível criar uma roupa sem o toque final de um perfume. Sua obsessão por aromas vinha do mar Mediterrâneo, fonte eterna de sua inspiração. No segmento de perfumaria, obteve consagração mundial com Azzaro pour Homme. Nos últimos 30 anos, muitos de seus perfumes integram a lista dos dez mais vendidos em várias partes do mundo.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>