<div class="desc">
	<div class="logo"><img src="/arquivos/Bain-De-Terre_marcas.jpg" alt="" /></div>
	<p>Bain de Terre utiliza extratos botânicos em seus produtos para beneficiar os seus cabelos. Jojoba, vitaminas A, C e E, aminoácidos e componentes antioxidantes são alguns dos ingredientes que compõem as suas fórmulas. Elas contam ainda com a mais pura água e a mais alta tecnologia para prolongar a saúde e recuperar a beleza dos cabelos.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>