<div class="desc">
	<div class="logo"><img src="/arquivos/Baldessarini_marcas.jpg" alt="" /></div>
	<p>Baldessarini é moda para os homens com um confiante senso de estilo, para homens urbanos e sofisticados que exigem o melhor e já encontraram seu lugar na vida há muito tempo. A marca de designer premium é comprometida com qualidade e elegância intransigentes, tornando-o um dos mais cobiçados rótulos de luxo do mundo.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>