<div class="desc">
	<div class="logo"><img src="/arquivos/Baldessarini_marcas.jpg" alt="" /></div>
	<p>A marca Basicare possui uma linha de produtos criada por engenheiros exclusivos altamente capacitados, que elaboram produtos inovadores com máxima qualidade e ergonomia, ajudando a cuidar do seu corpo como você nunca imaginou. Descubra e aprecie essa nova sensação que só a Basicare pode lhe oferecer.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>