<div class="desc">
	<div class="logo"><img src="/arquivos/Bebe_marcas.jpg" alt="" /></div>
	<p>Fundada em 1976 em São Francisco, o nome Bebe tem origem na frase "to be or not to be", nome escolhido para representar a filosofia do nosso tempo "ser ou não ser". Bebe oferece uma completa gama de produtos para a mulher, como : vestidos, sapatos, acessórios e roupas femininas. Sua missão é satisfazer as necessidades da moda fashion, atual, descolada, sexy, criadora de tendências e alegremente romântica. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>