<div class="desc">
	<div class="logo"><img src="/arquivos/Belliz_marcas.jpg" alt="" /></div>
	<p>A Belliz é feita para pessoas como você, que vê nos momentos diários de cuidado, uma fonte de prazer. Toda a linha Belliz foi especialmente desenvolvida para transformar esses momentos, em pequenos rituais dedicados a você, dia após dia. São produtos de cuidado pessoal, higiene e beleza, que despertam e transformam o prazer em se cuidar, em todos os sentidos. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>