<div class="desc">
	<div class="logo"><img src="/arquivos/Biotherm_marcas.jpg" alt="" /></div>
	<p>A marca Biotherm está fundada sobre os poderes do Extrato Puro do Plâncton Termal - um agente natural descoberto nos cursos de águas termais que brotam das montanhas francesas. Possui excepcionais qualidades suavizantes graças à sua afinidade com a pele, que também se beneficia da riqueza de oligoelementos, sais minerais e proteínas presentes no extrato. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>