<div class="desc">
	<div class="logo"><img src="/arquivos/Blumarine_marcas.jpg" alt="" /></div>
	<p>Graças aos mais altos padrões de conteúdo criativo e qualidade do produto, a marca Blumarine desfruta, atualmente, de uma posição de luxo. Um estilo conceitual forte na pesquisa de ponta, onde a atenção aos detalhes do figurino e pura fluidez da forma definem a visão Blumarine da feminilidade. Sempre silenciosamente sensual. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>