<div class="desc">
	<div class="logo"><img src="/arquivos/Bourjois_marcas.jpg" alt="" /></div>
	<p>Fundada em 1863 por Alexander Napoléon Bourjois, atualmente é uma das empresas francesas mais antigas no segmento de cosméticos. Inspirado nas atrizes, BOURJOIS investiu seu tempo na criação de produtos de maquiagem cênica. Em 1890, seu jovem fundador introduziu o primeiro pó compacto no mercado, denominado "Manon Lescault". Em seguida, foi a vez do primeiro blush em pó, cuja pequena embalagem redonda permanece até hoje como o emblema da marca. Imaginar, criar e produzir, sempre um passo à frente, é e continuará sendo o objetivo primordial da marca. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>