<div class="desc">
	<div class="logo"><img src="/arquivos/Britney-Spears_marcas.jpg" alt="" /></div>
	<p>Nova York, NY - O ícone mundial superstar Britney Spears apresenta uma franquia de perfumes. Em parceria com Elizabeth Arden, a Britney Spears acredita que todas as mulheres podem se sentir lindas, poderosas e sexy. Britney Spears tem um dos negócios de fragrância de maior sucesso no mundo", disse Karen Huntoon, vice-presidente de marketing global de fragrâncias Elizabeth Arden. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>