<div class="desc">
	<div class="logo"><img src="/arquivos/Burberry_marcas.jpg" alt="" /></div>
	<p>Burberry é uma das muitas marcas no mundo que representa a extrema qualidade e elegância. Assumindo um estilo próprio, transmite os clássicos valores britânicos em artigos de couro e acessórios como xales ou simples cachecóis.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>