<div class="desc">
	<div class="logo"><img src="/arquivos/Bulgary_marcas.jpg" alt="" /></div>
	<p>As atividades da família Bvlgari se iniciaram na Grécia em 1884, quando Sotirio abriu a sua primeira loja na via Sistina em Roma, considerada a casa mãe da marca BVLGARI. Há mais de um século, BVLGARI otimizou o estilo italiano da joalheria. Desde então, suas coleções de jóias, relógios, fragrâncias e acessórios abraçam todos os quadrantes do luxo e da excelência. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>