<div class="desc">
	<div class="logo"><img src="/arquivos/Cacharrel_marcas.jpg" alt="" /></div>
	<p>Em 1956, Jean Bousquet chegou a Paris trazendo na bagagem muito entusiasmo e sua formação de alfaiate, ali ele compreendeu que as mulheres estavam a procura de uma certa autencidade para atender a um novo estilo de vida. Assim, em 1962, Cacharel mostrou sua primeira coleção de prêt-à-porter feminina, se transformando em um sucesso imediato. As criações da casa Cacharel dentro da perfumaria, não podiam ser diferentes dos conceitos da marca, mesclando feminilidade e liberdade, modernidade e bom gosto, além de realçar as mais diferentes personalidades, criando verdadeiros clássicos da perfumaria mundial como: Lou Lou e Anais Anais. Cacharel é romantismo e modernindade; emocional e estruturado; sexy e jovial; livre e audaz.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>