<div class="desc">
	<div class="logo"><img src="/arquivos/Cadiveu_marcas.jpg" alt="" /></div>
	<p>A Cadiveu Professional simboliza uma marca de vanguarda. Atua constantemente em pesquisa e desenvolvimento de produtos inovadores, que antecipam as tendências do mercado de beleza. É uma marca dinâmica que possui uma gama completa de produtos para transformação, descoloração e tratamento dos cabelos. Presente em diversos países, seus produtos são associados a moda e comportamento, usados por cabeleireiros que fazem desfiles e editoriais de moda no mundo inteiro.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>