<div class="desc">
	<div class="logo"><img src="/arquivos/Café_marcas.jpg" alt="" /></div>
	<p>Pierre Grivory, um francês apaixonado pelo Brasil, lança sua linha de perfumes totalmente inspirada neste país. Sendo assim, nada mais natural que o seu primeiro produto homenageasse nosso país: Café, um nome ao mesmo tempo internacional e profundamente brasileiro.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>