<div class="desc">
	<div class="logo"><img src="/arquivos/Calvin-Klein_marcas.jpg" alt="" /></div>
	<p>O nova-iorquino Calvin Richard Klein consagrou-se por criar um estilo único. Moderna, sofisticada, minimalista e interpretando o sexo de uma maneira ampla, essa é a essência das criações de Calvin Klein, traduzida em suas fragrâncias. Símbolo de vanguarda na perfumaria, lançou ícones como CK One, Eternity, Euphoria e CKIN2U, que marcaram gerações e continuam traduzindo estilos de vida. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>