<div class="desc">
	<div class="logo"><img src="/arquivos/Carita_marcas.jpg" alt="" /></div>
	<p>Mary e Rosy, as irmãs Carita, tinham o talento na ponta dos dedos e milhões de idéias na cabeça. Após reinventar cortes de cabelos e penteados como os de Brigite Bardot, Juliette Greco e Catherine Deneuve elas decidiram fazer o mesmo com tratamentos de beleza e depois, com produtos de beleza. Assim nasceu a marca Carita. As pessoas mudam, o espírito Carita permanece.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>