<div class="desc">
	<div class="logo"><img src="/arquivos/Caron_marcas.jpg" alt="" /></div>
	<p>Reconhecida mundialmente por suas boutiques luxuosas e requintadas fragrâncias. Sediada em Paris em um dos endereços mais famosos do mundo Av. Montaigne, a boutique Caron há quase um século mantém seu charme e originalidade assim como sua criação, em 1903. A extraordinária fonte de perfume criada por Bacarat, assim como acessórios preciosos em cristais e porcelanas finas, fazem de Caron única em todo o mundo. A renovação da Boutique em 1995 foi confiada aos renomados arquitetos e decoradores contemporâneos Jean Philippe Gleises e Frederic de Luca, que modernizaram a Boutique sem descaracterizá-la.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>