<div class="desc">
	<div class="logo"><img src="/arquivos/Cartier_marcas.jpg" alt="" /></div>
	<p>Fundada em Paris, por Louis-François Cartier em 1847. Em 1874 seu filho, Alfred Cartier, assumiu a administração da empresa. O objetivo era estabelecer CARTIER como uma famosa marca mundial. O objetivo foi alcançado: Cartier é reconhecida mundialmente por seus produtos de Luxo de qualidade inquestionáveis.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>