<div class="desc">
	<div class="logo"><img src="/arquivos/Charis_marcas.jpg" alt="" /></div>
	<p>Com Qualidade , transparência e criatividade CHARIS inovou o conceito de perfumes,cosméticos e tratamento capilar. Projetada dentro de padrões de alta tecnologia de primeiro mundo a CHARIS aprimora junto com seus parceiros,pesquisas e estudos direcionados na real necessidade brasileira.Trazendo produtos inovadores,a CHARIS comprova sua qualidade e excelência em produtos nacionais.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>