<div class="desc">
	<div class="logo"><img src="/arquivos/Chloe_marcas.jpg" alt="" /></div>
	<p>A marca nasceu em 1952 por Gaby Aghion e seu parceiro de negócios Jacques Lenoir. Aghion foi único em sua época e tornou-se conhecido por criar roupas extremamente bem feitas, dando início ao estilo "luxo prêt-à-porter". Em 1996, Karl Lagerfeld tornou-se designer chefe e sob sua direção, a marca Chloé se tornou umas das marcas mais emblemáticas do mundo. Com seu estilo romântico, com blusas leves e saias longas, era definido o estilo de toda uma geração.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>