<div class="desc">
	<div class="logo"><img src="/arquivos/Christine-Darvin_marcas.jpg" alt="" /></div>
	<p>Christine Darvin foi criada no século passado, um pouco antes da 1º Gerra Mundial por um especialista de perfumes em Bordeaux - França, que desejava criar fragrâncias com apelo relaxante e refrescante para o asseio pessoal. Assim, nasceram as Águas de Colônia Fraicheur. Em 1974 a Empresa foi vendida para Antoine e Hervé Madrid, que criaram também os Eau de Parfums, para atender a grande demanda por perfumes de qualidade com preço acessível. Desde então, a estrutura de Christine Darvin permite uma produção em larga escala, capaz de atender as necessidades de seu grande mercado.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>