<div class="desc">
	<div class="logo"><img src="/arquivos/Clarins_marcas.jpg" alt="" /></div>
	<p>Jacques Courtin-Clarins, um estudante francês de medicina especializou-se em fisioterapia e em tratamento da circulação através de massagens desenvolvendo seus próprios óleos a partir de extratos de plantas. A Clarins foi fundada em 1954. Em 1970, Jacques Courtin-Clarins assinou seu primeiro contrato para a distribuição fora da França. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>