<div class="desc">
	<div class="logo"><img src="/arquivos/Clinique_marcas.jpg" alt="" /></div>
	<p>Lançada em 1968, na cidade de Nova Iorque, a Clinique foi a primeira marca de cosméticos de prestígio criada por dermatologistas. Hoje, é uma das marcas de maior sucesso do grupo americano de cosméticos de Luxo Estée Lauder e foi a primeira empresa da indústria da beleza a criar produtos personalizados, testados contra alergia e 100% sem fragrância. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>