<div class="desc">
	<div class="logo"><img src="/arquivos/Cuba-Paris_marcas.jpg" alt="" /></div>
	<p>- Sempre irreverente e inovadora, a marca Cuba está presente no mercado nacional a mais de uma década, oferecendo aos consumidores produtos diferenciados e com forte apelo ao consumo. Foi assim que a Cuba Paris tornou-se um dos verdadeiros hits dentro do segmento de perfumaria. Temos como meta sempre criar novos produto, mantendo um alto nível de qualidade, responsabilidade e respeito com nossos clientes, parceiros e colaboradores. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>