<div class="desc">
	<div class="logo"><img src="/arquivos/Davidoff_marcas.jpg" alt="" /></div>
	<p>Em 1988, Davidoff entrou no mundo das fragrâncias com a criação de Cool Water, a primeira introduzir a família olfativa fresca aquática, tornandose um dos maiores sucesso da perfumaria internacional de todos os tempos. O "art de vivre" único da marca é expresso em cada uma das fragrâncias Davidoff, concebidas para pessoas que vivem a vida intensamente. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>