<div class="desc">
	<div class="logo"><img src="/arquivos/David-Beckham_marcas.jpg" alt="" /></div>
	<p>O inglês David Beckham começou sua carreira profissional aos 14 anos, atualmente é conhecido pelo seu lado fashion e pela sua carreira profissional. Casado com a ex-Spice Girl Victoria, refletem um casal fashion e elegante. Todo este glamour foi passado para sua fragrâncias , que refletem a modernidade, virilidade, romantismo e jovialidade.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>