<div class="desc">
	<div class="logo"><img src="/arquivos/Dermaphyto_marcas.jpg" alt="" /></div>
	<p>Dermaphyto, uma empresa especializada no desenvolvimento e fabricação de produtos dermatológicos. No Brasil desde 2006, a Dermaphyto com altos investimentos em tecnologia e pesquisas constantes realizadas em 3 Centros de Pesquisas no Brasil, desenvolve produtos diferenciados com a combinação dos ativos químicos e naturais, sinergismo que garante eficácia comprovada e tratamentos mais rápidos.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>