<div class="desc">
	<div class="logo"><img src="/arquivos/Dermatus_marcas.jpg" alt="" /></div>
	<p>Marca brasileira presente no mercado de dermocosméticos desde 1978. Possui uma linha completa de produtos que associa ativos consagrados a inovadores, em formulações adaptadas ao nosso clima e às características da pele e dos cabelos dos brasileiros. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>