<div class="desc">
	<div class="logo"><img src="/arquivos/Diesel_marcas.jpg" alt="" /></div>
	<p>A marca Diesel foi criada pelos italianos Renzo Rosso e Adriano Goldschmeid. Seu nome foi escolhido porque a palavra significava exatamente a mesma coisa em qualquer lugar do mundo e podia ser pronunciada da mesma forma em diversos idiomas. Insipiradas neste conceito, as fragrâncias Diesel refletem personalidade e ousadia.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>