<div class="desc">
	<div class="logo"><img src="/arquivos/Dkny_marcas.jpg" alt="" /></div>
	<p>Donna Karan nasceu em Nova York e hoje é uma das estilistas mais importantes do século. Em dez anos, o sucesso da marca Donna Karan estava consolidado, abrangendo roupas femininas, masculinas, linha jovem, lingerie, sapatos e perfumes. Suas fragrâncias estão sempre marcadas pela feminilidade e ousadia. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>