<div class="desc">
	<div class="logo"><img src="/arquivos/Dolce-Gabbana_marcas.jpg" alt="" /></div>
	<p>Sob a direção dos arrojados estilistas Domenico Dolce e Stefano Gabanna, a linha de fragrâncias tem como inspiração o Homem e a Mulher independentes; e expressam com plenitude, os valores da marca: Luxo Contemporâneo e Paixão, envoltos na sensualidade do Mediterrâneo. Desde a primeira fragrância, Dolce & Gabbana Pour Femme, a marca traduz em perfumes, o sexy e audacioso espírito da Itália.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>