<div class="desc">
	<div class="logo"><img src="/arquivos/Dsquared_marcas.jpg" alt="" /></div>
	<p>Dean e Dan Caten, irmãos gêmeos canadenses, atuam na moda internacional desde 1983. Destacam-se em seus desfiles espetaculares - graças à mistura perfeita de moda, música e arte - que chamaram a atenção da indústria de moda. A marca Dsquared² está intimamente relacionada à música, assinando o figurino de artistas renomados como Madonna e Christina Aguilera. Durante anos, a filosofia de Dsquared² foi representada em campanhas irônicas e irreverentes, atingindo posteriormente um tom mais sofisticado.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>