<div class="desc">
	<div class="logo"><img src="/arquivos/Ducati_marcas.jpg" alt="" /></div>
	<p>DUCATI é a principal marca de motos esportivas europeia. Nasceu em 1926 no coração do Vale do Motor, através da iniciativa empresarial de três irmãos. Os valores de estilo de vida DUCATI são caracterizados por prestígio e conotações símbolos de status, itens muito ligados também ao setor de perfumes finos.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>