<div class="desc">
	<div class="logo"><img src="/arquivos/Ducray_marcas.jpg" alt="" /></div>
	<p>Ducray é trazer a solução para os mais comuns problemas capilares: caspa, queda, oleosidade e cabelos danificados. Todos os seus produtos são beneficiados por uma intensa pesquisa na área capilar com o foco em 3 pontos primordiais: a inovação constante, a fabricação de produtos de alta qualidade e a garantia de um cabelo saudável. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>