<div class="desc">
	<div class="logo"><img src="/arquivos/Ecologie_marcas.jpg" alt="" /></div>
	<p>Utilizar a força e os benefícios da Natureza para desenvolver produtos de alta qualidade e tecnologia, com consciência ecológica e respeito pela vida- esta é a missão da Ecologie, empresa pioneira em não utilizar ingredientes provenientes de sacrifícios de animais em seus produtos. Ecologie - o encontro da natureza com a tecnologia.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>