<div class="desc">
	<div class="logo"><img src="/arquivos/Ecrinal_marcas.jpg" alt="" /></div>
	<p>A linha Ecrinal é a única linha focada exclusivamente na saúde dos Fâneros (unhas, cílios, sobrancelhas e cabelos). Ela é alicerçada em varias patentes, estudos sob controle dermatológico e farmaceutico e consagrada há mais de 60 anos.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>