<div class="desc">
	<div class="logo"><img src="/arquivos/Ed-Hardy_marcas.jpg" alt="" /></div>
	<p>Ed Hardy é pura ousadia. As tattoos criadas por ele ganharam status de obras de arte e são reconhecidas mundialmente pelo seu poder hipnotizante.A moda da marca é um rico mix de rock e tattoos com glamour, mistura que encantou celebridades da música e cinema em todo o mundo.As fragrâncias foram criadas a partir deste universo intenso dos desenhos e imagens marcantes, estes perfumes personificam um modo de vida livre e ilimitado, sendo ideais para pessoas ousadas.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>