<div class="desc">
	<div class="logo"><img src="/arquivos/Elie-Saab_marcas.jpg" alt="" /></div>
	<p>Elie Saab é um estilista libanês reconhecido mundialmente por ser o designer preferido das celebridades, princesas e noivas. Sua moda tem como objetivo a promessa do excepcional e atualmente é a marca de alta costura mais vendida no mundo. Em 2011, Elie Saab entra para o mundo da perfumaria com Le Parfum, a fragrância de estreia da marca. Ela representa o compromisso de traduzir fielmente os códigos da casa de alta costura para a realidade do dia a dia da mulher.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>