<div class="desc">
	<div class="logo"><img src="/arquivos/Elite_marcas.jpg" alt="" /></div>
	<p>A assinatura de um contrato de licença de perfume com a marca Elite Model Look foi o primeiro passo em direção a criação de um portifólio de marcas internacionais. Com 30 anos de experiência, Elite tem uma reputação internacional, com representação nos 5 continentes, com mais de 30 agências. Elite é simplesmente a agência mais importante de modelos internacionais e a maior rede de modelos do mundo! Uma parceria combinando profissionais experientes do mundo do perfume com uma marca de grande visibilidade: um time dos sonhos para o mais glamourosos de todos os perfumes!</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>