<div class="desc">
	<div class="logo"><img src="/arquivos/Elizabeth-Arden_marcas.jpg" alt="" /></div>
	<p>Em 1910 Miss Arden pintou a porta de vermelho no seu primeiro salão na 5th avenue. A porta vermelha se converteu em uma marca de beleza e um ícone que representa os melhores parâmetros de serviço, elegância e um símbolo de luxo e qualidade. Suas fragrâncias são símbolos de glamour e luxo, inspirada no famoso salão Red Door de New York.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>