<div class="desc">
	<div class="logo"><img src="/arquivos/Ermenegildo-Zegna_marcas.jpg" alt="" /></div>
	<p>Ermenegildo Zegna fundou aquela que se tornaria a marca líder mundial no vestuário masculino elegante. Além de todo o requinte de suas roupas prontas, a grife oferece hoje um serviço sob medida, enviando periodicamente um especialista seu às lojas para o detalhamento de peças absolutamente personalizadas. Seus perfumes refletem esta elegância e requinte em suas fragrâncias.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>