<div class="desc">
	<div class="logo"><img src="/arquivos/escada_marcas.jpg" alt="" /></div>
	<p>A origem do nome Escada nasceu em 1976 durante a luademel da estilista Margaretha Ley e de seu marido Wolfgang. Eles apostaram em um cavalo chamado Escada, que ganhou a corrida. É a primeira marca de Prêtàporter de luxo no mundo e que de uma forma criativa e alegre também lançou a primeira edição limitada de fragrâncias, homenageando anualmente a coleção de moda primaveraverão. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>