<div class="desc">
	<div class="logo"><img src="/arquivos/est_marcas.jpg" alt="" /></div>
	<p>est é uma linha de produtos de beleza de alta qualidade, elaborados com ingredientes naturais e com a preocupação de preservar o meio ambiente. A est utiliza o que a natureza tem de melhor para produzir cosméticos enriquecidos com extratos de plantas, óleos vegetais, óleos essenciais e vitaminas. Para consumidores que se preocupam em cuidar bem de seu corpo e de nosso planeta. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>