<div class="desc">
	<div class="logo"><img src="/arquivos/Euroluxe_marcas.jpg" alt="" /></div>
	<p>Euroluxe é uma empresa francesa fundada em 2002 para dar um novo enfoque à perfumaria de prestígio. É a primeira marca de prestígio com posicionamento de preço acessível e características da perfumaria seletiva. Um conceito de uma marca única, produtos refinados e originais, com tendências olfativas criativas, fragrâncias com frascos e embalagens inovadores, Fragrâncias criadas pelos melhores perfumistas internacionais. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>