<div class="desc">
	<div class="logo"><img src="/arquivos/exposis_marcas.jpg" alt="" /></div>
	<p>Exposis é uma linha de repelentes de alta eficácia que oferece proteção prolongada, de até 10 horas quando usado corretamente na pele, contra todo tipo de inseto, principalmente o Aedes aegypit, causador da dengue. O Lançamento Mundial da Linha de Repelentes de Alta Eficácia foi feito no 19º Congresso Mundial de Dermatologia em Paris, França.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>