<div class="desc">
	<div class="logo"><img src="/arquivos/fendi_marcas.jpg" alt="" /></div>
	<p>A casa FENDI nasceu em 1925, com a criação da primeira loja de artigos de couro e peles na Via Del Plebiscito, em Roma. O negócio, liderado pelo casal Eduardo e Adele Fendi, logo se tornou um sucesso devido à qualidade de seus produtos. Anos mais tarde, nas mãos de Lagerfeld, uma revolução na moda aconteceu e a pele tornou-se um importante item de moda. Em 2005, a FENDI celebrou o seu 80° aniversário, com a abertura da FENDI Palazzo, em Roma. A nova sede abriga a alma criativa da marca: os estúdios e ateliês de pele, além de serem a maior loja FENDI do mundo.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>