<div class="desc">
	<div class="logo"><img src="/arquivos/ferrari_marcas.jpg" alt="" /></div>
	<p>Uma marca com 60 anos de tradição e pioneirismo. Fragrâncias que inspiram toda a sensualidade e virilidade masculina e que transportam o homem Ferrari para um universo de vitórias, alta tecnologia e velocidade. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>