<div class="desc">
	<div class="logo"><img src="/arquivos/first-kiss_marcas.jpg" alt="" /></div>
	<p>Representando a Kiss no Brasil, a First Kiss trabalha com a linha de adesivos, cílios postiços, lixas e unhas postiças, com planejamento para trazer toda a linha Kiss em breve. Os produtos incluem unhas e cílios postiços, cosméticos, acessórios de beleza, produtos e instrumentos de salão como secadores de cabelo, alisador de cabelo, etc. A América do Norte e a Europa são os maiores consumidores da Kiss, mas o Brasil não deixa de ser um potencial cliente.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>