<div class="desc">
	<div class="logo"><img src="/arquivos/forum_marcas.jpg" alt="" /></div>
	<p>Sensível e sonhador, Tufi Duek afirma que sua roupa tem alma e, para aproximarse ainda mais do íntimo das pessoas, as fragrâncias Fórum foram lançadas. O lançamento de Forum Parfums reforça a brasilidade contemporânea da marca e cria a primeira fragrância de um estilista brasileiro no segmento de perfumaria de luxo importada. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>