<div class="desc">
	<div class="logo"><img src="/arquivos/fresh_marcas.jpg" alt="" /></div>
	<p>A marca FRESH'N SOFT com mais de 30 produtos é reconhecida pela excelente qualidade e apresentação de seus produtos. Com pesquisas no Mercado Nacional buscamos trazer lenços umedecidos baseados nas necessidades de praticidade do Brasileiro para facilitar sua vida na "corrida diária", assim trouxemos lenços umedecidos de maior qualidade e com inovações no segmento Brasileiro.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>