<div class="desc">
	<div class="logo"><img src="/arquivos/futura_marcas.jpg" alt="" /></div>
	<p>A Futura Biotech nasceu do empreendedorismo de um grupo de profissionais, cuja característica maior é a ousadia e a paixão pelo que faz. O projeto é fruto da percepção de uma enorme carência no Brasil de produtos que incorporassem o melhor da tecnologia internacional, sendo, ao mesmo tempo, adaptados ao clima e à pele brasileira.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>