<div class="desc">
	<div class="logo"><img src="/arquivos/gabriela-sabatini_marcas.jpg" alt="" /></div>
	<p>Gabriela Sabatini começou a jogar tênis aos oito anos de idade e com treze conquistou seu primeiro torneio. Chegou ao posto de número 1 ainda na categoria júnior. Começou a carreira profissional em 1985 e retirou-se 11 anos depois. Até hoje, é considerada aquela que foi a mais jovem semi-finalista de Roland Garros. Hoje, Gabriela detém uma cadeia de lojas com perfumes de sua autoria.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>