<div class="desc">
	<div class="logo"><img src="/arquivos/gap_marcas.jpg" alt="" /></div>
	<p>Fundada na Califórnia em 1969 por Donald e Doris Fisher como uma loja multimarca, seu nome deriva das diferenças entre crianças e adultos, a chamada "geração gap", que teve seu auge com o movimento hippie. Em 1982, começou a investir em sua própria marca, ganhando fama internacional. Em 1983, comprou a Banana Republic. Em 1995 lançou as linhas de cuidados pessoais e logo a seguir, os perfumes.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>