<div class="desc">
	<div class="logo"><img src="/arquivos/gilles-cantuel_marcas.jpg" alt="" /></div>
	<p>"Arme-se de sedução" é o slogan da linha Arsenal fabricada pela casa de fragrâncias de Gilles Cantuel, um dos mariores perfumistas franceses. Com sua marca própria, desenvolve fragrâncias únicas para homens e mulheres desde 1998. O formato sugestivo da linha principal em "granada" denota o efeito do conceito que é marcar momentos, seduzir e proporcionar a conquista de seu espaço. Para pessoas que sabem o que quer. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>