<div class="desc">
	<div class="logo"><img src="/arquivos/gillette_marcas.jpg" alt="" /></div>
	<p>Gillette, marca líder no segmento de barbeadores foi criada por King C. Gillette e William Nickerson no ano de 1901 em Boston, Estados Unidos. Em apenas dois anos, lâminas e aparelhos revolucionários foram colocados à venda. Em 1905 Deu-se início o primeiro processo de produção no Exterior e a partir daí deu-se o crescimento da empresa tornando-se líder no mercado. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>