<div class="desc">
	<div class="logo"><img src="/arquivos/giorgio-armani_marcas.jpg" alt="" /></div>
	<p>Giorgio Armani, conhecido como o Imperador de Milão, nasceu em 11 de julho de 1934, na cidade de Piacenza, no norte da Itália (ao sul de Milão). A marca iniciou sua expansão na perfumaria com a criação de Giorgio Armani Parfums e o lançamento de suas primeiras fragrâncias, dentre elas Armani pour Homme, Acqua di Gió e Emporio Armani.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>