<div class="desc">
	<div class="logo"><img src="/arquivos/givenchy_marcas.jpg" alt="" /></div>
	<p>Hubert de Givenchy é uma figura legendária. Em 1952, ele abria sua maison em Paris, revolucionando a alta costura. O primeiro designer a apresentar uma coleção prêt-à-porter feminina lançou em 1957 seu primeiro perfume,"Le De". Já no século 21, Liv Tyler é o rosto de "Very Irrésistible Givenchy", um mix da elegância francesa e espontaneidade americana, presente em todas as coleções do estilista.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>