<div class="desc">
	<div class="logo"><img src="/arquivos/Gres_marcas.jpg" alt="" /></div>
	<p>A história da marca Grès se mistura com a história da vida de Madame Grès. Madame Grès Alix nasceu em 1903 em Paria, França. Da moda para as fragrâncias, seguiu o conselho de Leyssène que dizia que todas as importantes casas de moda criavam seus perfumes para implementar o negócio e divulgar a marca. Em 1982, Madame Grès teve de vender a Casa de Perfumes para Haute Couture. A empresa então passou a se chamar Perfumes Grès, e hoje está sediada na Suíça.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>