<div class="desc">
	<div class="logo"><img src="/arquivos/guards-polo-club_marcas.jpg" alt="" /></div>
	<p>A marca Guards Polo Club foi fundada em 1955, pelo príncipe Philip, Duque de Edinburgo, que também era seu presidente. O clube sintetiza o que há de melhor no Polo Inglês, com uma profunda raiz na tradição e desfrutando de patrocínio da realeza. Por todo o mundo, Guards Polo Club se tornou uma lenda nas todas de polo. Como esporte e escolha de vida, o polo está desfrutando de uma popularidade e exposição inéditas.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>