<div class="desc">
	<div class="logo"><img src="/arquivos/gucci_marcas.jpg" alt="" /></div>
	<p>Estabelecida em Florença na década de 20, Gucci é uma das marcas mais desejadas no mundo. Percorrendo desde o provocador e sexy até o doce e açucarado, as essências são clássicos instantâneos, assim como as desejadas roupas e acessórios. Gucci está no topo do luxo, enquanto navega pelas ondas da poderosa moda renascentista trazendo uma lembrança constante do doce cheiro do sucesso. Com designs modernos e inovadores para homens e mulheres, Gucci elevou sua assinatura minimalista a um status icônico.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>