<div class="desc">
	<div class="logo"><img src="/arquivos/guerlain_marcas.jpg" alt="" /></div>
	<p>Os produtos de beleza marcaram o início de Pierre-François-Pascal Guerlain, há 175 anos na busca da conquista das mulheres, em 1828. Do coração das plantas mais raras e do núcleo dos minerais mais preciosos, as diferentes gerações de Guerlain extraíram a maioria dos elixires de beleza, complementando sua performance tecnológica com aromas e texturas sensuais.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>