<div class="desc">
	<div class="logo"><img src="/arquivos/guess_marcas.jpg" alt="" /></div>
	<p>Da icônica marca de jeans aos inimitáveis anúncios em preto e branco, o estilo singular de Guess é traduzido para o aroma carismático das notas sedutoras de Guess Seductive. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>