<div class="desc">
	<div class="logo"><img src="/arquivos/Head---Shoulders_marcas.jpg" alt="" /></div>
	<p>Head & Shoulders, o shampoo mais vendido do mundo! Desde 1950, head & shoulders está a frente de pesquisas na área de cabelos e couro cabeludo, além de tratamentos para combater a caspa. Com a consultoria de profissionais de ponta, desenvolvemos uma ampla variedade de produtos para cuidar do seu couro cabeludo e nutrir seus cabelos. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>