<div class="desc">
	<div class="logo"><img src="/arquivos/hugoboss_marcas.jpg" alt="" /></div>
	<p>HUGO BOSS, uma marca que é sinônimo de elegância desde 1923, vem construindo sua sólida imagem no mercado brasileiro através de vários produtos de sucesso destinados aos públicos masculino e feminino. A linha de perfumes está dividida em 3 grandes pilares: HUGO, BOSS e Baldessarini. Cada uma simboliza o homem e a mulher em etapas diferentes da sua vida.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>