<div class="desc">
	<div class="logo"><img src="/arquivos/Jacadi_marcas.jpg" alt="" /></div>
	<p>Criada em 1978, a grife francesa Jacadi produz roupas infantis confortáveis, sem abrir mão do estilo de vestir bem as crianças. Expressão aromática e uma marca autêntica e contemporânea. Com as versões para bebês, meninas e meninos, Jacadi envolve todos os valores essenciais no universo das fragrâncias: é excepcional, com um rico estilo emocional, original e harmonioso.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>