<div class="desc">
	<div class="logo"><img src="/arquivos/Jacomo_marcas.jpg" alt="" /></div>
	<p>No final dos anos 60, o americano James Kaplan e o francês Gérad Courtin, antigo pianista, resolveram criar uma sociedade para abrir uma loja de couro em Nova Iorque. Nomearam a loja de "Jacomo", que seria o "Já" de James, o "Co" de Courtin e "Mo", nome de uma nota musical.Gérard Courtin passou a descobrir sua verdadeira paixão pela perfumaria, passando pelo desenvolvimento até chegar à criação do perfume.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>