<div class="desc">
	<div class="logo"><img src="/arquivos/Jacques-Bogart_marcas.jpg" alt="" /></div>
	<p>Jacques Bogart foi fundado em 1975 por Jacques Konckier, um fã de cinema que combinou seu nome ao de seu ator preferido - o americano Humphrey Bogart, de Casablanca, para batizar sua empresa. Um especialista no mundo das fragrâncias masculinas. Jacques Bogart, que se dedica exclusivamente à criação de perfumes para homens. Jacques Bogart é uma marca que vive o tempo atual e está além de sua excelência. O espirito Bogart consiste em uma criação de luxo, especificamente masculino. Bogart busca em suas fragrâncias sempre a elegância, masculinidade e sobriedade .</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>