<div class="desc">
	<div class="logo"><img src="/arquivos/Jaguar_marcas.jpg" alt="" /></div>
	<p>Nasce uma nova geração Jaguar: homens com instinto de luxo, amantes do mistério, do poder, da força e da sensualidade. Tendo uma misteriosa pantera como símbolo, animal de instinto infalível altamente dinâmico e de elegante porte, Jaguar traduz por décadas a excepcionalidade, exclusividade e a elegância. Agora, mais que um carro: uma essência, um estilo. Não existe no mercado nada parecido com essa exuberância em notas criadas especialmente para o mundo masculino.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>