<div class="desc">
	<div class="logo"><img src="/arquivos/James-Bond_marcas.jpg" alt="" /></div>
	<p>James Bond tem os ingredientes certos para encantar os homens com uma fragrância que é atemporal, aspiracional, icônica. A franquia de 007 é a mais antiga da história do cinema, com 22 filmes produzidos desde 1962. A franquia fará parceria com a P & G Prestige para oferecer a sua primeira fragrância masculina em 2012, ano do 50º aniversário da franquia.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>