<div class="desc">
	<div class="logo"><img src="/arquivos/Jean-Paul-Gaultier_marcas.jpg" alt="" /></div>
	<p>Jean Paul Gaultier sempre foi um mestre na arte de misturar gêneros. Sua moda e seus perfumes reconciliam opostos, tremendo de códigos de conjuntos de humor. Sua inspiração multicultural, o seu desacordo e provocação são a riqueza de suas criações vanguardistas, livres e generosas. Seu trabalho reflete sua personalidade: a demanda e a paixão pela beleza, liberdade de coragem, pensamento e "French Touch". O perfume é a primeira peça de vestuário que colocamos sobre a pele.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>