<div class="desc">
	<div class="logo"><img src="/arquivos/Jeanne-Arthes_marcas.jpg" alt="" /></div>
	<p>A marca Jeanne Arthes foi criada em 1978 em Grasse, na França. Desenvolveu a arte de fabricar produtos que aliam luxo e preços acessíveis. Foi uma das primeiras a comercializar seus produtos no Oriente Médio com o desafio de democratizar a distribuição de perfumes naquela região. A empresa é atualmente reconhecida como uma das mais criativas e produtivas na fabricação de frascos de perfumes, superando a marca de 125.000 frascos diários. Jeanne Arthes é uma das marcas mais conhecidas em todo mundo, pois comercializa seus produtos em mais de 110 países.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>