<div class="desc">
	<div class="logo"><img src="/arquivos/Jennifer-Lopez_marcas.jpg" alt="" /></div>
	<p>Em 2002, JLo marcou sua estréia e história de sucesso no mundo dos perfumes. A estrela envolvese pessoalmente no desenvolvimento de cada perfume fazendo com que suas fragrâncias sejam o reflexo perfeito de sua personalidade: carismática, cheia de energia e sensualidade latina. Os frascos, de beleza notáveis,capturam as curvas apaixonantes e sedutoras de JLo. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>