<div class="desc">
	<div class="logo"><img src="/arquivos/Jimmy-Choo_marcas.jpg" alt="" /></div>
	<p>Em 1996, Tamara Mellon era editora de acessórios da Vogue britânica, quando foi contratada pelo Sr. Jimmy Choo, fabricante de calçados de alta-costura, para juntos formarem uma empresa de calçados prêt-à-porter. A primeira boutique Jimmy Choo foi instalada em Londres. A partir daí, Nova York e em seguida Los Angeles. Com o estrondoso sucesso, os sapatos Jimmy Choo viraram febre entre os jovens de Hollywood e tornaram-se sinônimo de "tapete vermelho" por excelência.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>