<div class="desc">
	<div class="logo"><img src="/arquivos/John-Varvatos_marcas.jpg" alt="" /></div>
	<p>John Varvatos é um Design americano que nasceu em Michigan, Detroit. Em 2000 John decidiu desenvolver a sua própria linha, John Varvatos. John Varvatos é uma marca que ocupa um lugar único no universo do design americano. Ela une artesanato do velho mundo e alfaiataria refinada com inovações têxteis e uma sensibilidade rock 'n' roll.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>