<div class="desc">
	<div class="logo"><img src="/arquivos/Jolijoli_marcas.jpg" alt="" /></div>
	<p>Joli Joli nasceu de uma historia de amor vivido em Paris. Ela, uma mulher livre, independente, a frente do seu tempo. Adora se produzir e apresentar-se muito bonita para o seu marido. Está sempre em busca de todas as novidades em moda, cosméticos e, sobretudo, maquiagem. Ele, um homem romântico quis eternizar sua declaração de amor numa linha de maquiagens exclusiva em sua homenagem. Nasce então Joli Joli, que quer dizer "Linda Linda", uma forma de tratamento muito íntima entre os dois. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>