<div class="desc">
	<div class="logo"><img src="/arquivos/Joop_marcas.jpg" alt="" /></div>
	<p>Em 1978, JOOP! foi criada por Wolfgang Joop. Criatividade e paixão estão unidas em sua personalidade carismática. Uma mistura emocionante de extravagância, tradição e modernidade também moldou o estilo e imagem da marca. Os produtos Joop! São para mulheres e homens com grande personalidade, sensualidade e muito estilo. Atitude, erotismo, estilo provocativo e criatividade estão presentes em todas as coleções da Joop! </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>