<div class="desc">
	<div class="logo"><img src="/arquivos/juicycouture_marcas.jpg" alt="" /></div>
	<p>A marca foi fundada nos Estados Unidos em 1994 por Pamela Skaist-Levy e Gela Taylor. A idéia inicial era costumizar jeans usados das suas amigas, a marca se chamava então Travis Jeans. Em 1996 a marca adotou o nome atual. Juicy Couture revolucionou o conceito de moda, pois avós, mães e filhas passaram a usar as roupas da marca. É sinônimo de garotas que adoram sair para as compras e que vivem para se divertir. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>