<div class="desc">
	<div class="logo"><img src="/arquivos/Kenzo_marcas.jpg" alt="" /></div>
	<p>A Kenzo foi fundada em 1970 por Kenzo Takada. O estilista renovou as regras da Moda com cores, alegria, espontaneidade, criações poéticas e trouxe um frescor diferente, o toque que faltava para a moda mundial. Em 1988 a Kenzo leva seu conceito para a perfumaria, lançando Ça Sent Beau, e em 2000 lança Flower by Kenzo, um perfume feminino, elo entre o mundo tecnológico e poético de Kenzo. Hoje, após 10 anos de seu lançamento, Flower By Kenzo continua sendo o maior sucesso da marca. Tanto na moda quanto na perfumaria, Kenzo traz um lado mais humano para o mundo urbano e padronizado em que vivemos. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>