<div class="desc">
	<div class="logo"><img src="/arquivos/Klass-Vough_marcas.jpg" alt="" /></div>
	<p>Todo profissional precisa de ferramentas ideais para alcançar o sucesso em suas criações e a Klass Vough é a marca dos melhores pincéis e acessórios para maquiagem profissional. Visando qualidade e inovação dos seus produtos, a Klass Vough busca perfeição na criação de pincéis e acessórios que auxiliam os profissionais da área de make-up para alcançar os resultados máximos em seu trabalho: a Beleza.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>