<div class="desc">
	<div class="logo"><img src="/arquivos/Klass-Vough_marcas.jpg" alt="" /></div>
	<p>Entre 1600 e 1680, Artesãos Japoneses criaram bonecas de madeira feitas a mão para vender nas estâncias termais de Tagata - norte do Japão Kokeshi é Uma série de cinco fragrâncias inspiradas nessas bonecas japonesas tradicionais. Mais do que apenas uma simples fragrâncias, cada um conta sua própria história: amor, sorte, amizade, beleza ou força. Kokeshi significa protetor da alma das crianças.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>