<div class="desc">
	<div class="logo"><img src="/arquivos/Koleston_marcas.jpg" alt="" /></div>
	<p>Koleston, a primeira coloração em creme do mundo, mantém a intensidade da cor dos cabelos por até seis semanas. O Tratamento Gloss Intenso, presente no kit, possui extrato de amêndoas e tecnologia superior que cuida, hidrata e protege os fios contra a ação da água, deixando os cabelos com muito mais brilho e duas vezes mais intensidade da cor. São 39 cores, distribuídas de maneira a atender as preferências de cada consumidor. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>