<div class="desc">
	<div class="logo"><img src="/arquivos/La-Perla_marcas.jpg" alt="" /></div>
	<p>A grife italiana La Perla, que virou marca de alta costura em lingerie, foi fundada em 1954 pelo designer Ada Masotti, quando este inaugurou um pequeno atelier de confecção de espartilhos. A primeira coleção era composta de lingeries decoradas com pedras semipreciosas e pérolas, em uma embalagem semelhante a um porta-jóias. O uso dos materiais mais exclusivos, o conhecimento profundo do corpo feminino e a fusão entre inovação e tradição serviram de rampa de lançamento para projetar a marca. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>