<div class="desc">
	<div class="logo"><img src="/arquivos/La-Prairie_marcas.jpg" alt="" /></div>
	<p>A tradição da marca La Prairie é herança da reconhecida Clínica La Prairie em Montreux, Suíça - pioneira por mais de meio século no tratamento celular e terapia antienvelhecimento. Em 1978, seu avançado Sistema de Tratamento Celular revolucionou a ciência do cuidado com a pele. Desde então, os laboratórios La Prairie continuam a formular, ano após ano, os mais modernos tratamentos para a pele.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>