<div class="desc">
	<div class="logo"><img src="/arquivos/LACOSTE_marcas.jpg" alt="" /></div>
	<p>A marca Lacoste foi criada em 1933 por René Lacoste, um famoso tenista apelidado de "Le Crocodile" pela imprensa americana durante a Copa Davis em 1927, por causa de uma aposta que valia uma pasta de pele de crocodilo. O animal acabou virando o símbolo da marca. Os perfumes Lacoste expressam atitude e um estilo de vida moderno e descontraído, que é o verdadeiro espírito da marca. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>