<div class="desc">
	<div class="logo"><img src="/arquivos/LADY-GAGA_marcas.jpg" alt="" /></div>
	<p>Dois anos de experimentação em Paris levaram ao lançamento de Lady Gaga Fame. A tecnologia de fragrância, primeira do seu tipo, é um extrato da sensualidade ousadia da exigente Gaga. Trevas, luz e sensualidade fundem-se para revelar uma fragrância opulenta e viciante que é negra como a alma da fama. Nascida para superar todas as normas e os padrões da indústria de fragrâncias, Lady Gaga Fame é o primeiro perfume com líquido negro, que se torna invisível em contato com o ar e com a pele. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>