<div class="desc">
	<div class="logo"><img src="/arquivos/LANCOME_marcas.jpg" alt="" /></div>
	<p>Um castelo francês - Lancosme - como fonte de inspiração para o nome. Uma consoante a menos, um acento circunflexo a mais, e nasceu LANCÔME. A partir de 1935, Armand Petitjean, o fundador da marca, conquistou o mercado com perfumes de prestígio, cremes revolucionários e maquiagens visionárias. Atualmente, a marca número 1 mundial no mercado seletivo de beleza, LANCÔME mantém a ambição de Petitjean: oferecer uma dimensão de sonho embasado na ciência. O resultado é uma expertise de alto nível em beleza, sempre em sintonia com as mulheres, e a criação de produtos lendários que escreveram novas páginas na história dos cosméticos. De Trésor a Hypnôse, de Absolue à máscara L'Extrême, LANCÔME inventa e reinventa a linguagem da beleza, ao quebrar permanentemente as fronteiras da expertise, emoção e luxo no estilo francês.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>