<div class="desc">
	<div class="logo"><img src="/arquivos/LANVIN_marcas.jpg" alt="" /></div>
	<p>Fundada em 1889, na Rua Faubourg Saint-Honoré nº 22 por Jeanne Lanvin, Lanvin é a mais antiga casa de modas de Paris. Desde a alta costura em 1909 à moda masculina em 1926 passando pela decoração em 1920 e pelos perfumes em 1925, a jovem modista de chapéus converteu-se em embaixatriz da elegância francesa. Jeanne Lanvin nasceu em Paris em 1867. A partir de 1897 com o nascimento de sua filha, Marguerite, Jeanne fez dela sua principal inspiração para sua criações. Em 1927 lançou a fragrância ARPÉGE dedicada a sua filha e criada por André Fraysse. Jeanne Lanvin morreu em 1946 e sua filha Marie-Blanche de Polignac tornou-se diretora da Lanvin S.A Lanvin Perfumes. Em 1989 Lanvin foi comprada pela L'oreal e Orcofi. Em agosto de 2001, Lanvin foi comprada pelo Harmony Holding Company, que como sócia majoritária tem Shaw-Lan-Wang, dona de um grupo internacional de imprensa. Lanvin é um mito desde 1889, uma das maiores referências da moda internacional. Um universo de luxo e criatividade.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>