<div class="desc">
	<div class="logo"><img src="/arquivos/LATIKA_marcas.jpg" alt="" /></div>
	<p>A nova marca de cosméticos românticos e cheia de personalidade acaba de abrir suas portas no Brasil. Com cores inéditas, a marca propõe uma composição criativa para seu look. Quem é que nega que a cara do look começa na ponta dos dedos? </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>