<div class="desc">
	<div class="logo"><img src="/arquivos/LEONOR-GREYL_marcas.jpg" alt="" /></div>
	<p>Uma história de família: 40 anos de experiência. A marca foi fundada em 1968 por Leonor Greyl, na época, a tendência de produtos naturais estava apenas começando. Desde sua criação, a marca tem continuamente se destacado através da criatividade e produtos de qualidade inovadora. Hoje, a segunda geração exerce sobre a empresa o know-how, salvaguardando as fórmulas da marca que representam seu legado.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>