<div class="desc">
	<div class="logo"><img src="/arquivos/LINN-YOUNG_marcas.jpg" alt="" /></div>
	<p>Uma fragrância importada, de qualidade, com embalagens criadas por designers europeus, classificações olfativas que são preferências do público -alvo e preços abaixo das marcas importadas e nacionais. Sempre tratando a fragrância com notas olfativas e um conceito para cada criação. Um produto de qualidade que se diferencia dos demais. Que além de tudo passa um conceito, do moderno, do bonito.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>