<div class="desc">
	<div class="logo"><img src="/arquivos/LOLITA-LEMPICKA_marcas.jpg" alt="" /></div>
	<p>O sucesso da estilista francesa Lolita Lempicka nasceu de seu prazer em criar roupas para mulheres e em realçar o que nelas há de mais belo. Lolita Lempicka foi agraciada com o prêmio de melhor fragrância feminina européia durante o 25º Fifi Awards 97. Atualmente, o perfume está na lista dos cinco mais vendidos nos EUA e é um sucesso ao redor do mundo. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>