<div class="desc">
	<div class="logo"><img src="/arquivos/L-Anza_marcas.jpg" alt="" /></div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum nisl quis libero dapibus egestas. Donec nulla ipsum, placerat vitae nisl eget, lobortis lobortis lorem. Phasellus augue nibh, tristique nec tortor at, iaculis ultrices libero. Cras consequat nisl nisl, eu sodales justo tincidunt quis.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>