<div class="desc">
	<div class="logo"><img src="/arquivos/MACADAMIA_marcas.jpg" alt="" /></div>
	<p>Macadamia Natural Oil são produtos que combinam as propriedades leves e ricas dos nutrientes da nozes de macadâmia e óleos de semente de argan, para revitalizar até mesmo o cabelo mais problemático, nutrindo da raiz às pontas beneficiando a saúde dos cabelos e atingindo a beleza sem esforço. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>