<div class="desc">
	<div class="logo"><img src="/arquivos/MADAME-MILLY_marcas.jpg" alt="" /></div>
	<p>Madame Milly é uma empresa sexy e sofisticada que agrada à mulheres de todas as idades. Cores clássicas e embalagens divertidas que fazem dos produtos Madame Milly um presente fantástico para um ente querido ou um agrado para si mesmo!</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>