<div class="desc">
	<div class="logo"><img src="/arquivos/MALIZIA_marcas.jpg" alt="" /></div>
	<p>Malizia é especializada na importação e distribuição de uma gama completa de sprays para o corpo e produtos de higiene pessoal para mulheres, homens e adolescentes. São produtos autênticos da Itália e em primeiro lugar no mundo. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>