<div class="desc">
	<div class="logo"><img src="/arquivos/MANDARIANA-DUCK_marcas.jpg" alt="" /></div>
	<p>Marc Jacobs é um dos nomes mais influentes do mundo fashion da atualidade. Designer exclusivo da griffe Louis Vuitton, possui também sua própria coleção, desejada por 10 entre 10 celebridades. A preocupação com os detalhes é presente também em sua linha de perfumes.ParaMarc, "Fragrâncias, assim como a moda, são uma forma de expressar seu estilo pessoal".</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>