<div class="desc">
	<div class="logo"><img src="/arquivos/Marina-De-Bourbon_marcas.jpg" alt="" /></div>
	<p>Marina de Bourbon fez parte de uma família repleta de nobres e reis, a Dinastia Bourbon, que reinou durante os anos de 1553 a 1848. A princesa francesa Marina de Bourbon cria sua linha de perfumes marcada pela sofisticação e luxo característica da nobreza francesa, sua primeira fragrância leva seu nome e foi inspirada no perfume do jardim de sua residência.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>