<div class="desc">
	<div class="logo"><img src="/arquivos/Mariah-Carey_marcas.jpg" alt="" /></div>
	<p>Cantora, compositora, produtora musical e atriz, Mariah Carey tem mais de 160 milhões de discos vendidos no mundo todo. Em setembro de 2007 lança sua primeira fragrância M by Mariah Carey, um sucesso mundial, chegando a ser listado entre as fragrâncias mais vendidas no site oficial de Elizabeth Arden.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>