<div class="desc">
	<div class="logo"><img src="/arquivos/Mauboussin_marcas.jpg" alt="" /></div>
	<p>A filosofia de Mauboussin é baseada em um estilo de vida que inclui arte, música, gastronomia, perfumes...e jóias: um processo que objetiva criar um ambiente de harmonia sensual, onde o indivíduo é encorajado a respirar e converter, comer e beber, rir e relaxar.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>