<div class="desc">
	<div class="logo"><img src="/arquivos/Mavala_marcas.jpg" alt="" /></div>
	<p>A combinação de alta qualidade, produtos impecáveis tecnicamente e mais de 50 anos de experiência no cuidado de unhas, tem feito de Mavala uma notável história de sucesso. Estabelecendo-se no Mercado em 1958 na Suíça, a empresa vem se desenvolvendo continuamente, melhorando e expandindo a base de seus produtos.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>