<div class="desc">
	<div class="logo"><img src="/arquivos/Mediterrani_marcas.jpg" alt="" /></div>
	<p>A Mediterrani Professional utiliza os melhores ativos presentes em nosso país, aliado a alta tecnologia disponível no mercado de cosméticos nacional e internacional, oferecendo uma linha completa de produtos de alta eficácia especialmente inspirados nas necessidades dos profissionais e seus clientes. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>