<div class="desc">
	<div class="logo"><img src="/arquivos/Melora_marcas.jpg" alt="" /></div>
	<p>A Melora do Brasil faz parte do grupo IFC. Com sede na Espanha, o foco do grupo é a pesquisa e desenvolvimento de novas tecnologias dermatológicas. Presente em mais de 50 países, o IFC desenvolve seu trabalho simultaneamente em vários mercados, respeitando as diversidades culturais e locais. A Melora do Brasil oferece a melhor tecnologia em fotoproteção e soluções inovadoras para o combate aos sinais do envelhecimento, a fim de atender os profissionais engajados com a saúde e o cuidado da pele.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>