<div class="desc">
	<div class="logo"><img src="/arquivos/Michael-Kors_marcas.jpg" alt="" /></div>
	<p>Michael Kors é sinônimo de luxo e sofisticação e suas fragrância seguem esse conceito. A fragrância é a interpretação da moda de Michael Kors. A marca é a sinergia perfeita entre forma, moda e fragrância.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>