<div class="desc">
	<div class="logo"><img src="/arquivos/Molyneux_marcas.jpg" alt="" /></div>
	<p>Edward Henry Molyneux nasceu em 5 de setembro de 1891 em Londres - Inglaterra. Ele foi o ilustrador de moda do estúdio da Maison Lucile. Durante a 1ª Guerra Mundial, ele adquiriu o título de "Capitão" por toda sua vida. Em 1919, Molyneux abriu sua própria casa de moda em Paris. Rapidamente, por seu estilo único, ele tornou-se o designer favorito de celebridades: o estilo "Deauville" (azul e branco). Em 1927, a primeira fragrância de Molyneux foi criada.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>