<div class="desc">
	<div class="logo"><img src="/arquivos/Montblanc_marcas.jpg" alt="" /></div>
	<p>Há um século, Montblanc é sinônimo de excelência em instrumentos de escrita, jóias, acessórios e artigos em couro. Desde 2001, vem desenvolvendo fragrâncias de luxo que traduzem toda a exclusividade, tradição e sofisticação da marca. A estrela branca que presta homenagem ao Montblanc - montanha localizada na Europa, assina e identifica a qualidade do perfume e de toda a sua linha de produtos. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>