<div class="desc">
	<div class="logo"><img src="/arquivos/Moschino_marcas.jpg" alt="" /></div>
	<p>Franco Moschino começou sua carreira nos anos 70. A marca Moschino foi lançada em 1983. Suas coleções eram explosões de cores e exagero. Lançou coleções femininas e masculinas, linhas de jeans e perfumes. Após sua morte aos 44 anos em 1994, a marca principal, sua linha mais jovem chamada Moschino Cheap and Chic e Moschino Jeans, passaram a ser comandadas por Rosella Jardini. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>