<div class="desc">
	<div class="logo"><img src="/arquivos/Narciso-Rodriguez_marcas.jpg" alt="" /></div>
	<p>A moda de Narciso Rodriguez é um contraste do clássico com o moderno, é o ícone mundial de elegância e sofisticação. Da moda para a perfumaria, Narciso mantém o espírito de luxo atemporal, utilizando como base três valores para criar suas fragrâncias: precisão, elegância e sobriedade. Suas maiores fontes de inspiração são a mulher, Nova York e a arquitetura Bauhaus. Sua cultura olfativa é o Musk, e Narciso utiliza essa nota na maioria de suas fragrâncias para deixá-las com toque sensual e atraente. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>