<div class="desc">
	<div class="logo"><img src="/arquivos/Natupele_marcas.jpg" alt="" /></div>
	<p>Fundada em dezembro de 2003, a Natupele conta com uma equipe de farmacêuticos com ampla experiência na área cosmecêutica, desenvolvendo dermocosméticos de última geração, de comprovada eficácia terapêutica e segurança. O compromisso com a inovação e a qualidade levaram à certificação ISO 9001 pela BRTUV, consagrando a Natupele pela organização e melhoria contínua em todos os seus processos.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>