<div class="desc">
	<div class="logo"><img src="/arquivos/NBA_marcas.jpg" alt="" /></div>
	<p>A Liga de Basquete Americana NBA, uma das mais famosas e conhecidas ligas de basquete de todo o mundo, firmou parceria com a Air-Val Internacional, empresa fundada em 1979 em Barcelona - Espanha para a criação e desenvolvimento de perfumes e desodorantes, licenciados pela Marca NBA. A criação visava atender aos fãs do basquete NBA e esportistas de forma geral, que poderão fazer uso das fragrância tanto em eventos esportivos como também em ocasiões especiais. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>