<div class="desc">
	<div class="logo"><img src="/arquivos/Neostrata_marcas.jpg" alt="" /></div>
	<p>NeoStrata desenvolve e comercializa uma gama completa de produtos dermatológicos com resultados clinicamente comprovados, para as marcas: NeoStrata, Exuviance, CoverBlend, NeoCeuticals e NeoStrata Therapeutics. Os produtos terapêuticos e cosmético dermatológicos são produzidos com a avançada tecnologia insuperável do ácido polihidróxi para atender às necessidades de cada tipo de pele.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>