<div class="desc">
	<div class="logo"><img src="/arquivos/Nesti-Dante_marcas.jpg" alt="" /></div>
	<p>Nesti Dante tem mais de 60 anos de tradição na arte de fabricar sabonetes de primeira linha através do clássico método europeu. Totalmente natural e livre de corantes, a pureza dos ingredientes de Nesti Dante faz com que a pele fique mais bonita e saudável, com aroma e textura suaves, capazes de despertar deliciosas sensações.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>