<div class="desc">
	<div class="logo"><img src="/arquivos/New-York-Streets_marcas.jpg" alt="" /></div>
	<p>New York Streets é inspirada pela cultura das grandes cidades, que refletem liberdade de estilo, individualidade e singularidade. Criatividade, inovação e liberdade. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>