<div class="desc">
	<div class="logo"><img src="/arquivos/Nina-Ricci_marcas.jpg" alt="" /></div>
	<p>Nina Ricci nasceu na Itália e se estabeleceu como estilista em Paris, onde conheceu fama mundial. Em 1932, ela abre sua maison e em 1946, ela lança sua primeira fragrância. E até hoje seus perfumes exprimem o verdadeiro glamour parisiense.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>