<div class="desc">
	<div class="logo"><img src="/arquivos/Nutrilatina_marcas.jpg" alt="" /></div>
	<p>A Nutrilatina é líder em suplementos alimentares na América Latina. Pautada pela inovação permanente, expertise avançada, pelo domínio do processo produtivo e o compromisso com a qualidade, a empresa inaugurou o segmento de nutricosméticos no país com a linha Rennovee®, a primeira linha completa de nutricosméticos do Brasil.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>