<div class="desc">
	<div class="logo"><img src="/arquivos/Oral-B_marcas.jpg" alt="" /></div>
	<p>A Oral B, marca Norte Americana, foi desenvolvida pelo Dr. Robert Hudson que decidiu criar uma escova revolucionária com cerdas de nylon que proporcionava uma melhor limpeza dos dentes e massageamento das gengivas. O nome Oral B foi escolhido porque ele acreditava que as escovas eram importantes para toda a boca, e a letra B foi colocada por ser a inicial da palavra Brush (escova em inglês).</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>