<div class="desc">
	<div class="logo"><img src="/arquivos/Organix_marcas.jpg" alt="" /></div>
	<p>Produzido pela empresa Vogue International Inc., e com o desenvolvimento do hair-stylist Todd C. Christopherque, já possui em seu portfólio mais de 60 produtos profissionais em linhas como FX Special, direcionadas há mais de 20 anos para profissionais de salão e a partir 2002, ao mercado varejo com uma explosão de vendas. Linha pensada e criada para tratar os cabelos com alta tecnologia, porém aproveitando o que a natureza tem de melhor, sem deixar de lado a consciência ecológica e a preocupação com o meio ambiente. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>