<div class="desc">
	<div class="logo"><img src="/arquivos/Orofluido_marcas.jpg" alt="" /></div>
	<p>Uma viagem às origens da beleza dos cabelos. Orofluido tem sua inspiração na beleza dos rituais de tradições antigas.As mulheres berberes que viviam em Marrocos nos ensinaram a proteger e a cuidar de nossos cabelos com o precioso óleo de Argan. Os segredos de beleza de Cleópatra, rainha do Egito, e ainda um símbolo de sedução hoje, incluiu um tratamento baseado em óleo de Cyperus, que deixou seu cabelo sedoso, brilhante e aveludada ao toque. Orofluido é sensualidade pura, uma celebração dos sentidos.O mistério da fragrância de âmbar, o fascínio dos óleos naturais mais preciosos. O luxo do ouro.Um ritual de beleza para todos os tipos de cabelo.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>