<div class="desc">
	<div class="logo"><img src="/arquivos/Paco-Rabanne_marcas.jpg" alt="" /></div>
	<p>Em 1966 Paco Rabanne lança sua primeira coleção. Inspirada nos mais audaciosos projetos de arquitetura, seu objetivo era criar um evento, causar um choque a cada desfile. Já em 1969 ele lança sua primeira fragrância seguindo os valores da marca, inovação, sensualidade e audácia.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>