<div class="desc">
	<div class="logo"><img src="/arquivos/Palmers_marcas.jpg" alt="" /></div>
	<p>A marca Palmer está disponível em mais de 80 países. É considerada a marca especialista em manteigade cacau. Possui um compromisso com a qualidade e tem resistido ao teste do tempo, fazendo um Palmer nome familiar confiável, utilizada por famílias há gerações.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>