<div class="desc">
	<div class="logo"><img src="/arquivos/Pantene_marcas.jpg" alt="" /></div>
	<p>Pantene Pro-V - Origem do nome: O nome de Pantene se refere a origem do produto, o Panthenol, nome científico da Vitamina B5. Na década de 40, a companhia suíça Hoffman-La Roche descobriu que o Panthenol era extremamente hidratante e melhorava a saúde do cabelo quando combinado com outros ingredientes. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>