<div class="desc">
	<div class="logo"><img src="/arquivos/parfums-gres_marcas.jpg" alt="" /></div>
	<p>Pergolèse foi desenvolvido inspirado em uma das ruas mais elegantes e sofisticadas de Paris, para mulheres jovens, elegantes e descontraídas. Capta a essência da cidade mais romântica do mundo; dos seus jardins frescos e de suas chuvas suaves, transmitindo todo o encanto e magia do local em sua especial fragrância. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>