<div class="desc">
	<div class="logo"><img src="/arquivos/Perry-Ellis_marcas.jpg" alt="" /></div>
	<p>Nascido em 1940, em Portsmouth, Virginia, Perry Ellis é um dos grandes nomes da moda internacional e inovou o sportswear americano ao criar um estilo de roupa atemporal, que mescla o descontraído com o sofisticado. Chega ao Brasil uma linha de fragrâncias com o nome do estilista que considerava especial "o momento em que um designer pode transformar suas ideologias em fragrâncias". Os perfumes de Perry Ellis têm como característica a mesma leveza e exclusividade da moda que ele criava com facilidade, ressaltando o melhor no estilo de cada pessoa. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>