<div class="desc">
	<div class="logo"><img src="/arquivos/Police_marcas.jpg" alt="" /></div>
	<p>A POLICE, marca italiana de óculos de sol mundialmente conhecida e adorada por seu estilo contemporâneo, lança no Brasil sua primeira fragrância masculina, To Be, explorando a personalidade cool e elevando o conceito de acessório a um nível totalmente novo.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>