<div class="desc">
	<div class="logo"><img src="/arquivos/Prada_marcas.jpg" alt="" /></div>
	<p>Fundada em Milão na Itália em 1913, Prada iniciou suas atividades com a produção de bolsas, malas e acessórios de luxo, fabricados em couro e com as técnicas mais sofisticadas. Em 2004 acontece o lançamento das fragrâncias: uma nova maneira de vestir Prada...</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>