<div class="desc">
	<div class="logo"><img src="/arquivos/Puma_marcas.jpg" alt="" /></div>
	<p>PUMA é a marca global de esportes que mistura com sucesso influências dos mundos do esporte, moda e estilo de vida. Graças à tradição, estilo inconfundível e inovação, PUMA está rapidamente aproximando-se da meta de ser a mais desejada marca de esporte e lifestyle do mundo. Com sua orientação única, PUMA oferece designs inesperados - em cada categoria de produto. As fragrâncias mesclam criatividade e influências do mundo do esporte e da moda. O primeiro perfume, Puma Red & White, foi lançado no Brasil em 2006. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>