<div class="desc">
	<div class="logo"><img src="/arquivos/Ralph-Lauren_marcas.jpg" alt="" /></div>
	<p>Em 1978, a grife lançou o famoso perfume POLO. O sucesso foi imediato e, mais de 25 anos após seu lançamento, POLO ainda possui fiéis seguidores, mantendo a liderança no mercado masculino de perfumes. Em 2003, o lançamento do perfume feminino Ralph Lauren Blue, uma fragrância fresca e sexy, consolidou a sua assinatura no mercado feminino de perfumes. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>