<div class="desc">
	<div class="logo"><img src="/arquivos/Revlon_marcas.jpg" alt="" /></div>
	<p>Fundada em 1932 por Charles Revson, seu irmão Joseph e o químico Charles Lachman - cuja inicial "L" do nome contribuiu para a criação do nome Revlon -, a empresa iniciou seu sucesso com o lançamento de um esmalte opaco de longa duração. Com apenas seis anos de mercado, a Revlon já era uma companhia multimilionária, dona de marcas de grande sucesso e que, mais tarde, viriam a responder pelas mais reconhecidas e respeitadas linhas de cosméticos em todo o mundo. Hoje, é uma das líderes mundiais em cosméticos, skin care, fragâncias e personal care.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>