<div class="desc">
	<div class="logo"><img src="/arquivos/Rihanna_marcas.jpg" alt="" /></div>
	<p>A artista, conhecida por seu glamour e ousadia, traduz sua personalidade icônica na nova fragrância, delicada e sexy ao mesmo tempo, como uma "Flor Rebelde" - apelido de infância que inspirou o nome do perfume. Além de cantora, Rihanna é compositora, dançarina, modelo, designer de moda e atriz, e recentemente gravou seu primeiro filme, "Battleship". </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>