<div class="desc">
	<div class="logo"><img src="/arquivos/Roberto-Cavalli_marcas.jpg" alt="" /></div>
	<p>Roberto Cavalli tem como principal fonte de inpiração a natureza e o mundo animal, escamas de peixe,zebras, tigres, répteis são todos parte de seu estilo peculiar. Em 1972 fez seu primeiro desfile em Florença, seguindo para Milão e resto do mundo. O que era para ser uma moda passageira virou uma tendência, a maneira de se vestir de Cavalli tornou-se uma estilo de vida.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>