<div class="desc">
	<div class="logo"><img src="/arquivos/S-T--Dupont_marcas.jpg" alt="" /></div>
	<p>Empresa mestre no manuseio de metal, couro, verniz e outros materiais nobres desde 1872, que combina, elegantemente, a herança do passado com a modernidade atual. S.T. Dupont tem como objetivo materializar perfeitamente cada um dos 4 campos em que atua: a arte de viajar, a arte do fogo, a arte de escrever, a arte da sedução. Desde 1998, a marca desenvolve uma coleção de fragrâncias consistente tanto nas intenções de olfato, quanto no seu design. Criadas por perfumistas renomados, as fragrâncias são criadas através de materiais crus e nobres, no mesmo espírito de tradição da perfumaria francesa.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>