<div class="desc">
	<div class="logo"><img src="/arquivos/Salvador-Dali_marcas.jpg" alt="" /></div>
	<p>Um dos maiores gênios da pintura do nosso século, Salvador Dali, na Catalúnia, Espanha.Sua fama deve-se à pintura surrealista, espalhada no mundo todo. No mundo dos perfumes, Salvador Dali começou no início dos anos 80. Cada perfume é inspirado por um detalhe de uma grande obra e cada fragrância é desenvolvida como se fosse uma pintura.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>