<div class="desc">
	<div class="logo"><img src="/arquivos/Salvatore-Ferragamo_marcas.jpg" alt="" /></div>
	<p>Salvatore Ferragamo é uma marca italiana, uma das mais importantes e reconhecidas marcas de luxo do mundo. A combinação entre a produção artesanal e a inovação criativa são os fatores de excelência que dão identidade a marca. Uma marca voltada para homens e mulheres que vivem num mundo contemporâneo, vivem a vida intensamente, são independentes, buscam bem-estar e qualidade do que usam.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>