<div class="desc">
	<div class="logo"><img src="/arquivos/Sarah-Jessica-Parker_marcas.jpg" alt="" /></div>
	<p>Sarah Jessica Parker foi eleita a melhor atriz, ganhando o Globo de Ouro por suas participações como "Carrie Bradshaw" na série "Sex and the City", nos anos de 2000 a 2004. Em 2004 o grupo Lancaster lança Lovely, uma fragrância inspirada nos amores imprevistos de Carie Bradshaw. Três anos depois, Covet é o novo sucesso de vendas de SJP, expandindo seus horizontes na perfumaria mundial.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>