<div class="desc">
	<div class="logo"><img src="/arquivos/Shiseido_marcas.jpg" alt="" /></div>
	<p>Shiseido, que no idioma japonês significa " A casa que contribui para a qualidade de vida", carrega essa vocação desde 1872. No mundo inteiro, a marca Shiseido traduz a beleza com um conceito que considera a arte de viver em harmonia. Seus produtos, além da eficácia reconhecida, transmitem os valores de uma cultura de refinamento e respeito ao bem estar.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>