<div class="desc">
	<div class="logo"><img src="/arquivos/Sisley_marcas.jpg" alt="" /></div>
	<p>Sisley é uma empresa francesa que cria e distribui tratamento de pele e make-up, juntamente com perfumes. Há três gerações a família d'Ornano tem se especializado na criação de cosméticos e criou várias marcas de renome mundial. O criador, Hubert d'Ornano, que fundou a empresa em 1976, compreendeu muito cedo que a vida do homem está intimamente dependente das plantas - para respirar, comer e se curar. </p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>