<div class="desc">
	<div class="logo"><img src="/arquivos/Sol-De-Janeiro_marcas.jpg" alt="" /></div>
	<p>Sol de Janeiro é uma marca global que desenvolve e comercializa produtos para Proteção Solar e Cuidados Pessoais de alta performance, inovadores e sensoriais, formulados com os melhores ingredientes naturais brasileiros e inspirados no estilo de vida praiano brasileiro.</p>
</div>

<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>