<div class="desc">
	<div class="logo"><img src="/arquivos/Strivectin_marcas.jpg" alt="" /></div>
	<p>StriVectin é uma das maiores empresas do mundo voltada para cuidados de pele, com foco em soluções anti-envelhecimento. Apoiada pela ciência e validação clínica rigorosa, StriVectin está na vanguarda da tecnologia de cuidados da pele e inovação de produtos. Seu creme de reparação de dupla utilização única, StriVectin-SD ® Concentrado Intensivo para Estrias e Rugas T, é um best-seller em todo o mundo. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>