<div class="desc">
	<div class="logo"><img src="/arquivos/Swarovski_marcas.jpg" alt="" /></div>
	<p>O nome Swarovski é sinônimo de uma substância enigmática e de um savoir-faire misterioso: o cristal cortado e lapidado. Com talento inigualável que é preservado e enriquecido a cada ano que passa, Swarovski transforma o cristal em adornos de pura luz: joias, acessórios, peças lapidadas infinitamente pequenas, que adicionam brilho ao tecido usado para peças de vestuário de alta costura e muito mais... um universo deslumbrante sempre em mutação, cujas palavras de ordem são criação, inovação e perfeição. O design de Swarovski ilumina as mulheres como um refletor oculto, mostrando sua beleza natural através da magia do cristal. Agora, através do perfume e das joias de maquiagem, surge uma nova história, mais sensual e misteriosa do que nunca. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>