<div class="desc">
	<div class="logo"><img src="/arquivos/Talika_marcas.jpg" alt="" /></div>
	<p>Talika nasceu durante a 2ª. Guerra Mundial, quando a Dra. Danielle Roches, tratando os feridos, usou um creme feito com extratos de plantas, que não somente acelerava a cura das feridas, mas também o crescimento das sobrancelhas e cílios. Ao longo dos anos, desenvolveram-se novos produtos que respondem às necessidades específicas da mulher. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>