<div class="desc">
	<div class="logo"><img src="/arquivos/Taylor-Swift_marcas.jpg" alt="" /></div>
	<p>Criada por Taylor Swift em parceria com o perfumista Olivier Gillotin da casa de fragrâncias Givaudan, a inspiração vem das memórias e aromas preferidos da cantora. Wonderstruck é uma surpreendente combinação de frutas vibrantes com bouquet de pétalas suaves e com um toque de doce indulgência. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>