<div class="desc">
	<div class="logo"><img src="/arquivos/Ted-Lapidus_marcas.jpg" alt="" /></div>
	<p>Desde 1951, Ted Lapidus foi o primeiro a impôr a jaqueta safári nas ruas, o uniforme fashion do espírito unissex. A combinação do corte perfeito com um toque de extravagância conquistou a preferência de personalidades como Brigitte Bardot, John Lennon e The Beatles. Suas fragrâncias foram desenvolvidas em parceria com a L'Oréal a partir de 1970 e ganharam rapidamente a Europa e o mundo. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>