<div class="desc">
	<div class="logo"><img src="/arquivos/That-Girl_marcas.jpg" alt="" /></div>
	<p>A marca That Girl é um conceito de acessórios femininos inéditos no Brasil cuja especialidade é fornecer truques "invisíveis" e extra-fabulosos que fazem qualquer mulher ficar segura e confortável. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>