<div class="desc">
	<div class="logo"><img src="/arquivos/Thierry-Mugler_marcas.jpg" alt="" /></div>
	<p>Dono de um estilo inconfundível, o controverso criador francês deu novo sentido à moda e ao mundo dos cosméticos. Quebrou tabus, materializou fetiches, promoveu desfiles memoráveis e emprestou seu nome aos perfumes mais vendidos do mundo. Angel, lançada em 1992, é há anos o perfume campeão de vendas em todo o planeta. Seu aroma é indefectível e sofisticado.</p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>