<div class="desc">
	<div class="logo"><img src="/arquivos/Tigi_marcas.jpg" alt="" /></div>
	<p>TIGI excede expectativas, fabricando produtos diferenciados e irreverentes. Se você é um astro do rock, uma rainha do glamour, ilustre e sofisticado, TIGI tem o produto certo para sua personalidade. Uma marca que reúne designers e cabeleireiros de todo o mundo para assegurar o que há de mais inovador em estilos e produtos. TIGI não fala apenas sobre cabelos, mas sobre estilos de vida!</p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>