<div class="desc">
	<div class="logo"><img src="/arquivos/Tommy-Hilfiger_marcas.jpg" alt="" /></div>
	<p>Tommy Hilfiger traduz como poucas marcas o estilo de vida norte-americano em suas criações com predominância das cores vermelha, branca e azul, presentes no logotipo. Thomas Jacob Hilfiger começou sua carreira em 1969, vendendo calças jeans tipo boca-de-sino. Oito anos depois, comandava uma rede de dez lojas em Nova Iorque. Em 1985, lançou a marca que leva seu nome. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>