<div class="desc">
	<div class="logo"><img src="/arquivos/Tweezerman_marcas.jpg" alt="" /></div>
	<p>A Tweezerman começou em 1980 com um único produto - A Splintertweeze® que se tornou um best-seller instantâneo por sua excelente qualidade e precisão. Com 25 anos de existência, a marca atende a profissionais de beleza, celebridades e consumidores exigentes que demandam as ferramentas da melhor qualidade de beleza com os melhores preços.</p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>