<div class="desc">
	<div class="logo"><img src="/arquivos/Ulric-De-Varens_marcas.jpg" alt="" /></div>
	<p>Ulric de Varens nasceu na França, e desde 1981 vem criando seus perfumes como uma aventura, uma viagem baseada em emoções e memórias, uma sensação breve em algum lugar no mundo, uma história de amor. O desejo de compartilhar este prazer com todas as pessoas sugere uma política de preços atrativos, para que todos sintam ao usar a alegria que ele sentiu ao criar. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>