<div class="desc">
	<div class="logo"><img src="/arquivos/Uv-Line_marcas.jpg" alt="" /></div>
	<p>Primeira empresa a oferecer produtos com proteção solar têxtil na América Latina, a UV LINE surgiu em 2003, a partir de conversas com dermatologistas. Seus tecidos passam por rigorosos testes, assegurando proteção solar máxima durante toda a sua vida útil. Utilizando tecnologia de ponta, a empresa proporciona mais liberdade para quem deseja prevenir os danos na pele causados pelo sol.</p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>