<div class="desc">
	<div class="logo"><img src="/arquivos/Valentino_marcas.jpg" alt="" /></div>
	<p>No centro de Roma, próximo da Escadaria Espanhola, as sedes históricas da Valentino na Piazza Mignanelli são uma verdadeira lenda. Por dentro e por fora, a residência do século XVI (protagonista de inúmeras sessões de fotos que aparecem nas revistas mais famosas do mundo), representa a paixão e a inspiração, resultados e reconhecimento de uma marca da moda que é universalmente aclamada e amada. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>