<div class="desc">
	<div class="logo"><img src="/arquivos/Van-Cleef---Arpels_marcas.jpg" alt="" /></div>
	<p>Desde 1906 a marca é considerada referência em objetos de desejo para ricos e famosos. Seu estilo combina feminilidade, refinamento, graça e delicadeza, resultando em uma elegância moderna, como se a simplicidade e a sofisticação fossem uma só coisa. Assim como as jóias, os perfumes Van Cleef & Arpels também destacam a beleza e sedução feminina. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>