<div class="desc">
	<div class="logo"><img src="/arquivos/Versace_marcas.jpg" alt="" /></div>
	<p>Gianni Versace nasceu em Reggio, Calabria, onde adquiriu suas habilidades nos seminários de moda de sua mãe, e depois de muitas viagens para Paris e Londres tornou-se o desenhista de suas coleções. Sua geniosidade criativa é também expressada pela criação de roupas para atores, cantores e dançarinos em trabalhos inesquecíveis.</p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>