<div class="desc">
	<div class="logo"><img src="/arquivos/Via-Paris_marcas.jpg" alt="" /></div>
	<p>Paixão pela cultura da perfumaria francesa e um desejo autêntico de criar embalagens diferenciadas que encantassem o consumidor.Desta mistura nasceu Via Paris, empresa criada em 1982 com sede na França. Desenhar frascos para clientes especiais foi somente o primeiro passo. Logo depois, passou a criar fragrâncias próprias e, atualmente, seus produtos são encontrados nos principais mercados ao redor do mundo e conquistam pelo equilíbrio perfeito entre forma e conteúdo. Entre os seus produtos de destaque estão Sola, Sosho e Kargo Noir, além das linhas Laloa e Doline. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>