<div class="desc">
	<div class="logo"><img src="/arquivos/Victorinox_marcas.jpg" alt="" /></div>
	<p>A história de 125 anos da Victorinox é caracterizada pela perseverança e crescimento continuo, característica típica suíça de definir o tom para o desenvolvimento da corporação. Victorinox foi fundada numa época em que a Suíça era ainda um dos países mais pobres da Europa.</p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>