<div class="desc">
	<div class="logo"><img src="/arquivos/Viktor_rolf_marcas.jpg" alt="" /></div>
	<p>Nascidos em 1969 Viktor Horsting & Rolf Snoeren aos 20 anos de idade formam a dupla VIKTOR&ROLF. Uma marca alternativa que cria conceitos inovadores e imprevisíveis e histórias que dão origem a produtos de vanguarda e a perfumes com dramaticidade e humor sutil, reinventando e distorcendo imagens icônicas, ao mesmo tempo populares e elitistas. Produtos de luxo como uma bola de espelhos que voltam a refletir o espírito dos tempos modernos. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>