<div class="desc">
	<div class="logo"><img src="/arquivos/Yenzah_marcas.jpg" alt="" /></div>
	<p>A yenzah é uma marca carioca que tem como principal objetivo alcançar o bem-estar e a beleza de suas consumidoras com ativos inovadores aliando alta-performance com praticidade. A yenzah nasceu para a mulher moderna, multifacetada, mas acima de tudo, linda. Criada em 2010 por profissionais oriundos do mercado de cosméticos que acreditam que beleza é ser feliz, um estado de espírito. E isso passa, é claro, pela vaidade feminina. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>