<div class="desc">
	<div class="logo"><img src="/arquivos/Yves-Saintlaurent_marcas.jpg" alt="" /></div>
	<p>Yves Saint Laurent nasceu em 1936 na cidade de Oran, na Argélia. Suas criações encantaram o mundo da moda e aos 18 anos ele recebeu seu 1º prêmio. Seus produtos e imagens de comunicação possuem tamanha força que se identificam por si mesmos e se expressam através da essência, elegância e sobriedade.</p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>