<div class="desc">
	<div class="logo"><img src="/arquivos/Zippo_marcas.jpg" alt="" /></div>
	<p>O projeto Zippo é um ícone distintamente americano que é comemorado em todo o mundo. Agora, esta forma clássica abrange uma fragrância atemporal e original. O recipiente lisa é esculpido em metal e vidro e abre e fecha com o famoso clique Zippo O companheiro ideal para as aventuras do dia e as paixões da noite. </p>
</div>


<div class="banner">
	<img src="/arquivos/banner_dior.jpg" alt="" />
</div>