<html>
<head>
<title>Email-Notificacao-EpocaCosmeticos-V2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Email-Notificacao-EpocaCosmeticos-V2.psd) -->
<table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
		<td colspan="3"><a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_01.jpg" width="550" height="139" alt="" style="display:block; border:0;"></a></td>
	</tr>
	<tr>
		<td width="36"></td>
        
		<td width="479" valign="top">
            <!-- conteudo -->
            
            
            
            <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
            	Olá <strong style=" color:#c6168d; font-weight:normal;">{{clientProfileData.firstName}}</strong>
          </h3>
            
            
            <p style="font-family:Verdana, Geneva, sans-serif; color:#6c6c6c; line-height:24px; font-size:13px;">Temos uma ótima notícia! Seu pedido acaba de ser coletado pela transportadora e em breve será entregue.<span style="display:block; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#c6168d; margin-bottom:15px;">Seu pedido foi enviado em {{formatDate orders.0.creationDate}}</span></p>
            <!-- box cinza -->
            <span style="display:block; padding:10px; background:#f1f1f1; font-family:Verdana, Geneva, sans-serif;">
            
            
            <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px;" scope="col">Forma de pagamento</div>
            
            <div  style="color:#c6168d; font-weight:normal; font-size:11px">
<p   style="color:#696969; font-weight:normal; font-size:11px">Cód Rastreio: <a target="_blank" href="http://tracking.totalexpress.com.br/tracking/0" style="font-size:13px; color:#c6168d; font-weight:normal; line-height:20px; text-transform:uppercase">{{package.trackingNumber}}</a></p>
                <strong  style="font-size:13px; color:#696969; font-weight:normal; line-height:20px; text-transform:uppercase">{{shippingData.address.receiverName}}</strong><br />
                                                                                        {{shippingData.address.street}} - {{shippingData.address.number}} - {{shippingData.address.neighborhood}}<br />
                                                                                        {{shippingData.address.city}} - {{shippingData.address.state}}<br />
                                                                                        {{shippingData.address.postalCode}}<br />
            </div>
            
         <div style=" display:block; margin-top:20px; padding-top:20px; border-top:1px solid #d0d0d0;">
			<div>
                <strong style="font-size:13px; color:#666; font-weight:normal;">Pedido nº <span style="font-size:18px;display:inline-block; color:#666; font-weight:bold;">{{orderId}}</span></strong>
            </div>
                           <div style="color:#aaa; font-size:12px;">Fornecido e entregue por <strong style="display:inline-block;"><span>{{sellers.0.name}}</span></strong></div>
                            <span  style="display:block; margin-top:0; padding-top:20px; font-size:12px; color:#666; line-height:20px; font-weight:bold; margin-bottom:10px;">Tipo de entrega: <strong>{{items.0.seller}}</strong></span>
                        <br />
                        
          </div>
          
          
          <div>
          
            <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
                <strong style="vertical-align:top;font-size:16px;color:#BBB;">&#10003;</strong>
                <div style="display:inline-block;line-height:16px;font-size:10px;color:#BBB;padding-left:3px;width:100px;">
                    <strong style="font-size:14px;">PEDIDO REALIZADO</strong>
            
                </div>
            </div>
            
            
            <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
	<strong style="vertical-align:top;font-size:16px;color:#BBB;">&#10003;</strong>
	<div style="display:inline-block;line-height:16px;font-size:10px;color:#BBB;padding-left:3px;width:120px;">
		<strong style="font-size:14px;">PAGAMENTO CONFIRMADO</strong>
	</div>
</div>	
            
            <div class="status" style="vertical-align:top;vertical-align:top;display:inline-block;padding-right:5px;padding-bottom:10px;padding-top:0px;">
                <strong style="vertical-align:top;font-size:16px;color:#51BC00;">&#10003;</strong>
                <div style="display:inline-block;line-height:16px;font-size:10px;color:#51BC00;padding-left:3px;width:100px;">
                    <strong style="font-size:14px;">PEDIDO ENVIADO</strong>
                </div>
            </div>
            
            
          </div>
          
          {{#each items}}
<table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
	
	<tbody>
		<tr>
			<td  style="padding-left:10px; padding-bottom:10px; padding-top:10px; border-bottom:1px solid #d0d0d0;">
				<span style="font-size:12px; color:#c6168d;">{{name}}</span><br>
				<table cellpadding="10" align="left" style="padding-top:5px;">
					<tbody>
						<tr>
							<td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#666;">
								Entrega em até <strong>
								<span style="display:inline-block;">
										{{#each ../shippingData.logisticsInfo}}
										    {{#eq itemId ../id}}
										        {{#eq @index 0}}
										            {{#each slas}}
										                {{#eq ../selectedSla id}}
										                    {{replace shippingEstimate 'd' ' dias'}}
										                {{/eq}}
										            {{/each}}
										        {{/eq}}
										    {{/eq}}
										{{/each}}
					</span></strong><br>
							</td>
						</tr>
					</tbody>
				</table>
				<table cellpadding="5" align="right" style="padding-top:5px;">
					<tbody><tr>
						<td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
							<span>1x R$ {{formatCurrency price}}</span><br>
						</td>
						<td  style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
							<strong style="font-size:13px;">R$ {{formatCurrency price}}</strong><br>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
{{#each bundleItems}}
	{{#if name}}
		<table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
			<tbody>
				<tr>
					<td style="padding-left:10px;">
						<table cellpadding="10" align="left" style="padding-top:5px;">
							<tbody>
								<tr>
									<td style="padding-left:0; font-size:12px; color:#666; padding-bottom:0;padding-top:0;">
										<span>{{name}}</span><br>
										</strong><br>
									</td>
								</tr>
							</tbody>
						</table>
						<table cellpadding="5" align="right" style="padding-top:5px;">
							<tbody><tr>
								<td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:14px;">
									<span>R$ {{formatCurrency price}}</span><br>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	{{/if}}
{{/each}}
{{/each}}
          
          
          
          </span>
            <!-- box cinza -->
 <table cellspacing="0" cellpadding="4" border="0" width="100%">
	<tr>
    	<td>

			<table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; margin-top:10px;">
				<tbody>
					{{#each totals}}
                        {{#if value}}
                        <tr>
                            <td valign="top" align="right"  style="color:#7F7F7F; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                {{#eq id "Items"}}Itens{{/eq}}
                                {{#eq id "Shipping"}}Entrega{{/eq}}
                                {{package.trackingNumber}}
                                {{#eq id "Discounts"}}Descontos{{/eq}}
                            </td>
                            <td valign="top" align="right" style="color:#666; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                R$ {{formatCurrency value}}
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
				</tbody>
			</table>
			<table align="left" class="table-button">
				<tbody>
					<tr>
						<td>
							<a style=" font-family:Verdana, Geneva, sans-serif;  background: #00BB00; color: #fff; display:inline-block; font-size:12px;  text-decoration: none;padding:8px 12px; background:#C6168D; text-align:center;margin-top:10px; margin-left:10px; margin-bottom:15px; float:left;"  href="{{ordersUrl}}/?authStatus=email-provided&userEmail={{orders.0.clientProfileData.email}}" class="button">Acompanhe seus pedidos no site</a>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>  

<h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:18px; font-size:13px; margin:20px 0; font-weight:normal;">
    <strong>Importante:</strong>
    <p style="font-size: 11px;">- O pedido geralmente é enviado no mesmo dia da confirmação de pagamento. Caso tenha sido confirmado após as 14:00 horas, será enviado no dia útil posterior ao da confirmação.</p>

<p style="font-size: 11px;">- As datas são uma estimativa fornecida por terceiros. Pode haver pequeno atraso devido à fatores externos.</p>

<p style="font-size: 11px;">- Serão realizadas até 3 tentativas de entregas, e caso nenhuma delas tenha sucesso, a sua encomenda  retornará ao centro de distribuição, e nossa equipe de atendimento entrará em contato.</p>

<p style="font-size: 11px;">- Pedimos que não aceite sua encomenda caso perceba qualquer sinal de violação da embalagem.</p>

<p style="font-size: 11px;">- Nossas entregas são realizadas segunda a sexta, das 8h às 18h e sábados até 12h. Não realizamos entrega nos feriados.</p>

<p style="font-size: 11px;">Conheça os procedimentos para realização de <a href="http://www.epocacosmeticos.com.br/centralatendimento/troca-devolucao" target="_blank" style="color:#c6168d;" >trocas e devoluções</a>.</p>





</h5>              

            
        <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">Em caso de dúvias entre em contato com a <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>
        
         <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
Equipe Época Cosméticos Perfumaria
</p>
            <!-- /conteudo -->
        </td>
        
	  <td width="35"> </td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>