<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Email-Notificacao-EpocaCosmeticos-V2</title>
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Verdana, Geneva, sans-serif;;">
        <table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;;">
            <tr>
                <td><img src="http://profite.com.br/teste/email/profitelogo.jpg" width="550" height="139" alt="" style="display:block; border:0;"></td>
            </tr>
        </table>
        <table width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td valign="top">
                    <!-- conteudo -->
                    <!--h2 style="font-family:Verdana, Geneva, sans-serif; color:#434343; font-size:17px; font-weight:normal; margin-bottom:0; display:block;">Pedido cancelado</h2-->
                    <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                    Olá, <strong style=" color:#c6168d; font-weight:normal;">{{clientProfileData.firstName}}</strong>,
                    </h3>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#6c6c6c; line-height:24px; font-size:13px;">Seu pedido de nº {{orderId}}, realizado no dia {{formatDate creationDate}},  foi cancelado.</p>
                    <!-- box cinza -->
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <table border="0" cellspacing="0" cellpadding="0" style="display: inline-table; background: #f1f1f1;">
                        <tr>
                            <td style="padding: 10px;">
                                <table width="530" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <table width="530" border="0" cellspacing="0" cellpadding="0">
                                                <tr style="padding-top: 30px;">
                                                    <td>
                                                        <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td style="font-weight:bold;line-height:16px;font-size:12px;padding-left:3px;color:#b94a48;">PEDIDO CANCELADO</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top:20px">
                                            <table width="100%">
                                                <tr>
                                                    <td style="border-top:1px solid #d0d0d0;">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{#each items}}
                                            <table width="100%" style="padding-top:0px;padding-bottom:10px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-left:10px; padding-bottom:20px; padding-top:0px; border-bottom:1px solid #d0d0d0;">
                                                            <span  style="font-size:12px; color:#c6168d;">{{quantity}} X {{name}}</span><br>
                                                            <table cellpadding="5" align="right" style="padding-top:5px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                                                                            <span>R$ {{formatCurrency price}}</span><br>
                                                                        </td>
                                                                        <td style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                                                                            <strong style="font-size:15px;"> por R$ {{multiplyCurrency quantity sellingPrice}}</strong><br>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {{#each bundleItems}}
                                            {{#if name}}
                                            <table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-left:10px;">
                                                            <table cellpadding="10" align="left" style="padding-top:5px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding-left:0; font-size:12px; color:#666; padding-bottom:0;padding-top:0;">
                                                                            <span>{{name}}</span><br>
                                                                            </strong><br>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table cellpadding="5" align="right" style="padding-top:5px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:14px;">
                                                                            <span>R$ {{formatCurrency price}}</span><br>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {{/if}}
                                            {{/each}}
                                            {{/each}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <table cellspacing="0" cellpadding="4" border="0" width="100%">
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; margin-top:10px;">
                                    <tbody>
                                        {{#each totals}}
                                        {{#if value}}
                                        <tr>
                                            <td valign="top" align="right" style="color:#7F7F7F; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                                {{#eq id "Items"}}Itens{{/eq}}
                                                {{#eq id "Shipping"}}Entrega{{/eq}}
                                                {{#eq id "Discounts"}}Descontos{{/eq}}
                                            </td>
                                            <td valign="top" align="right" style="color:#666; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                                R$ {{formatCurrency value}}
                                            </td>
                                        </tr>
                                        {{/if}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- /conteudo -->
                </td>
            </tr>
            <tr>
                <td>
                    <tr>
                        <td>
                            <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">Em caso de dúvida entre em contato com a <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>
                            <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
                            Equipe Época Cosméticos Perfumaria
                            </p>
                        </td>
                    </tr>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a>
                </td>
            </tr>
        </table>
        <!-- End Save for Web Slices -->
    </body>
</html>