<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Email-Notificacao-EpocaCosmeticos-V2</title>
    </head>
    <body bgcolor="#FFFFFF" style="font-family: Verdana, Geneva, sans-serif;">
        <table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td><img src="http://profite.com.br/teste/email/profitelogo.jpg" width="550" height="139" alt="" style="display:block; border:0;"></td>
            </tr>
        </table>
        <table width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td valign="top">
                    <!-- conteudo -->
                    <h2 style="font-family:Verdana, Geneva, sans-serif; color:#434343; font-size:17px; font-weight:normal; margin-bottom:0; display:block;"><br>Pedido cancelado</h2>
                    <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                    Olá, <strong style=" color:#c6168d; font-weight:normal;">{{clientProfileData.firstName}}</strong>,
                    </h3>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#6c6c6c; line-height:24px; font-size:13px;">Seu pedido de nº {{orderId}}, realizado no dia {{formatDate creationDate}},  foi cancelado.</p>
                    <!-- box cinza -->
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <table border="0" cellspacing="0" cellpadding="0" style="display: inline-table; background: #f1f1f1;">
                        <tr>
                            <td style="padding: 10px;"><!-- FORMA DE PAGAMENTO -->
                            <table width="530" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px;" scope="col">Forma de pagamento</div>
                                        <div  style="font-size:14px;color:#666;">
                                            {{#each paymentData.transactions}}
                                            {{#each payments}}
                                            <strong>{{paymentSystemName}}</strong>
                                            {{#if lastDigits}}
                                            final {{lastDigits}}
                                            {{/if}}
                                            <br />R$ {{formatCurrency value}}
                                            {{#eq installments 1}}
                                            (à vista)
                                            {{else}}
                                            (em {{installments}}x)
                                            {{/eq}}
                                            <br />
                                            <span  style="color:#c6168d; font-weight:normal; font-size:12px;">Tid: {{tid}}</span>
                                            <br />
                                            {{/each}}
                                            {{/each}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="status" style="vertical-align:top;display:inline-block;padding-right:5px;padding-top:0px; margin-top:25px;  padding-bottom:15px; ">
                                            <div style="display:inline-block;line-height:16px;font-size:10px;color:#BBB;padding-left:3px;">
                                                <strong style="font-size:14px;color:#b94a48;">PEDIDO CANCELADO</strong>
                                            </div>
                                        </div>
                                        <!--PEDIDO CANCELADO -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{#each items}}
                                        <table width="100%" style="border-top:1px solid #d0d0d0; margin-top: 20px;padding-top:5px;padding-bottom:5px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-left:10px; padding-bottom:10px; padding-top:10px; border-bottom:1px solid #d0d0d0;">
                                                        <span  style="font-size:12px; color:#c6168d;">{{name}}</span><br>
                                                        <table cellpadding="5" align="right" style="padding-top:5px;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                                                                        <span>{{quantity}}x R$ {{formatCurrency sellingPrice}}</span><br>
                                                                    </td>
                                                                    <td style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                                                                        <strong style="font-size:14px;">R$ {{formatCurrency price}}</strong><br>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="4" border="0" width="100%">
                                            <tr>
                                                <td>
                                                    <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; margin-top:10px;">
                                                        <tbody>
                                                            {{#each totals}}
                                                            {{#if value}}
                                                            <tr>
                                                                <td valign="top" align="right" style="color:#7F7F7F; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                                                    {{#eq id "Items"}}Itens{{/eq}}
                                                                    {{#eq id "Shipping"}}Entrega{{/eq}}
                                                                    {{#eq id "Discounts"}}Descontos{{/eq}}
                                                                </td>
                                                                <td valign="top" align="right" style="color:#666; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                                                    R$ {{formatCurrency value}}
                                                                </td>
                                                            </tr>
                                                            {{/if}}
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- /conteudo -->
            </td>
        </tr>
        <tr>
            <td>
                <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">Em caso de dúvida entre em contato com a <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>
                <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
                Equipe Época Cosméticos Perfumaria
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a>
            </td>
        </tr>
    </table>
    <!-- End Save for Web Slices -->
</body>
</html>