<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Email-Notificacao-EpocaCosmeticos-V2</title>
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Verdana, Geneva, sans-serif;;">
        <table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td><img src="http://profite.com.br/teste/email/profitelogo.jpg" width="550" height="139" alt="" style="display:block; border:0;"></td
            </tr>
        </table>
        <table width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td valign="top">
                    <!-- conteudo -->
                    <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                    Olá, <strong style=" color:#c6168d; font-weight:normal;">{{orders.0.clientProfileData.firstName}}</strong>
                    </h3>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#6c6c6c; line-height:24px; font-size:13px;">Obrigado por comprar na {{_accountInfo.TradingName}}. Todos os detalhes da compra encontram-se abaixo.<br /><br />
                    Dados da compra realizada em {{formatDate orders.0.creationDate}}:
                    </p>
                    <h2 style="font-family:Verdana, Geneva, sans-serif; color:#434343; font-size:16px; font-weight:normal; margin-bottom:20px; display:block;">Nº do pedido: {{orderId}}</h2>
                    <!-- box cinza -->
                    <span style="display:block; padding:10px; background:#f1f1f1; font-family:Verdana, Geneva, sans-serif;">
                    <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px;" scope="col">Forma de pagamento</div>
                    <div  style="font-size:14px; color:#666;">
                        {{#each orders.0.paymentData.payments}}
                        <strong  style="color:#c6168d; font-weight:normal; font-size:12px">{{paymentSystemName}}</strong><br />
                        R$ {{formatCurrency value}} (à vista)
                        {{/each}}
                    </div>
                    <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px; margin-top:20px;" scope="col">Endereço de entrega</div>
                    <div  style="font-size:14px; color:#666;">
                        <strong   style="color:#c6168d; font-weight:normal; font-size:12px">{{orders.0.shippingData.address.receiverName}}</strong><br />
                        {{orders.0.shippingData.address.street}} - {{orders.0.shippingData.address.number}} - {{orders.0.shippingData.address.neighborhood}}<br />
                        {{orders.0.shippingData.address.city}} - {{orders.0.shippingData.address.state}}<br />
                        {{orders.0.shippingData.address.postalCode}}<br />
                    </div>
                    <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px; margin-top:20px;" scope="col">Valores</div>
                    <div  style="font-size:14px; color:#666;">
                        <table width='100%'>
                            {{#each orders.0.totals}}
                            <tr>
                                <td><strong  style="font-size:14px; color:#666;">{{name}}</strong></td>
                                <td style="color:#c6168d; font-weight:normal; font-size:12px; text-align:right;">R$ {{formatCurrency value}}</td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                    <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px; margin-top:20px;" scope="col">Numero do Pedido</div>
                    <div  style="font-size:20px; color:#666;">
                        <strong   style="color:#c6168d; font-weight:normal; font-size:20px">{{orders.0.orderGroup}}</strong>
                    </div>
                    <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px; margin-top:20px;" scope="col">Forma de entrega</div>
                    <div  style="font-size:13px; color:#666;">
                        <strong   style="color:#c6168d; font-weight:normal; font-size:13px">{{orders.0.shippingData.logisticsInfo.0.selectedSla}}</strong>
                    </div>
                    {{#each orders.0.items}}
                    <div style=" text-transform:uppercase; margin-bottom:10px; padding-top:20px; position:relative" scope="col">
                        <table border='0' cellpadding='5' cellspacing='0' width='100%' style='border: 1px solid #e0e0e0; font-size:11px; margin-top:20px;'>
                            <tr>
                                <th scope='col' valign='top' width='42%' mc:edit='data_table_heading00' style='background-color: #e0e0e0;font-size:12px;'>Produto
                                </th>
                                <th scope='col' valign='top' width='10%' mc:edit='data_table_heading01' style='background-color: #e0e0e0;font-size:12px;'>Entrega
                                </th>
                                <th scope='col' valign='top' width='14%' mc:edit='data_table_heading02' style='background-color: #e0e0e0;font-size:12px;'>Preço
                                </th>
                                <th scope='col' valign='top' width='15%' mc:edit='data_table_heading03' style='background-color: #e0e0e0;font-size:12px;'>Quantidade
                                </th>
                                <th scope='col' valign='top' width='14%' mc:edit='data_table_heading04' style='background-color: #e0e0e0;font-size:12px;'>Total
                                </th>
                            </tr>
                            {{#each orders.0.items}}
                            <tr mc:repeatable>
                                <td valign='top' mc:edit='data_table_content00'  style='font-size: 10px;'>{{name}}
                                </td>
                                <td valign='top' style='font-size: 10px;text-align:center;' mc:edit='data_table_content01'>
                                    Length: {{@parent.sellerOrderId}}
                                </td>
                                <td valign='top' style='font-size: 10px;text-align:center;' mc:edit='data_table_content02'>R$ {{formatCurrency price}}
                                </td>
                                <td valign='top' style='font-size: 10px;text-align:center;' mc:edit='data_table_content03'>{{quantity}}
                                </td>
                                <td valign='top' style='font-size: 10px;text-align:center;' mc:edit='data_table_content04'>
                                    <strong>R$ {{formatCurrency price}}</strong>
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                    {{/each}}
                    </span>
                    <!-- box cinza -->
                    <table cellspacing="0" cellpadding="4" border="0" width="100%">
                        <tr>
                            <td>
                            </td>
                        </tr>
                    </table>
                    <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:18px; font-size:13px; margin:20px 0; font-weight:normal;">
                    <p style="font-size: 11px;">Para seu controle, guarde esse email até a entrega do seu pedido.</p>
                    <p style="font-size: 11px;">Para acompanhar seu pedido, <a href="http://www.epocacosmeticos.com.br/centralatendimento/account/orders" target="_blank" style="color:#c6168d;" >clique aqui</a> ou acesse <a href="http://www.epocacosmeticos.com.br" target="_blank" style="color:#c6168d;" >www.epocacosmeticos.com.br</a> e clique em "Meus Pedidos".</p>
                    </h5>
                    <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">Em caso de dúvias entre em contato com a <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
                    Equipe Época Cosméticos Perfumaria
                    </p>
                    <!-- /conteudo -->
                </td>
            </tr>
            <tr>
                <td>
                <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
            </tr>
        </table>
        <!-- End Save for Web Slices -->
    </body>
</html>