<html>
    <head>
        <meta name="robots" content="noindex, nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Email-Notificacao-EpocaCosmeticos-V2</title>
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Verdana, Geneva, sans-serif;;">
        <table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
            <td><img src="http://profite.com.br/teste/email/profitelogo.jpg" width="550" height="139" alt="" style="display:block; border:0;"></td
        </tr>
    </table>
    <table width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
        <tr>
            <td valign="top">
                <!-- conteudo -->
                <h3 style="font-family:Verdana, Geneva, sans-serif; color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                Olá, <strong style=" color:#c6168d; font-weight:normal;">{{clientProfileData.firstName}}</strong>
                </h3>
                <p style="font-family:Verdana, Geneva, sans-serif; color:#6c6c6c; line-height:24px; font-size:13px;">Temos uma ótima notícia! Seu pedido acaba de ser coletado pela transportadora e em breve será entregue.<span style="display:block; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#c6168d; margin-bottom:15px;">Pedido realizado em {{formatDate creationDate}}</span></p>
                <!-- box cinza -->
                <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                <table width="550" border="0" cellspacing="0" cellpadding="0" style="display: inline-table; background: #f1f1f1;">
                    <tr>
                        <td style="padding: 10px;"><!-- FORMA DE PAGAMENTO -->
                        <table width="530" border="0" cellspacing="0" cellpadding="0" style="display: inline-table;">
                            <tr>
                                <td>
                                    <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px;" scope="col">ACOMPANHE AQUI SEU PEDIDO NA TRANSPORTADORA</div>
                                    <p   style="color:#696969; font-weight:normal; font-size:11px">
                                    <a target="_blank" style="background: #00BB00; color: #fff; display:block; width:150px;  text-decoration: none;padding:4px 8px; background:#C6168D; text-align:center;margin-top:5px;text-transform:uppercase" href="http://tracking.totalexpress.com.br/tracking/0" class="button">
                                    {{package.trackingNumber}}</a></p>
                                    <div  style="color:#c6168d; font-weight:normal; font-size:11px">
                                        <strong  style="font-size:13px; color:#696969; font-weight:normal; line-height:20px; text-transform:uppercase">{{shippingData.address.receiverName}}</strong><br />
                                        {{shippingData.address.street}} - {{shippingData.address.number}} - {{shippingData.address.complement}} - {{shippingData.address.neighborhood}}<br />
                                        {{shippingData.address.city}} - {{shippingData.address.state}}<br />
                                        {{shippingData.address.postalCode}}<br /><br>
                                        <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:5px; margin-top:30px;" scope="col">Prazo de entrega
                                        </div>
                                        <span style="font-size:13px; color:#c6168d; font-weight:normal; line-height:20px; margin-top:10px; text-transform:uppercase"> {{replace shippingData.logisticsInfo.0.slas.0.shippingEstimate 'd' ' dias úteis'}}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style=" display:block; margin-top:20px; padding-top:20px; border-top:1px solid #d0d0d0;">
                                        <div>
                                            <strong style="font-size:13px; color:#666; font-weight:normal;">Pedido nº <span style="font-size:18px;display:inline-block; color:#666; font-weight:bold;">{{orderId}}</span></strong>
                                        </div>
                                        <br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0" style="display: inline-table;">
                                        <tr>
                                            <td>
                                                <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="vertical-align:top;font-size:16px;color:#BBB;padding-top:1px;">&#10003;</td>
                                                        <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#BBB;">PEDIDO REALIZADO</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;padding-top:1px;">&#10003;</td>
                                                        <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#BBB;">PAGAMENTO CONFIRMADO</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;padding-top:1px;">&#10003;</td>
                                                        <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#BBB;">PEDIDO FATURADO</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="vertical-align:top;font-size:13px;color:#51BC00;padding-left:3px;padding-right:5px;padding-top:1px;">&#10003;</td>
                                                        <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#51BC00;">PEDIDO ENVIADO</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{#each items}}
                                    <table width="100%" style="border-top:1px solid #d0d0d0; margin-top: 20px;padding-top:5px;padding-bottom:5px;">
                                        <tbody>
                                            <tr>
                                                <td  style="padding-left:10px; padding-bottom:10px; padding-top:10px; border-bottom:1px solid #d0d0d0;">
                                                    <span style="font-size:12px; color:#c6168d;">{{quantity}} X {{name}}</span><br>
                                                    <table cellpadding="5" align="right" style="padding-top:5px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                                                                    <strong style="font-size:15px;"> R$ {{multiplyCurrency quantity sellingPrice}}</strong><br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{#each bundleItems}}
                                    {{#if name}}
                                    <table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:10px;">
                                                    <table cellpadding="10" align="left" style="padding-top:5px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:0; font-size:12px; color:#666; padding-bottom:0;padding-top:0;">
                                                                    <span>{{name}}</span><br>
                                                                    </strong><br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table cellpadding="5" align="right" style="padding-top:5px;">
                                                        <tbody><tr>
                                                            <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:14px;">
                                                                <span>R$ {{formatCurrency price}}</span><br>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {{/if}}
                                {{/each}}
                                {{/each}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="4" border="0" width="100%">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; margin-top:10px;">
                        <tbody>
                            {{#each totals}}
                            {{#if value}}
                            <tr>
                                <td valign="top" align="right"  style="color:#7F7F7F; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                    {{#eq id "Items"}}Itens{{/eq}}
                                    {{#eq id "Shipping"}}Entrega{{/eq}}
                                    {{package.trackingNumber}}
                                    {{#eq id "Discounts"}}Descontos{{/eq}}
                                </td>
                                <td valign="top" align="right" style="color:#666; font-size:13px; font-family:Verdana, Geneva, sans-serif;">
                                    R$ {{formatCurrency value}}
                                </td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                    <table align="left" class="table-button">
                        <tbody>
                            <tr>
                                <td>
                                    <a style=" font-family:Verdana, Geneva, sans-serif;  background: #00BB00; color: #fff; display:inline-block; font-size:12px;  text-decoration: none;padding:8px 12px; background:#C6168D; text-align:center;margin-top:10px; margin-left:10px; margin-bottom:15px; float:left;"  href="{{ordersUrl}}/?authStatus=email-provided&userEmail={{orders.0.clientProfileData.email}}" class="button">Acompanhe seus pedidos no site</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <!-- /conteudo -->
    </td>
</tr>
<tr>
    <td>
        <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:18px; font-size:13px; margin:20px 0; font-weight:normal;">
        <strong>Importante:</strong>
        <p style="font-size: 11px; line-height: 14px;">- O pedido geralmente é enviado no mesmo dia da confirmação de pagamento. Caso tenha sido confirmado após as 14:00 horas, será enviado no dia útil posterior ao da confirmação.</p>
        <p style="font-size: 11px; line-height: 14px;">- As datas são uma estimativa fornecida por terceiros. Pode haver pequeno atraso devido à fatores externos.</p>
        <p style="font-size: 11px; line-height: 14px;">- Serão realizadas até 3 tentativas de entregas, e caso nenhuma delas tenha sucesso, a sua encomenda  retornará ao centro de distribuição, e nossa equipe de atendimento entrará em contato.</p>
        <p style="font-size: 11px; line-height: 14px;">- Pedimos que não aceite sua encomenda caso perceba qualquer sinal de violação da embalagem.</p>
        <p style="font-size: 11px; line-height: 14px;">- Nossas entregas são realizadas segunda a sexta, das 8h às 18h e sábados até 12h. Não realizamos entrega nos feriados.</p>
        <p style="font-size: 11px; line-height: 14px;">Conheça os procedimentos para realização de <a href="http://www.epocacosmeticos.com.br/centralatendimento/troca-devolucao" target="_blank" style="color:#c6168d;" >trocas e devoluções</a>.</p>
        </h5>
        <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:11px; margin:20px 0; font-weight:normal;">Em caso de dúvidas entre em contato com a <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>
        <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:11px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
        Equipe Época Cosméticos Perfumaria
        </p>
    </td>
</tr>
<tr>
    <td>
    <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>