<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Email-Notificacao-EpocaCosmeticos-V2</title>
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Verdana, Geneva, sans-serif;;">
        <table id="Table_01" width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td>
                    <img src="http://www.epocacosmeticos.com.br/arquivos/headermail.jpg" width="550" height="139" alt="" style="display:block; border:0;">
                </td>
            </tr>
        </table>

        <table width="550" border="0" cellpadding="0" cellspacing="0" align="center" style="font-family: Verdana, Geneva, sans-serif;">
            <tr>
                <td valign="top">
                    <!-- conteudo -->
                    <h3 style="color:#a1a1a1; font-size:20px; font-weight:normal; margin:10px 0 20px 0;">
                    Olá, <strong style=" color:#c6168d; font-weight:normal;">{{orders.0.clientProfileData.firstName}}</strong>.
                    </h3>
                    <!-- box cinza -->
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <table width="550" border="0" cellspacing="0" cellpadding="0" style="display: inline-table;">
                        <tr>
                            <td style="padding: 10px; background: #f1f1f1;"><!-- FORMA DE PAGAMENTO -->
                            <div style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px;" scope="col">Forma de pagamento</div>
                            <strong style="font-size:13px; color:#696969; font-weight:normal; line-height:20px; text-transform:uppercase"> {{#each orders.0.paymentData.transactions.0.payments}}
                            {{paymentSystemName}}
                            {{#if lastDigits}}
                            - final {{lastDigits}}
                            {{/if}}
                            </strong>
                            <br />
                            <span  style="color:#c6168d; font-weight:normal; font-size:11px">R$ {{formatCurrency value}}
                            {{#if installments}}
                            (em {{installments}}x)
                            {{else}}
                            (à vista)
                            {{/if}}
                            {{#eq paymentSystemName 'Boleto Bancário'}}
                            </span>
                            <span>
                            <br />
                            <a style="background: #00BB00; color: #fff; display:block; width:150px;  text-decoration: none;padding:4px 8px; background:#C6168D; text-align:center;margin-top:5px;" href="{{replace url '{Installment}' installments}}" class="button">
                            <span style="font-size:14px;"><span>Imprimir boleto</span></span>
                            </a>
                            </span>
                            {{/eq}}
                            {{/each}}
                        </td>
                        </tr><!-- forma de pagamento -->
                        <tr style="padding-top: 30px; padding-bottom: 10px; background: #f1f1f1;"><!-- endereco de entrega -->
                        <td style="padding: 10px;">
                            <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:10px; margin-top:10px;" scope="col">Endereço de entrega</div>
                            <strong style="font-size:13px; color:#696969; font-weight:normal; line-height:20px; text-transform:uppercase">{{orders.0.shippingData.address.receiverName}}</strong><br />
                            <span  style="color:#c6168d; font-weight:normal; font-size:11px">{{orders.0.shippingData.address.street}} - {{orders.0.shippingData.address.number}} - {{orders.0.shippingData.address.complement}} -{{orders.0.shippingData.address.neighborhood}}<br />
                            {{orders.0.shippingData.address.city}} - {{orders.0.shippingData.address.state}}<br />
                            {{orders.0.shippingData.address.postalCode}}<br />
                            {{orders.0.sellers.name}}
                            </span>
                        </td>
                        </tr><!-- endereco de entrega -->
                        <tr style="padding-top: 30px; padding-bottom: 10px; background: #f1f1f1;"><!-- prazo de entrega -->
                        <td style="padding: 10px;">
                            <div  style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; margin-bottom:5px; margin-top:10px;" scope="col">Prazo de entrega</div>
                            <span style="font-size:13px; color:#c6168d; font-weight:normal; line-height:20px; margin-top:10px; text-transform:uppercase">
                            {{#each orders.0.shippingData.logisticsInfo.0.slas}}
                                {{replace shippingEstimate 'bd' ' dias'}}
                            {{/each}} úteis
                            </span>
                        </td>
                        </tr><!-- prazo de entrega -->
                        <tr><!-- Pedidos -->
                        <td style="padding: 10px; background: #f1f1f1;">
                            <table width="530" border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px;border-bottom:1px solid #d0d0d0; margin-top: 20px;">
                                {{#each orders}}
                                <!-- numedo do pedido -->
                                <tr>
                                    <td colspan="4" style="padding-top: 20px;border-top:1px solid #d0d0d0;">
                                        <strong style="font-size:13px; color:#666; font-weight:normal;">Pedido nº <span style="font-size:18px;display:inline-block; color:#666; font-weight:bold;">{{orderId}}</span></strong>
                                    </td>
                                </tr>
                                <!-- numedo do pedido -->
                                <tr>
                                    <td colspan="4" style="display:block; margin-top:0; padding-top: 20px; padding-bottom: 10px;font-size:12px; color:#666; line-height:20px; font-weight:bold; margin-bottom:10px;">Tipo de entrega: <strong>{{shippingData.logisticsInfo.0.selectedSla}}<strong></td>
                                </tr>
                                <!-- numedo do pedido -->
                                <tr style="padding-top: 30px;">
                                    <td>
                                        <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="vertical-align:top;font-size:16px;color:#51BC00;padding-top:1px;">&#10003;</td>
                                                <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#51BC00;">PEDIDO REALIZADO</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;padding-top:1px;">&#9658;</td>
                                                <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#BBB;">PAGAMENTO CONFIRMADO</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;padding-top:1px;">&#9658;</td>
                                                <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#BBB;">PEDIDO FATURADO</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table style="display: inline-table;" align="left" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="vertical-align:top;font-size:13px;color:#BBB;padding-left:3px;padding-right:5px;padding-top:1px;">&#9658;</td>
                                                <td style="font-weight:bold;line-height:16px;font-size:13px;padding-left:3px;color:#BBB;">PEDIDO ENVIADO</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- INICIO INFO PEDIDO -->
                            <table width="550" border="0" cellspacing="0" cellpadding="0" style="display: inline-table;">
                                <tr>
                                    <td style="padding: 10px 0; background: #f1f1f1;"><!-- FORMA DE PAGAMENTO -->
                                        <div style="font-size:14px; color:#333333; line-height:20px; text-transform:uppercase; font-weight:bold; " scope="col">Produto(s)</div>
                                    </td>
                                </tr>
                            </table>
                            <!-- numedo do pedido style="border-top: 1px solid #d0d0d0;" -->
                            <table width="100%">
                                <tbody>
                                <!-- TABELA DE PRODUTOS -->
                                {{#each items}}
                                    <tr>
                                        {{#if @index}}
                                        <td style="padding-bottom:10px; padding-top:10px; border-top:1px solid #d0d0d0;">
                                        {{else}}
                                        <td style="padding-bottom:10px; padding-top:10px;">
                                        {{/if}}
                                            <span style="font-size:12px; color:#c6168d;">{{quantity}} X {{name}}</span><br>
                                            <table cellpadding="10" align="left" style="padding-top:5px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#666;">
                                                            <br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="5" align="right" style="padding-top:5px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
                                                            <strong style="font-size:15px;"> R$ {{multiplyCurrency quantity sellingPrice}}</strong><br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {{#each bundleItems}}
                                {{#if name}}
                                    <tr width="100%" style="border-bottom:1px solid #EEE;padding-bottom:5px;">
                                        <td style="padding-left:10px;">
                                            <table cellpadding="10" align="left">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-left:0;padding-bottom:0;padding-top:0;font-size:12px;">
                                                            <span>{{name}}</span><br>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table cellpadding="5" align="right">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-left:0;padding-bottom:0;padding-top:0;font-size:12px;">
                                                            <span>R$ {{formatCurrency price}}</span><br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {{/if}}
                                {{/each}}
                            {{/each}}
                                </tbody>
                            </table>
                            <!-- FIM TABELA DE PRODUTOS -->
                            <!-- FINAL INFO PEDIDO -->
                            {{/each}}
                        </td>
                        </tr><!-- Pedidos -->
                    </table>
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <!-- Novo ## ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ##  ## ## ## ## ## ## ## -->
                    <!-- box cinza -->
                    <table cellspacing="0" cellpadding="4" border="0" width="100%">
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="4" border="0" align="right" style="margin-bottom:15px;border: 1px solid #BBB;padding-top:7px;padding-bottom:7px;padding-left:7px;padding-right:7px; margin-top:10px;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" align="right" style="color:#7F7F7F; font-size:13px;">
                                                Total
                                            </td>
                                            <td valign="top" align="right" style="color:#666; font-size:13px;">
                                                R$ {{formatCurrency orders.0.value}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- /conteudo -->
                </td>
            </tr>
            <tr>
                <td>
                    <h5 style="color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;"><strong>IMPORTANTE:</strong></h5>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:14px; font-size:11px; margin:10px 0; font-weight:normal;">- Todos os pedidos estão sujeitos à confirmação de disponibilidade de estoque e à liberação do crédito. Se o estoque do produto não tiver disponível para entrega, você será comunicado por telefone ou email por nossa Central de Atendimento.</p>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:14px; font-size:11px; margin:10px 0; font-weight:normal;">- Para sua segurança, realizamos análise interna das informações de seu pedido através da validação de dados cadastrais. Esse processo é independente da aprovação do seu pagamento pela instituição financeira. Caso necessário você será contatado, por isso, é importante que seus dados estejam sempre completos e atualizados.</p>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:14px; font-size:11px; margin:10px 0; font-weight:normal;">- O prazo de entrega é calculado a partir da data da confirmação do pagamento. Os prazos para confirmação de pagamento são: cartão em até 01 (um) dia útil, boleto bancário e transferência online em até 03 (três) dias úteis. Você receberá um email com a confirmação do seu pedido após sua compra.</p>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:14px; font-size:11px; margin:10px 0; font-weight:normal;">Para seu controle, guarde esse email até a entrega das mercadorias.</p>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:14px; font-size:11px; margin:10px 0; font-weight:normal;">Para acompanhar seu pedido, <a href="http://www.epocacosmeticos.com.br/centralatendimento/account/orders" target="_blank" style="color:#c6168d;" >clique aqui</a> ou acesse <a href="http://www.epocacosmeticos.com.br" target="_blank" style="color:#c6168d;" >www.epocacosmeticos.com.br</a> e clique em "Meus Pedidos".</p>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:14px; font-size:11px; margin:10px 0; font-weight:normal;">Por favor, não responda este email, pois ele foi gerado automaticamente.<br/>
                    Dúvidas? Entre em contato com a nossa <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></p>
                    <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:14px; font-size:11px; margin:10px 0; font-weight:normal;">Atenciosamente,<br />Equipe Época Cosméticos Perfumaria</p>
                </td>
            </tr>
        </table>

        <table width="550" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td>
                <a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0;"></a></td>
            </tr>
        </table>
        <!-- End Save for Web Slices -->
    </body>
</html>