<div class="marcas">
	<ul>
		<li><a href="/Charis"><img src="/arquivos/Charis_carrossel.jpg" alt="CHARIS" title="CHARIS" /></a></li>
		<li><a href="/Ecologie"><img src="/arquivos/Ecologie_carrossel.jpg" alt="ECOLOGIE" title="ECOLOGIE" /></a></li>
		<li><a href="/est"><img src="/arquivos/est_carrossel.jpg" alt="EST" title="EST"/></a></li>	
		<li><a href="/John-Frieda"><img src="/arquivos/John-Frieda_carrossel.jpg" alt="JOHN FRIEDA" title="JOHN FRIEDA" /></a></li>
		<li><a href="/Carita"><img src="/arquivos/Carita_carrossel.jpg" alt="CARITA" title="CARITA" /></a></li>
		<li><a href="/Keune"><img src="/arquivos/Keune_carrossel.jpg" alt="KEUNE" title="KEUNE" /></a></li>
		<li><a href="/L-Anza"><img src="/arquivos/L-Anza_carrossel.jpg" alt="LANZA" title="LANZA" /></a></li>
		<li><a href="/Nppe"><img src="/arquivos/Nppe_carrossel.jpg" alt="NPPE" title="NPPE" /></a></li>		
		<li><a href="/Organix"><img src="/arquivos/Organix_carrossel.jpg" alt="ORGANIX" title="ORGANIX" /></a></li>
		<li><a href="/Pantene"><img src="/arquivos/Pantene_carrossel.jpg" alt="PANTENE" title="PANTENE" /></a></li>
		<li><a href="/Paul-Mitchell"><img src="/arquivos/Paul-Mitchell-_carrossel.jpg" alt="PAUL MITCHELL" title="PAUL MITCHELL" /></a></li>
		<li><a href="/Senscience"><img src="/arquivos/Senscience_carrossel.jpg" alt="SENSCIENCE" title="SENSCIENCE" /></a></li>
		<li><a href="/Tigi"><img src="/arquivos/Tigi_carrossel.jpg" alt="TIGI" title="TIGI" /></a></li>
		<li><a href="/Toppik"><img src="/arquivos/Toppik_carrossel.jpg" alt="TOPPIK" title="TOPPIK" /></a></li>
		<li><a href="/Yenzah"><img src="/arquivos/Yenzah_carrossel.jpg" alt="YENZAH" title="YENZAH" /></a></li>
	</ul> <!-- marcas -->
</div>