<div class="marcas">
	<ul>
		<li><a href="/Arcancil"><img src="/arquivos/Arcancil_carrossel.jpg" alt="ARCANCIL PARIS" title="ARCANCIL PARIS" /></a></li>
		<li><a href="/Artdeco"><img src="/arquivos/Artdeco_carrossel.jpg" alt="ARTDECO" title="ARTDECO" /></a></li>
		<li><a href="/Bourjois"><img src="/arquivos/Bourjois_carrossel.jpg" alt="BOURJOIS" title="BOURJOIS" /></a></li>
		<li><a href="/Clarins"><img src="/arquivos/Clarins_carrossel.jpg" alt="CLARINS" title="CLARINS"/></a></li>
		<li><a href="/Clinique"><img src="/arquivos/Clinique_carrossel.jpg" alt="CLINIQUE" title="CLINIQUE" /></a></li>
		<li><a href="/Dior"><img src="/arquivos/Dior_carrossel.jpg" alt="DIOR" title="DIOR" /></a></li>
		<li><a href="/givenchy"><img src="/arquivos/givenchy_carrossel.jpg" alt="Givenchy" title="Givenchy" /></a></li>
		<li><a href="/LANCOME"><img src="/arquivos/LANCOME_carrossel.jpg" alt="Lancôme" title="Lancôme" /></a></li>
		<li><a href="/LUISANCE"><img src="/arquivos/LUISANCE_carrossel.jpg" alt="LUISANCE" title="LUISANCE" /></a></li>
		<li><a href="/Markwins"><img src="/arquivos/Markwins_carrossel.jpg" alt="MARKWINS" title="MARKWINS" /></a></li>
		<li><a href="/Mavala"><img src="/arquivos/Mavala_carrossel.jpg" alt="MAVALA" title="MAVALA" /></a></li>
		<li><a href="/O-P-I"><img src="/arquivos/O-P-I_carrossel.jpg" alt="OPI" title="OPI" /></a></li>
		<li><a href="/Revlon"><img src="/arquivos/Revlon_carrossel.jpg" alt="REVLON" title="REVLON" /></a></li>
		<li><a href="/Shiseido"><img src="/arquivos/Shiseido_carrossel.jpg" alt="SHISEIDO" title="SHISEIDO" /></a></li>
		<li><a href="/Yves-de-Sistelle"><img src="/arquivos/Yves-de-Sistelle_carrossel.jpg" alt="YVES SAINT LAURENT" title="YVES SAINT LAURENT" /></a></li>
	</ul> <!-- marcas -->
</div>