<div class="marcas">
	<ul>
		<li><a href="/Ada-Tina"><img src="/arquivos/Ada-Tina_carrossel.jpg" alt="ADATINA" title="ADATINA" /></a></li>
		<!--li><a href="#"><img src="/arquivos/ANTHELIOS_carrossel.jpg" alt="ANTHELIOS" title="ANTHELIOS" /></a></li-->
		<li><a href="/Avene"><img src="/arquivos/Avene_carrossel.jpg" alt="AVENE" title="AVENE" /></a></li>
		<li><a href="/Dermaphyto"><img src="/arquivos/Dermaphyto_carrossel.jpg" alt="DERMAPHYTO" title="DERMAPHYTO"/></a></li>		
		<li><a href="/Endocare"><img src="/arquivos/Endocare_carrossel.jpg" alt="ENDOCARE" title="ENDOCARE" /></a></li>
		<li><a href="/Heliocare"><img src="/arquivos/Heliocare_carrossel.jpg" alt="HELIOCARE" title="HELIOCARE" /></a></li>
		<li><a href="/Inneov"><img src="/arquivos/Inneov_carrossel.jpg" alt="INNEOV" title="INNEOV" /></a></li>
		<li><a href="/La-Roche-Posay"><img src="/arquivos/La-Roche-Posay_carrossel.jpg" alt="LA ROCHE POSAY" title="LA ROCHE POSAY" /></a></li>
		<li><a href="/Melora"><img src="/arquivos/Melora_carrossel.jpg" alt="MELORA" title="MELORA" /></a></li>		
		<li><a href="/Natupele"><img src="/arquivos/Natupele_carrossel.jpg" alt="NATUPELE" title="NATUPELE" /></a></li>
		<li><a href="/Neostrata"><img src="/arquivos/Neostrata_carrossel.jpg" alt="NEOSTRATA" title="NEOSTRATA" /></a></li>
		<li><a href="/Roc"><img src="/arquivos/Roc_carrossel.jpg" alt="ROC" title="ROC" /></a></li>
		<li><a href="/Skinceuticals"><img src="/arquivos/Skinceuticals_carrossel.jpg" alt="SKINCEUTICALS" title="SKINCEUTICALS" /></a></li>
		<li><a href="/SVR"><img src="/arquivos/SVR_carrossel.jpg" alt="SVR" title="SVR" /></a></li>
		<li><a href="/Vichy"><img src="/arquivos/Vichy_carrossel.jpg" alt="VICHY" title="VICHY" /></a></li>
	</ul> <!-- marcas -->
</div>