<div class="marcas">
	<ul>
		<li><a href="/BioOil"><img src="/arquivos/BioOil_carrossel.jpg" alt="BIO OIL" title="BIO OIL" /></a></li>
		<li><a href="/Biotherm"><img src="/arquivos/Biotherm_carrossel.jpg" alt="BIOTHERM" title="BIOTHERM" /></a></li>
		<li><a href="/Clarins"><img src="/arquivos/Clarins_carrossel.jpg" alt="CLARINS" title="CLARINS"/></a></li>
		<li><a href="/Clinique"><img src="/arquivos/Clinique_carrossel.jpg" alt="CLINIQUE" title="CLINIQUE" /></a></li>
		<li><a href="/Dior"><img src="/arquivos/Dior_carrossel.jpg" alt="DIOR" title="DIOR" /></a></li>
		<li><a href="/La-Prairie"><img src="/arquivos/La-Prairie_carrossel.jpg" alt="La Prairie" title="La Prairie" /></a></li>
		<li><a href="/LANCOME"><img src="/arquivos/LANCOME_carrossel.jpg" alt="Lancôme" title="Lancôme" /></a></li>
		<li><a href="/Mavala"><img src="/arquivos/Mavala_carrossel.jpg" alt="MAVALA" title="MAVALA" /></a></li>
		<li><a href="/Shiseido"><img src="/arquivos/Shiseido_carrossel.jpg" alt="SHISEIDO" title="SHISEIDO" /></a></li>
		<li><a href="/Talika"><img src="/arquivos/Talika_carrossel.jpg" alt="TALIKA" title="TALIKA" /></a></li>
	</ul> <!-- marcas -->
</div>