<div class="clear"></div>
<div class="cont_footer">
    <div class="footer_cima">

        <div class="footer_menu">
            <div class="col_footer">
                <h4>DEPARTAMENTOS</h4>
                <ul>
                    <li><a href="/perfumes">Perfumes</a></li>
                    <li><a href="/maquiagem">Maquiagem</a></li>
                    <li><a href="/cabelos">Cabelos</a></li>
                    <li><a href="/dermocosmeticos">Dermocosméticos</a></li>
                    <li><a href="/tratamentos">Tratamentos</a></li>
                    <li><a href="/corpo-e-banho">Corpo &amp; banho</a></li>
                    <li><a href="/solares">Solares</a></li><!--
                    <li><a href="#">Homem</a></li>
                    <li><a href="#">Ofertas</a></li> -->
                </ul>
            </div>
            <div class="col_footer">
                <h4>INSTITUCIONAL</h4>
                <ul>
                    <li><a href="/nossaslojas">Conheça a Época Cosméticos</a></li>
                    <!-- <li><a href="/nossaslojas">Nossas Lojas</a></li> -->
                    <li><a href="/centralatendimento/formas-pagamento">Formas de Pagamento</a></li>
                    <li><a href="/centralatendimento/entrega">Prazo de Entrega</a></li>
                    <li><a href="/centralatendimento/privacidade-seguranca">Privacidade e Segurança</a></li>
                    <li><a href="/centralatendimento/troca-devolucao">Direito de Arrependimento </a></li>
                    <li><a href="http://epocacosmeticos.integracaoafiliados.com.br/affiliates/?utm_source=epocacosmeticos&amp;utm_medium=site" target="_blank">Programa de Afiliados</a></li>
                    <li><a href="/meusalaovirtual">Meu Salão Virtual</a></li>
                </ul>
            </div>
            <div class="col_footer">
                <h4>ATENDIMENTO</h4>
                <ul>
                    <li><a href="/centralatendimento">Central de Atendimento</a></li>
                    <li><a href="/login?ReturnUrl=%2faccount%2forders">Acompanhe o seu pedido</a></li>
                    <li><a href="/login?ReturnUrl=%2faccount%2forders">2ª via do Boleto</a></li>
                    <li><a href="/centralatendimento/troca-devolucao">Troca e Devolução</a></li>
                    <!-- <li><a href="/nossaslojas">Alterar Senha</a></li>
                    <li><a href="/nossaslojas">Alterar E-mail</a></li>
                    <li><a href="/nossaslojas">Alterar Cadastro</a></li> -->

                </ul>
            </div>
            <div class="col_footer last">
                <h4>INFORMAÇÕES</h4>
                <ul>
                    <li><a href="/centralatendimento/como-comprar">Como Comprar</a></li>
                    <li><a href="/ofertas">Ofertas Imperdíveis</a></li>
                    <li><a href="/brindes">Compre e Ganhe Brindes</a></li>
                    <!-- <li><a href="/clubedocupom">Cupom de Desconto</a></li> -->
                    <li><a href="/presentes">Kits e Presentes</a></li>
                    <li><a href="/perfumes-ate99">Perfumes até 99,</a></li>
                    <li><a href="/blackfriday">Black Friday</a></li>
                    <li><a href="/centralatendimento/mais-duvidas">Mais Dúvidas</a></li>

                </ul>

            </div>
        </div> <!-- footer_menu -->

        <div class="footer_social">
            <h4>REDES SOCIAIS</h4>
            <ul class="redes">
                <li class="face"><a href="https://www.facebook.com/EpocaCosmeticos" target="_blank">facebook</a></li>
                <li class="twit"><a href="http://www.twitter.com/epocacosmeticos" target="_blank">twitter</a></li>
                <li class="yout"><a href="http://www.youtube.com/epocacosmeticos" target="_blank">youtube</a></li>
                <li class="goog"><a href="http://plus.google.com/+epocacosmeticos" target="_blank">google plus</a></li>
                <li class="blog"><a href="http://www.papodebeleza.com.br" target="_blank">blog</a></li>
            </ul>

            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FEpocaCosmeticos&amp;width=292&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=253803314733446" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
        </div> <!-- footer_social -->
    </div> <!-- footer_cima -->


    <div class="footer_baixo">
        <div class="selos">

            <a id="seloEbit" href="http://www.ebit.com.br/epoca-cosmeticos" target="_blank" onclick="redir(this.href);">Avaliação de Lojas e-bit</a>
            <script type="text/javascript" id="getSelo" src="https://558701205.r.anankecdn.com.br/ebitBR/static/getSelo.js?5354" >
            </script>

            <!-- Begin DigiCert site seal HTML and JavaScript -->
            <div class="digi-cert">
                <div id="DigiCertClickID_rDYbygEk" data-language="en_US">
                    <a href="http://www.digicert.com/unified-communications-ssl-tls.htm"></a>
                </div>
                <script type="text/javascript">
                    var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_rDYbygEk", "7", "m", "black", "rDYbygEk"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls =s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
                </script>
            </div>
            <!-- End DigiCert site seal HTML and JavaScript -->

            <!-- site blindado -->
            <div id="armored_website">

                <param id="aw_preload" value="true" />

                <param id="aw_use_cdn" value="true" />

            </div>

            <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
            <!-- site blindado -->


            <a target="_blank" href="http://www.reclameaqui.com.br/selo/">
                <img src="/arquivos/selo-ra1k.gif" alt="Reclame Aqui" class="imagens_internas" style="BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none" />
            </a>

            <img width="46" height="46" src="/arquivos/adipec.jpg" alt="ADIPEC" class="imagens_internas" />




        </div> <!-- selos -->

        <div class="forma_pagamento"></div>

        <div class="footer_baixo_baixo">
            <div class="logo_footer"><img src="/arquivos/logo_epoca_cosmeticos_footer.jpg" alt="" /></div> <!-- logo_footer -->

            <div class="endereco">
                Época Cosméticos Perfumaria | <a href="/centralatendimento">Central de Atendimento</a> | [21] 3202.7555 | www.epocacosmeticos.com.br
                 Razão Social: Campos Floridos Comercio de Cosmeticos Ltda | CNPJ: 01.239.313/0001-60 <br />Rua Francisco Sá, 23 / 907 - Copacabana - Rio de Janeiro<br />
                 O preço válido será o da finalização da compra. Vendas sujeitas à análise e confirmação de dados.
            </div> <!-- endereco -->

            <ul class="power">
                <li class="vtex"><a href="http://www.vtex.com.br" target="_blank">Vtex</a></li>
                <li class="profite"><a href="http://www.profite.com.br" target="_blank">Profite</a></li>
            </ul> <!-- power -->

        </div> <!-- footer_baixo_baixo -->
    </div> <!-- footer_baixo -->
</div> <!-- cont_footer -->

<div style="display:none"><vtex.cmc:navigationHistory /></div>