<div class="header_flutuante">
    <div class="top100">
        <div class="top">
            <h1 class="logo"><a href="/">Época Cosméticos - Perfumaria</a></h1>

            <div class="search">
                <vtex.cmc:fullTextSearchBox/>
            </div> <!-- search -->

            <div class="regua">
                <vtex:bannerReguaTopo />
            </div><!-- regua -->

            <ul class="menu_dept">
                <li class="item"><a href="#" class="item">Departamentos</a>
                    <ul class="sub_dept">
                        <li><a href="/perfumes">Perfumes</a></li>
                        <li><a href="/maquiagem">Maquiagem</a></li>
                        <li><a href="/cabelos">Cabelos</a></li>
                        <li><a href="/dermocosmeticos">Dermocosméticos</a></li>
                        <li><a href="/tratamentos">Tratamentos</a></li>
                        <li><a href="/corpo-e-banho">Corpo e Banho</a></li>
                        <li><a href="/solares">Solares</a></li>

                    </ul>
                </li>
            </ul>

            <a href="/site/carrinho.aspx" class="carrinho">
                <vtex.cmc:AmountItemsInCart />
                <span class="item">itens</span>
            </a> <!-- carrinho -->

        </div> <!-- top -->
    </div> <!-- top100 -->
</div> <!-- header_flutuante -->


<div class="topbanner">
    <vtex.cmc:bannerTopo />
    <!-- <vtex:bannerTopo /> -->
    <a href="#" class="close"></a>
</div> <!-- topbanner -->

<div class="topbar100">
    <div class="topbar">
        <div class="welc">
            <vtex.cmc:welcomeMessage/>
        </div><!-- welc -->

        <ul class="menu_topbar">
            <li class="atendimento"><a href="/centralatendimento">Atendimento</a></li>
            <li class="meuspedidos"><a href="/account/orders">Meus Pedidos</a></li>
            <li class="lista"><a href="/giftList">Lista de Desejos</a></li>
        </ul> <!--   -->

    </div> <!-- topbar -->
</div> <!-- topbar100 -->


<div class="top100">
    <div class="top">
        <h1 class="logo"><a href="/">Época Cosméticos - Perfumaria</a></h1>

        <div class="search">
            <vtex.cmc:fullTextSearchBox/>
        </div> <!-- search -->

        <div class="regua">
            <vtex:bannerReguaTopo />
        </div><!-- regua -->

        <a href="/site/carrinho.aspx" class="carrinho">
            <vtex.cmc:AmountItemsInCart />
            <span class="item">itens</span>
        </a> <!-- carrinho -->

    </div> <!-- top -->
</div> <!-- top100 -->

<div class="menu100">
    <div class="menu">
        <h2 class="item_menu perfumes"><a href="/perfumes" class="princ">Perfumes</a>
            <ul class="sub">
                <div class="col col1">
                    <h3>Mais Acessados</h3>
                    <li><a href="/perfumes/perfume-masculino">Perfume para Ele</a></li>
                    <li><a href="/perfumes/perfume-feminino">Perfume para Ela</a></li>
                    <li><a href="/busca/?fq=H:317">Kits com Brindes</a></li>
                    <li><a href="/perfumes/perfume-para-o-corpo">Perfume para o Corpo</a></li>
                    <li><a href="/perfumes/perfume-para-criancas-e-adolescentes">Perfume para a Garotada</a></li>
                    <li><a href="/perfumes/perfume-unissex">Perfume Unissex</a></li>
                    <li><a href="/perfumes-de-celebridades">Perfume das Celebridades</a></li>
                    <li><a href="/perfumes-saldao">Saldão de Perfumes</a></li>
                    <div class="botao-submenu">
                        <a href="/perfumes" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Top Marcas</h3>
                    <li><a href="/perfumes/carolina-herrera">Carolina Herrera</a></li>
                    <li><a href="/perfumes/dior">Dior</a></li>
                    <li><a href="/perfumes/ferrari">Ferrari</a></li>
                    <li><a href="/perfumes/antonio-bandeiras">Antonio Banderas</a></li>
                    <li><a href="/perfumes/lancome">Lancôme</a></li>
                    <li><a href="/perfumes/givenchy">Givenchy</a></li>
                    <li><a href="/perfumes/gabriela-sabatini">Gabriela Sabatini</a></li>
                    <li><a href="/perfumes/kenzo">Kenzo</a></li>
                    <li><a href="/perfumes/azzaro">Azzaro</a></li>
                </div>
                <div class="col col3">
                    <h3>Perfumes Famosos</h3>
                    <li><a href="/jadore">J'adore</a></li>
                    <li><a href="/ferrari-black">Ferrari Black</a></li>
                    <li><a href="/perfume-212">212</a></li>

                    <h3>Elas procuram</h3>
                    <li><a href="/perfumes-feminino-ate49">Perfumes até R$ 49</a></li>
                    <li><a href="/perfumes-feminino-ate99">Perfumes até R$ 99</a></li>

                     <h3>Eles procuram</h3>
                    <li><a href="/perfumes-masculino-ate49">Perfumes até R$ 49</a></li>
                    <li><a href="/perfumes-masculino-ate99">Perfumes até R$ 99</a></li>

                </div>

                <div class="col prod_banner">


                    <h3>CAMPEÃO DE CLIQUES</h3>
                    <vtex:bannerMenuPerfume />
                </div>

            </ul> <!-- sub -->
        </h2>
        <h2 class="item_menu maquiagem"><a href="/maquiagem" class="princ">Maquiagem</a>
            <ul class="sub">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/maquiagem/corretivo/corretivo-para-a-area-dos-olhos">Corretivo de Olheiras</a></li>
                    <li><a href="/maquiagem/olhos/mascara">Máscaras para os Cílios</a></li>
                    <li><a href="/maquiagem/face/base">Bases Faciais</a></li>
                    <li><a href="/maquiagem/maquiagem-bronzeadora">Maquiagem Bronzeadora</a></li>
                    <li><a href="/maquiagem/primer-e-finalizador">Aperfeiçoadores da Pele</a></li>
                    <li><a href="/maquiagem/remocao-da-maquiagem/demaquilante">Demaquilantes</a></li>
                    <li><a href="/maquiagem/olhos/lapis-e-kajal">Lápis e Kajal</a></li>
                    <li><a href="/maquiagem/maleta-de-maquiagem">Maletas de Maquiagem</a></li>
                    <div class="botao-submenu">
                        <a href="/maquiagem" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Marcas Mais Desejadas</h3>
                    <li><a href="/maquiagem/dior">Dior</a></li>
                    <li><a href="/maquiagem/arcancil">Arcancil</a></li>
                    <li><a href="/maquiagem/lancome">Lancôme</a></li>
                    <li><a href="/maquiagem/givenchy">Givenchy</a></li>
                    <li><a href="/maquiagem/bourjois">Bourjois</a></li>
                    <li><a href="/maquiagem/markwins">Markwins</a></li>
                    <li><a href="/maquiagem/shiseido">Shiseido</a></li>
                    <li><a href="/maquiagem/revlon">Revlon</a></li>
                    <li><a href="/maquiagem/yves-saint-laurent">Yves Saint Laurent</a></li>
                </div>
                <div class="col col3">
                    <h3>Produtos Famosos</h3>
                    <li><a href="/phenomen">Phenomen'eyes</a></li>
                    <li><a href="/maquiagem-chubbystick">Chubby Stick</a></li>
                    <li><a href="/maquiagem-dioraddictgloss">Dior Addict Gloss</a></li>
                    <li><a href="/maquiagem-toucheeclat">Touche Éclat</a></li>
                    <li><a href="/effacernes-longue-tenue-lancome-corretivo-facial/p">Effacernes</a></li>
                    <li><a href="/busca/?fq=H:348">Mavala Mini Colors</a></li>

                    <h3>Nécessaire</h3>
                    <li><a href="/light-touch-illuminator-arcancil-creme-facial-iluminador/p">Light Touch Iluminator</a></li>
                    <li><a href="/magic-fix-artdeco-fixador-de-batom/p">Magic Fix</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>CAMPEÃO DE CLIQUES</h3>
                    <vtex:bannerMenuMaquiagen />
                </div>

            </ul> <!-- sub -->
        </h2>
        <h2 class="item_menu cabelos"><a href="/cabelos" class="princ">Cabelos</a>
            <ul class="sub">
                <div class="col col1">
                    <h3>Navegue Por Aqui</h3>
                    <li><a href="/cabelos/shampoo/cabelo">Escolha seu Shampoo</a></li>
                    <li><a href="/cabelos/condicionador/cabelo">Acerte no Condicionador</a></li>
                    <li><a href="/cabelos-evite-cor-desbotada">Evite a Cor Desbotada</a></li>
                    <li><a href="/cabelos-disciplinadores-frizz">Disciplinadores de Frizz</a></li>
                    <li><a href="/cabelos-cachos-perfeitos">Cachos Perfeitos</a></li>
                    <li><a href="/cabelos/mascara">Máscaras Recuperadoras</a></li>
                    <li><a href="/cabelos/cuidados-com-o-sol">Protetores do Calor</a></li>
                    <li><a href="/cabelos-shampoo-a-seco">Shampoo a Seco</a></li>
                    <div class="botao-submenu">
                        <a href="/cabelos" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>

                </div>
                <div class="col col2">
                    <h3>Marcas Mais Desejadas</h3>
                    <li><a href="/cabelos/yenzah">Yenzah</a></li>
                    <li><a href="/cabelos/lee-stafford">Lee Stafford</a></li>
                    <li><a href="/cabelos/tigi">Tigi</a></li>
                    <li><a href="/cabelos/joico">Joico</a></li>
                    <li><a href="/cabelos/paul-mitchell">Paul Mitchell</a></li>
                    <li><a href="/cabelos/ecru">Ecru</a></li>
                    <li><a href="/cabelos/lanza">Lanza</a></li>
                    <li><a href="/cabelos/pantene">Pantene</a></li>
                    <li><a href="/cabelos/keune">Keune</a></li>
                </div>
                <div class="col col3">
                    <h3>Produtos Famosos</h3>
                    <li><a href="/toppik">Toppik</a></li>
                    <li><a href="/bed-head-ego-boost-tigi-condicionador-reparador-sem-enxague-para-cabelos-danificados-ou-quimicamente-tratados/p">Bed Head Ego Boost</a></li>
                    <li><a href="/rd-protein-cream-nppe-tratamento-disciplinador/p">RD Protein Cream</a></li>
                    <li><a href="/koleston-espuma-koleston-tintura-para-cabelo/p">Tintura Koleston</a></li>

                    <h3>Os Mais Visitados</h3>
                    <li><a href="/cabelos-shampoo-a-seco">Shampoo a Seco</a></li>
                    <li><a href="/cabelos-disfarce-de-calvicie">Disfarce para a Calvície</a></li>
                    <li><a href="/cabelos-alisamento-temporario">Alisamento Temporário</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>CAMPEÃO DE CLIQUES</h3>
                    <vtex:bannerMenuCabelos />
                </div>

            </ul> <!-- sub -->
        </h2>
        <h2 class="item_menu dermocosmeticos"><a href="/dermocosmeticos" class="princ">Dermocosméticos</a>
            <ul class="sub">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/dermocosmeticos/face/limpadores">Elimine a Acne</a></li>
                    <li><a href="/dermocosmeticos-tratamento-anti-queda">Tratamentos Antiqueda</a></li>
                    <li><a href="/dermocosmeticos-clareadores-de-pele">Clareadores da Pele</a></li>
                    <li><a href="/dermocosmeticos-cicatrizadores">Cicatrizadores</a></li>
                    <li><a href="/dermocosmeticos/olhos/rejuvenescedores">Elimine Bolsas e Olheiras</a></li>
                    <li><a href="/dermocosmeticos/maos/hidratacao">Hidratantes para as Mãos</a></li>
                    <li><a href="/dermocosmeticos/cuidados-com-o-sol/autobronzeador">Autobronzeadores</a></li>
                    <li><a href="/dermocosmeticos-cuidade-das-unhas">Cuide das Unhas</a></li>
                    <div class="botao-submenu">
                        <a href="/dermocosmeticos" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>

                </div>
                <div class="col col2">
                    <h3>Marcas mais Clicadas</h3>
                    <li><a href="/dermocosmeticos/ada-tina">Ada Tina</a></li>
                    <li><a href="/dermocosmeticos/la-roche-posay">La Roche-Posay</a></li>
                    <li><a href="/dermocosmeticos/avene">Avène</a></li>
                    <li><a href="/dermocosmeticos/melora">Melora</a></li>
                    <li><a href="/dermocosmeticos/inneov">Innéov</a></li>

                    <h3>Sol na Medida Certa</h3>
                    <li><a href="/dermocosmeticos-protetores-ftp50-ou-mais">Protetores FPS50 ou Mais</a></li>
                    <li><a href="/dermocosmeticos-protetores-para-criancas">Protetores Para Crianças</a></li>
                    <li><a href="/busca/?fq=H:203">Protetores de Uso Diário</a></li>



                </div>
                <div class="col col3">

                    <h3>Top4 dos consultórios</h3>
                    <li><a href="/dual-clear-ada-tina-clareador-facial-fps-30/p">Dual Clear</a></li>
                    <li><a href="/melora-c-creme-espuma-antienvelhecimento-fps-50-melora-creme-antienvelhecimento-com-fps-50/p">Melora C Creme Espuma FPS50</a></li>
                    <li><a href="/Effaclar">Effaclar</a></li>
                    <li><a href="/inneov-fermete-inneov-suplemento-corporal/p">Innéov</a></li>

                    <h3>Dicas do Dermatologista</h3>
                    <li><a href="/dermocosmeticos-beleza-que-vem-de-dentro">Beleza que Vem de Dentro</a></li>
                    <li><a href="/dermocosmeticos-disfarce-de-imperfeicoes">Disfarce as Imperfeições</a></li>
                    <li><a href="/dermocosmeticos/agua-termal">Água Termal</a></li>
                    <li><a href="/dermocosmeticos/celulite">Combata a Celulite</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>CAMPEÃO DE VENDAS</h3>
                    <vtex:bannerMenuDermocosmeticos />
                </div>

            </ul> <!-- sub -->
        </h2>
        <h2 class="item_menu tratamento"><a href="/tratamentos" class="princ">Tratamentos</a>
            <ul class="sub">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/tratamentos/face/limpadores-faciais">Limpadores Faciais</a></li>
                    <li><a href="/tratamentos/face/tonicos-faciais">Tonifique sua Pele</a></li>
                    <li><a href="/tratamentos/face/hidratantes-faciais">Hidratantes Faciais</a></li>
                    <li><a href="/tratamentos/face/rejuvenescedores-faciais">Rejuvenescedores Faciais</a></li>
                    <li><a href="/tratamento-uniformize-sua-pele">Uniformize sua Pele</a></li>
                    <li><a href="/tratamentos/corpo/cuidados-com-a-silhueta">Cuidados com a Silhueta</a></li>
                    <li><a href="/tratamento-acao-anti-fadiga">Ação Antifadiga</a></li>
                    <li><a href="/tratamentos/corpo/hidratantes-corporais">Hidratantes para o Corpo</a></li>
                    <div class="botao-submenu">
                        <a href="/tratamentos" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Marcas Mais Clicadas</h3>
                    <li><a href="/tratamentos/lancome">Lancôme</a></li>
                    <li><a href="/tratamentos/dior">Dior</a></li>
                    <li><a href="/tratamentos/la-prairie">La Prairie</a></li>
                    <li><a href="/tratamentos/givenchy">Givenchy</a></li>
                    <li><a href="/tratamentos/shiseido">Shiseido</a></li>
                    <li><a href="/tratamentos/clinique">Clinique</a></li>
                    <li><a href="/tratamentos/clarins">Clarins</a></li>
                    <li><a href="/tratamentos/arnaud">Arnaud</a></li>
                    <li><a href="/tratamentos/sisley">Sisley</a></li>
                </div>
                <div class="col col3">
                    <h3>Produtos Mais Visitados</h3>
                    <li><a href="/genifique-repair-lancome-cuidado-noturno-rejuvenescedor/p">Génifique Repair</a></li>
                    <li><a href="/skin-ergetic-fresh-serum-biotherm-tratamento-facial-anti-fadiga/p">Skin Ergetic Serum</a></li>
                    <li><a href="/future-solution-lx-extra-rich-cleansing-foam-shiseido-espuma-de-limpeza/p">Future Solution Eyes</a></li>
                    <li><a href="/hydra-life-creme-sorbet-yeux-pro-jeunesse-dior-creme-antiolheiras-e-antibolsas-para-o-contorno-dos-olhos/p">Hydra Life Yeux</a></li>

                    <h3>Cantinho Masculino</h3>
                    <li><a href="/tratamento-abdomen-em-dia">Abdômen em Dia</a></li>
                    <li><a href="/tratamento-barba-perfeita">Barba Perfeita</a></li>
                    <li><a href="/tratamento-adeus-rugas-de-expressao">Adeus, Rugas de Expressão!</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>Campeão de Vendas!</h3>
                    <vtex:bannerMenuTratamento />
                </div>

            </ul> <!-- sub -->
        </h2>
        <h2 class="item_menu corpoBanho"><a href="/corpo-e-banho" class="princ">Corpo e Banho</a>
            <ul class="sub">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/corpo-e-banho/banho/esfoliante">Esfoliantes</a></li>
                    <li><a href="/corpo-e-banho/banho/sabonete">Sabonetes</a></li>
                    <li><a href="/corpo-e-banho-banho-do-bebe">Banho do Bebê</a></li>
                    <li><a href="/corpo-e-banho/pos-banho/desodorante">Desodorantes</a></li>
                    <li><a href="/corpo-e-banho-hidratantes-perfumados">Hidratantes Perfumados</a></li>
                    <li><a href="/corpo-e-banho/barba">Barba e Pós-Barba</a></li>
                    <li><a href="/corpo-e-banho/lencos-umedecidos">Lenços Umedecidos</a></li>
                    <li><a href="/corpo-e-banho/ferramentas-de-beleza">Ferramentas de Beleza</a></li>
                    <div class="botao-submenu">
                        <a href="/corpo-e-banho" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>

                </div>
                <div class="col col2">
                    <h3>Marcas mais Clicadas</h3>
                    <li><a href="/corpo-e-banho/yardley">Yardley</a></li>
                    <li><a href="/corpo-e-banho/4711">4711</a></li>
                    <li><a href="/corpo-e-banho/malizia">Malizia</a></li>
                    <li><a href="/corpo-e-banho/gillette">Gillette</a></li>
                    <li><a href="/corpo-e-banho/biotherm">Biotherm</a></li>
                    <li><a href="/corpo-e-banho/hollywood-fashion-secrets">Hollywood Fashion Secrets</a></li>
                    <li><a href="/corpo-e-banho/nesti-dante">Nesti Dante</a></li>
                    <li><a href="/corpo-e-banho/azzaro">Azzaro</a></li>
                    <li><a href="/corpo-e-banho/baylis-e-harding">Bailys &amp; Harding</a></li>
                </div>
                <div class="col col3">
                    <h3>Produtos Mais Visitados</h3>
                    <li><a href="/corpo-e-banho/depilacao/aparelhos-e-cargas/venus">Aparelho Gillette Vênus</a></li>
                    <li><a href="/j-adore-body-milk-dior-locao-perfumada/p">J'Adore Body Lotion</a></li>
                    <li><a href="/vivian-gray">Sabonete Vivian Grey Safari</a></li>
                    <li><a href="/esfoliante-energizante-corpo-cupuacu-amazonia-viva-esfoliante-energizante-corporal/p">Esfoliante Cupuaçu</a></li>
                    <li><a href="/corpo-e-banho/pos-banho/desodorante//malizia">Desodorante Malizia</a></li>

                    <h3>Depilada e Linda</h3>
                    <li><a href="/corpo-e-banho/depilacao/aparelhos-e-cargas">Aparelhos e Cargas</a></li>
                    <li><a href="/corpo-e-banho-segredinhos-de-mulher">Segredinhos de Mulher</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>Campeão de vendas!</h3>
                    <vtex:bannerMenuCorpoBanho />
                </div>

            </ul> <!-- sub -->
        </h2>
        <h2 class="item_menu solares"><a href="/ofertas" class="princ">Ofertas</a>
<!--            <ul class="sub">
                <div class="col col1">
                    <h3>PROTEÇÃO SOB MEDIDA</h3>
                    <li><a href="/solares-protetor-solar-fps15-a-fps25">Protetor Solar FPS15 a FPS25</a></li>
                    <li><a href="/solares-protetor-solar-fps30">Protetor Solar FPS30</a></li>
                    <li><a href="/solares-protetor-solar-ate-fps60">Protetor Solar até FPS60</a></li>
                    <li><a href="/solares-protetor-solar-infantil">Protetor Solar Infantil</a></li>
                    <li><a href="/solares-protetor-solar-diario">Protetor Solar Diário</a></li>
                    <li><a href="/solares-protetor-solar-oil-free">Protetor Solar Oil-Free</a></li>
                    <li><a href="/solares-protetor-solar-sem-perfume">Protetor Solar sem Perfume</a></li>
                    <li><a href="/solares-protetor-solar-compacto">Protetor Solar Compacto</a></li>
                    <div class="botao-submenu">
                        <a href="/dermocosmeticos/cuidados-com-o-sol/protetor-solar/solares" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Marcas mais Clicadas</h3>
                    <li><a href="/solares-biotherm">Biotherm</a></li>
                    <li><a href="/solares-dior">Dior</a></li>
                    <li><a href="/solares-normalize">Normalize</a></li>
                    <li><a href="/solares-heliocare">Heliocare</a></li>
                    <li><a href="/solares-shiseidosuncare">Shiseido Sun Care</a></li>

                    <h3>Acessórios que Protegem</h3>
                    <li><a href="/busca/?fq=H:313">Chapéus FPS 50</a></li>
                    <li><a href="/busca/?fq=H:213">Bonés e Viseiras FPS 50</a></li>

                </div>
                <div class="col col3">
                    <h3>Ofertas!</h3>
                    <li><a href="/solares-viseira-uvline">Viseira UV Line</a></li>
                    <li><a href="/genifique-soleil-corps-fps-30-lancome-protetor-solar-corporal/p">Genifique Soleil FPS30</a></li>
                    <li><a href="/camisa-amazone-uv-line-camisa-masculino-com-protecao-uv/p">Camisa UV Line</a></li>

                    <h3>Prolongue seu Bronzeado</h3>
                    <li><a href="/solares-autobronzeadores">Autobronzeadores</a></li>
                    <li><a href="/solares-maquiagem-solar">Maquiagem Solar</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>Destaque da Seção</h3>
                    <vtex:bannerMenuSolares />
                </div>

            </ul>  sub -->
        </h2>
        <h2 class="dif m_marcas"><a href="#" class="princ">Marcas</a>
            <ul class="sub fix">
                <!-- <iframe src="/app-marcas" width="300px" height="315px" frameborder="0"></iframe> -->
            </ul>
        </h2>
    </div>
</div> <!-- menu100 -->
<div class="menu_sec_cadastro">
    <div class="menu_sec">
        <span class="navegue"></span>
        <h4 class="brindes"><a href="ganhe-brinde?PS=60">Brindes</a></h4>
        <h4 class="novidades"><a href="/voceclicavocediva">#VocêClicaVocêDiva</a></h4>
        <h4 class="amostra"><a href="/busca/?fq=H:220">Para Ele</a></h4>
        <h4 class="m_maisvendidos"><a href="/presentes">Presentes</a></h4>
        <h4 class="sale"><a style="color:#F01316;" href="/lancamentos">Novidades</a></h4>
    </div> <!-- menu_sec -->

    <div class="news">
        <iframe src="http://optin.epocacosmeticos.com.br/form-dois.php" frameborder="0" hspace="0" allowtransparency="true" style="width: 270px; height: 50px;" ></iframe>
    </div>
</div>
<!-- menu_sec -->