<head>
<!-- <link rel="stylesheet" type="text/css" href="/arquivos/style_epoca_aniversario2.css" /> -->
<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="header_flutuante">
    <div class="top100">
        <div class="top">
            <div class="logo"><a href="/">Época Cosméticos - Perfumaria</a></div>

            <div class="search">
                <vtex.cmc:fullTextSearchBox/>
            </div> <!-- search -->

            <div class="regua">
                <vtex.cmc:bannerReguaTopoFlutuante />
            </div><!-- regua -->

            <!-- Menu dropdown de deps do topo flutuante
            <ul class="menu_dept">
                <li class="item"><a href="#" class="item">Departamentos</a>
                    <ul class="sub_dept">
                        <li><a href="/perfumes">Perfumes</a></li>
                        <li><a href="/maquiagem">Maquiagem</a></li>
                        <li><a href="/cabelos">Cabelos</a></li>
                        <li><a href="/dermocosmeticos">Dermocosméticos</a></li>
                        <li><a href="/tratamentos">Tratamentos</a></li>
                        <li><a href="/corpo-e-banho">Corpo e Banho</a></li>
                        <li><a href="/solares">Solares</a></li>

                    </ul>
                </li>
            </ul>-->

            <a href="/site/carrinho.aspx" class="carrinho">
                <vtex.cmc:AmountItemsInCart />
                <span class="item">itens</span>
            </a> <!-- carrinho -->

        </div> <!-- top -->
    </div> <!-- top100 -->
</div> <!-- header_flutuante -->


<div class="topbanner">
    <vtex.cmc:bannerTopo />
    <!-- <vtex:bannerTopo /> -->
    <a href="#" class="close"></a>
</div> <!-- topbanner -->

<div class="topbar100">
    <div class="topbar">
        <div class="welc">
            <vtex.cmc:welcomeMessage/>
        </div><!-- welc -->

        <ul class="menu_topbar">
            <li class="meuspedidos"><a href="/account/orders">Meus Pedidos</a></li>
            <li class="atendimento"><a href="/centralatendimento">Atendimento</a></li>
            <li class="lista"><a href="/giftList">Lista de Desejos</a></li>
            <li class="meuspedidos"><a href="/account">Cadastre o seu aniversário :)</a></li>
            
        </ul> <!--   -->

    </div> <!-- topbar -->
</div> <!-- topbar100 -->


<div class="top100">
    <div class="top">
        <div class="logo" ><a href="/" style="background-image: url('/arquivos/logo_epoca_cosmeticos.jpg') !important; background-repeat: no-repeat;">Época Cosméticos - Perfumaria</a></div>

        <div class="search">
            <vtex.cmc:fullTextSearchBox/>
        </div> <!-- search -->

        <div class="regua">
            <vtex.cmc:bannerReguaTopoNew />
        </div><!-- regua -->

        <a href="/site/carrinho.aspx" class="carrinho">
            <vtex.cmc:AmountItemsInCart />
            <span class="item">itens</span>
        </a> <!-- carrinho -->

    </div> <!-- top -->
</div> <!-- top100 -->

<div class="menu100">
    <div class="menu">
            <h4 class="item_menu perfumes"><a href="/perfumes" class="princ">Perfumes</a>
            <ul class="sub" style="left: 0px;">
                <div class="col col1">
                    <h3>CATEGORIAS</h3>
                    <li><a href="/perfumes/perfume-feminino">Perfume Feminino</a></li>
                    <li><a href="/perfumes/perfume-masculino">Perfume Masculino</a></li>
                    <li><a href="/perfumes/perfume-unissex">Perfume Unissex</a></li>
                    <li><a href="/perfumes/perfume-para-criancas-e-adolescentes">Perfume Infantil</a></li>
                    <li><a href="/perfumes/perfume-para-o-corpo">Perfume Corporal</a></li>
                    <li><a href="/perfumes/acessorios-para-perfume">Acessórios para Perfumes</a></li>
                    <div class="botao-submenu">
                        <a href="/perfumes" class="sub_vertodos">CLIQUE E VEJA MAIS!</a>
                    </div>
                </div>
                <div class="col col3">
                    <h3>POR FAIXA DE PREÇO</h3>
                    <li><a href="/perfumes-ate49">Até R$ 49</a></li>
                    <li><a href="/perfumes-de49a99">De R$ 49 a R$ 99</a></li>
                    <li><a href="/perfumes-acima99">Acima de R$ 99</a></li>

                    <h3>RECOMENDAMOS</h3>
                    <!-- <li><a href="/ganhe-brindes-perfumes">Ganhe Brindes</a></li> -->
                    <li><a href="/outlet-perfumes">Outlet de Perfumes</a></li>
                    <li><a href="/perfumes/Kits%20@slash@%20Miniaturas?map=c,specificationFilter_311">Kits de Perfumes</a></li>
                  </div>

                <div class="col prod_banner">


                    <!--<h3>ANÚNCIO DA TV</h3>-->
                    <vtex:bannerMenuPerfume />
                    <vtex.cmc:bannerMenuPerfumeHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu maquiagem"><a href="/maquiagem" class="princ">Maquiagem</a>
            <ul class="sub" style="left: 40px;">
                <div class="col col1">
                    <h3>CATEGORIAS</h3>
            <li><a href="/maquiagem/labios/batom">Batom</a></li>
            <li><a href="/maquiagem/face/base">Base</a></li>
            <li><a href="/maquiagem/face/po-facial">Pó Facial</a></li>
            <li><a href="/maquiagem/olhos/sombra">Sombra</a></li>
            <li><a href="/maquiagem/olhos/mascara">Máscara</a></li>
            <li><a href="/maquiagem/primer-e-finalizador/fixador-da-maquiagem">Fixador de Maquiagem</a></li>
            <li><a href="/maquiagem/aplicadores-para-maquiagem/pincel-ou-aplicador">Pincel e Aplicador</a></li>
             <div class="botao-submenu">
                        <a href="/maquiagem" class="sub_vertodos">CLIQUE E VEJA MAIS!</a>
                    </div>
                </div>
                <div class="col col3">
                    <h3>POR FAIXA DE PREÇO</h3>
                    <li><a href="/maquiagem/de-19,9-a-49?map=c,priceFrom">Até R$ 49</a></li>
                    <li><a href="/maquiagem/de-49,01-a-99?map=c,priceFrom">De R$ 49 a R$ 99</a></li>
                    <li><a href="/maquiagem/de-99,01-a-5000?map=c,priceFrom">Acima de R$ 99</a></li>

                    <h3>RECOMENDAMOS</h3>
                    <!-- <li><a href="/ganhe-brindes-maquiagem">Ganhe Brindes</a></li> -->
                    <li><a href="/outlet-maquiagem">Outlet de Maquiagem</a></li>
                    <li><a href="/kits-maquiagem">Kits de Maquiagem</a></li>
                    <li><a href="/lancamentos-maquiagem">Lançamentos</a></li>

                    </div>

                <div class="col prod_banner">
                     <!-- <h3>CAMPEÃO DE VENDAS</h3> -->
                    <vtex:bannerMenuMaquiagen />
                    <vtex.cmc:bannerMenuMaquiagenHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu cabelos"><a href="/cabelos" class="princ">Cabelos</a>
            <ul class="sub" style="left: 79px;">
                <div class="col col1">
                    <h3>CATEGORIAS</h3>
                 	<li><a href="/cabelos/shampoo">Shampoo</a></li>
                    <li><a href="/cabelos/condicionador">Condicionador</a></li>
                    <li><a href="/cabelos/mascara">Máscara</a></li>
                    <li><a href="/cabelos/finalizador">Finalizador</a></li>
                    <li><a href="/cabelos/tratamento">Tratamento</a></li>
                    <li><a href="/cabelos/coloracao/tintura-para-cabelos">Tintura de Cabelo</a></li>
                    <div class="botao-submenu">
                        <a href="/cabelos" class="sub_vertodos">CLIQUE E VEJA MAIS!</a>
                    </div>

                </div>
                <div class="col col3">
                   				   <h3>POR FAIXA DE PREÇO</h3>
                    <li><a href="/cabelos/de-19,9-a-49?map=c,priceFrom">Até R$ 49</a></li>
                    <li><a href="/cabelos/de-49,01-a-99?map=c,priceFrom">De R$ 49 a R$ 99</a></li>
                    <li><a href="/cabelos/de-99,01-a-5000?map=c,priceFrom">Acima de R$ 99</a></li>

                    <h3>RECOMENDAMOS</h3>
                    <li><a href="/outlet-cabelos">Outlet de Cabelos</a></li>
                    <li><a href="/cabelos/kits">Kits para Cabelos</a></li>
                    <li><a href="/lancamentos-cabelos">Lançamentos</a></li>

                    </div>

                <div class="col prod_banner">
                    <!--<h3>CAMPEÃO DE VENDAS</h3>-->
                    <vtex:bannerMenuCabelos />
                    <vtex.cmc:bannerMenuCabelosHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu dermocosmeticos"><a href="/dermocosmeticos" class="princ">Dermocosméticos</a>
            <ul class="sub" style="left: 118px;">
                <div class="col col1">
                    <h3>CATEGORIAS</h3>
                    <li><a href="/dermocosmeticos/cuidados-com-o-sol/protetor-solar">Protetor Solar</a></li>
                    <li><a href="/dermocosmeticos/face/cuidados-faciais-especificos">Cuidados Faciais</a></li>
                    <li><a href="/dermocosmeticos/face/limpadores">Limpadores</a></li>
                    <li><a href="/dermocosmeticos/nutricosmeticos">Nutricosméticos</a></li>
                    
                    <h3>REJUVENESCEDORES</h3>
                 	<li><a href="/dermocosmeticos/face/rejuvenescedores">Face</a></li>
                    <li><a href="/dermocosmeticos/olhos/rejuvenescedores">Olhos</a></li>
                    <li><a href="/dermocosmeticos/labios/rejuvenescedores">Lábios</a></li>
                    
                    <div class="botao-submenu">
                        <a href="/dermocosmeticos" class="sub_vertodos">CLIQUE E VEJA MAIS!</a>
                    </div>
                </div>
                <div class="col col3">
                   	<h3>POR FAIXA DE PREÇO</h3>
                    <li><a href="/dermocosmeticos/de-19,9-a-49?map=c,priceFrom">Até R$ 49</a></li>
                    <li><a href="/dermocosmeticos/de-49,01-a-99?map=c,priceFrom">De R$ 49 a R$ 99</a></li>
                    <li><a href="/dermocosmeticos/de-99,01-a-5000?map=c,priceFrom">Acima de R$ 99</a></li>

                    <h3>RECOMENDAMOS</h3>
                    <li><a href="/ganhe-brindes-dermocosmeticos">Ganhe Brindes</a></li>
                    <li><a href="/outlet-dermocosmeticos">Outlet</a></li>
                    <li><a href="/lancamentos-dermocosmeticos">Lançamentos</a></li>

                    </div>

                <div class="col prod_banner">
                    <!--<h3>CAMPEÃO DE VENDAS</h3>-->
                    <vtex:bannerMenuDermocosmeticos />
                    <vtex.cmc:bannerMenuDermocosmeticosHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu tratamento"><a href="/tratamentos" class="princ">Tratamentos</a>
            <ul class="sub" style="left: 157px;">
                <div class="col col1">
                    <h3>CATEGORIAS</h3>
                    <li><a href="/tratamentos/face/cuidados-faciais-especificos ">Cuidados Faciais</a></li>
                    <li><a href="/tratamentos/face/hidratantes-faciais">Hidratantes Faciais</a></li>
                    <li><a href="/tratamentos/unhas">Unhas </a></li>
                                                          
                    <h3>REJUVENESCEDORES</h3>
                 	<li><a href="/tratamentos/face/rejuvenescedores-faciais">Face</a></li>
                    <li><a href="/tratamentos/olhos/rejuvenescedores">Olhos</a></li>
                    <li><a href="/tratamentos/labios/rejuvenescedores-labiais">Lábios</a></li>
                    
                    <div class="botao-submenu">
                        <a href="/tratamentos" class="sub_vertodos">CLIQUE E VEJA MAIS!</a>
                    </div>
                </div>
                <div class="col col3">
                   	<h3>POR FAIXA DE PREÇO</h3>
                    <li><a href="/tratamentos/de-19,9-a-49?map=c,priceFrom">Até R$ 49</a></li>
                    <li><a href="/tratamentos/de-49,01-a-99?map=c,priceFrom">De R$ 49 a R$ 99</a></li>
                    <li><a href="/tratamentos/de-99,01-a-5000?map=c,priceFrom">Acima de R$ 99</a></li>

                    <h3>RECOMENDAMOS</h3>
                    <li><a href="/tratamentos/corpo/cuidados-com-a-silhueta">Ganhe Brindes</a></li>
                    <li><a href="/outlet-tratamentos">Outlet</a></li>
                    <li><a href="/lancamentos-tratamentos">Lançamentos</a></li>

                    </div>

                <div class="col prod_banner">
                    <!--<h3>Campeão de Vendas</h3>-->
                    <vtex:bannerMenuTratamento />
                    <vtex.cmc:bannerMenuTratamentoHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu corpoBanho"><a href="/corpo-e-banho" class="princ">Corpo e Banho</a>
            <ul class="sub" style="left: 196px;">
                <div class="col col1">
                    <h3>CATEGORIAS</h3>
                    <li><a href="/corpo-e-banho/banho/sabonete-e-gel-de-banho">Sabonete e Gel de Banho</a></li>
                    <li><a href="/corpo-e-banho/pos-banho/hidratante">Hidratante</a></li>
                    <li><a href="/corpo-e-banho/pos-banho/oleo">Óleo</a></li>
                    <li><a href="/corpo-e-banho/lencos-umedecidos">Lenços Umedecidos</a></li>
                    <li><a href="/corpo-e-banho/utilidades-diversas">Utilidades Diversas</a></li>
                    <div class="botao-submenu">
                        <a href="/corpo-e-banho" class="sub_vertodos">CLIQUE E VEJA MAIS!</a>
                    </div>

                </div>
                <div class="col col3">
                    <h3>POR FAIXA DE PREÇO</h3>
                    <li><a href="/corpo-e-banho/de-19,9-a-49?map=c,priceFrom">Até R$ 49</a></li>
                    <li><a href="/corpo-e-banho/de-49,01-a-99?map=c,priceFrom">De R$ 49 a R$ 99</a></li>
                    <li><a href="/corpo-e-banho/de-99,01-a-5000?map=c,priceFrom">Acima de R$ 99</a></li>

                    <h3>RECOMENDAMOS</h3>
                    <li><a href="/corpo-e-banho/kits">Kits Corpo e Banho</a></li>
                    <li><a href="/lancamentos-corpo-e-banho">Lançamentos</a></li>
                </div>

                <div class="col prod_banner">
                    <!--<h3>Campeão de vendas</h3>-->
                    <vtex:bannerMenuCorpoBanho />
                    <vtex.cmc:bannerMenuCorpoBanhoHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu solares"><a href="/oferta" class="princ"><span style="font-size:14; color:#ff921e">OUTLET</span></a>
<!--            <ul class="sub"  style="left: 239px;">
                <div class="col col1">
                    <h3>PROTEÇÃO SOB MEDIDA</h3>
                    <li><a href="/solares-protetor-solar-fps15-a-fps25">Protetor Solar FPS15 a FPS25</a></li>
                    <li><a href="/solares-protetor-solar-fps30">Protetor Solar FPS30</a></li>
                    <li><a href="/solares-protetor-solar-ate-fps60">Protetor Solar até FPS60</a></li>
                    <li><a href="/solares-protetor-solar-infantil">Protetor Solar Infantil</a></li>
                    <li><a href="/solares-protetor-solar-diario">Protetor Solar Diário</a></li>
                    <li><a href="/solares-protetor-solar-oil-free">Protetor Solar Oil-Free</a></li>
                    <li><a href="/solares-protetor-solar-sem-perfume">Protetor Solar sem Perfume</a></li>
                    <li><a href="/solares-protetor-solar-compacto">Protetor Solar Compacto</a></li>
                    <div class="botao-submenu">
                        <a href="/dermocosmeticos/cuidados-com-o-sol/protetor-solar/solares" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Marcas mais Clicadas</h3>
                    <li><a href="/solares-biotherm">Biotherm</a></li>
                    <li><a href="/solares-dior">Dior</a></li>
                    <li><a href="/solares-normalize">Normalize</a></li>
                    <li><a href="/solares-heliocare">Heliocare</a></li>
                    <li><a href="/solares-shiseidosuncare">Shiseido Sun Care</a></li>

                    <h3>Acessórios que Protegem</h3>
                    <li><a href="/busca/?fq=H:313">Chapéus FPS 50</a></li>
                    <li><a href="/busca/?fq=H:213">Bonés e Viseiras FPS 50</a></li>

                </div>
                <div class="col col3">
                    <h3>Ofertas!</h3>
                    <li><a href="/solares-viseira-uvline">Viseira UV Line</a></li>
                    <li><a href="/genifique-soleil-corps-fps-30-lancome-protetor-solar-corporal/p">Genifique Soleil FPS30</a></li>
                    <li><a href="/camisa-amazone-uv-line-camisa-masculino-com-protecao-uv/p">Camisa UV Line</a></li>

                    <h3>Prolongue seu Bronzeado</h3>
                    <li><a href="/solares-autobronzeadores">Autobronzeadores</a></li>
                    <li><a href="/solares-maquiagem-solar">Maquiagem Solar</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>Destaque da Seção</h3>
                    <vtex:bannerMenuSolares />
                    <vtex.cmc:bannerMenuSolaresHtml />
                </div>

            </ul>  sub -->
        </h4>
        <h4 class="dif m_marcas"><a href="#" class="princ">Marcas</a>
            <ul class="sub fix">
                <!-- <iframe src="/app-marcas" width="290px" height="315px" frameborder="0"></iframe> -->
            </ul>
        </h4>
    </div>
</div> <!-- menu100 -->

<div class="menu_sec_cadastro">
<div class="menu_sec">
        <span class="navegue"></span>
        <h4 class="sale"><a href="/eu-amo-presentear/para-ela/mais-desejados" style="color: deeppink;">Eu &#9829; Presentear</a></h4>
        <h4 class="amostra"><a href="/lancamentos">novidades</a></h4>
        <h4 class="brindes"><a href="/ganhe-brindes">ganhe brindes</a></h4>
        <h4 class="brindes"><a href="/eu-amo-presentear/para-voce/kits-de-perfumes">kits</a></h4>
        <h4 class="sale"><a href="http://blog.epocacosmeticos.com.br/">Blog</a></h4>
    
</div> <!-- menu_sec -->







    <div class="news">
        <!-- <vtex.cmc:newsletterOptIn/> -->
        <iframe src="http://optin.epocacosmeticos.com.br/form-dois.php" frameborder="0" hspace="0" allowtransparency="true" scrolling="no" style="width: 270px; height: 25px;"></iframe>
    </div> <!-- news -->

</div> <!-- menu_sec -->
</body>