<head>

</head>
<body>
<div class="header_flutuante">
    <div class="top100">
        <div class="top">
            <div class="logo"><a href="/">Época Cosméticos - Perfumaria</a></div>

            <div class="search">
                <vtex.cmc:fullTextSearchBox/>
            </div> <!-- search -->

            <div class="regua">
                <vtex:bannerReguaTopo />
            </div><!-- regua -->

            <ul class="menu_dept">
                <li class="item"><a href="#" class="item">Departamentos</a>
                    <ul class="sub_dept">
                        <li><a href="/perfumes">Perfumes</a></li>
                        <li><a href="/maquiagem">Maquiagem</a></li>
                        <li><a href="/cabelos">Cabelos</a></li>
                        <li><a href="/dermocosmeticos">Dermocosméticos</a></li>
                        <li><a href="/tratamentos">Tratamentos</a></li>
                        <li><a href="/corpo-e-banho">Corpo e Banho</a></li>
                        <li><a href="/solares">Solares</a></li>

                    </ul>
                </li>
            </ul>

            <a href="/site/carrinho.aspx" class="carrinho">
                <vtex.cmc:AmountItemsInCart />
                <span class="item">itens</span>
            </a> <!-- carrinho -->

        </div> <!-- top -->
    </div> <!-- top100 -->
</div> <!-- header_flutuante -->


<div class="topbanner">
    <vtex.cmc:bannerTopo />
    <!-- <vtex:bannerTopo /> -->
    <a href="#" class="close"></a>
</div> <!-- topbanner -->

<div class="topbar100">
    <div class="topbar">
        <div class="welc">
            <vtex.cmc:welcomeMessage/>
        </div><!-- welc -->

        <ul class="menu_topbar">
            <li class="atendimento"><a href="/centralatendimento">Atendimento</a></li>
            <li class="meuspedidos"><a href="/account/orders">Meus Pedidos</a></li>
            <li class="lista"><a href="/giftList">Lista de Desejos</a></li>
        </ul> <!--   -->

    </div> <!-- topbar -->
</div> <!-- topbar100 -->


<div class="top100">
    <div class="top">
        <h1 class="logo"><a href="/">Época Cosméticos - Perfumaria</a></h1>

        <div class="search">
            <vtex.cmc:fullTextSearchBox/>
        </div> <!-- search -->

        <div class="regua">
            <vtex:bannerReguaTopo />
        </div><!-- regua -->

        <a href="/site/carrinho.aspx" class="carrinho">
            <vtex.cmc:AmountItemsInCart />
            <span class="item">itens</span>
        </a> <!-- carrinho -->

    </div> <!-- top -->
</div> <!-- top100 -->

<div class="menu100">
    <div class="menu">
        <h4 class="item_menu perfumes"><a href="/perfumes " onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'perfumes']);" class="princ">Perfumes</a>
            <ul class="sub" style="left: 0px;">
                <div class="col col1">
                    <h3>Mais Acessados</h3>
                    <li><a href="/perfumes/perfume-masculino" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'perfumes/perfume-masculino']);">Perfumes Masculinos</a></li>
                    <li><a href="/perfumes/perfume-feminino" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'perfumes/perfume-feminino']);">Perfumes Femininos</a></li>
                    <li><a href="/busca/?fq=H:317" onClick="_gaq.push(['_trackEvent', 'submenu', 'click','/busca/?fq=H:317']);">Kits com Brindes</a></li>
                    <li><a href="/perfumes/perfume-para-o-corpo" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'perfumes/perfume-para-o-corpo']);">Perfume Corporal</a></li>
                    <li><a href="/perfumes/perfume-para-criancas-e-adolescentes" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'perfumes/perfume-para-criancas-e-adolecentes']);">Perfume Infantil</a></li>
                    <li><a href="/ofertas" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'perfumes/perfume-saldao']);">Perfumes em Promoção</a></li>
                    <div class="botao-submenu">
                        <a href="/perfumes" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'perfumes']);" class="sub_vertodos">TODOS OS PERFUMES</a>
                    </div>
                </div>
                <div class="col col3">
                    <h3>Perfumes Famosos</h3>
                    <li><a href="/jadore">J'adore</a></li>
                    <li><a href="/ferrari-black">Ferrari Black</a></li>
                    <li><a href="/perfume-212">212</a></li>

                    <h3>Elas procuram</h3>
                    <li><a href="/perfumes-feminino-ate49">Perfumes até R$ 49</a></li>
                    <li><a href="/perfumes-feminino-ate99">Perfumes até R$ 99</a></li>

                </div>

                <div class="col prod_banner">


                    <h3>CAMPEÃO DE CLIQUES</h3>
                    <vtex:bannerMenuPerfume />
                    <vtex.cmc:bannerMenuPerfumeHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu maquiagem"><a href="/maquiagem" onClick="_gaq.push(['_trackEvent', 'menu', 'click', maquiagem']);" class="princ">Maquiagem</a>
            <ul class="sub" style="left: 40px;">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/maquiagem/olhos" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'maquiagem/olhos']);">Maquiagem para Olhos</a></li>
                    <li><a href="/maquiagem/face" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'maquiagem/face']);">Maquiagem para Rosto</a></li>
                    <li><a href="/maquiagem/labios" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'maquiagem/labios']);">Batom, Gloss e Contorno Labial</a></li>
                   <li><a href="/maquiagem/estojo-completo-e-kit-de-maquiagem" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'maquiagem/estojo-completo-e-kit-de-maquiagem']);">Kit e Estojo de Maquiagem Completo</a></li>
                    <li><a href="/maquiagem/maquiagem-bronzeadora" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'maquiagem/maquiagem-bronzeadora']);">Maquiagem Bronzeadora</a></li>
                    <div class="botao-submenu">
                        <a href="/maquiagem" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'maquiagem']);" class="sub_vertodos">TODAS AS MAQUIAGENS</a>
                    </div>
                </div>
                <div class="col col3">
                    <h3>Produtos Famosos</h3>
                    <li><a href="/phenomen">Phenomen'eyes</a></li>
                    <li><a href="/maquiagem/chubby-stick">Chubby Stick</a></li>
                    <li><a href="/maquiagem/dior/addict">Dior Addict</a></li>
                    <li><a href="/maquiagem/yves-saint-laurent/touche-eclat">YSL Touche Éclat</a></li>
                    <li><a href="/effacernes-longue-tenue-lancome-corretivo-facial/p">Effacernes</a></li>
                    <li><a href="/mavala/mini-color">Mavala Mini Colors</a></li>

                    </div>

                <div class="col prod_banner">
                    <h3>CAMPEÃO DE CLIQUES</h3>
                    <vtex:bannerMenuMaquiagen />
                    <vtex.cmc:bannerMenuMaquiagenHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu cabelos"><a href="/cabelos" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'cabelos']);" class="princ">Cabelos</a>
            <ul class="sub" style="left: 79px;">
                <div class="col col1">
                    <h3>Navegue Por Aqui</h3>
                    <li><a href="/cabelos/shampoo/cabelo"  onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'cabelos/shampoo/cabelo']);">Escolha seu Shampoo</a></li>
                    <li><a href="/cabelos/condicionador/cabelo" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'cabelos/condicionador/cabelo']);">Acerte no Condicionador</a></li>
                    <li><a href="/selecao/cabelos-anti-desbotamento" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'cabelos-evite-cor-desbotada']);">Evite a Cor Desbotada</a></li>
                    <li><a href="/selecao/disciplinadores-de-frizz-para-cabelos" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'cabelos-disciplinadores-frizz']);">Disciplinadores de Frizz</a></li>
                    <li><a href="/cabelos-cachos-perfeitos" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'cabelos-cachos-perfeitos']);">Cachos Perfeitos</a></li>
                    <li><a href="/cabelos/mascara" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'cabelos/mascara']);">Máscaras Recuperadoras</a></li>
                    <div class="botao-submenu">
                        <a href="/cabelos" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'cabelos']);" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>

                </div>
                <div class="col col3">
                    <h3>Produtos Famosos</h3>
                    <li><a href="/toppik">Toppik</a></li>
                    <li><a href="/bed-head-ego-boost-tigi-condicionador-reparador-sem-enxague-para-cabelos-danificados-ou-quimicamente-tratados/p">Bed Head Ego Boost</a></li>
                    <li><a href="/rd-protein-cream-nppe-tratamento-disciplinador/p">RD Protein Cream</a></li>
                    <li><a href="/koleston-espuma-koleston-tintura-para-cabelo/p">Tintura Koleston</a></li>

                    </div>

                <div class="col prod_banner">
                    <h3>CAMPEÃO DE CLIQUES</h3>
                    <vtex:bannerMenuCabelos />
                    <vtex.cmc:bannerMenuCabelosHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu dermocosmeticos"><a href="/dermocosmeticos" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'dermocosmeticos']);" class="princ">Dermocosméticos</a>
            <ul class="sub" style="left: 118px;">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/dermocosmeticos/face/limpadores" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'dermocosmeticos/face/limpadores']);">Elimine a Acne</a></li>
                    <li><a href="/selecao/tratamentos-antiqueda" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'dermocosmeticos-tratamento-anti-queda']);">Tratamentos Antiqueda</a></li>
                    <li><a href="/selecao/clareadores-da-pele" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'dermocosmeticos-clareadores-de-pele']);">Clareadores da Pele</a></li>
                    <li><a href="/selecao/cicatrizadores" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'dermocosmeticos-cicatrizadores']);">Cicatrizadores</a></li>
                    <li><a href="/dermocosmeticos/olhos/rejuvenescedores" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'dermocosmeticos/olhos/rejuvenescedores']);">Elimine Bolsas e Olheiras</a></li>
                    <li><a href="/dermocosmeticos/maos/hidratacao" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'dermocosmeticos/maos/hidratacao']);">Hidratantes para as Mãos</a></li>
                    <div class="botao-submenu">
                        <a href="/dermocosmeticos" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'dermocosmeticos']);" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>

                </div>
                <div class="col col3">

                    <h3>Top4 dos consultórios</h3>
                    <li><a href="/dual-clear-ada-tina-clareador-facial-fps-30/p">Dual Clear</a></li>
                    <li><a href="/melora-c-creme-espuma-antienvelhecimento-fps-50-melora-creme-antienvelhecimento-com-fps-50/p">Melora C Creme Espuma FPS50</a></li>
                    <li><a href="/Effaclar">Effaclar</a></li>
                    <li><a href="/inneov-fermete-inneov-suplemento-corporal/p">Innéov</a></li>

                    </div>

                <div class="col prod_banner">
                    <h3>CAMPEÃO DE VENDAS</h3>
                    <vtex:bannerMenuDermocosmeticos />
                    <vtex.cmc:bannerMenuDermocosmeticosHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu tratamento"><a href="/tratamentos" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'tratamentos']);" class="princ">Tratamentos</a>
            <ul class="sub" style="left: 157px;">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/tratamentos/face/limpadores-faciais" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'tratamentos/face/limpadores-faciais']);">Limpadores Faciais</a></li>
                    <li><a href="/tratamentos/face/tonicos-faciais" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'tratamentos/face/tonicos-faciais']);">Tonifique sua Pele</a></li>
                    <li><a href="/tratamentos/face/rejuvenescedores-faciais" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'tratamentos/face/rejuvenescedores-faciais']);">Rejuvenescedores Faciais</a></li>
                    <li><a href="/tratamentos/corpo/cuidados-com-a-silhueta" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'tratamentos/face/corpo/cuidados-com-a-silhueta']);">Cuidados com a Silhueta</a></li>
                    <li><a href="/tratamentos/corpo/hidratantes-corporais" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'tratamentos/face/corpo/hidratantes-corporais']);">Hidratantes para o Corpo</a></li>
                    <div class="botao-submenu">
                        <a href="/tratamentos" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'tratamentos']);" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>
                </div>
                <div class="col col3">
                    <h3>Produtos Mais Visitados</h3>
                    <li><a href="/genifique-repair-lancome-cuidado-noturno-rejuvenescedor/p">Génifique Repair</a></li>
                    <li><a href="/skin-ergetic-fresh-serum-biotherm-tratamento-facial-anti-fadiga/p">Skin Ergetic Serum</a></li>

                    <h3>Cantinho Masculino</h3>
                    <li><a href="/selecao/abdomen-em-dia">Abdômen em Dia</a></li>
                    <li><a href="/selecao/barba-perfeita">Barba Perfeita</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>Campeão de Vendas</h3>
                    <vtex:bannerMenuTratamento />
                    <vtex.cmc:bannerMenuTratamentoHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu corpoBanho"><a href="/corpo-e-banho" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'corpo-e-banho']);" class="princ">Corpo e Banho</a>
            <ul class="sub" style="left: 196px;">
                <div class="col col1">
                    <h3>Navegue por Aqui</h3>
                    <li><a href="/corpo-e-banho/banho/esfoliante" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'corpo-e-banho/banho/esfoliante']);">Esfoliantes</a></li>
                    <li><a href="/corpo-e-banho/banho/sabonete" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'corpo-e-banho/banho/sabonete']);">Sabonetes</a></li>
                    <li><a href="/selecao/banho-do-bebe" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'corpo-e-banho-banho-do-bebe']);">Banho do Bebê</a></li>
                    <li><a href="/corpo-e-banho/pos-banho/desodorante" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'corpo-e-banho/pos-banho/desodorante']);">Desodorantes</a></li>
                    <li><a href="/selecao/hidratantes-perfumados" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'corpo-e-banho-hidratantes-perfumados']);">Hidratantes Perfumados</a></li>
                    <li><a href="/corpo-e-banho/barba" onClick="_gaq.push(['_trackEvent', 'submenu', 'click', 'corpo-e-banho/barba']);">Barba e Pós-Barba</a></li>
                     <div class="botao-submenu">
                        <a href="/corpo-e-banho" onClick="_gaq.push(['_trackEvent', 'menu', 'click', 'corpo-e-banho']);" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>

                </div>
                <div class="col col3">
                    <h3>Produtos Mais Visitados</h3>
                    <li><a href="/corpo-e-banho/depilacao/aparelhos-e-cargas/venus">Aparelho Gillette Vênus</a></li>
                    <li><a href="/j-adore-body-milk-dior-locao-perfumada/p">J'Adore Body Lotion</a></li>

                    <h3>Depilada e Linda</h3>
                    <li><a href="/corpo-e-banho/depilacao/aparelhos-e-cargas">Aparelhos e Cargas</a></li>
                    <li><a href="/selecao/segredinhos-de-mulher">Segredinhos de Mulher</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>Campeão de vendas</h3>
                    <vtex:bannerMenuCorpoBanho />
                    <vtex.cmc:bannerMenuCorpoBanhoHtml />
                </div>

            </ul> <!-- sub -->
        </h4>
        <h4 class="item_menu solares"><a href="/ofertas" class="princ">Outlet</a>
<!--            <ul class="sub"  style="left: 239px;">
                <div class="col col1">
                    <h3>PROTEÇÃO SOB MEDIDA</h3>
                    <li><a href="/solares-protetor-solar-fps15-a-fps25">Protetor Solar FPS15 a FPS25</a></li>
                    <li><a href="/solares-protetor-solar-fps30">Protetor Solar FPS30</a></li>
                    <li><a href="/solares-protetor-solar-ate-fps60">Protetor Solar até FPS60</a></li>
                    <li><a href="/solares-protetor-solar-infantil">Protetor Solar Infantil</a></li>
                    <li><a href="/solares-protetor-solar-diario">Protetor Solar Diário</a></li>
                    <li><a href="/solares-protetor-solar-oil-free">Protetor Solar Oil-Free</a></li>
                    <li><a href="/solares-protetor-solar-sem-perfume">Protetor Solar sem Perfume</a></li>
                    <li><a href="/solares-protetor-solar-compacto">Protetor Solar Compacto</a></li>
                    <div class="botao-submenu">
                        <a href="/dermocosmeticos/cuidados-com-o-sol/protetor-solar/solares" class="sub_vertodos">TODAS AS CATEGORIAS</a>
                    </div>
                </div>
                <div class="col col2">
                    <h3>Marcas mais Clicadas</h3>
                    <li><a href="/solares-biotherm">Biotherm</a></li>
                    <li><a href="/solares-dior">Dior</a></li>
                    <li><a href="/solares-normalize">Normalize</a></li>
                    <li><a href="/solares-heliocare">Heliocare</a></li>
                    <li><a href="/solares-shiseidosuncare">Shiseido Sun Care</a></li>

                    <h3>Acessórios que Protegem</h3>
                    <li><a href="/busca/?fq=H:313">Chapéus FPS 50</a></li>
                    <li><a href="/busca/?fq=H:213">Bonés e Viseiras FPS 50</a></li>

                </div>
                <div class="col col3">
                    <h3>Ofertas!</h3>
                    <li><a href="/solares-viseira-uvline">Viseira UV Line</a></li>
                    <li><a href="/genifique-soleil-corps-fps-30-lancome-protetor-solar-corporal/p">Genifique Soleil FPS30</a></li>
                    <li><a href="/camisa-amazone-uv-line-camisa-masculino-com-protecao-uv/p">Camisa UV Line</a></li>

                    <h3>Prolongue seu Bronzeado</h3>
                    <li><a href="/solares-autobronzeadores">Autobronzeadores</a></li>
                    <li><a href="/solares-maquiagem-solar">Maquiagem Solar</a></li>
                </div>

                <div class="col prod_banner">
                    <h3>Destaque da Seção</h3>
                    <vtex:bannerMenuSolares />
                    <vtex.cmc:bannerMenuSolaresHtml />
                </div>

            </ul>  sub -->
        </h4>
        <h4 class="dif m_marcas"><a href="#" class="princ">Marcas</a>
            <ul class="sub fix">
                <!-- <iframe src="/app-marcas" width="290px" height="315px" frameborder="0"></iframe> -->
            </ul>
        </h4>
    </div>
</div> <!-- menu100 -->

<div class="menu_sec_cadastro">
    <div class="menu_sec">
        <span class="navegue"></span>
        <h4 class="brindes"><a href="ganhe-brinde?PS=60">Brindes</a></h4>
        <h4 class="novidades"><a href="/voceclicavocediva">#VocêClicaVocêDiva</a></h4>
        <h4 class="sale"><a  href="/selecao/para-ele">Para Ele</a></h4>
        <h4 class="m_maisvendidos"><a href="/selecao/presentes">Presentes</a></h4>
        <h4 class="amostra"><a href="/lancamentos">Novidades</a></h4>
    </div> <!-- menu_sec -->

    <div class="news">
        <!-- <vtex.cmc:newsletterOptIn/> -->
        <iframe src="http://optin.epocacosmeticos.com.br/form-dois.php" frameborder="0" hspace="0" allowtransparency="true" scrolling="no" style="width: 270px; height: 25px;"></iframe>
    </div> <!-- news -->

</div> <!-- menu_sec -->
</body>