<!-- Favicon -->
<link href="/Control/ArquivoExibir.aspx?NomeArquivo=favicon.ico" rel="shortcut icon" />
<link href="/Control/ArquivoExibir.aspx?NomeArquivo=favicon.png" rel="apple-touch-icon" />

<!-- Scripts -->
<script type="text/javascript" src="/arquivos/default.plugins.js"></script>
<script type="text/javascript" src="/arquivos/geral_epoca-v2.js"></script>

<!-- Metatags -->
<meta name="google-site-verification" content="GAfWb_M41bh18WdB4phMTL1Z8g7WlCSz_epAYVUPPzM" />
