<div class="marcas">
	<ul>
		<li><a href="/AntonioBanderas"><img src="/arquivos/AntonioBanderas_carrossel.jpg" alt="Antônio Bandeiras" title="Antônio Bandeiras" /></a></li>
		<li><a href="/Azzaro"><img src="/arquivos/Azzaro_carrossel.jpg" alt="AZZARO" title="AZZARO" /></a></li>
		<li><a href="/Calvin-Klein"><img src="/arquivos/Calvin-Klein_carrossel.jpg" alt="Calvin Klein" title="Calvin Klein" /></a></li>
		<li><a href="/Carolina-Herreira"><img src="/arquivos/Carolina-Herreira_carrossel.jpg" alt="Carolina Herreira" title="Carolina Herreira"/></a></li>
		<li><a href="/Clinique"><img src="/arquivos/Clinique_carrossel.jpg" alt="Clinique" title="Clinique" /></a></li>
		<li><a href="/Dior"><img src="/arquivos/Dior_carrossel.jpg" alt="Dior" title="Dior" /></a></li>
		<li><a href="/ferrari"><img src="/arquivos/ferrari_carrossel.jpg" alt="Ferrari" title="Ferrari" /></a></li>
		<li><a href="/givenchy"><img src="/arquivos/givenchy_carrossel.jpg" alt="Givenchy" title="Givenchy" /></a></li>
		<li><a href="/Joop"><img src="/arquivos/Joop_carrossel.jpg" alt="JOOP" title="JOOP" /></a></li>
		<li><a href="/La-Prairie"><img src="/arquivos/La-Prairie_carrossel.jpg" alt="La Prairie" title="La Prairie" /></a></li>
		<li><a href="/LANCOME"><img src="/arquivos/LANCOME_carrossel.jpg" alt="Lancôme" title="Lancôme" /></a></li>
		<li><a href="/Paco-Rabanne"><img src="/arquivos/Paco-Rabanne_carrossel.jpg" alt="Paco Rabane" title="Paco Rabane" /></a></li>
		<li><a href="/Kenzo"><img src="/arquivos/Kenzo_carrossel.jpg" alt="Kenzo" title="Kenzo" /></a></li>
		<li><a href="/Ralph-Lauren"><img src="/arquivos/Ralph-Lauren_carrossel.jpg" alt="Raplph Lauren" title="Raplph Lauren" /></a></li>
		<li><a href="/Yves-de-Sistelle"><img src="/arquivos/Yves-de-Sistelle_carrossel.jpg" alt="YVES SAINT LAURENT" title="YVES SAINT LAURENT" /></a></li>
	</ul> <!-- marcas -->
</div>