<a href="#" class="btn_marca">MARCAS</a>

<div id="marcas-lateral" class="fix">
	<!-- <iframe src="/app-marcas" width="290px" height="315px" frameborder="0"></iframe> -->
</div> <!-- cont_marcas_fix -->