<div>
	<img src="/arquivos/marca_dior_busca.jpg">
	<p>
		A marca Dior foi concebida em 1947 por Christian Dior como uma maison de alta-costura. O estilista que revolucionou o mundo fashion com a criação do New Look, se transformou em símbolo de luxo e elegância. O conceito Dior provocou uma releitura do mundo feminino quando estendeu sua atuação para perfumes, maquiagem e tratamento da pele.
	</p>
</div>