<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta charset='utf-8'>
    <!-- Facebook sharing information tags -->
    <meta property='og:title' content='*|MC:SUBJECT|*' />

    <title>{{_accountInfo.TradingName}}</title>
<style type="text/css"></style></head>
<body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
	<center>
		<table border='0' cellpadding='0' cellspacing='0' height='600' width='100%' style='font-family: Arial, Helvetica, sans-serif; font-size: 16px;'>
			<tr>
				<td align='center' valign='top'>
					<table border='0' cellpadding='0' cellspacing='0' width='600'>
						<tr>
							<td align='center' valign='top'>
								<!-- // Begin Template Body \\ -->
								<table border='0' cellpadding='0' cellspacing='0' width='600'>
									<tr>
										<td style='width:100%;'>
											<a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_01.jpg" width="550" height="139" alt="" style="display:block; border:0; margin:0 auto;"></a>
										</td>
									</tr>
									<tr>
									  <td valign='top'>&nbsp;</td>
								  </tr>
									<tr>
									  <td valign='top'><font color="#c6168d" size="6" style="font-family: Arial, Helvetica, sans-serif">Olá <strong>{{clientProfileData.firstName}}</strong>,</font></td>
								  </tr>
									<tr>
									  <td valign='top'><p style="font-family: Arial, Helvetica, sans-serif">&nbsp;</p>
								      <p style="font-family: Arial, Helvetica, sans-serif"><strong>Obrigada por comprar na Época Cosméticos!</strong> <br />
O pagamento acaba de ser identificado e o pedido de número <strong style='font-size: 18px;'>{{orderId}} </strong>foi <strong>aprovado. <br /><br /></strong></p></td>
								  </tr>
									<tr>
									  <td valign='top'><img src="http://www.staplesempresa.com.br/img_banner/0000_EmailNotificacao2013/notif_pagaprovado.jpg" width="600" height="80" /></td>
								  </tr>
									<tr>
									  <td valign='top'>&nbsp;</td>
								  </tr>
									<tr>
									  <td valign='top'>&nbsp;</td>
								  </tr>
									<tr>
									  <td valign='top'>&nbsp;</td>
								  </tr>
									<tr>
									  <td valign='top'><font color="#c6168d" size="3" style="font-family: Arial, Helvetica, sans-serif">Resumo do pedido <strong>{{orders.0.orderId}}</strong> :</font></td>
								  </tr>
									<tr>
									  <td valign='top'>&nbsp;</td>
								  </tr>
                                  
									<tr>
									  <td valign='top'>
                                      
                                      {{#each items}}
<table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px; font-family:Verdana, Geneva, sans-serif;">
	
	<tbody>
		<tr>
			<td style="padding-left:10px; padding-bottom:10px; padding-top:10px; border-bottom:1px solid #d0d0d0;">
				<span  style="font-size:12px; color:#c6168d; display:block; width:100%;">{{name}}</span><br>
				
				

				<table cellpadding="5" align="right" style="padding-top:5px;">
					<tbody><tr>
						<td style="padding-left:0;padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
							<span>{{quantity}}x R$ {{formatCurrency price}}</span><br>
						</td>
						<td style="padding-bottom:0;padding-top:0; font-size:12px; color:#222;">
							<strong style="font-size:13px;">R$ {{formatCurrency price}}</strong><br>
						</td>
					</tr>
					</tbody>
				</table>

			</td>
		</tr>
	</tbody>
</table>


{{#each bundleItems}}
{{#if name}}
<table width="100%" style="border-top:1px solid #EEE;padding-top:5px;padding-bottom:5px;">
	<tbody>
		<tr>
			<td style="padding-left:10px;">
				
				<table cellpadding="10" align="left" style="padding-top:5px;">
					<tbody>
						<tr>
							<td  style="padding-left:0; font-size:12px; color:#666; padding-bottom:0;padding-top:0;">
								<span>{{name}}</span><br>
								</strong><br>
							</td>
						</tr>
					</tbody>
				</table>

				<table cellpadding="5" align="right" style="padding-top:5px;">
					<tbody><tr>
						<td  style="padding-left:0;padding-bottom:0;padding-top:0; font-size:14px;">
							<span>R$ {{formatCurrency price}}</span><br>
						</td>
					</tr>
					</tbody>
				</table>
				
			</td>
		</tr>
	</tbody>
</table>
{{/if}}
{{/each}}
{{/each}}
									    </td>
								  </tr>
									<tr>
									  <td valign='top'>&nbsp;</td>
								  </tr>
                                  <tr>
									  <td valign='top'>&nbsp;</td>
								  </tr>
                                
                                 
							    <tr>
									  <td valign='top'><table width="100%"  border="0" cellspacing="0" cellpadding="0" >
									    <tr>
									      <td width="50%">&nbsp;</td>
									      <td>	<table width='100%'>
																	{{#each totals}}
																	{{#if value}}
																	<tr>
																		<td style='font-size: 13px; font-family: Arial, Helvetica, sans-serif;'>
																			<strong>
																			{{#eq id 'Items'}}Subtotal{{/eq}}
																			{{#eq id 'Discounts'}}Desconto{{/eq}}
																			{{#eq id 'Shipping'}}Frete{{/eq}}
                                                                            {{#eq id 'Tax'}}Imposto{{/eq}}
																			</strong>
																		</td>
																		<td style='text-align: right; font-size: 13px; font-family: Arial, Helvetica, sans-serif;'>R$ {{formatCurrency value}}</td>
																	</tr>
																	{{/if}}
																	{{/each}}
																	</table></td>
								        </tr>
								      </table></td>
								  </tr> 
									<tr>
									  <td valign='top'><table width="100%" border="0" cellspacing="0" cellpadding="0">
									    <tr>
									      <td width="50%">&nbsp;</td>
									      <td><table width="100%">
									        <tr>
									          <td width="30%" style="font-size:16px; font-family: Arial, Helvetica, sans-serif;"><br />
									            <strong>Total 
                                              <br /><br />
                                              Forma de pagamento</strong></td>
									          <td style="text-align:right; font-size:16px; font-family: Arial, Helvetica, sans-serif;">	
                                              							{{#each paymentData.transactions}}
																		{{#each payments}}
																		R$ {{formatCurrency value}}
																		{{#eq installments 1}}
																			(à vista)
																		{{else}}
																			(em {{installments}}x)
																		{{/eq}}
																		{{#if connectorResponses.Tid}}
																		<p>
																			<span style='color:#666;font-size:11px;'>TID: {{connectorResponses.Tid}} </span><br />
																			<span style='color:#666;font-size:11px;'>Return code: {{connectorResponses.ReturnCode}} </span>
												</p>
																		{{/if}}
                                                                        <br />
																		<br />
                                                                        {{paymentSystemName}}
																		{{#if lastDigits}}
																			final {{lastDigits}}
																		{{/if}}
																	{{/each}}
                                              {{/each}}</td>
								            </tr>
								          </table></td>
								        </tr>
								      </table></td>
								  </tr>
									<tr>
									  <td valign='top'><p>&nbsp;</p>
								      <p>&nbsp;</p></td>
								  </tr>
									<tr>
									  <td valign='top'><p><font color="#c6168d" size="3" style="font-family: Arial, Helvetica, sans-serif">Confira também os dados gerais para a entrega de seu pedido: </font></p></td>
								  </tr>
									<tr>
									  <td valign='top'><table width="100%">
									    <tr>
									      <td bgcolor="#c6168d" style='font-size: 13px; color: #FFF; font-weight: bold; font-family: Arial, Helvetica, sans-serif;'>Endereço de entrega</td>
								        </tr>
									    <tr>
									      <td bgcolor="#F2F2F2" style="font-family: Arial, Helvetica, sans-serif;"><strong>{{shippingData.address.receiverName}}</strong><br />
																	{{shippingData.address.street}} - {{shippingData.address.number}} - {{shippingData.address.neighborhood}}<br />
																	{{shippingData.address.city}} - {{shippingData.address.state}}<br />
																	{{shippingData.address.postalCode}}<br /></td>
								        </tr>
								      </table></td>
								  </tr>
									<tr>
									  <td valign='top' bgcolor="#F2F2F2"><table width="100%">
									    <tr>
									      <td width="30%" style="font-family: Arial, Helvetica, sans-serif;"><strong>Forma de entrega:</strong></td>
									      <td style="font-family: Arial, Helvetica, sans-serif;">{{shippingData.logisticsInfo.0.selectedSla}}</td>
								        </tr>
								      </table></td>
								  </tr>
									<tr>
									  <td valign='top' bgcolor="#F2F2F2"><table width="100%">
									    <tr>
									      <td width="30%" style="font-family: Arial, Helvetica, sans-serif;"><strong>Prazo de entrega:</strong></td>
									      <td style="font-family: Arial, Helvetica, sans-serif;">{{replace shippingData.logisticsInfo.0.slas.0.shippingEstimate 'd' ' dias úteis'}}</td>
								        </tr>
								      </table></td>
								  </tr>
									<tr>
										<td valign='top'>
											<h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:18px; font-size:13px; margin:20px 0; font-weight:normal;">
    <p style="font-size: 11px;">Para seu controle, guarde esse email até a entrega do seu pedido.</p>
    
    <p style="font-size: 11px;">Para acompanhar seu pedido, <a href="http://www.epocacosmeticos.com.br/centralatendimento/account/orders" target="_blank" style="color:#c6168d;" >clique aqui</a> ou acesse <a href="http://www.epocacosmeticos.com.br" target="_blank" style="color:#c6168d;" >www.epocacosmeticos.com.br</a> e clique em "Meus Pedidos".</p>
    
    </h5>
            
        <h5 style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:13px; margin:20px 0; font-weight:normal;">Em caso de dúvias entre em contato com a <a href="http://www.epocacosmeticos.com.br/centralatendimento" target="_blank" style="color:#c6168d;" >Central de Atendimento.</a></h5>
        
        <p style="font-family:Verdana, Geneva, sans-serif; color:#595959; line-height:24px; font-size:12px; margin:20px 0; font-weight:normal;">Atenciosamente,<br />
Equipe Época Cosméticos Perfumaria
</p>

										</td>
									</tr>
								</table>
								<!-- // End Template Body \\ -->
							</td>
						</tr>
						<tr>
							<td align='center' valign='top'>
								<!-- // Begin Template Footer \\ -->
								<table border='0' cellspacing='0' width='600' >
									<tr>
									  <td valign='top' style='font-size: 13px;'></td>
								  </tr>
									<tr>
									  <td valign='top' style='font-size: 13px;'></td>
								  </tr>
									<tr>
									  <td valign='top' style='font-size: 13px;'><a href="http://www.epocacosmeticos.com.br/" target="_blank"><img src="http://www.epocacosmeticos.com.br/arquivos/email_not_05.jpg" width="550" height="143" alt="" style="display:block; border:0; margin:0 auto;"></a></td>
									</tr>
								</table>
								<!-- // End Template Footer \\ -->
							</td>
						</tr>
					</table>
					<br />
				</td>
			</tr>
		</table>
</center>
</body>
</html>