<!-- View Part Instance: Header -->
<div id="header">
    <div class="center">
      <h1 class="logo"><a href="http://www.epocacosmeticos.com.br"><img src="/arquivos/logo_epoca_cosmeticos.jpg" alt="Época Cosméticos - Perfumaria" title="Época Cosméticos - Perfumaria"/></a></h1>
        <div class="box-desconto-e-frete"><img width="281" height="28" src="/arquivos/ids/155208/banner_regua_topo_281_28.png" alt="bannerReguaTopo" id="i/arquivos/ids/155208/banner_regua_topo_281_28.png"/></div>
    </div>
</div>
