<!-- View Part Instance: Footer -->
<div id="footer">
  <a style="display:none;" href="http://hd.epocacosmeticos.com.br/contrato/Contrato_EpocaCosmeticos.pdf" target="_blank" class="contrato_venda">Clique aqui para acessar o contrato de venda</a>
    <ul class="selos">
      
      	<li class="ebit"></li>  
      	<li class="digi"></li>
      	<li class="siteblindado"></li>
        <li class="ra1000"></li>
        <li class="agipec"></li>
        
    </ul>
    
    <ul class="bandeiras">
        <li class="visa"></li>
        <li class="mastercard"></li>
        <li class="amex"></li>
        <li class="diners"></li>
        <li class="boleto"></li>
        <li class="bradesco"></li>
    </ul>
  
  <div class="vtex">
    <a href="http://www.vtex.com.br" target="_blank" ></a>
  </div>
</div>
